Package: com.iosusr.i7walls
Name: iPhone 7 wallpapers
Conflicts: livewallpapers6plus, livewallpapers
Depends: 
Architecture: iphoneos-arm
Description: Complete archive of "Live" wallpapers available on the iPhone 6s and iPhone 6s Plus
Maintainer: iosusr <iosusr@outlook.com>
Author: iosusr <iosusr@outlook.com>
Section: System
Tag: role::developer
Version: 1.1

