Package: com.iosusr.i7walls
Name: i7walls
Depends: 
Version: 1.0
Architecture: iphoneos-arm
Description: iPhone 7 wallpapers
Maintainer: iosusr <iosusr@outlook.com>
Author: iosusr <iosusr@outlook.com>
Section: Wallpapers


