<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x10</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B144b</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>k66ap</string>
				<key>MinimumSystemPartition</key>
				<integer>709</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>N9PX2EG19dcr8pJ3eJWI/9e/8ck=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/applelogo~appletv.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg+AACxjxLtJ+/YiHV8wr/u/srv5Fvlvw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>kCqHP4JJHavPAqWZYP0MWRs0D50=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/glyphcharging.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgPAACyvovGbawJpxEdI3Ub5STdGYvYLA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>yHWbi9N07gtbSBfcc/NQMc5o3mQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging0.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAAAdwCado7QoSqKXE/aKs2MY8gytcw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>CZ5I5YW/2BLE/nohqXq8r1BRR9I=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging1.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPg1AADW9hq7u8y5d2m3cdJCPCVFzzNhaw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>c3oS5nLt1ZYlnddFoeqSj06R03M=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/batteryfull.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjGAwBuDRqAEWe6MYOpyZDv2UvW4+QKQw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>qO5wsKp3l+tGEJq1AjGBMDlpvXM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/batterylow0.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADixAABf/tOe+XRbM5oIuN/cTUHTgZ2T8w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>TD6MNF3qAfWmDJRa6ihr/Ns+vL0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/batterylow1.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg8AAD+VyE5EgIigs2nySw4eiJB9Ywj4g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>2okm5xexb5K6VBd6VCREfiFLitY=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/glyphplugin.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAAD6VmZ6eHWiGGVSk7fH3QRL7NC/3g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>kS7GkaGbvv7+u1xO670KFZBFu7U=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/DeviceTree.k66ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHi9AAC9jQox4Pi5Q//XfbQdrDoJ/SMm+A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>Yo2+x7pVKXO/i25LmL/8613T+60=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k66</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjfXwCsKwebeygg7bcrFYnbSJSkbkNMNg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>BBnfGvNY44YpYqLlClvV+mIztBY=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/LLB.k66ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjhAQD9uyQPIuhFCyxnOvs9wmUwy3SjVw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5750-129.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>yifyV2JuKl9IotqeH++W3aA49K4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/recoverymode~appletv.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhIAwCn0rOVAqJ4reuxm3y46vjc35I+wA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>kS7GkaGbvv7+u1xO670KFZBFu7U=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/DeviceTree.k66ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHi9AAC9jQox4Pi5Q//XfbQdrDoJ/SMm+A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>Yo2+x7pVKXO/i25LmL/8613T+60=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k66</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjfXwCsKwebeygg7bcrFYnbSJSkbkNMNg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>N9PX2EG19dcr8pJ3eJWI/9e/8ck=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/applelogo~appletv.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg+AACxjxLtJ+/YiHV8wr/u/srv5Fvlvw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>+YElgmDe9Z8N7pTCCrNhhyeJ2ZQ=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0804-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhQlwCLkuMrZJ4I8O9jX19+BvKXUtplvQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>cQY9hghxEZfr6c8FZh+Z3rGBYBs=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhhAwDP0ruQ1sdX8lVm7PDbGgv0/M9Tgg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>ukRvJSen6ixvyh/AbZ8fAbwH88Y=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgBAQBy9EW2Wrft/kpsrdOgqenjgtWNMA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>825ixhbB9hB86PQEr7Az56fT6Fc=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k66ap.production/iBoot.k66ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjRAwBEOj88RV34GfWr6cuyp2z95crOKA==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>MD7SGGRFEsoz31lF0zCq84DpYHU=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B144b</string>
	<key>ProductVersion</key>
	<string>6.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>268470576</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>268470576</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>AppleTV2,1</string>
	</array>
</dict>
</plist>