<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x08</string>
			<key>ApChipID</key>
			<string>0x8942</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B830</string>
				<key>BuildTrain</key>
				<string>HoodooTide</string>
				<key>DeviceClass</key>
				<string>j33ap</string>
				<key>MinimumSystemPartition</key>
				<integer>752</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					zmI4qpYwq5CgK2DC1FlE2aeypfI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/applelogo~appletv.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALg+AAD4CObQYTaMSytxkHZHjANICJZD
					0g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					CTujrW2UxjW47URBuwxTepYGkgo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/glyphcharging.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAAD8fI0PPngsyBufSsjEI8M8w0yJ
					+Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					Xu6/7Cm+/4j60XlFuEI8ha/gqMQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/batterycharging0.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAABstfVmYdQTGiS+VpBxw0XrksgG
					TA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					XK7g577gd/tMz7USg+pmoLEfesk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/batterycharging1.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AAC0ia/XWGrqdrmmj72eMqheDXhr
					8A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					0dZF7a+alWyo1W1dF2cIfaSWzvw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/batteryfull.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjGAwDtkN299HGdhJVuWbK7CcclOar+
					+Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					YQiXtoanFn/IWTgdbSoFlaotOzU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/batterylow0.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAADuC1rRceTfpSRktxsy0ms4QxT1
					ZQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					m9yeD2/JCPGvJ1DiV4DtOmWSd9c=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/batterylow1.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALg8AACMLAxa/ybzMP8DOpMpjOU5uDQa
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					/S+wsWfHnGVMz/ulCW+gYv9ZVTk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/glyphplugin.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAB2ZWubtsEpiiqO9sgmZV/YOnSN
					cg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					/fxGkIqhn5Q46ZEHS+L7ZPwGX24=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/DeviceTree.j33ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAABexIy/208AqW0WVdDPZfrTZo7a
					MQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					bseoQuuC4Gshx4YFsjmWEn+GO3M=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j33</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhHXABuEWOys0tvbMLutUElqtyiRNGe
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					mHBiqiBG5s6K+lMtUrjrS6tMuZQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/LLB.j33ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjxAQCPqivxNFofV9kBlY4SoB2vZxfB
					RA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4419-031.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					eMhQqWfArK8L6noNFgJoip4mc0Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/recoverymode@2x~appletv.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg3BQCF519FP04IQTpar+pQt+SFS2mw
					lg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					/fxGkIqhn5Q46ZEHS+L7ZPwGX24=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/DeviceTree.j33ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAABexIy/208AqW0WVdDPZfrTZo7a
					MQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					bseoQuuC4Gshx4YFsjmWEn+GO3M=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j33</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhHXABuEWOys0tvbMLutUElqtyiRNGe
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					zmI4qpYwq5CgK2DC1FlE2aeypfI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/applelogo~appletv.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALg+AAD4CObQYTaMSytxkHZHjANICJZD
					0g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					Vo222pfUgT0sWiyRWJZGgS50e3g=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4382-032.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiQBgEO1TwMdWWiBd+fIVf/o/BBibnN
					qA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					ONZbCGDqfnChJo3wtUsj7wXaUXo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j33ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhxAwCgprr49EJZie8cbgpxLtitxUMr
					0g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					2kz8TM9G7EYPRWttojlPsOBl+Kk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j33ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgRAQC8MgtNCXOu4NdiVIixpgyTSrVy
					jA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					6VrRmV9RXkwmZDrPqYqLDhMEpSo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j33ap.production/iBoot.j33ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjhAwDURjJc814e77wkrfJB+SaQrgGZ
					eQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			WVpiIuq2gkdmMU31Bj/Vrf/ArMs=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9B830</string>
	<key>ProductVersion</key>
	<string>5.1.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>134252866</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>134252866</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>AppleTV3,1</string>
	</array>
</dict>
</plist>
