<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x10</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8M89</string>
					<key>BuildTrain</key>
					<string>Mojave</string>
					<key>DeviceClass</key>
					<string>k66ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							tLZvLPptDcRkZdMYxPjHtaSm8bw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/applelogo-1280x720.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALg+AADP5zHolyjzB196NmHqa6vlqmM1
							9w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							gnYMFOLwBfuH8zN3jlOA2cKNQWA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/glyphcharging.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAABEw+MXlQZH2moOJC152LxS0r9X
							TA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							aHZNsjiQVI22xFL1Ygz5zjQrCFk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging0.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAAAcwfd9xOf5alRYKLUWlUX9S9jc
							TA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							snsg22cDGEV0DyhUPK8MdO2dCMM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging1.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAC4IH7My4cMppHkwO9gl/enJrmx
							YA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							/UcMZF94Yizox16Hjvnt/XRGxDY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/batteryfull.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQCCOouPoqzyZqXahE+ce/OFEHmJ
							OA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							Nak/03U4v+X1luXoaNd8JIiMkwE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/batterylow0.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAAD9jAtYuWgHSwWLUMh9Kw5ODjQV
							nA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							XXUhmahlSnWkcYzMgmoLemdkwtA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/batterylow1.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AACIpRt0yNrYc3UFV0F3klp6fQ3L
							Fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							EaY+WV2odp9V0kqf30OhDQres3A=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/glyphplugin.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAABNcY9H6nnu4LnQbTlvG12zwq5s
							fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							/e/49jWQ8Rbk1BarhzHgtRo/Pp4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/DeviceTree.k66ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiLAACklNhVHF4+ntbmXiRlpKQcP7Xc
							Zg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							1T+VVE8lQRh0oJRHsF/7bzb6g6o=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k66</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADixSgBFt/TOJaOO8RfsQHQoxshqxm1s
							CA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.44.21~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/LLB.k66ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhhAQBoC/3SwN1+GHMnZfzTt/IaUL6v
							KQ==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8609-066.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							LhpgK9zCaTEkVbC1d13Df2axk5U=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/recoverymode-1280x720.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHiwAwBKVQejLBU09laSCniZD7lToXyg
							dw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							/e/49jWQ8Rbk1BarhzHgtRo/Pp4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/DeviceTree.k66ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiLAACklNhVHF4+ntbmXiRlpKQcP7Xc
							Zg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							1T+VVE8lQRh0oJRHsF/7bzb6g6o=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k66</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADixSgBFt/TOJaOO8RfsQHQoxshqxm1s
							CA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							tLZvLPptDcRkZdMYxPjHtaSm8bw=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/applelogo-1280x720.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALg+AADP5zHolyjzB196NmHqa6vlqmM1
							9w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							2MA8QHfB4oSdE7dABK98CXBNtZY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8618-062.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgg1QBDKrb8+SiZefT5FEKh/4WQfkgm
							Ew==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.44.21~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjBAgB33+Dg101P5KfGgEUFMJ6v5Z4l
							ig==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.44.21~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAQDvMe32vYbPzejj65dssEWiIksg
							Og==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							+PUoxCfwS/xmtl7UYPYpLU74JKQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/iBoot.k66ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAwBUC2XN5DBORdQAu1RAHURlUzbH
							yA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					ddgU1fld0Tfvz9Dg2u8fK6U8/ac=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x10</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8M89</string>
					<key>BuildTrain</key>
					<string>Mojave</string>
					<key>DeviceClass</key>
					<string>k66ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							tLZvLPptDcRkZdMYxPjHtaSm8bw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/applelogo-1280x720.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALg+AADP5zHolyjzB196NmHqa6vlqmM1
							9w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							gnYMFOLwBfuH8zN3jlOA2cKNQWA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/glyphcharging.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAABEw+MXlQZH2moOJC152LxS0r9X
							TA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							aHZNsjiQVI22xFL1Ygz5zjQrCFk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging0.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAAAcwfd9xOf5alRYKLUWlUX9S9jc
							TA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							snsg22cDGEV0DyhUPK8MdO2dCMM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/batterycharging1.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAC4IH7My4cMppHkwO9gl/enJrmx
							YA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							/UcMZF94Yizox16Hjvnt/XRGxDY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/batteryfull.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQCCOouPoqzyZqXahE+ce/OFEHmJ
							OA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							Nak/03U4v+X1luXoaNd8JIiMkwE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/batterylow0.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAAD9jAtYuWgHSwWLUMh9Kw5ODjQV
							nA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							XXUhmahlSnWkcYzMgmoLemdkwtA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/batterylow1.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AACIpRt0yNrYc3UFV0F3klp6fQ3L
							Fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							EaY+WV2odp9V0kqf30OhDQres3A=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/glyphplugin.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAABNcY9H6nnu4LnQbTlvG12zwq5s
							fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							/e/49jWQ8Rbk1BarhzHgtRo/Pp4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/DeviceTree.k66ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiLAACklNhVHF4+ntbmXiRlpKQcP7Xc
							Zg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							1T+VVE8lQRh0oJRHsF/7bzb6g6o=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k66</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADixSgBFt/TOJaOO8RfsQHQoxshqxm1s
							CA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.44.21~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/LLB.k66ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhhAQBoC/3SwN1+GHMnZfzTt/IaUL6v
							KQ==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8609-066.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							LhpgK9zCaTEkVbC1d13Df2axk5U=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/recoverymode-1280x720.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHiwAwBKVQejLBU09laSCniZD7lToXyg
							dw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							/e/49jWQ8Rbk1BarhzHgtRo/Pp4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/DeviceTree.k66ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiLAACklNhVHF4+ntbmXiRlpKQcP7Xc
							Zg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							1T+VVE8lQRh0oJRHsF/7bzb6g6o=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k66</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADixSgBFt/TOJaOO8RfsQHQoxshqxm1s
							CA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							tLZvLPptDcRkZdMYxPjHtaSm8bw=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/applelogo-1280x720.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALg+AADP5zHolyjzB196NmHqa6vlqmM1
							9w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							WhC5q0hKvG+cLUjnBdHeVezGVFQ=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8613-062.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgQ1QBql24OvgvnF92bFVcphKmgR8Wz
							bw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.44.21~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.k66ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjBAgB33+Dg101P5KfGgEUFMJ6v5Z4l
							ig==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.44.21~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.k66ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAQDvMe32vYbPzejj65dssEWiIksg
							Og==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							+PUoxCfwS/xmtl7UYPYpLU74JKQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k66ap.production/iBoot.k66ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAwBUC2XN5DBORdQAu1RAHURlUzbH
							yA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					715wx1qM31yb+r3WP5oN7/+SieY=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>8M89</string>
		<key>ProductVersion</key>
		<string>4.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>268470576</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>268470576</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iProd2,1</string>
			<string>AppleTV2,1</string>
		</array>
	</dict>
</plist>
