<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>ishshit</string>
    <key>CFBundleIdentifier</key>
    <string>com.aerialx.firmware</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>0.1</string>
    <key>SBUsesNetwork</key>
    <integer>3</integer>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>CFBundleIconFile</key>
	<string>Icon</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon-72.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>Default.png</string>
</dict>
</plist>

