<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C148</string>
				<key>BuildTrain</key>
				<string>Jasper</string>
				<key>DeviceClass</key>
				<string>k48ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>xnU2kCZGAkH60XgvP7/SYPTM4b4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgdAABoXEdZcaJLQsOVXSrNRo9PkJiXMA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>7mWXGtVW/eb6LEL+9WbIWGqWTQM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhHAABuirK1cpJIruwbOCmAHNZebT3bRQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>e6Ar7FqPfZFFu+KtCLjV4fHISIg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhEAAAcoXxyZEMq25BhW/F2YaOjCKF58w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>n/Sv6u6LIC9WuLoe98AA7kXFlO4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADhZAAA8rM2kAt+jeFNm1Irk7l+7Y37czA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>dKeZseecSouXZvQvuTMCXDNXPnw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPghAQAioVxRr19z69qG6XH8iE97WAwX/A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>gq0LyrzsZcCepE2Veg9HIpx4rxg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjTAACT6vwbZw5y+7UbILwURThDgDOEAg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>2Mv3M3CkFUr1KAkj9VvQB0QBaB8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALj0AABNa64MZLB3oYQGfu6zxtNpirEhLw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>QJLHXur9CBDuXpJDwKOMkGYrU8I=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhDAADtYzf7iJyqhsEkA+XhRLB3lIKCew==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>yP0zu4cxcjfDhDxQHIdUWlqsZsw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjmAAD9USTpDEqQrV4R8a3il62ysBfoMQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>P8esiH8B2180yYtyjvUiNqgmmuI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k48</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhCVgD5ODdrY+RbJK1t0ehhFR7KnkWzRQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADgBAQBCfI107ydy7gyQ8EdNt4XPhbAPow==</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0018-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>qI2hCPISEQULogbmbIdj6NCQaJY=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhLAQC0zsVThc0JF5B7jVECBju1Hgne1w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>yP0zu4cxcjfDhDxQHIdUWlqsZsw=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjmAAD9USTpDEqQrV4R8a3il62ysBfoMQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>P8esiH8B2180yYtyjvUiNqgmmuI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k48</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhCVgD5ODdrY+RbJK1t0ehhFR7KnkWzRQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>xnU2kCZGAkH60XgvP7/SYPTM4b4=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgdAABoXEdZcaJLQsOVXSrNRo9PkJiXMA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>I068naRNPy5OIFoTZduW+btSi3E=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0032-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPig6wCUMfhoypWwd7iveZLmL4r7sdve8g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjBAgBJ+RfU8+8zIx2Qk50NRQU3Zj6oqQ==</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjBAQB7fJvZ7mZOLuHFaxQfXoWq0S5shA==</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>S7c2tzW4B9zcecwhh9gzB/PkkT0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjBAgAv9/9s8u9crReLKfJibF7CWlzMSQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>KefXToxZqMOMEmQpYXnXLmvlDFQ=</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C148</string>
				<key>BuildTrain</key>
				<string>Jasper</string>
				<key>DeviceClass</key>
				<string>k48ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>xnU2kCZGAkH60XgvP7/SYPTM4b4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgdAABoXEdZcaJLQsOVXSrNRo9PkJiXMA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>7mWXGtVW/eb6LEL+9WbIWGqWTQM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhHAABuirK1cpJIruwbOCmAHNZebT3bRQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>e6Ar7FqPfZFFu+KtCLjV4fHISIg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhEAAAcoXxyZEMq25BhW/F2YaOjCKF58w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>n/Sv6u6LIC9WuLoe98AA7kXFlO4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADhZAAA8rM2kAt+jeFNm1Irk7l+7Y37czA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>dKeZseecSouXZvQvuTMCXDNXPnw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPghAQAioVxRr19z69qG6XH8iE97WAwX/A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>gq0LyrzsZcCepE2Veg9HIpx4rxg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjTAACT6vwbZw5y+7UbILwURThDgDOEAg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>2Mv3M3CkFUr1KAkj9VvQB0QBaB8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALj0AABNa64MZLB3oYQGfu6zxtNpirEhLw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>QJLHXur9CBDuXpJDwKOMkGYrU8I=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhDAADtYzf7iJyqhsEkA+XhRLB3lIKCew==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>yP0zu4cxcjfDhDxQHIdUWlqsZsw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjmAAD9USTpDEqQrV4R8a3il62ysBfoMQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>P8esiH8B2180yYtyjvUiNqgmmuI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k48</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhCVgD5ODdrY+RbJK1t0ehhFR7KnkWzRQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADgBAQBCfI107ydy7gyQ8EdNt4XPhbAPow==</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0018-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>qI2hCPISEQULogbmbIdj6NCQaJY=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhLAQC0zsVThc0JF5B7jVECBju1Hgne1w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>yP0zu4cxcjfDhDxQHIdUWlqsZsw=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjmAAD9USTpDEqQrV4R8a3il62ysBfoMQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>P8esiH8B2180yYtyjvUiNqgmmuI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k48</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhCVgD5ODdrY+RbJK1t0ehhFR7KnkWzRQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>xnU2kCZGAkH60XgvP7/SYPTM4b4=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgdAABoXEdZcaJLQsOVXSrNRo9PkJiXMA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>2S3TCUTvLvPOAdjHUA6U8DG3BWE=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0024-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhQ6wDrrq171J337craAROqlVGOI9VGEw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjBAgBJ+RfU8+8zIx2Qk50NRQU3Zj6oqQ==</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjBAQB7fJvZ7mZOLuHFaxQfXoWq0S5shA==</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>S7c2tzW4B9zcecwhh9gzB/PkkT0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjBAgAv9/9s8u9crReLKfJibF7CWlzMSQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>LrnQsnuNoX7jH3uRWMJO9G2u8GI=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8C148</string>
	<key>ProductVersion</key>
	<string>4.2.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589552</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589552</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad1,1</string>
	</array>
</dict>
</plist>