<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x04</string>
			<key>ApChipID</key>
			<string>0x8955</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B141</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>p103ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1476</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					T6wZLa9n4bxrjaX9TmnpUfxovCs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/applelogo@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>
					IfPFtVv1CDjbzWq8lKEGy9KvSbI=
					</data>
					<key>APPS-HashTableDigest</key>
					<data>
					LFVrRGeyIZgKonkk0wFPkLgbkyk=
					</data>
					<key>DSP1-DownloadDigest</key>
					<data>
					BRXb6Nnp+CSjKNhU2d8VpvtccPI=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					lM/+osvSeABIioOklCzE+yxHls4=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					joCkTgp8W+w1SQuyLeaW18ME5QE=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					Ws9L0Ej4FjLvH2as+etJ0lHOyxs=
					</data>
					<key>DSP3-DownloadDigest</key>
					<data>
					KcP+9ArDKqCO6P1oy3hAWWEmpOw=
					</data>
					<key>DSP3-HashTableDigest</key>
					<data>
					RG5KSFNkgSIU6GVVvkS9m249l3o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-3.04.24.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>
					d6DYaX3ORl/Oh7QfZhLkdptwMTk=
					</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>
					bAAAAAAQAgBtRTp40HWDbDUF2CCqwG5QNX/6
					CA==
					</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559202088</integer>
					<key>SBL1-PartialDigest</key>
					<data>
					VAAAAEC9AQA3iPUmP/+RL8OlRCRVL/z0Zsmx
					4Q==
					</data>
					<key>SBL1-Version</key>
					<integer>-1560250664</integer>
					<key>SBL2-DownloadDigest</key>
					<data>
					SJNC9UO5IXuuOy0U4FxxwKt3q+M=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					fRYgtn7YXVFU/3ahYQR15BWpxGA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/glyphcharging@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					swkOphiZjo3w8zRv5hrGjSMHEIQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/batterycharging0@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					MipDa/0BZ6YhdtfU5YTXZHz4JQ0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/batterycharging1@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					rPRxxYIZBS0O7OZ/hMlNnsRzmBQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/batteryfull@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					QbjWkkFf4oakc3mD/ciP4mvIi2Y=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/batterylow0@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					gUy5EOAxKeE2Skuz/zlvYiZ4mW4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/batterylow1@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					SjZiJgdOb+bBv2On9WJX1ojxnnA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/glyphplugin@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					q7fodvgkvkLkmP/InGp3/PRrD6I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/DeviceTree.p103ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					if8PtS+KBGjX8E9FEBXsqSX/SyA=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p103</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHggeADqijTMd4KKSxdlywpEzq88y+9s
					dw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					jvvN4u0OqKueVl3NCKv/wYwxLuc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/LLB.p103ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgAnnEbeLYa8sb7/aJuS/O0sCQ0I
					kw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5907-111.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					/bD3Vb63VqOiDnVPhfihTuGWs88=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/recoverymode@2x~ipad.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					q7fodvgkvkLkmP/InGp3/PRrD6I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/DeviceTree.p103ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					if8PtS+KBGjX8E9FEBXsqSX/SyA=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p103</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHggeADqijTMd4KKSxdlywpEzq88y+9s
					dw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					T6wZLa9n4bxrjaX9TmnpUfxovCs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/applelogo@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					zsCcMwU2pcDjDWIxw2OOIsr0PSw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0153-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwlgDVTrkkjzNj/0/ayX5bwmNv0VM3
					Og==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					6cxo0Q7mApcgP8vTbIV5qqFWdug=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.p103ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					B3P9Buzu2dYfhbNJz5/SIqlSENE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.p103ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQANUNkAYcx1gHu+zahecvz95xyT
					OQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					RxgBzGLWMqFlU3H34wBV6BrYbSQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/iBoot.p103ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			woHT10OlMb7eaeZv17pzsAQ8SK0=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x04</string>
			<key>ApChipID</key>
			<string>0x8955</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B141</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>p103ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1476</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					T6wZLa9n4bxrjaX9TmnpUfxovCs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/applelogo@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>
					IfPFtVv1CDjbzWq8lKEGy9KvSbI=
					</data>
					<key>APPS-HashTableDigest</key>
					<data>
					LFVrRGeyIZgKonkk0wFPkLgbkyk=
					</data>
					<key>DSP1-DownloadDigest</key>
					<data>
					BRXb6Nnp+CSjKNhU2d8VpvtccPI=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					lM/+osvSeABIioOklCzE+yxHls4=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					joCkTgp8W+w1SQuyLeaW18ME5QE=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					Ws9L0Ej4FjLvH2as+etJ0lHOyxs=
					</data>
					<key>DSP3-DownloadDigest</key>
					<data>
					KcP+9ArDKqCO6P1oy3hAWWEmpOw=
					</data>
					<key>DSP3-HashTableDigest</key>
					<data>
					RG5KSFNkgSIU6GVVvkS9m249l3o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-3.04.24.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>
					d6DYaX3ORl/Oh7QfZhLkdptwMTk=
					</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>
					bAAAAAAQAgBtRTp40HWDbDUF2CCqwG5QNX/6
					CA==
					</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559202088</integer>
					<key>SBL1-PartialDigest</key>
					<data>
					VAAAAEC9AQA3iPUmP/+RL8OlRCRVL/z0Zsmx
					4Q==
					</data>
					<key>SBL1-Version</key>
					<integer>-1560250664</integer>
					<key>SBL2-DownloadDigest</key>
					<data>
					SJNC9UO5IXuuOy0U4FxxwKt3q+M=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					fRYgtn7YXVFU/3ahYQR15BWpxGA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/glyphcharging@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					swkOphiZjo3w8zRv5hrGjSMHEIQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/batterycharging0@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					MipDa/0BZ6YhdtfU5YTXZHz4JQ0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/batterycharging1@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					rPRxxYIZBS0O7OZ/hMlNnsRzmBQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/batteryfull@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					QbjWkkFf4oakc3mD/ciP4mvIi2Y=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/batterylow0@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					gUy5EOAxKeE2Skuz/zlvYiZ4mW4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/batterylow1@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					SjZiJgdOb+bBv2On9WJX1ojxnnA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/glyphplugin@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					q7fodvgkvkLkmP/InGp3/PRrD6I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/DeviceTree.p103ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					if8PtS+KBGjX8E9FEBXsqSX/SyA=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p103</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHggeADqijTMd4KKSxdlywpEzq88y+9s
					dw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					jvvN4u0OqKueVl3NCKv/wYwxLuc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/LLB.p103ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgAnnEbeLYa8sb7/aJuS/O0sCQ0I
					kw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5907-111.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					/bD3Vb63VqOiDnVPhfihTuGWs88=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/recoverymode@2x~ipad.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					q7fodvgkvkLkmP/InGp3/PRrD6I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/DeviceTree.p103ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					if8PtS+KBGjX8E9FEBXsqSX/SyA=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p103</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHggeADqijTMd4KKSxdlywpEzq88y+9s
					dw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					T6wZLa9n4bxrjaX9TmnpUfxovCs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/applelogo@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					TnmXHqEERX8Dh+824CFj05YYjHM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0135-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwlgCcg3kcbhOm0v8CLdkbrjwpaQXR
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					6cxo0Q7mApcgP8vTbIV5qqFWdug=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.p103ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					B3P9Buzu2dYfhbNJz5/SIqlSENE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.p103ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQANUNkAYcx1gHu+zahecvz95xyT
					OQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					RxgBzGLWMqFlU3H34wBV6BrYbSQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p103ap.production/iBoot.p103ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			OD+QzQsRH5hvGSdA2vVXTOtMacg=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B141</string>
	<key>ProductVersion</key>
	<string>6.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>67144021</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>67144021</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad3,6</string>
	</array>
</dict>
</plist>
