<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7B500</string>
					<key>BuildTrain</key>
					<string>Wildcat</string>
					<key>DeviceClass</key>
					<string>k48ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							6Ao8IXPHHghmR5U52fGsyy6+NtU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgUAACgWUaTiHiNNpsR53xqY+OrzPVx
							Zg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							U8FhwJPAffmjwnlA30VkCsR1k1Y=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAADn1gSI7oWKek6+/fsgl+U9UVX7
							nQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							Dr8m6MHcBB30R+wRF35qZ7dmbew=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAACsbPbUbibXDDX2zXFWPAOlJ66H
							VQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							4AUVmpfcIkdeWaRcCb5b70EvdTM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAARsO6YH9kgpWehMFe2QxE0yjCW
							Dg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							+YphTqqOpTlI34hVxb1h6eBlxw0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQD/FPhqLPRidK/Cs0JyHAVsesAU
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							G+rRX7a9JGJv0LsTgQpbcrbtCP4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAABFcDkw1YHHFNZ/LXtdsdahqxxn
							NQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							Z85YR0oF+EzSE73pLx6oTaiM+Ck=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AAC2mC46owpoYhaWZhxPsWTHjEc2
							6w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							ccpUq8sTzJ+37Vt1uwohXtR7dfE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAADx9//o7ve1PN4MUxSyJZUWWfr/
							nw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							uYYEok4TtOp8YvGR3jRiPq0q1n8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjhAAC+qI9xp8Q1U0+Br3KDFuQwTL8g
							EA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							5chI4oUscMplZFrVmAlxYrN32ws=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k48</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjxSgCUhdPG7lHfoE9ZtOcWMI8+bFrZ
							zA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.29~2</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgRAQCfLI2Kd4HfulqByRfIq+Evy3J+
							FA==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							WwBwsfFoOikTlo5EzoJfCSm+v98=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/needservice.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhIAACr2AVtmwINUwgX2AbjtOM3sYbo
							og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8370-001.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							eF+v0OjjuMmYhiHDa3L2U69mozw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhhAQA2N29WJVRx1AUPErCS0vPfcAG7
							og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							uYYEok4TtOp8YvGR3jRiPq0q1n8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjhAAC+qI9xp8Q1U0+Br3KDFuQwTL8g
							EA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							5chI4oUscMplZFrVmAlxYrN32ws=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k48</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjxSgCUhdPG7lHfoE9ZtOcWMI8+bFrZ
							zA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							6Ao8IXPHHghmR5U52fGsyy6+NtU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgUAACgWUaTiHiNNpsR53xqY+OrzPVx
							Zg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							C+f7R3uDE2lXviHyG0Cgp5U6s3g=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8375-001.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjwnwC5SGrDoK/Z4xiSwirf/f92asHC
							Kg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.29~2</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQArgX/63D25qmSh9PX6wQn+mFUx
							tQ==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.29~2</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQCzy4W5Q/MINZ+j1GlMTgWnVoH6
							Iw==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							86H7HLTihokwFPfAHt4zbSUkzNE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgABvPZ1qKl6qzdx+j1uHxFMzaGT
							mA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					KExB43lZ6myv0K8gsroeZHjGiMY=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7B500</string>
					<key>BuildTrain</key>
					<string>Wildcat</string>
					<key>DeviceClass</key>
					<string>k48ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							6Ao8IXPHHghmR5U52fGsyy6+NtU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgUAACgWUaTiHiNNpsR53xqY+OrzPVx
							Zg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							U8FhwJPAffmjwnlA30VkCsR1k1Y=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAADn1gSI7oWKek6+/fsgl+U9UVX7
							nQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							Dr8m6MHcBB30R+wRF35qZ7dmbew=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAACsbPbUbibXDDX2zXFWPAOlJ66H
							VQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							4AUVmpfcIkdeWaRcCb5b70EvdTM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAARsO6YH9kgpWehMFe2QxE0yjCW
							Dg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							+YphTqqOpTlI34hVxb1h6eBlxw0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQD/FPhqLPRidK/Cs0JyHAVsesAU
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							G+rRX7a9JGJv0LsTgQpbcrbtCP4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAABFcDkw1YHHFNZ/LXtdsdahqxxn
							NQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							Z85YR0oF+EzSE73pLx6oTaiM+Ck=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AAC2mC46owpoYhaWZhxPsWTHjEc2
							6w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							ccpUq8sTzJ+37Vt1uwohXtR7dfE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAADx9//o7ve1PN4MUxSyJZUWWfr/
							nw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							uYYEok4TtOp8YvGR3jRiPq0q1n8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjhAAC+qI9xp8Q1U0+Br3KDFuQwTL8g
							EA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							5chI4oUscMplZFrVmAlxYrN32ws=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k48</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjxSgCUhdPG7lHfoE9ZtOcWMI8+bFrZ
							zA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.29~2</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgRAQCfLI2Kd4HfulqByRfIq+Evy3J+
							FA==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							WwBwsfFoOikTlo5EzoJfCSm+v98=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/needservice.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhIAACr2AVtmwINUwgX2AbjtOM3sYbo
							og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8370-001.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							eF+v0OjjuMmYhiHDa3L2U69mozw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhhAQA2N29WJVRx1AUPErCS0vPfcAG7
							og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							uYYEok4TtOp8YvGR3jRiPq0q1n8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjhAAC+qI9xp8Q1U0+Br3KDFuQwTL8g
							EA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							5chI4oUscMplZFrVmAlxYrN32ws=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k48</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjxSgCUhdPG7lHfoE9ZtOcWMI8+bFrZ
							zA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							6Ao8IXPHHghmR5U52fGsyy6+NtU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgUAACgWUaTiHiNNpsR53xqY+OrzPVx
							Zg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							5KbP9JRYCWrSM9MOSBP9gYEGPxQ=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8374-001.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjQnwAMa2QRA0rpuJkHTY4k7JTuJUHg
							gw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.29~2</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQArgX/63D25qmSh9PX6wQn+mFUx
							tQ==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.29~2</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQCzy4W5Q/MINZ+j1GlMTgWnVoH6
							Iw==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							86H7HLTihokwFPfAHt4zbSUkzNE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgABvPZ1qKl6qzdx+j1uHxFMzaGT
							mA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					qF8JwgZSAjCYklxvbSHxNlkNAsk=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>7B500</string>
		<key>ProductVersion</key>
		<string>3.2.2</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>33589552</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>33589552</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPad1,1</string>
		</array>
	</dict>
</plist>
