<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A334</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>k94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>897</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					WDeHoXLhvsSddif+JEGR3rLqEyc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACAT5rWd/bIxyXj7KTR124v7w3g
					9w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.11.08_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					UDQlgYNfRV+SIXJst4lFeTe6mC4=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f6e98</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					hZ3cWpY03ZGbKs3gRXNxK2GuJXY=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					MmeGEwYWZXZRJrJUfa6RRBNwYQM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAAAA2q2XhhoAfYI4lGzrmZhibJyu
					pQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					PYEIa9t12Yae6XmCN/YclYGiKvk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADbYUIVpvUIQtA/9VkXEhyf1Lvp
					Wg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					Ttih/yD6CCvF07HsPEL0RsUso0g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AAAc2+MZ0V7UQ5gez1q/YI9N/BGW
					bA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					St3GlIfco56fYcaQr5rJxryZE8c=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjGAwAky/7fqDG4Tj6ZWxV9f+WW1d5T
					zg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					s9W8TXVOO1PWsMKwEc7kgmC8zLs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAABM3wZpszHR+UL1DZkguw76AwZi
					lw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					pnenV2Wr+BhiyyeYALl34Zre0bI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALg8AAC0/V5BO9Hm+RugvtLh4vWI6avH
					Mg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					nPfiMyoZ7q4aVrtPV9YI1qSJmRo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAABMz+qc4AoN4XTHV4xW2YjdKIwo
					Nw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					dY0zaz9EJM3cG0OGLD1g3TEXrKY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgEAQD108udG1ljZ3pyve2Kmx6bec9m
					cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					vPaTduuEB8VXR9kyPWoDGDScQf0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgxZQBTW3ACWxm5TQLSzx2Zwqy6iZ6E
					qw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>
					XBFm60cVBYLUUxltxBYu8X0MS5E=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/LLB.k94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjxAQDLLo7QW1TBCIwQIcWQ5jl8ui88
					7A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2709-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					8LDQ+cWFxpsS0hxF7+N9C2BqkK0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/recoverymode-768x1024.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgAAQDdX+Lx/+bsLNFziXOOIx/IYFUL
					8g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					dY0zaz9EJM3cG0OGLD1g3TEXrKY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgEAQD108udG1ljZ3pyve2Kmx6bec9m
					cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					vPaTduuEB8VXR9kyPWoDGDScQf0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgxZQBTW3ACWxm5TQLSzx2Zwqy6iZ6E
					qw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					WDeHoXLhvsSddif+JEGR3rLqEyc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACAT5rWd/bIxyXj7KTR124v7w3g
					9w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					weFXjTt4gDJsZD9pbwTgqahloaE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-8012-343.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwBAESjbcobxuyKiAbkv8kF9PbNVkZ
					dg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>
					2LOst9Io90wAkbtMmBGdvn99DJQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALixAwAl5SyWOqbwTiPeQV2NKnF9+vEH
					+A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>
					jOeKlfPn79B2rqWOLu9FfOvKXmE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgRAQCHlTp8RdSWTPj8nTdmgjRIgFAa
					hg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					kXdn/IlIijeOjUboXm+8bDxyUFw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/iBoot.k94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjBAwALnKHTP/3QFnwX2lY+kyJTCm35
					jA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			/pNXhdkOYq1MKtUJSE9tMp6qjDU=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9A334</string>
	<key>ProductVersion</key>
	<string>5.0</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>100698432</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>100698432</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad2,2</string>
	</array>
</dict>
</plist>
