<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7B367</string>
					<key>BuildTrain</key>
					<string>Wildcat</string>
					<key>DeviceClass</key>
					<string>k48ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kwTfC05te6CRxHnQXKXKKd2dYMc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgUAACvP4ZpG9Jembgu/ANehp92H3RS
							7A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							RACumGRTBWxCylN91gy0V8/GxRE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAAAvNI3TSfjZwEByzoKVCftlgm3c
							MQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							s7ebwbSRctDNsfo9ZLAqGZln0QM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAACCKrQD496+ej3rDqXISR2z2MA/
							HA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							dbeEWiZAhl50CZW0due5CPdH+1s=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAABkCutj3KJUDDg4spoF06+OPl+A
							iw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							DFalfBKiZT2XuurJz/z0KlSf4L8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQCD8n77kUSy0t+0LnbrJYC1jZpn
							3w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							OPAV65LXwAoj+ufMjFjRhuwH2YU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAAAYfqAPWSzuX2Qu+2Wz2CROb6jV
							8A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							YsEyNW3XxjSqKm7M7YbL59/dGEQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AADOVt77ggRituupC082VJrpBqYO
							pg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							BlwpsT+vjVp3Y8aiHpUqR4hAGyo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAADjtxdhWVIbAKFQvGBtvbF6C1IP
							3Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							Jul/AOg/yBVvpt9BqJJ3Mpc+/WA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjgAAB92H/jSlF6/3pSYg9dyp8tU4UL
							Jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							NTFGfhV9fFVEKDXQQCcr3NbwR4g=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k48</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjtSgDkLoKoqet+zFKuOo4wMgnSFBTd
							0A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.28~18</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgRAQAGbLF9fx6JFiAtPs8Etbg31Ncc
							YQ==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							igV4wzNxn4drURn2p6r/IiOREFk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/needservice.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhIAABstbTg13YXOtpmkZ0b2ai76Cfc
							bA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7223-007.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							LArnOzGTaoaIGrFP8FPikqOeR2U=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhhAQCprsqxszcEOF7zz1LnO0pxXiZF
							8w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							Jul/AOg/yBVvpt9BqJJ3Mpc+/WA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjgAAB92H/jSlF6/3pSYg9dyp8tU4UL
							Jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							NTFGfhV9fFVEKDXQQCcr3NbwR4g=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k48</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjtSgDkLoKoqet+zFKuOo4wMgnSFBTd
							0A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kwTfC05te6CRxHnQXKXKKd2dYMc=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgUAACvP4ZpG9Jembgu/ANehp92H3RS
							7A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							5lvbCkqUSPeKZXqRCgQRLuN9D0s=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7226-009.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjwnwAkSjOTn9aMC9T9lvKillfFs4aN
							DA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.28~18</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQCpYTNUAWpGzGiZ3HC5xNCL75EO
							aA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.28~18</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQC3YSuLg84KNn5km91GDa/N+RSM
							YQ==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							eKZxZirzLNZleHXlT1QO1bs6ot8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgCknTiYs89SVRSZ/WLkagilN4H+
							lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					WQJt7zgVBEfF9xBLtXtZdZ5eIkM=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7B367</string>
					<key>BuildTrain</key>
					<string>Wildcat</string>
					<key>DeviceClass</key>
					<string>k48ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kwTfC05te6CRxHnQXKXKKd2dYMc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgUAACvP4ZpG9Jembgu/ANehp92H3RS
							7A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							RACumGRTBWxCylN91gy0V8/GxRE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAAAvNI3TSfjZwEByzoKVCftlgm3c
							MQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							s7ebwbSRctDNsfo9ZLAqGZln0QM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAACCKrQD496+ej3rDqXISR2z2MA/
							HA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							dbeEWiZAhl50CZW0due5CPdH+1s=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAABkCutj3KJUDDg4spoF06+OPl+A
							iw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							DFalfBKiZT2XuurJz/z0KlSf4L8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQCD8n77kUSy0t+0LnbrJYC1jZpn
							3w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							OPAV65LXwAoj+ufMjFjRhuwH2YU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAAAYfqAPWSzuX2Qu+2Wz2CROb6jV
							8A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							YsEyNW3XxjSqKm7M7YbL59/dGEQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AADOVt77ggRituupC082VJrpBqYO
							pg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							BlwpsT+vjVp3Y8aiHpUqR4hAGyo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAADjtxdhWVIbAKFQvGBtvbF6C1IP
							3Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							Jul/AOg/yBVvpt9BqJJ3Mpc+/WA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjgAAB92H/jSlF6/3pSYg9dyp8tU4UL
							Jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							NTFGfhV9fFVEKDXQQCcr3NbwR4g=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k48</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjtSgDkLoKoqet+zFKuOo4wMgnSFBTd
							0A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.28~18</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgRAQAGbLF9fx6JFiAtPs8Etbg31Ncc
							YQ==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							igV4wzNxn4drURn2p6r/IiOREFk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/needservice.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhIAABstbTg13YXOtpmkZ0b2ai76Cfc
							bA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7223-007.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							LArnOzGTaoaIGrFP8FPikqOeR2U=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhhAQCprsqxszcEOF7zz1LnO0pxXiZF
							8w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							Jul/AOg/yBVvpt9BqJJ3Mpc+/WA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjgAAB92H/jSlF6/3pSYg9dyp8tU4UL
							Jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							NTFGfhV9fFVEKDXQQCcr3NbwR4g=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.k48</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjtSgDkLoKoqet+zFKuOo4wMgnSFBTd
							0A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kwTfC05te6CRxHnQXKXKKd2dYMc=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgUAACvP4ZpG9Jembgu/ANehp92H3RS
							7A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							U5SSuxmIVTV4NArrdA4SaS6pLo0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7225-009.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjQnwD79TO8gIAa16Fa+WaF/ERUSq5l
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.28~18</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQCpYTNUAWpGzGiZ3HC5xNCL75EO
							aA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-817.28~18</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQC3YSuLg84KNn5km91GDa/N+RSM
							YQ==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							eKZxZirzLNZleHXlT1QO1bs6ot8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgCknTiYs89SVRSZ/WLkagilN4H+
							lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					ssqnoM9N/T/0zRE1datC7msZn10=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>7B367</string>
		<key>ProductVersion</key>
		<string>3.2</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>33589552</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>33589552</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPad1,1</string>
		</array>
	</dict>
</plist>
