<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8G4</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>k48ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					PB5AjIFNogTgNI190qKhFe5wBhI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAHJezpa1FmLWqm8hB4wnHTXS5O
					tQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					/ZNQn5W7nUw8WV7l3CfvuIZTuBA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABEg66I/NyL7KxjCsr8niI0BsZJ
					SQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					dCaI+7nBdfAQ6EvK05ZUg/O9nNg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACG/qNdypJp4CXhE6KglkJA9FDr
					0w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					9KZn9nMkX6ysctqZ2kpHtvdUCxk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AAB1J6++lZzAPd+EjjY0OGZXpc5j
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					ADs2GbzHfnASUs1J7Ye7kkDoDVM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwDjJIk2KNoZdeKckoBgYF0Imlyh
					Hg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					0UGyuTtyNIZL3varzOjpBLdIqvE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAACsFk+mUNWM+9y16OEW70wtsv49
					TA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					gdh3vAYKxpSCkpHyKWGqiRdoyxo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAAJuRUin3VxJzkPn27Jxki5VZzI
					mA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					HNMnVLoI0a+t20Ps1lJ416Y3H38=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACTK23yWj02lPucRz3kCiv1N3tX
					+A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					0H2kx9XaUqekcrhrj0vYRBOOxxs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjqAAC2HTjfMCFsAyQdPTEV6g6fPPt1
					tQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					DYphGQMXIhlnFOEU4E6Ongo1x08=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k48</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgpXgDB3YK3YObRU2GmZLPKO3Wo69JQ
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAQC7aCn1dWuMJxqUpJ5ljn2FSKjs
					wQ==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0936-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					sW1EBld/w9Iva88Mq1jvfyg0co8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgAAQByczJ780PBXNJdDaKf9OECq0D/
					pQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					0H2kx9XaUqekcrhrj0vYRBOOxxs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjqAAC2HTjfMCFsAyQdPTEV6g6fPPt1
					tQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					DYphGQMXIhlnFOEU4E6Ongo1x08=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k48</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgpXgDB3YK3YObRU2GmZLPKO3Wo69JQ
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					PB5AjIFNogTgNI190qKhFe5wBhI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAHJezpa1FmLWqm8hB4wnHTXS5O
					tQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					UkvSlfP/h+8s3eJnsLDtvWV+JQo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0902-005.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjQfQG1qdndqO2e72p0V/GqZUWk7yyr
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiRAgDAs/ELYLqomv5xui9LLh+cLx9o
					fQ==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjBAQAEu9L3j1//iWv8qgP/NJJm0OI6
					Rw==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					haV2ODYPOJTc/mxkjTJy4Vg2hTY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiRAgDDXQQ9FZxT2i5arc238BM+OE2+
					ow==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			2W3pZpRpVt1hHaQKjgWxZfhMFrE=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8G4</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>k48ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					PB5AjIFNogTgNI190qKhFe5wBhI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAHJezpa1FmLWqm8hB4wnHTXS5O
					tQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					/ZNQn5W7nUw8WV7l3CfvuIZTuBA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/glyphcharging.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABEg66I/NyL7KxjCsr8niI0BsZJ
					SQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					dCaI+7nBdfAQ6EvK05ZUg/O9nNg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging0.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACG/qNdypJp4CXhE6KglkJA9FDr
					0w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					9KZn9nMkX6ysctqZ2kpHtvdUCxk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterycharging1.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AAB1J6++lZzAPd+EjjY0OGZXpc5j
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					ADs2GbzHfnASUs1J7Ye7kkDoDVM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batteryfull.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwDjJIk2KNoZdeKckoBgYF0Imlyh
					Hg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					0UGyuTtyNIZL3varzOjpBLdIqvE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterylow0.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAACsFk+mUNWM+9y16OEW70wtsv49
					TA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					gdh3vAYKxpSCkpHyKWGqiRdoyxo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/batterylow1.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAAJuRUin3VxJzkPn27Jxki5VZzI
					mA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					HNMnVLoI0a+t20Ps1lJ416Y3H38=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/glyphplugin.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACTK23yWj02lPucRz3kCiv1N3tX
					+A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					0H2kx9XaUqekcrhrj0vYRBOOxxs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjqAAC2HTjfMCFsAyQdPTEV6g6fPPt1
					tQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					DYphGQMXIhlnFOEU4E6Ongo1x08=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k48</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgpXgDB3YK3YObRU2GmZLPKO3Wo69JQ
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/LLB.k48ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAQC7aCn1dWuMJxqUpJ5ljn2FSKjs
					wQ==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0936-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					sW1EBld/w9Iva88Mq1jvfyg0co8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/recoverymode-768x1024.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgAAQByczJ780PBXNJdDaKf9OECq0D/
					pQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					0H2kx9XaUqekcrhrj0vYRBOOxxs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/DeviceTree.k48ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjqAAC2HTjfMCFsAyQdPTEV6g6fPPt1
					tQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					DYphGQMXIhlnFOEU4E6Ongo1x08=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k48</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgpXgDB3YK3YObRU2GmZLPKO3Wo69JQ
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					PB5AjIFNogTgNI190qKhFe5wBhI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/applelogo.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAHJezpa1FmLWqm8hB4wnHTXS5O
					tQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					cr85l2EoqHqOu1lboWw4BE0fOiM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0894-005.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiAewGEsoNlceOBG5tv18RzgD7/57lY
					XQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k48ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiRAgDAs/ELYLqomv5xui9LLh+cLx9o
					fQ==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k48ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjBAQAEu9L3j1//iWv8qgP/NJJm0OI6
					Rw==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					haV2ODYPOJTc/mxkjTJy4Vg2hTY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k48ap.production/iBoot.k48ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiRAgDDXQQ9FZxT2i5arc238BM+OE2+
					ow==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			Cq+5TfTo9OCusl6dCigx8xIJMyg=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8G4</string>
	<key>ProductVersion</key>
	<string>4.3.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589552</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589552</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad1,1</string>
	</array>
</dict>
</plist>
