<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8945</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x004600E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10A403</string>
				<key>BuildTrain</key>
				<string>Sundance</string>
				<key>DeviceClass</key>
				<string>j2ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1449</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					zAB6cmJvTVyQIdLe9iJj/CUoi8A=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					f4z0XWvx0Ul1Nw8Mpow7Uh1Iefo=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					6rleJM9VbLzPueCred5QDVPNCSI=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					eAAAAACeAACXzYn54lhIRFk8RlmLYz/UNYIm
					SgDGAACp1qzIzIa3CHyZh1py5AVTyQqEaQ==
					</data>
					<key>DBL-Version</key>
					<integer>-1592766942</integer>
					<key>DSP1-DownloadDigest</key>
					<data>
					2Z3c+N4+7LzI42qwwM251ByNHzY=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					5y97i2926FfSUrAMeHfKs4PDcSE=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					yd0QbOwB9phPoA9jyRzdeyK0uTI=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					s1DOUuDHTyPJ2mqFlVVes8ut6MM=
					</data>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					WAAAAACcAgDFKPHoU9PGdVQCuWb6gptLJiIg
					bg==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1592766942</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav4-2.0.02.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					U3ajdmZqeAMpGSbPTE3RgA00ihw=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					Cx1L4EFTutR5c4in9zwI/G7P4Qo=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					UXCuPhoRVtArUCl+xOF/jq4WzDw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphcharging@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					YqvEdWZ4ZBsv8Kimkp5N3I+zTro=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					OcI6HZStXf+e+KXxnxnKMO1dpxY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					FmI7iOzGVRuNRNhNZ5WXRy2OryI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batteryfull@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					9vh4C31PKz+zC1yrxK7HAoM+m80=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					mIdHPhw3+pPzbrSI3bm/jaPdGk4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					LteT9efr4jgZokUWVJpWq/kQJfM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphplugin@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					H9nKHcbv2z4tGFUFLGu/0SY3Aws=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					sH6eQJkyhJylewps/P3AQtdExfg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADi6eABPpIW7xeCU3QBgBMGbRXGh+XAN
					IA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.18~2</string>
					<key>Digest</key>
					<data>
					HAZN2hglyvmy1gGOECj/saQ82hs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/LLB.j2ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgCsoSoa0tSTgkHE/NJPRxAzXa7g
					Ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-6471-001.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					sb+7lp7MIaOdILAz0UtmKu+qDeU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/recoverymode@2x~ipad.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					H9nKHcbv2z4tGFUFLGu/0SY3Aws=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					sH6eQJkyhJylewps/P3AQtdExfg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADi6eABPpIW7xeCU3QBgBMGbRXGh+XAN
					IA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					zAB6cmJvTVyQIdLe9iJj/CUoi8A=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					IesRV2XLp/sLKh81/rbVymWjI+I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-6459-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiQlAC03hxZ/Ul5YjUeD2yN0nhg+882
					vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.18~2</string>
					<key>Digest</key>
					<data>
					FQY3Z6FEJE8jv2xkhZQYxWx3cr0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j2ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.18~2</string>
					<key>Digest</key>
					<data>
					8f+JsXLb2Zk8zfMRMptzF0Tx3L0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j2ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQB/OnuqFZ4p0uCWwgMvheV3PKsw
					XQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					JAtZKBSPx8wGjhCE/cFx+eCOJx4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/iBoot.j2ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			qd9v9TQrRi8O1rse31ttme/2jm8=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8945</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x004600E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10A403</string>
				<key>BuildTrain</key>
				<string>Sundance</string>
				<key>DeviceClass</key>
				<string>j2ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1449</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					zAB6cmJvTVyQIdLe9iJj/CUoi8A=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					f4z0XWvx0Ul1Nw8Mpow7Uh1Iefo=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					6rleJM9VbLzPueCred5QDVPNCSI=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					eAAAAACeAACXzYn54lhIRFk8RlmLYz/UNYIm
					SgDGAACp1qzIzIa3CHyZh1py5AVTyQqEaQ==
					</data>
					<key>DBL-Version</key>
					<integer>-1592766942</integer>
					<key>DSP1-DownloadDigest</key>
					<data>
					2Z3c+N4+7LzI42qwwM251ByNHzY=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					5y97i2926FfSUrAMeHfKs4PDcSE=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					yd0QbOwB9phPoA9jyRzdeyK0uTI=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					s1DOUuDHTyPJ2mqFlVVes8ut6MM=
					</data>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					WAAAAACcAgDFKPHoU9PGdVQCuWb6gptLJiIg
					bg==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1592766942</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav4-2.0.02.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					U3ajdmZqeAMpGSbPTE3RgA00ihw=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					Cx1L4EFTutR5c4in9zwI/G7P4Qo=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					UXCuPhoRVtArUCl+xOF/jq4WzDw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphcharging@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					YqvEdWZ4ZBsv8Kimkp5N3I+zTro=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					OcI6HZStXf+e+KXxnxnKMO1dpxY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					FmI7iOzGVRuNRNhNZ5WXRy2OryI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batteryfull@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					9vh4C31PKz+zC1yrxK7HAoM+m80=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					mIdHPhw3+pPzbrSI3bm/jaPdGk4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					LteT9efr4jgZokUWVJpWq/kQJfM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphplugin@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					H9nKHcbv2z4tGFUFLGu/0SY3Aws=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					sH6eQJkyhJylewps/P3AQtdExfg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADi6eABPpIW7xeCU3QBgBMGbRXGh+XAN
					IA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.18~2</string>
					<key>Digest</key>
					<data>
					HAZN2hglyvmy1gGOECj/saQ82hs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/LLB.j2ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgCsoSoa0tSTgkHE/NJPRxAzXa7g
					Ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-6471-001.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					sb+7lp7MIaOdILAz0UtmKu+qDeU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/recoverymode@2x~ipad.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					H9nKHcbv2z4tGFUFLGu/0SY3Aws=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					sH6eQJkyhJylewps/P3AQtdExfg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADi6eABPpIW7xeCU3QBgBMGbRXGh+XAN
					IA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					zAB6cmJvTVyQIdLe9iJj/CUoi8A=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					P32TgG+5zMCbfpdOjX9M9ajewKs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-6462-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiAlAC9zkUnMxwqNZfVSLBxg6AINya2
					Qg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.18~2</string>
					<key>Digest</key>
					<data>
					FQY3Z6FEJE8jv2xkhZQYxWx3cr0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j2ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.18~2</string>
					<key>Digest</key>
					<data>
					8f+JsXLb2Zk8zfMRMptzF0Tx3L0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j2ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQB/OnuqFZ4p0uCWwgMvheV3PKsw
					XQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					JAtZKBSPx8wGjhCE/cFx+eCOJx4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/iBoot.j2ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			EqYtkN9e0LZiEEB3faVmPoOiRrc=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10A403</string>
	<key>ProductVersion</key>
	<string>6.0</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589573</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589573</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad3,2</string>
	</array>
</dict>
</plist>
