<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8945</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x004600E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B146</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>j2ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1456</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					C87eXDr8AbdhgXRYSMqitgkYJtY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					HU/gKtXbAVzh7uLJwnIwHefDpfk=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					dGLW1ff2AnwsgOAn/feVkcbZYdE=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					eAAAAACeAACo+TbuBauuX6KECWNYXmAl8pRV
					7ADGAACfXhdebuDLF2cTOjUPdgYI7pBfWA==
					</data>
					<key>DBL-Version</key>
					<integer>-1592766641</integer>
					<key>DSP1-DownloadDigest</key>
					<data>
					2Z3c+N4+7LzI42qwwM251ByNHzY=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					5y97i2926FfSUrAMeHfKs4PDcSE=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					l8NyKRbFAEj1Ng3CQC7EjLsfjJQ=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					z3ZU0f2/LSc0Cfm84O9qfEIjNLw=
					</data>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					WAAAAACcAgCkGFDjLjq3OE1XgPOndYW9AGh4
					vg==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1592766641</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav4-2.3.03.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					yYC4YxEZkh5qaeGgwoX82vBo/rs=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					Cx1L4EFTutR5c4in9zwI/G7P4Qo=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					HCOj9WAlYNKKW13xuiOEnpUxyVM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphcharging@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					280J3+jH+Lt8qg3rothqXzL5+7Y=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					rPymPOlkqHOBhBlznJ69AhOIkXM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					2hXpWfbH9hKkRYcHWsVyiGa2dns=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batteryfull@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					grdgUdC3VCLMylfvUdAVAv7ZI6A=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					l378/2sy0fFuJfn8EFFcjYdORiI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					s17LzdLRZntDOQk4IbY8d+zM1OA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphplugin@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					MmdvZUCVVtAFRnLuzG/LNUSvhkc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					c5XNTebj6KDykTJA46jzIr3G5z4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhseACSjMBX/YSUcgVftxNfmcEm4YjD
					Gw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					lVR1xMaovtiefnXOq7NK0ESHf+I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/LLB.j2ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgBowjXI+hAB8pG/E3KjUTL8fGeN
					wA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0826-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					/dMPzg5S6dMmrGebZKvTuvEFL/s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/recoverymode@2x~ipad.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					MmdvZUCVVtAFRnLuzG/LNUSvhkc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					c5XNTebj6KDykTJA46jzIr3G5z4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhseACSjMBX/YSUcgVftxNfmcEm4YjD
					Gw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					C87eXDr8AbdhgXRYSMqitgkYJtY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					vDpLFdNTljRqFu0BLIDsTRoKHHY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0734-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhQlwCJ2F8JsQapYItJCfhHuS88xwp8
					2A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					BGCfqiP7wXzZPbgkjxW4pEB0xjc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j2ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					zdfwR5VlpE+1uU2r4FIHvLzDPtM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j2ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQDCbVnJenZij/xpeAUnPCGqHjUM
					pA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					Q1QjLIbZn6MsVgwbYp2MQE74xk4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/iBoot.j2ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			XquifWxBvTMTukTV1LMr5rYwSbk=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8945</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x004600E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B146</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>j2ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1456</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					C87eXDr8AbdhgXRYSMqitgkYJtY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					HU/gKtXbAVzh7uLJwnIwHefDpfk=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					dGLW1ff2AnwsgOAn/feVkcbZYdE=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					eAAAAACeAACo+TbuBauuX6KECWNYXmAl8pRV
					7ADGAACfXhdebuDLF2cTOjUPdgYI7pBfWA==
					</data>
					<key>DBL-Version</key>
					<integer>-1592766641</integer>
					<key>DSP1-DownloadDigest</key>
					<data>
					2Z3c+N4+7LzI42qwwM251ByNHzY=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					5y97i2926FfSUrAMeHfKs4PDcSE=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					l8NyKRbFAEj1Ng3CQC7EjLsfjJQ=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					z3ZU0f2/LSc0Cfm84O9qfEIjNLw=
					</data>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					WAAAAACcAgCkGFDjLjq3OE1XgPOndYW9AGh4
					vg==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1592766641</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav4-2.3.03.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					yYC4YxEZkh5qaeGgwoX82vBo/rs=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					Cx1L4EFTutR5c4in9zwI/G7P4Qo=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					HCOj9WAlYNKKW13xuiOEnpUxyVM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphcharging@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					280J3+jH+Lt8qg3rothqXzL5+7Y=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					rPymPOlkqHOBhBlznJ69AhOIkXM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					2hXpWfbH9hKkRYcHWsVyiGa2dns=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batteryfull@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					grdgUdC3VCLMylfvUdAVAv7ZI6A=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					l378/2sy0fFuJfn8EFFcjYdORiI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					s17LzdLRZntDOQk4IbY8d+zM1OA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphplugin@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					MmdvZUCVVtAFRnLuzG/LNUSvhkc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					c5XNTebj6KDykTJA46jzIr3G5z4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhseACSjMBX/YSUcgVftxNfmcEm4YjD
					Gw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					lVR1xMaovtiefnXOq7NK0ESHf+I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/LLB.j2ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgBowjXI+hAB8pG/E3KjUTL8fGeN
					wA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0826-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					/dMPzg5S6dMmrGebZKvTuvEFL/s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/recoverymode@2x~ipad.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					MmdvZUCVVtAFRnLuzG/LNUSvhkc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					c5XNTebj6KDykTJA46jzIr3G5z4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhseACSjMBX/YSUcgVftxNfmcEm4YjD
					Gw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					C87eXDr8AbdhgXRYSMqitgkYJtY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					JzyJ3RciGQW8BlgXaYUNCXYeiJc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0742-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhAlwCLxvHL2xfIkfCMdcEtDZhplJS1
					8g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					BGCfqiP7wXzZPbgkjxW4pEB0xjc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j2ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					zdfwR5VlpE+1uU2r4FIHvLzDPtM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j2ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQDCbVnJenZij/xpeAUnPCGqHjUM
					pA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					Q1QjLIbZn6MsVgwbYp2MQE74xk4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/iBoot.j2ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			DNhzFdnErXoZI44/fSeFR2S502o=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B146</string>
	<key>ProductVersion</key>
	<string>6.1.2</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589573</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589573</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad3,2</string>
	</array>
</dict>
</plist>
