<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>rqXM4UNmjQ77TOHyyUyWamSWxqo=</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>vTmCipu1KLpRRvXgaHG2TNu85ak=</data>
			<key>BbChipID</key>
			<string>0x005000E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>7MQEUyvzG4gjjZc7KsNNAVTS8g4=</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B206</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>k95ap</string>
				<key>MinimumSystemPartition</key>
				<integer>887</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>3elQs7rnkTjxMLNFrf2BTXMW4fk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3KslA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>D8qT0KWprCeWcfrxmCHV06gL0V4=</data>
					<key>AMSS-HashTableDigest</key>
					<data>7S7KE3/fzNsvTwqKNIno6lqdH5s=</data>
					<key>DBL-PartialDigest</key>
					<data>
						VAAAAACyAABxq4165GzOgTCm4ZiQMWng6RCjigDSAAAgQ7nmblmQc3mnHpkK
						kFsh1ZOD7w==
					</data>
					<key>DBL-Version</key>
					<integer>-1610600444</integer>
					<key>ENANDPRG-PartialDigest</key>
					<data>UAAAAMB4AgDQ7SQe0W2xGjwHPOFqYDF0efjXPQ==</data>
					<key>ENANDPRG-Version</key>
					<integer>-1610612479</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Phoenix-3.0.04.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>d8KS/6GAG3tW9oioAgGYJzzdGgc=</data>
					<key>PartitionTable-Digest</key>
					<data>JVPJlSJZENRmYIDReT3WGJY6qVY=</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>z+Fa9FQq11pUnrehpT8o++0QxQ8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgPAABqEPpbgxX85tix6twGHNW991fGrw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>corhTKxIpBMziWHrpwXysaydOik=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAACed/z65nWhuJLm3FAHjhzIiV30GA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>buIQO3ZI66nLknqsdrr1usungEE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPg1AACVjnORWptUc0xaL5RjWhPtmpAYGw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>AbYpAei3QcSsZnPCQNPyBhQ2qnw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjGAwAKprziP8XD8cI4dyYRfkIdT/pzTg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>NZVrgaOGwcmYN2uLx0mviQtq5A0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADixAACyNxIU7tANbEKqC7kWi9nj9kFG0Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>NGRAn4CZ1QzYS04GB/1+77uDuCE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg8AAAdoaGLiV7kxPisemy+vQhYwCgxyQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>0ajVWH02woTc7F6YXqLBrL7kun4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAABN04Kt6MKGl52uvzEyTqiyU+4vCw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>Mk9fR4jf0AkI+AZmSHLj2WtqMOE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgFAQAqKjA8jlF9Bp8LWy/aGQx5aIInuA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>9dvnhj/LxRNF+asXGjoQCeHZmUk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k95</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjMZQA+qMhvuQO2x8BRixbBKzFvSN48gA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>qHAPRQl4i5MnR3HYz+Ygy6jktsc=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/LLB.k95ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgBAgDoyoXzrcL3/I6lH9bkSktmKm1oug==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4296-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>AMlV6NjW2wJs+TFepvUz69JmiMw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/recoverymode~ipad.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgAAQDFoKNdSaMJUIU6jWHfcpmtxwpUkg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>Mk9fR4jf0AkI+AZmSHLj2WtqMOE=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgFAQAqKjA8jlF9Bp8LWy/aGQx5aIInuA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>9dvnhj/LxRNF+asXGjoQCeHZmUk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k95</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjMZQA+qMhvuQO2x8BRixbBKzFvSN48gA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>3elQs7rnkTjxMLNFrf2BTXMW4fk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3KslA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>NkDepWhZOwO/PZPE/EzVUiOvQFg=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4352-023.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiwBwEHDRmElNiAO1DHC5gkHKhXcG9yGQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>WgOfKrVfp2+S1lvb6Wuw4+RC240=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k95ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjRAwCzMryCWjCQlEc8Tcu/1KSqfZ1Pew==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>6XEa4ueEyrKFCGCKuGvDkv6Unc0=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k95ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgRAQBoJzVRmsfXtqSTHA2jhajDtuYgQQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>juZF2+e8Cv8Fo6tjSR7HGkhqbmI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/iBoot.k95ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjhAwDKO1peMfv1GAGwVnlFK3UhIfXHIA==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>eNcYohl3fPQbctpCJsWFf0Sc8mk=</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>rqXM4UNmjQ77TOHyyUyWamSWxqo=</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>vTmCipu1KLpRRvXgaHG2TNu85ak=</data>
			<key>BbChipID</key>
			<string>0x005000E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>7MQEUyvzG4gjjZc7KsNNAVTS8g4=</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B206</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>k95ap</string>
				<key>MinimumSystemPartition</key>
				<integer>887</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>3elQs7rnkTjxMLNFrf2BTXMW4fk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3KslA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>D8qT0KWprCeWcfrxmCHV06gL0V4=</data>
					<key>AMSS-HashTableDigest</key>
					<data>7S7KE3/fzNsvTwqKNIno6lqdH5s=</data>
					<key>DBL-PartialDigest</key>
					<data>
						VAAAAACyAABxq4165GzOgTCm4ZiQMWng6RCjigDSAAAgQ7nmblmQc3mnHpkK
						kFsh1ZOD7w==
					</data>
					<key>DBL-Version</key>
					<integer>-1610600444</integer>
					<key>ENANDPRG-PartialDigest</key>
					<data>UAAAAMB4AgDQ7SQe0W2xGjwHPOFqYDF0efjXPQ==</data>
					<key>ENANDPRG-Version</key>
					<integer>-1610612479</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Phoenix-3.0.04.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>d8KS/6GAG3tW9oioAgGYJzzdGgc=</data>
					<key>PartitionTable-Digest</key>
					<data>JVPJlSJZENRmYIDReT3WGJY6qVY=</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>z+Fa9FQq11pUnrehpT8o++0QxQ8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgPAABqEPpbgxX85tix6twGHNW991fGrw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>corhTKxIpBMziWHrpwXysaydOik=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAACed/z65nWhuJLm3FAHjhzIiV30GA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>buIQO3ZI66nLknqsdrr1usungEE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPg1AACVjnORWptUc0xaL5RjWhPtmpAYGw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>AbYpAei3QcSsZnPCQNPyBhQ2qnw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjGAwAKprziP8XD8cI4dyYRfkIdT/pzTg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>NZVrgaOGwcmYN2uLx0mviQtq5A0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADixAACyNxIU7tANbEKqC7kWi9nj9kFG0Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>NGRAn4CZ1QzYS04GB/1+77uDuCE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg8AAAdoaGLiV7kxPisemy+vQhYwCgxyQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>0ajVWH02woTc7F6YXqLBrL7kun4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAABN04Kt6MKGl52uvzEyTqiyU+4vCw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>Mk9fR4jf0AkI+AZmSHLj2WtqMOE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgFAQAqKjA8jlF9Bp8LWy/aGQx5aIInuA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>9dvnhj/LxRNF+asXGjoQCeHZmUk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k95</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjMZQA+qMhvuQO2x8BRixbBKzFvSN48gA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>qHAPRQl4i5MnR3HYz+Ygy6jktsc=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/LLB.k95ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgBAgDoyoXzrcL3/I6lH9bkSktmKm1oug==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4296-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>AMlV6NjW2wJs+TFepvUz69JmiMw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/recoverymode~ipad.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgAAQDFoKNdSaMJUIU6jWHfcpmtxwpUkg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>Mk9fR4jf0AkI+AZmSHLj2WtqMOE=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/DeviceTree.k95ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgFAQAqKjA8jlF9Bp8LWy/aGQx5aIInuA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>9dvnhj/LxRNF+asXGjoQCeHZmUk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k95</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjMZQA+qMhvuQO2x8BRixbBKzFvSN48gA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>3elQs7rnkTjxMLNFrf2BTXMW4fk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3KslA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>A9zIWaSwdffGek+85P/6hoWxOWI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4343-021.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPigBwGT2ysgWQYG4SvkUnJBoFgXHSL+hQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>WgOfKrVfp2+S1lvb6Wuw4+RC240=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k95ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjRAwCzMryCWjCQlEc8Tcu/1KSqfZ1Pew==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>6XEa4ueEyrKFCGCKuGvDkv6Unc0=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k95ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgRAQBoJzVRmsfXtqSTHA2jhajDtuYgQQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>juZF2+e8Cv8Fo6tjSR7HGkhqbmI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k95ap.production/iBoot.k95ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjhAwDKO1peMfv1GAGwVnlFK3UhIfXHIA==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>ZelvZAVK6aAlEYUOiHVZnYtL93c=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9B206</string>
	<key>ProductVersion</key>
	<string>5.1.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589568</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589568</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad2,3</string>
	</array>
</dict>
</plist>