<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x04</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B206</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>k93ap</string>
				<key>MinimumSystemPartition</key>
				<integer>885</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>3elQs7rnkTjxMLNFrf2BTXMW4fk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3KslA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>z+Fa9FQq11pUnrehpT8o++0QxQ8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgPAABqEPpbgxX85tix6twGHNW991fGrw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>corhTKxIpBMziWHrpwXysaydOik=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAACed/z65nWhuJLm3FAHjhzIiV30GA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>buIQO3ZI66nLknqsdrr1usungEE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPg1AACVjnORWptUc0xaL5RjWhPtmpAYGw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>AbYpAei3QcSsZnPCQNPyBhQ2qnw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjGAwAKprziP8XD8cI4dyYRfkIdT/pzTg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>NZVrgaOGwcmYN2uLx0mviQtq5A0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADixAACyNxIU7tANbEKqC7kWi9nj9kFG0Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>NGRAn4CZ1QzYS04GB/1+77uDuCE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg8AAAdoaGLiV7kxPisemy+vQhYwCgxyQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>0ajVWH02woTc7F6YXqLBrL7kun4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAABN04Kt6MKGl52uvzEyTqiyU+4vCw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>yQCyUot2CuG4R+/cZzx54ayZWzg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjyAAA6UMAvVbnT2HY+b2yikasn8NYQTg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>Q4Pw5vKepofAkXs+LOrdBwXwRyc=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k93</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhrYwB7ILbPh3ZVgEUzxpHEhHxApgRTsw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>DjgZ1b2o5La9hMjaor/q1d4d9OI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/LLB.k93ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgBAgAzNEzlcx33xJEKfWioyIW1R0WKlQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4293-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>AMlV6NjW2wJs+TFepvUz69JmiMw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/recoverymode~ipad.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgAAQDFoKNdSaMJUIU6jWHfcpmtxwpUkg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>yQCyUot2CuG4R+/cZzx54ayZWzg=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjyAAA6UMAvVbnT2HY+b2yikasn8NYQTg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>Q4Pw5vKepofAkXs+LOrdBwXwRyc=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k93</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhrYwB7ILbPh3ZVgEUzxpHEhHxApgRTsw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>3elQs7rnkTjxMLNFrf2BTXMW4fk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3KslA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>5RFHBN+G4w7zZ+esreLazEr1Oyo=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4352-023.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiwBwEMJNLZ8yg/WxuEcKglr3Ir51R3gg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>TXNWEv87qCQo5ApgRtPhxwwE9j4=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjRAwBxxAzLuwWdCguQhWUpw/hOP3kvaw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>Mm0YV2HnrNC/C6qBwqSk7k97sV0=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgRAQBMNVypkCbfcE5gILkujRWrcG8lhw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>QuHJJGp2o49tW1OtA2Jah+Qv1c4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/iBoot.k93ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjhAwCY1Hq94V/+ttGvAz0YuCKrlk24sQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>kcxjzcD4R9CrObVbLcgFggrypDQ=</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x04</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B206</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>k93ap</string>
				<key>MinimumSystemPartition</key>
				<integer>885</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>3elQs7rnkTjxMLNFrf2BTXMW4fk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3KslA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>z+Fa9FQq11pUnrehpT8o++0QxQ8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgPAABqEPpbgxX85tix6twGHNW991fGrw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>corhTKxIpBMziWHrpwXysaydOik=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAACed/z65nWhuJLm3FAHjhzIiV30GA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>buIQO3ZI66nLknqsdrr1usungEE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPg1AACVjnORWptUc0xaL5RjWhPtmpAYGw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>AbYpAei3QcSsZnPCQNPyBhQ2qnw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjGAwAKprziP8XD8cI4dyYRfkIdT/pzTg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>NZVrgaOGwcmYN2uLx0mviQtq5A0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADixAACyNxIU7tANbEKqC7kWi9nj9kFG0Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>NGRAn4CZ1QzYS04GB/1+77uDuCE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg8AAAdoaGLiV7kxPisemy+vQhYwCgxyQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>0ajVWH02woTc7F6YXqLBrL7kun4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAABN04Kt6MKGl52uvzEyTqiyU+4vCw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>yQCyUot2CuG4R+/cZzx54ayZWzg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjyAAA6UMAvVbnT2HY+b2yikasn8NYQTg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>Q4Pw5vKepofAkXs+LOrdBwXwRyc=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k93</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhrYwB7ILbPh3ZVgEUzxpHEhHxApgRTsw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>DjgZ1b2o5La9hMjaor/q1d4d9OI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/LLB.k93ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgBAgAzNEzlcx33xJEKfWioyIW1R0WKlQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4293-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>AMlV6NjW2wJs+TFepvUz69JmiMw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/recoverymode~ipad.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgAAQDFoKNdSaMJUIU6jWHfcpmtxwpUkg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>yQCyUot2CuG4R+/cZzx54ayZWzg=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/DeviceTree.k93ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjyAAA6UMAvVbnT2HY+b2yikasn8NYQTg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>Q4Pw5vKepofAkXs+LOrdBwXwRyc=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k93</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhrYwB7ILbPh3ZVgEUzxpHEhHxApgRTsw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>3elQs7rnkTjxMLNFrf2BTXMW4fk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3KslA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>AcTs7ARmdxcLTyRQa9KdrBV4z+Y=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4343-021.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPigBwFMl0u2nYrjiV09zhZg+TJ/0Zmr0w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>TXNWEv87qCQo5ApgRtPhxwwE9j4=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k93ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjRAwBxxAzLuwWdCguQhWUpw/hOP3kvaw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>Mm0YV2HnrNC/C6qBwqSk7k97sV0=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k93ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgRAQBMNVypkCbfcE5gILkujRWrcG8lhw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>QuHJJGp2o49tW1OtA2Jah+Qv1c4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93ap.production/iBoot.k93ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjhAwCY1Hq94V/+ttGvAz0YuCKrlk24sQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>S+xDNIi1+UNijx+HRaztkmsystY=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9B206</string>
	<key>ProductVersion</key>
	<string>5.1.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>67144000</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>67144000</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad2,1</string>
	</array>
</dict>
</plist>