<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>l6s0rAaT9bA7+3JtTiwlTxTicKE=</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A5220p</string>
				<key>BuildTrain</key>
				<string>TellurideVail</string>
				<key>DeviceClass</key>
				<string>k94ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Developer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>DeveloperOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>oR4Yit/RmPfx7C8NIyTWCzQml+k=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAABwKOpFtNVYfyq8Gh2AfykjXmcPTQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>imrfCpuwU21wdfD1QrdCD6zF+V4=</data>
					<key>FlashPSI-PartialDigest</key>
					<data>QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATFdw==</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>aV7n5VUpvSbMWA4ImMj4R0vfpmk=</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.11.04_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>QQXqoUSq5v/c7JHt9oOeewzdpYc=</data>
					<key>ModemStack-Length</key>
					<string>0x006f6e64</string>
					<key>ModemStack-SecPackDigest</key>
					<data>1bgB+gy6XwGbo1BdZOA/zSPGJ5I=</data>
					<key>RamPSI-PartialDigest</key>
					<data>QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrVqA==</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>eIKysjVM9qDWrO99CWNH7OlcO14=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgPAADAh0ptzF6I7uL19ox+nrPYvFckTQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>BBD4xtvAOTA4mF/6AY3GTj452ZE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAAAzTgeWPJRdV+z6gmBDrNmdCHMwOA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>F64y0WlAWhpyJOoBTOMPTn/B+U4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPg1AADnK8loTMSD146MO1xD+9vLnF9BLA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>VdzC+bkPWaZ6jV0GHxxC0Cv/Jb4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjGAwC9Gn+gXOjsPIA7nmMOsz/UzTHcjw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>RCUJ7l8kERjdDdy6oQ27ttDLDZU=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADixAADg3CshZO5t6oxwcIv3oNzYoRpmAw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>fZ9LXG5k7vH01YLVyGcdjfwsr4w=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg8AADDiu4kDpq/b2jK8v8KIxq1dUMYRw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>jTRdKq0s74m2rY4O1Kzk09hasDI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAAC6Aw4f25QKYaUz5wbguWTuRmCW4A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>71MlXak/eraeoD63ftadux4ufV4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgDAQBb9xbRwsrc/2YqCL4UbS4heEM8Gg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>5V35SXasb0KGWSuXvCFKI/7DUUY=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHi7ZQBia6fzbfO5xFcEDBznaYGz8+fMGg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.35.80~1</string>
					<key>Digest</key>
					<data>j5t+RGz9vI54wB8p6hlX50C4ilk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/LLB.k94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjhAQDhHy8o2k8iLxT55DiNSqO6wtV3iQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1665-023.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>z1nj0ccMmHr9w2h/Tbn/qIOeF5g=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/recoverymode-768x1024.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgAAQBqm8mLcKirubdSlRxpjlRWkGrsUA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>71MlXak/eraeoD63ftadux4ufV4=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgDAQBb9xbRwsrc/2YqCL4UbS4heEM8Gg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>5V35SXasb0KGWSuXvCFKI/7DUUY=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHi7ZQBia6fzbfO5xFcEDBznaYGz8+fMGg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>oR4Yit/RmPfx7C8NIyTWCzQml+k=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAABwKOpFtNVYfyq8Gh2AfykjXmcPTQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>Kze1ISAzNBoWmt/uWBos73Ir7A0=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1679-020.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiAhwHakMgZqOxAmj3/KA0zVggf3wbOyg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.35.80~1</string>
					<key>Digest</key>
					<data>AzixuHUNabuDLAhB5vqk1CWNjvo=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALihAwDfr8RwzyQMbOUapW1NtwBJF/BDfA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.35.80~1</string>
					<key>Digest</key>
					<data>jviwdxYp+sq+7IX3aINBuGAO7sE=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgBAQDT1mEfMPLblImB3srMrfOFNv2/sA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>9+Aytk6NXK2zfZ1drOwTS3EN5+0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/iBoot.k94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALixAwAR4GBcUauclyhMfOu41JfiKFgfOA==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>6qM9RdVss5kGVgKD4CFAoNsEoGE=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9A5220p</string>
	<key>ProductVersion</key>
	<string>5.0</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>100698432</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>100698432</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad2,2</string>
	</array>
</dict>
</plist>