<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x0E</string>
			<key>ApChipID</key>
			<string>0x8942</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B147</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>p107ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1098</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					UDiZGBTDiZAGDTDzv9st7UP05cY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>
					RPhfOtozjgjtEaUUKDb7xYxdh9k=
					</data>
					<key>APPS-HashTableDigest</key>
					<data>
					0CU6c35dtukq0PoaKYZlPXBdLfc=
					</data>
					<key>DSP1-DownloadDigest</key>
					<data>
					BRXb6Nnp+CSjKNhU2d8VpvtccPI=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					lM/+osvSeABIioOklCzE+yxHls4=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					Fk8aSO/3i/iGDnZ5sr2dMaKssW0=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					01wvhn6W5MVL2pPIW5lQyU4byvU=
					</data>
					<key>DSP3-DownloadDigest</key>
					<data>
					KcP+9ArDKqCO6P1oy3hAWWEmpOw=
					</data>
					<key>DSP3-HashTableDigest</key>
					<data>
					RG5KSFNkgSIU6GVVvkS9m249l3o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-3.04.25.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>
					d6DYaX3ORl/Oh7QfZhLkdptwMTk=
					</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>
					bAAAAAAQAgCBJ5pnv2Sl7WO1DHIb+RPPV4Aw
					xw==
					</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559202087</integer>
					<key>SBL1-PartialDigest</key>
					<data>
					VAAAAEC9AQAP5k2YG3GyQfoiESdFJUi9Biqk
					/g==
					</data>
					<key>SBL1-Version</key>
					<integer>-1560250663</integer>
					<key>SBL2-DownloadDigest</key>
					<data>
					SJNC9UO5IXuuOy0U4FxxwKt3q+M=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					1wTC4UP4GXQtaTDehICBZ06Cb/Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/glyphcharging.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					YEV59tRolYKmxDk/cgy1tqzd+ls=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/batterycharging0.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					LWSgDhZELgXKsI8DV/FAL2ayOTA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/batterycharging1.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					9y4EItRNndTLCED2GJ0VZPuWbTM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/batteryfull.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					lQOPivgEAAzRnK41QF4BwDNQfdU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/batterylow0.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Nkb28AEio+pq++aR/V9eGBn0GBE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/batterylow1.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					cnhb/L2mjQznm8g2Ta+7mnHvWsk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/glyphplugin.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Zstlq+QKdG73IcphX6xY6HB6kZU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/DeviceTree.p107ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					ho9v9h4pEtNT2PhgO3ZgQBmZnJo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p107</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADg0eADSuvuwvW8TXCthP62toBs94TX7
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					+xZ5CAPqTSlyZaJjdxKWwEXt8C8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/LLB.p107ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgAFTSQcVkz4NzyPSwLYYkW04Kjj
					8A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0837-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					T4SJsVMhAFzYiMXa6ODiAti9h1I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/recoverymode~ipad.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Zstlq+QKdG73IcphX6xY6HB6kZU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/DeviceTree.p107ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					ho9v9h4pEtNT2PhgO3ZgQBmZnJo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p107</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADg0eADSuvuwvW8TXCthP62toBs94TX7
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					UDiZGBTDiZAGDTDzv9st7UP05cY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					JdZG7dG+SdMNGz5fWswtyeyTBr0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-1453-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhQlwA4vLLd68snXaKAm8G9ug4tjX0s
					Ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					HY/g4pd1KrkNDypmCchPjHFi9PU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.p107ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					uMp0k+fPgNEYrPk7/cW80X+Xtfg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.p107ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQBKLpe/mNKdegfqwOVfBlKvlBo/
					zA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					KaHdFmdh4jIahVAQFtij8nW60Fo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/iBoot.p107ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			HCcZOMWZMIvLIaE8uSueJL1BzOQ=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x0E</string>
			<key>ApChipID</key>
			<string>0x8942</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B147</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>p107ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1098</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					UDiZGBTDiZAGDTDzv9st7UP05cY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>
					RPhfOtozjgjtEaUUKDb7xYxdh9k=
					</data>
					<key>APPS-HashTableDigest</key>
					<data>
					0CU6c35dtukq0PoaKYZlPXBdLfc=
					</data>
					<key>DSP1-DownloadDigest</key>
					<data>
					BRXb6Nnp+CSjKNhU2d8VpvtccPI=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					lM/+osvSeABIioOklCzE+yxHls4=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					Fk8aSO/3i/iGDnZ5sr2dMaKssW0=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					01wvhn6W5MVL2pPIW5lQyU4byvU=
					</data>
					<key>DSP3-DownloadDigest</key>
					<data>
					KcP+9ArDKqCO6P1oy3hAWWEmpOw=
					</data>
					<key>DSP3-HashTableDigest</key>
					<data>
					RG5KSFNkgSIU6GVVvkS9m249l3o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-3.04.25.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>
					d6DYaX3ORl/Oh7QfZhLkdptwMTk=
					</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>
					bAAAAAAQAgCBJ5pnv2Sl7WO1DHIb+RPPV4Aw
					xw==
					</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559202087</integer>
					<key>SBL1-PartialDigest</key>
					<data>
					VAAAAEC9AQAP5k2YG3GyQfoiESdFJUi9Biqk
					/g==
					</data>
					<key>SBL1-Version</key>
					<integer>-1560250663</integer>
					<key>SBL2-DownloadDigest</key>
					<data>
					SJNC9UO5IXuuOy0U4FxxwKt3q+M=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					1wTC4UP4GXQtaTDehICBZ06Cb/Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/glyphcharging.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					YEV59tRolYKmxDk/cgy1tqzd+ls=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/batterycharging0.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					LWSgDhZELgXKsI8DV/FAL2ayOTA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/batterycharging1.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					9y4EItRNndTLCED2GJ0VZPuWbTM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/batteryfull.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					lQOPivgEAAzRnK41QF4BwDNQfdU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/batterylow0.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Nkb28AEio+pq++aR/V9eGBn0GBE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/batterylow1.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					cnhb/L2mjQznm8g2Ta+7mnHvWsk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/glyphplugin.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Zstlq+QKdG73IcphX6xY6HB6kZU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/DeviceTree.p107ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					ho9v9h4pEtNT2PhgO3ZgQBmZnJo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p107</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADg0eADSuvuwvW8TXCthP62toBs94TX7
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					+xZ5CAPqTSlyZaJjdxKWwEXt8C8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/LLB.p107ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgAFTSQcVkz4NzyPSwLYYkW04Kjj
					8A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0837-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					T4SJsVMhAFzYiMXa6ODiAti9h1I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/recoverymode~ipad.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Zstlq+QKdG73IcphX6xY6HB6kZU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/DeviceTree.p107ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					ho9v9h4pEtNT2PhgO3ZgQBmZnJo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p107</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADg0eADSuvuwvW8TXCthP62toBs94TX7
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					UDiZGBTDiZAGDTDzv9st7UP05cY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					bF5/1sXgjS0ZpYt4xN8vQ2ZCqvM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-1466-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhAlwATSUClQ1QFq9cnx4FNqWvkgOf9
					HA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					HY/g4pd1KrkNDypmCchPjHFi9PU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.p107ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					uMp0k+fPgNEYrPk7/cW80X+Xtfg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.p107ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQBKLpe/mNKdegfqwOVfBlKvlBo/
					zA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					KaHdFmdh4jIahVAQFtij8nW60Fo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p107ap.production/iBoot.p107ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			2XmQ6NoJqJCJh3tn6q/l8k0KicI=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B147</string>
	<key>ProductVersion</key>
	<string>6.1.2</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>234916162</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>234916162</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad2,7</string>
	</array>
</dict>
</plist>
