<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x0A</string>
			<key>ApChipID</key>
			<string>0x8942</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B141</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>p105ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1077</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					KztcSbTfenzeE7tIS3vNVwNbJEs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					DeuPAv5l83yaNv4i64+EGOYEots=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/glyphcharging.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					6aT8oaq2gJWGJrt5AHxfUY0LXT0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/batterycharging0.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					sB1MEfhUN5Vi3yqgYXAookA5fmc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/batterycharging1.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					DhE+NaX+kfL1YvwRa6Ln0pbFPXk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/batteryfull.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					KjAUbqqWC4MEolSL/ECg/ObeDkk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/batterylow0.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					+2F5HhcxnB9Tfjuh7kGWTBEwUoE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/batterylow1.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					mhE5lqprJ0DJcQZRsUAjPPSFobw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/glyphplugin.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					M80PZ6FB2e1OSFlxUfO7z7/62yk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					TQFV4xyjTBhxnqqaRCSy6agzkNk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p105</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADj1dgCipZcOpwx1rYwZq4cVllVHsxQR
					EA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					LY8OXEA/9+OQPsxawGPqckqvzIM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/LLB.p105ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgCrxOVQKCo9nCQ6evE3StYd1ALB
					vA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5739-122.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					t/n7RK7r+AAYthw/ZKOR+WSAdZk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/recoverymode~ipad.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					M80PZ6FB2e1OSFlxUfO7z7/62yk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					TQFV4xyjTBhxnqqaRCSy6agzkNk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p105</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADj1dgCipZcOpwx1rYwZq4cVllVHsxQR
					EA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					KztcSbTfenzeE7tIS3vNVwNbJEs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					08FU5NxwzY9WwhGEooyykm3e7zo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0150-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhQlwA5xIsKs623FpF8lCcFo11E9eEw
					Ig==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					g5RAkdKkA7ZL9UpswwcKut64jDs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					qTAbcdmdWF5RIzLMlJJ7B48etY8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQAhRgUoUJl5/6JM+pqiE6IiJ+jC
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					mygGMfanHDDDQwmjxMBfoJKdVUo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/iBoot.p105ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			hCAGtCiyd0/RzbGKHbROk9/sN94=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x0A</string>
			<key>ApChipID</key>
			<string>0x8942</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B141</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>p105ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1077</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					KztcSbTfenzeE7tIS3vNVwNbJEs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					DeuPAv5l83yaNv4i64+EGOYEots=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/glyphcharging.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					6aT8oaq2gJWGJrt5AHxfUY0LXT0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/batterycharging0.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					sB1MEfhUN5Vi3yqgYXAookA5fmc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/batterycharging1.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					DhE+NaX+kfL1YvwRa6Ln0pbFPXk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/batteryfull.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					KjAUbqqWC4MEolSL/ECg/ObeDkk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/batterylow0.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					+2F5HhcxnB9Tfjuh7kGWTBEwUoE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/batterylow1.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					mhE5lqprJ0DJcQZRsUAjPPSFobw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/glyphplugin.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					M80PZ6FB2e1OSFlxUfO7z7/62yk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					TQFV4xyjTBhxnqqaRCSy6agzkNk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p105</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADj1dgCipZcOpwx1rYwZq4cVllVHsxQR
					EA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					LY8OXEA/9+OQPsxawGPqckqvzIM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/LLB.p105ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgCrxOVQKCo9nCQ6evE3StYd1ALB
					vA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5739-122.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					t/n7RK7r+AAYthw/ZKOR+WSAdZk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/recoverymode~ipad.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					M80PZ6FB2e1OSFlxUfO7z7/62yk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/DeviceTree.p105ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					TQFV4xyjTBhxnqqaRCSy6agzkNk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p105</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADj1dgCipZcOpwx1rYwZq4cVllVHsxQR
					EA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					KztcSbTfenzeE7tIS3vNVwNbJEs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					zLjZ4CsSuSrwOqape2C+gdZWyZ4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0155-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhAlwAvMGloXbbgQOiEZiRhYH58TOPS
					qA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					g5RAkdKkA7ZL9UpswwcKut64jDs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.p105ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					qTAbcdmdWF5RIzLMlJJ7B48etY8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.p105ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQAhRgUoUJl5/6JM+pqiE6IiJ+jC
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					mygGMfanHDDDQwmjxMBfoJKdVUo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p105ap.production/iBoot.p105ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			5n5Ak+Q4jU87GCzqCJtAOdJqg2Q=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B141</string>
	<key>ProductVersion</key>
	<string>6.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>167807298</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>167807298</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad2,5</string>
	</array>
</dict>
</plist>
