<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8942</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B206</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>k93aap</string>
				<key>MinimumSystemPartition</key>
				<integer>873</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>vQZHAD3KxlKnLF19mBlVx+Fx9/o=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAAAIQDqPOct3+1gIGNzjIjZqojSiUQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>CTujrW2UxjW47URBuwxTepYGkgo=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/glyphcharging.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgPAAD8fI0PPngsyBufSsjEI8M8w0yJ+Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>Xu6/7Cm+/4j60XlFuEI8ha/gqMQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging0.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAABstfVmYdQTGiS+VpBxw0XrksgGTA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>XK7g577gd/tMz7USg+pmoLEfesk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging1.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPg1AAC0ia/XWGrqdrmmj72eMqheDXhr8A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>0dZF7a+alWyo1W1dF2cIfaSWzvw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/batteryfull.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjGAwDtkN299HGdhJVuWbK7CcclOar++Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>YQiXtoanFn/IWTgdbSoFlaotOzU=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/batterylow0.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADixAADuC1rRceTfpSRktxsy0ms4QxT1ZQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>m9yeD2/JCPGvJ1DiV4DtOmWSd9c=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/batterylow1.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg8AACMLAxa/ybzMP8DOpMpjOU5uDQaYQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>/S+wsWfHnGVMz/ulCW+gYv9ZVTk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/glyphplugin.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAAB2ZWubtsEpiiqO9sgmZV/YOnSNcg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>FHitB0AztIjzRCP1tSINQqO1lns=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjmAADS5cQrsV8mkClShzWoPJHi51bd8w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>T+VOpj/O4u+xeXd8MMoRhtB/SqU=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k93a</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADhYYgAnhWucqdPsSkE1GrW19vRN6YYg9Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>b6d4nVUC9FtRnk/aFAaBpaybV7Q=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/LLB.k93aap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgBAgCGPqEWfvdVJ7zo8X+Bn+PStXwb9w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4294-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>Ucp4twSJC/3NWkHF3XQbWCbd0TM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/recoverymode~ipad.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgAAQAmaTglFaNgKA/ElyYJqhKKjrYAAQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>FHitB0AztIjzRCP1tSINQqO1lns=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjmAADS5cQrsV8mkClShzWoPJHi51bd8w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>T+VOpj/O4u+xeXd8MMoRhtB/SqU=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k93a</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADhYYgAnhWucqdPsSkE1GrW19vRN6YYg9Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>vQZHAD3KxlKnLF19mBlVx+Fx9/o=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAAAIQDqPOct3+1gIGNzjIjZqojSiUQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>FCbGVp8bQVBcU03WEzHRTRy19Sg=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4367-016.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiQBgFblHB84HlQjTbrfr7OEO1eYT0wow==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>92DpZZ4/P7RMVM/hVUOce4+WnPE=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k93aap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALihAwAoYOR+FEQKNGWe8WhZH6xCxZL52g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>Zrphms09ps1MqvTwPYTMeDuD3k4=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k93aap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgRAQBVpdgxp0wdqGtSPiyZw9K5UT64WQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>n1+mLONd0oGpsgKQtIxURQreR1g=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/iBoot.k93aap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALihAwAadmCg2VH5tboRHC23nLV1rAYQKQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>2z48KfWImJoXePP6lUjwRLl52zo=</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8942</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B206</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>k93aap</string>
				<key>MinimumSystemPartition</key>
				<integer>873</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>vQZHAD3KxlKnLF19mBlVx+Fx9/o=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAAAIQDqPOct3+1gIGNzjIjZqojSiUQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>CTujrW2UxjW47URBuwxTepYGkgo=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/glyphcharging.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgPAAD8fI0PPngsyBufSsjEI8M8w0yJ+Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>Xu6/7Cm+/4j60XlFuEI8ha/gqMQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging0.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAABstfVmYdQTGiS+VpBxw0XrksgGTA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>XK7g577gd/tMz7USg+pmoLEfesk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging1.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPg1AAC0ia/XWGrqdrmmj72eMqheDXhr8A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>0dZF7a+alWyo1W1dF2cIfaSWzvw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/batteryfull.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjGAwDtkN299HGdhJVuWbK7CcclOar++Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>YQiXtoanFn/IWTgdbSoFlaotOzU=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/batterylow0.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADixAADuC1rRceTfpSRktxsy0ms4QxT1ZQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>m9yeD2/JCPGvJ1DiV4DtOmWSd9c=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/batterylow1.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg8AACMLAxa/ybzMP8DOpMpjOU5uDQaYQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>/S+wsWfHnGVMz/ulCW+gYv9ZVTk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/glyphplugin.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAAB2ZWubtsEpiiqO9sgmZV/YOnSNcg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>FHitB0AztIjzRCP1tSINQqO1lns=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjmAADS5cQrsV8mkClShzWoPJHi51bd8w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>T+VOpj/O4u+xeXd8MMoRhtB/SqU=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k93a</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADhYYgAnhWucqdPsSkE1GrW19vRN6YYg9Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>b6d4nVUC9FtRnk/aFAaBpaybV7Q=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/LLB.k93aap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgBAgCGPqEWfvdVJ7zo8X+Bn+PStXwb9w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4294-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>Ucp4twSJC/3NWkHF3XQbWCbd0TM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/recoverymode~ipad.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgAAQAmaTglFaNgKA/ElyYJqhKKjrYAAQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>FHitB0AztIjzRCP1tSINQqO1lns=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjmAADS5cQrsV8mkClShzWoPJHi51bd8w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>T+VOpj/O4u+xeXd8MMoRhtB/SqU=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k93a</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADhYYgAnhWucqdPsSkE1GrW19vRN6YYg9Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>vQZHAD3KxlKnLF19mBlVx+Fx9/o=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAAAIQDqPOct3+1gIGNzjIjZqojSiUQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>AvuRF5ZzbWnfii5Q31WQpRfSztQ=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4306-023.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPigBwFXbiMnoC+WXPNCiVaZAmR0vqvFgw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>92DpZZ4/P7RMVM/hVUOce4+WnPE=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k93aap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALihAwAoYOR+FEQKNGWe8WhZH6xCxZL52g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>Zrphms09ps1MqvTwPYTMeDuD3k4=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k93aap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgRAQBVpdgxp0wdqGtSPiyZw9K5UT64WQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>n1+mLONd0oGpsgKQtIxURQreR1g=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k93aap.production/iBoot.k93aap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALihAwAadmCg2VH5tboRHC23nLV1rAYQKQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>F6RZqwKJkw2cqJ14eF+KCwx66cc=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9B206</string>
	<key>ProductVersion</key>
	<string>5.1.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>100698434</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>100698434</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad2,4</string>
	</array>
</dict>
</plist>