<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8955</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>rqXM4UNmjQ77TOHyyUyWamSWxqo=</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>vTmCipu1KLpRRvXgaHG2TNu85ak=</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>7MQEUyvzG4gjjZc7KsNNAVTS8g4=</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10A8426</string>
				<key>BuildTrain</key>
				<string>SundanceTaos</string>
				<key>DeviceClass</key>
				<string>p102ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1477</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>lhK9TyJQgOvE41dqzsrwE0zVjJE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/applelogo@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>4hqW2Dh6BMbANQfR3Xj/LGHKsTk=</data>
					<key>APPS-HashTableDigest</key>
					<data>Cn6BnWHoYfE8KkYCStQK3mvdUr4=</data>
					<key>DSP1-DownloadDigest</key>
					<data>FNHyPEGHS///CBOha0Z2y2xWA1k=</data>
					<key>DSP1-HashTableDigest</key>
					<data>oqEJCNKP7bZDgD+X6mFvL3PbCFQ=</data>
					<key>DSP2-DownloadDigest</key>
					<data>b/dOgRVCurjbafbrDtLh46MBCu0=</data>
					<key>DSP2-HashTableDigest</key>
					<data>RA0gOikzg+aJ6MvcFAvNUg13bus=</data>
					<key>DSP3-DownloadDigest</key>
					<data>KcP+9ArDKqCO6P1oy3hAWWEmpOw=</data>
					<key>DSP3-HashTableDigest</key>
					<data>RG5KSFNkgSIU6GVVvkS9m249l3o=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-2.03.09.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>w1J8EhSszRjdwzZ4xwoJpUpg+BE=</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>bAAAAAAQAgCc1ZpxNxLkR4pqEmasm1nNtO1G+A==</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559212203</integer>
					<key>SBL1-PartialDigest</key>
					<data>VAAAAEC9AQCUchXgbysQcFSG47gr2HqCEsLwPA==</data>
					<key>SBL1-Version</key>
					<integer>-1560260779</integer>
					<key>SBL2-DownloadDigest</key>
					<data>Jt4sOWV0v14uAheoPZsPX6yf8Iw=</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>9DKOA3Hv+aZs8OR0zXiudHvZZqM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/glyphcharging@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>77Q7WLRROLsJjogpCEfoc7zf3l4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/batterycharging0@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>oa3FoqQ41hzpdzUrsMgeieFVq6w=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/batterycharging1@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>hcbybqiWSpDV1PGwT6SOEOq58v4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/batteryfull@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>HIo4Th9M80kKtQCu4Yoc6ROsQsg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/batterylow0@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>NYHGo1aZAJUyFUVdWobtfAkfinQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/batterylow1@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>ZTXoRb8mj2EmigkecaRwpLVHHA4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/glyphplugin@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>TbwHiY3MScBAOBGU7A81ZkFFjMQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/DeviceTree.p102ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>q/Qr2MYHgZq9y9tiJ1iKalUmCvA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p102</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhpeADgsMijG1/HDjZ2uuOwl0nwxS4YwQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~2</string>
					<key>Digest</key>
					<data>rxPZ2xUYivDk21tJCuTn65Pp23Y=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/LLB.p102ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhBAgA1i0WthpjB3FK3JoXFQHkfpQZUcw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4580-135.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>bmfligUb00nXW2Kj5mlVKDnsQfk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/recoverymode@2x~ipad.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>TbwHiY3MScBAOBGU7A81ZkFFjMQ=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/DeviceTree.p102ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>q/Qr2MYHgZq9y9tiJ1iKalUmCvA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p102</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhpeADgsMijG1/HDjZ2uuOwl0nwxS4YwQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>lhK9TyJQgOvE41dqzsrwE0zVjJE=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/applelogo@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>pfkB9W5FT9vy4Ifhmt0Y2e/FfQw=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-7650-013.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjwkwDfM226wP5XvimPYnkbSGNtEeEaJQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~2</string>
					<key>Digest</key>
					<data>1pA9Ny+AbYsAAGsnCpv6/rQePyI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.p102ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~2</string>
					<key>Digest</key>
					<data>LT0OtXUAAMUWmIIHKnB1zn4RnXI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.p102ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHghAQAJrHlLdqCcqaJDN7z3KeYAMg7I1Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>t1VNlBjdiuzH7xL6U00H6yuG6K0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/iBoot.p102ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>hAp9hBl4QSiN7gzOKqmTSCE1lzU=</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8955</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>rqXM4UNmjQ77TOHyyUyWamSWxqo=</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>vTmCipu1KLpRRvXgaHG2TNu85ak=</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>7MQEUyvzG4gjjZc7KsNNAVTS8g4=</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10A8426</string>
				<key>BuildTrain</key>
				<string>SundanceTaos</string>
				<key>DeviceClass</key>
				<string>p102ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1477</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>lhK9TyJQgOvE41dqzsrwE0zVjJE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/applelogo@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>4hqW2Dh6BMbANQfR3Xj/LGHKsTk=</data>
					<key>APPS-HashTableDigest</key>
					<data>Cn6BnWHoYfE8KkYCStQK3mvdUr4=</data>
					<key>DSP1-DownloadDigest</key>
					<data>FNHyPEGHS///CBOha0Z2y2xWA1k=</data>
					<key>DSP1-HashTableDigest</key>
					<data>oqEJCNKP7bZDgD+X6mFvL3PbCFQ=</data>
					<key>DSP2-DownloadDigest</key>
					<data>b/dOgRVCurjbafbrDtLh46MBCu0=</data>
					<key>DSP2-HashTableDigest</key>
					<data>RA0gOikzg+aJ6MvcFAvNUg13bus=</data>
					<key>DSP3-DownloadDigest</key>
					<data>KcP+9ArDKqCO6P1oy3hAWWEmpOw=</data>
					<key>DSP3-HashTableDigest</key>
					<data>RG5KSFNkgSIU6GVVvkS9m249l3o=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-2.03.09.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>w1J8EhSszRjdwzZ4xwoJpUpg+BE=</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>bAAAAAAQAgCc1ZpxNxLkR4pqEmasm1nNtO1G+A==</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559212203</integer>
					<key>SBL1-PartialDigest</key>
					<data>VAAAAEC9AQCUchXgbysQcFSG47gr2HqCEsLwPA==</data>
					<key>SBL1-Version</key>
					<integer>-1560260779</integer>
					<key>SBL2-DownloadDigest</key>
					<data>Jt4sOWV0v14uAheoPZsPX6yf8Iw=</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>9DKOA3Hv+aZs8OR0zXiudHvZZqM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/glyphcharging@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>77Q7WLRROLsJjogpCEfoc7zf3l4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/batterycharging0@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>oa3FoqQ41hzpdzUrsMgeieFVq6w=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/batterycharging1@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>hcbybqiWSpDV1PGwT6SOEOq58v4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/batteryfull@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>HIo4Th9M80kKtQCu4Yoc6ROsQsg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/batterylow0@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>NYHGo1aZAJUyFUVdWobtfAkfinQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/batterylow1@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>ZTXoRb8mj2EmigkecaRwpLVHHA4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/glyphplugin@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>TbwHiY3MScBAOBGU7A81ZkFFjMQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/DeviceTree.p102ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>q/Qr2MYHgZq9y9tiJ1iKalUmCvA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p102</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhpeADgsMijG1/HDjZ2uuOwl0nwxS4YwQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~2</string>
					<key>Digest</key>
					<data>rxPZ2xUYivDk21tJCuTn65Pp23Y=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/LLB.p102ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhBAgA1i0WthpjB3FK3JoXFQHkfpQZUcw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4580-135.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>bmfligUb00nXW2Kj5mlVKDnsQfk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/recoverymode@2x~ipad.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>TbwHiY3MScBAOBGU7A81ZkFFjMQ=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/DeviceTree.p102ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>q/Qr2MYHgZq9y9tiJ1iKalUmCvA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.p102</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhpeADgsMijG1/HDjZ2uuOwl0nwxS4YwQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>lhK9TyJQgOvE41dqzsrwE0zVjJE=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/applelogo@2x.s5l8955x.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>49fqMgstc42dptPrAeDl5YMLaoI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-7560-013.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjwkwBfzW32x9SakYWg4k/3uVQqgUUDKA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~2</string>
					<key>Digest</key>
					<data>1pA9Ny+AbYsAAGsnCpv6/rQePyI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.p102ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~2</string>
					<key>Digest</key>
					<data>LT0OtXUAAMUWmIIHKnB1zn4RnXI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.p102ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHghAQAJrHlLdqCcqaJDN7z3KeYAMg7I1Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>t1VNlBjdiuzH7xL6U00H6yuG6K0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.p102ap.production/iBoot.p102ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>scb47rn+qJI4w1B2AM8+zkM6r5o=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10A8426</string>
	<key>ProductVersion</key>
	<string>6.0.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589589</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589589</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad3,5</string>
	</array>
</dict>
</plist>