<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8945</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>rqXM4UNmjQ77TOHyyUyWamSWxqo=</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>vTmCipu1KLpRRvXgaHG2TNu85ak=</data>
			<key>BbChipID</key>
			<string>0x004600E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>7MQEUyvzG4gjjZc7KsNNAVTS8g4=</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B206</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>j2ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1296</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>ZiU57bHxP59U1qDmGLXHGtqcPHM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAACMfBNByTCOn7EzD7FOgPyoeydyFA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>7sKi4NiJVvGIKPtJWShsQWtuuXo=</data>
					<key>AMSS-HashTableDigest</key>
					<data>VJ8opxE+XNyT+xj0hYCFXo0N5oM=</data>
					<key>DBL-PartialDigest</key>
					<data>
						cAAAAMCdAABzujRH7NwncMYR0fhZRo5OwjIkssDFAAAfpNrUUbRhmneIGfsK
						c74Vi5ZJhg==
					</data>
					<key>DBL-Version</key>
					<integer>-1592776933</integer>
					<key>DSP1-DownloadDigest</key>
					<data>8iSbinRMo8kw9QVK4459BuV8O34=</data>
					<key>DSP1-HashTableDigest</key>
					<data>wFn0kjQPvbdTp34/oUpArgt5I4c=</data>
					<key>DSP2-DownloadDigest</key>
					<data>vG0CyEWVgAf9IlfpZdloTug8TzM=</data>
					<key>DSP2-HashTableDigest</key>
					<data>kwq9TW0y556vwhQ9xqwkKVmBLA8=</data>
					<key>ENANDPRG-PartialDigest</key>
					<data>SAAAAMCbAgDC37GrLQqzYGbVD8OWMRrNIVpinQ==</data>
					<key>ENANDPRG-Version</key>
					<integer>-1592776933</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav4-1.0.11.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>+9/tdeTdH9tQsZleNSVXP3KzDcY=</data>
					<key>PartitionTable-Digest</key>
					<data>Cx1L4EFTutR5c4in9zwI/G7P4Qo=</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>WA+QrTjXMmv1N5E/2kJdnyCzjm0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphcharging@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgUAAC6NfaGdTIKt2o1rdh9+i1dj1TeQQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>M6ybN6BY4KyvfZyRmqI7O8c/TU0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging0@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPglAADYtMYkmM1yZ5hbgEyGef/ghFJVIw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>uTm8nRpbFPEipqGmt0Py459cUZ0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging1@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiIAABmeRxmLyLqN/uSl3Xo5DsgZRKYzw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>ONCKEvidNmGI8EG0SqfpxVTt4eY=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batteryfull@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjzCQA9ursSol0+pZzLMxFfPTkz17JdFg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>5xX4MdwYrNrmcx/AP4Akaao8Uz8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow0@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHiSAgCPew7o19iTatIHUOciV92nISNkzA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>LjjaGbvR7jAffMJVXT6G2W+Mlg8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow1@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADiTAAAjv+38sXSrkYo9pfaWZjydcLq53w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>yvdddNtdzXJxSzhQUHKInsNwNJA=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphplugin@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADgTAABr9EVniy5NtyrMfZcF/BRhDQ+D7w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>vJi7CtqDwsJXnIYQ/um3hcua+rM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgHAQDcXQs7gnIBVG3yb8fBvCKoy08UCg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>X09eFfQQAW3+1k5m/xsNEl5AZa8=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiGZwB+lNbmXgUMtA+fC1Qy5XzpAHJYzg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>slWbupwUmKY5b1MN3EBJTatn4SM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/LLB.j2ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgRAgDPO0982LfKONFt8+LL8kIFvmgrhA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4333-007.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>sgW4fbQQA+J/qzQfG3i5E5CxpVg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/recoverymode@2x~ipad.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALhiAwCieRwtbORLDZ8cpQhONcocoxZIzw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>vJi7CtqDwsJXnIYQ/um3hcua+rM=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgHAQDcXQs7gnIBVG3yb8fBvCKoy08UCg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>X09eFfQQAW3+1k5m/xsNEl5AZa8=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiGZwB+lNbmXgUMtA+fC1Qy5XzpAHJYzg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>ZiU57bHxP59U1qDmGLXHGtqcPHM=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAACMfBNByTCOn7EzD7FOgPyoeydyFA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>QMj6nLz9OJLJ9mUzuAjD6BFeF2Y=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4338-024.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiwBwH32sj2JcgbM8gymnEZP14Jb5WYNQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>Gf9bq2nNM2VJ239WaUidhiio/A4=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j2ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjBAwAiXfyKOwuGgZdToVQyrL44rjSU5A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>XpPN4i4Rf1KoZr/LdvoqZL76BFE=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j2ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALghAQCLV6wZlH3h29HB5tCuNwv3961N2g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>4BIk9/pgiHi4hmbuPZ2C3t16uCA=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/iBoot.j2ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjBAwBCwwdW2ZYLihgzAqqBLc+xKNDGIg==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>X67B0kMJkw2pv+wMFjXxIZJiv7I=</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8945</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>rqXM4UNmjQ77TOHyyUyWamSWxqo=</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>vTmCipu1KLpRRvXgaHG2TNu85ak=</data>
			<key>BbChipID</key>
			<string>0x004600E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>7MQEUyvzG4gjjZc7KsNNAVTS8g4=</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B206</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>j2ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1296</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>ZiU57bHxP59U1qDmGLXHGtqcPHM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAACMfBNByTCOn7EzD7FOgPyoeydyFA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>7sKi4NiJVvGIKPtJWShsQWtuuXo=</data>
					<key>AMSS-HashTableDigest</key>
					<data>VJ8opxE+XNyT+xj0hYCFXo0N5oM=</data>
					<key>DBL-PartialDigest</key>
					<data>
						cAAAAMCdAABzujRH7NwncMYR0fhZRo5OwjIkssDFAAAfpNrUUbRhmneIGfsK
						c74Vi5ZJhg==
					</data>
					<key>DBL-Version</key>
					<integer>-1592776933</integer>
					<key>DSP1-DownloadDigest</key>
					<data>8iSbinRMo8kw9QVK4459BuV8O34=</data>
					<key>DSP1-HashTableDigest</key>
					<data>wFn0kjQPvbdTp34/oUpArgt5I4c=</data>
					<key>DSP2-DownloadDigest</key>
					<data>vG0CyEWVgAf9IlfpZdloTug8TzM=</data>
					<key>DSP2-HashTableDigest</key>
					<data>kwq9TW0y556vwhQ9xqwkKVmBLA8=</data>
					<key>ENANDPRG-PartialDigest</key>
					<data>SAAAAMCbAgDC37GrLQqzYGbVD8OWMRrNIVpinQ==</data>
					<key>ENANDPRG-Version</key>
					<integer>-1592776933</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav4-1.0.11.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>+9/tdeTdH9tQsZleNSVXP3KzDcY=</data>
					<key>PartitionTable-Digest</key>
					<data>Cx1L4EFTutR5c4in9zwI/G7P4Qo=</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>WA+QrTjXMmv1N5E/2kJdnyCzjm0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphcharging@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgUAAC6NfaGdTIKt2o1rdh9+i1dj1TeQQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>M6ybN6BY4KyvfZyRmqI7O8c/TU0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging0@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPglAADYtMYkmM1yZ5hbgEyGef/ghFJVIw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>uTm8nRpbFPEipqGmt0Py459cUZ0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterycharging1@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiIAABmeRxmLyLqN/uSl3Xo5DsgZRKYzw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>ONCKEvidNmGI8EG0SqfpxVTt4eY=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batteryfull@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjzCQA9ursSol0+pZzLMxFfPTkz17JdFg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>5xX4MdwYrNrmcx/AP4Akaao8Uz8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow0@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHiSAgCPew7o19iTatIHUOciV92nISNkzA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>LjjaGbvR7jAffMJVXT6G2W+Mlg8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/batterylow1@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADiTAAAjv+38sXSrkYo9pfaWZjydcLq53w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>yvdddNtdzXJxSzhQUHKInsNwNJA=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/glyphplugin@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADgTAABr9EVniy5NtyrMfZcF/BRhDQ+D7w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>vJi7CtqDwsJXnIYQ/um3hcua+rM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgHAQDcXQs7gnIBVG3yb8fBvCKoy08UCg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>X09eFfQQAW3+1k5m/xsNEl5AZa8=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiGZwB+lNbmXgUMtA+fC1Qy5XzpAHJYzg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>slWbupwUmKY5b1MN3EBJTatn4SM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/LLB.j2ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgRAgDPO0982LfKONFt8+LL8kIFvmgrhA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4333-007.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>sgW4fbQQA+J/qzQfG3i5E5CxpVg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/recoverymode@2x~ipad.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALhiAwCieRwtbORLDZ8cpQhONcocoxZIzw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>vJi7CtqDwsJXnIYQ/um3hcua+rM=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/DeviceTree.j2ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgHAQDcXQs7gnIBVG3yb8fBvCKoy08UCg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>X09eFfQQAW3+1k5m/xsNEl5AZa8=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiGZwB+lNbmXgUMtA+fC1Qy5XzpAHJYzg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>ZiU57bHxP59U1qDmGLXHGtqcPHM=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAACMfBNByTCOn7EzD7FOgPyoeydyFA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>SFRF/sw2lPrWCGiDMDmOL7BzK+g=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4334-024.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPigBwHc60HFE8r26D2rAMn+nWiVpuH/ug==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>Gf9bq2nNM2VJ239WaUidhiio/A4=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j2ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjBAwAiXfyKOwuGgZdToVQyrL44rjSU5A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>XpPN4i4Rf1KoZr/LdvoqZL76BFE=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j2ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALghAQCLV6wZlH3h29HB5tCuNwv3961N2g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>4BIk9/pgiHi4hmbuPZ2C3t16uCA=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2ap.production/iBoot.j2ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjBAwBCwwdW2ZYLihgzAqqBLc+xKNDGIg==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>x5je9FGgG1U9giom9RswQ73uro4=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9B206</string>
	<key>ProductVersion</key>
	<string>5.1.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589573</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589573</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad3,2</string>
	</array>
</dict>
</plist>