<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B141</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>k94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1088</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					XHZFFsoFZwcxe2UBH0nMFM5l6BY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.12.05_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					onEtisvUtT4Fk9FLF42izS01sKI=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f7468</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					bsAUrk3zgXJUNr4BK54C5/NV0Ms=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					lVYKXXcxzz9rT8qQSLoGPVFl1fk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					oHy7F7OK6txv9Lqb6LcRjaVhONE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					gpfPXnUmM1UxKOJu+ruyr01We6g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					iFajs8Yh9Q+mMsVfgmdO3n2ComY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					rePy6QiGUp+oANAjbu8ADuT+5Qo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					2aNRwtOn7N6SmwZ+xOFd3yoHNgA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					f51nA0qigUXShKSJJRDEfp57ArQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					qvLU5WEX8vVboh338LRtl79ZL4c=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					myqMcWeqnZcdyTS7S1RS5FHuWMM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjweADY48k6F+MuU0/Mxvkh9AQcfuP0
					JQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					t/C2q89bBYqSjMQ2w0d7K33VsZs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/LLB.k94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgD/56tO/sYpKIny22o3Dr6WvvkR
					AA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5769-122.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					Gn1YG5ZFxipMxzbHAP/8xRpQ6T4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/recoverymode~ipad.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					qvLU5WEX8vVboh338LRtl79ZL4c=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					myqMcWeqnZcdyTS7S1RS5FHuWMM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjweADY48k6F+MuU0/Mxvkh9AQcfuP0
					JQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					XHZFFsoFZwcxe2UBH0nMFM5l6BY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					QHLcHdpZmQqq+mWlW0ZYEZL5rSw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0156-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhQlwDvjFEfd9EnTsOHkmTyX7JTtQKh
					/A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					pnbfGHgJMPX2e2yrx05ox5+Bdx8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhhBABXBDhgPScMHZcXxbRMxyNdZjr5
					Ag==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					KZH3539GJcofqXl/JISKeXrvx7k=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQAfSvBhMyv8fi+xAG/2S1lvlDe2
					HQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					68VlwzI1EX4ru9vXoZT0ivAB+2Y=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/iBoot.k94ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			8ypZMgMxyXus09CpR0vU7eUno2s=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B141</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>k94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1088</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					XHZFFsoFZwcxe2UBH0nMFM5l6BY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.12.05_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					onEtisvUtT4Fk9FLF42izS01sKI=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f7468</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					bsAUrk3zgXJUNr4BK54C5/NV0Ms=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					lVYKXXcxzz9rT8qQSLoGPVFl1fk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					oHy7F7OK6txv9Lqb6LcRjaVhONE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					gpfPXnUmM1UxKOJu+ruyr01We6g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					iFajs8Yh9Q+mMsVfgmdO3n2ComY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					rePy6QiGUp+oANAjbu8ADuT+5Qo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					2aNRwtOn7N6SmwZ+xOFd3yoHNgA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					f51nA0qigUXShKSJJRDEfp57ArQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					qvLU5WEX8vVboh338LRtl79ZL4c=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					myqMcWeqnZcdyTS7S1RS5FHuWMM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjweADY48k6F+MuU0/Mxvkh9AQcfuP0
					JQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					t/C2q89bBYqSjMQ2w0d7K33VsZs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/LLB.k94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgD/56tO/sYpKIny22o3Dr6WvvkR
					AA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5769-122.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					Gn1YG5ZFxipMxzbHAP/8xRpQ6T4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/recoverymode~ipad.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					qvLU5WEX8vVboh338LRtl79ZL4c=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					myqMcWeqnZcdyTS7S1RS5FHuWMM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjweADY48k6F+MuU0/Mxvkh9AQcfuP0
					JQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					XHZFFsoFZwcxe2UBH0nMFM5l6BY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					eOAkUMC7Cq/GW1GkzP2x80cV/5E=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0133-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhAlwCk/iPJQBYr8aEBoGbiLrh+K4Ao
					Kw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					pnbfGHgJMPX2e2yrx05ox5+Bdx8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhhBABXBDhgPScMHZcXxbRMxyNdZjr5
					Ag==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					KZH3539GJcofqXl/JISKeXrvx7k=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQAfSvBhMyv8fi+xAG/2S1lvlDe2
					HQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					68VlwzI1EX4ru9vXoZT0ivAB+2Y=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/iBoot.k94ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			Q8ZNb8kP0dIGzqGecC1pc+i2A7E=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B141</string>
	<key>ProductVersion</key>
	<string>6.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>100698432</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>100698432</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad2,2</string>
	</array>
</dict>
</plist>
