<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8945</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B206</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>j1ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1287</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>ZiU57bHxP59U1qDmGLXHGtqcPHM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAACMfBNByTCOn7EzD7FOgPyoeydyFA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>WA+QrTjXMmv1N5E/2kJdnyCzjm0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/glyphcharging@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgUAAC6NfaGdTIKt2o1rdh9+i1dj1TeQQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>M6ybN6BY4KyvfZyRmqI7O8c/TU0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/batterycharging0@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPglAADYtMYkmM1yZ5hbgEyGef/ghFJVIw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>uTm8nRpbFPEipqGmt0Py459cUZ0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/batterycharging1@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiIAABmeRxmLyLqN/uSl3Xo5DsgZRKYzw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>ONCKEvidNmGI8EG0SqfpxVTt4eY=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/batteryfull@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjzCQA9ursSol0+pZzLMxFfPTkz17JdFg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>5xX4MdwYrNrmcx/AP4Akaao8Uz8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/batterylow0@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHiSAgCPew7o19iTatIHUOciV92nISNkzA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>LjjaGbvR7jAffMJVXT6G2W+Mlg8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/batterylow1@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADiTAAAjv+38sXSrkYo9pfaWZjydcLq53w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>yvdddNtdzXJxSzhQUHKInsNwNJA=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/glyphplugin@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADgTAABr9EVniy5NtyrMfZcF/BRhDQ+D7w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>dislMvbSJWh8FpZGh4HxWM9n/dI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/DeviceTree.j1ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPj9AAB4qKl5Vm3McM5Ki/c+Gl/UiXEZbg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>BC8PXmaXqtoBEnkSECB2zIPpluI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j1</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHh7ZgA+dfLRhmcVrSoOqQr8o/v3xjquKQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>BIcQi/zLdnRupVEivTlynIdJGbM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/LLB.j1ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgRAgBPmX1nmzRY63iVmBQL4b3nTN95Xg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4332-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>sgW4fbQQA+J/qzQfG3i5E5CxpVg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/recoverymode@2x~ipad.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALhiAwCieRwtbORLDZ8cpQhONcocoxZIzw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>dislMvbSJWh8FpZGh4HxWM9n/dI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/DeviceTree.j1ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPj9AAB4qKl5Vm3McM5Ki/c+Gl/UiXEZbg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>BC8PXmaXqtoBEnkSECB2zIPpluI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j1</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHh7ZgA+dfLRhmcVrSoOqQr8o/v3xjquKQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>ZiU57bHxP59U1qDmGLXHGtqcPHM=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAACMfBNByTCOn7EzD7FOgPyoeydyFA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>gTeXfd7njbBMRBDTmmyAq5lIoC0=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4338-024.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiwBwGvFegReWQ/0QcOEyeOiCCU6hivEA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>IRQcPkFQsQLs0pF0qaW7ay3kM90=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j1ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjBAwDbUu89GSHbwMbmtattRZlqvdgt4Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>Jr080oUndtGx7tYDGtGlRbvbdtk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j1ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALghAQAzVbDJQp8CXCtBCIZgsvPMcww/sQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>/5z3GYZUIBHNWEEzQUlIBM9B7A4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/iBoot.j1ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjBAwDUgCKn66EgjmGTskv9AF98i2vzEw==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>v0pR4RB2dbLSzBiocjWrcdF/XZM=</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8945</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B206</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>j1ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1287</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>ZiU57bHxP59U1qDmGLXHGtqcPHM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAACMfBNByTCOn7EzD7FOgPyoeydyFA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>WA+QrTjXMmv1N5E/2kJdnyCzjm0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/glyphcharging@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgUAAC6NfaGdTIKt2o1rdh9+i1dj1TeQQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>M6ybN6BY4KyvfZyRmqI7O8c/TU0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/batterycharging0@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPglAADYtMYkmM1yZ5hbgEyGef/ghFJVIw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>uTm8nRpbFPEipqGmt0Py459cUZ0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/batterycharging1@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiIAABmeRxmLyLqN/uSl3Xo5DsgZRKYzw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>ONCKEvidNmGI8EG0SqfpxVTt4eY=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/batteryfull@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjzCQA9ursSol0+pZzLMxFfPTkz17JdFg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>5xX4MdwYrNrmcx/AP4Akaao8Uz8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/batterylow0@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHiSAgCPew7o19iTatIHUOciV92nISNkzA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>LjjaGbvR7jAffMJVXT6G2W+Mlg8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/batterylow1@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADiTAAAjv+38sXSrkYo9pfaWZjydcLq53w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>yvdddNtdzXJxSzhQUHKInsNwNJA=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/glyphplugin@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADgTAABr9EVniy5NtyrMfZcF/BRhDQ+D7w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>dislMvbSJWh8FpZGh4HxWM9n/dI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/DeviceTree.j1ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPj9AAB4qKl5Vm3McM5Ki/c+Gl/UiXEZbg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>BC8PXmaXqtoBEnkSECB2zIPpluI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j1</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHh7ZgA+dfLRhmcVrSoOqQr8o/v3xjquKQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>BIcQi/zLdnRupVEivTlynIdJGbM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/LLB.j1ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgRAgBPmX1nmzRY63iVmBQL4b3nTN95Xg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4332-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>sgW4fbQQA+J/qzQfG3i5E5CxpVg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/recoverymode@2x~ipad.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALhiAwCieRwtbORLDZ8cpQhONcocoxZIzw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>dislMvbSJWh8FpZGh4HxWM9n/dI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/DeviceTree.j1ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPj9AAB4qKl5Vm3McM5Ki/c+Gl/UiXEZbg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>BC8PXmaXqtoBEnkSECB2zIPpluI=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j1</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHh7ZgA+dfLRhmcVrSoOqQr8o/v3xjquKQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>ZiU57bHxP59U1qDmGLXHGtqcPHM=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAACMfBNByTCOn7EzD7FOgPyoeydyFA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>D4U6acM/joYzdrH05gGE3XroeNM=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4334-024.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPigBwFUXnfGamXRSOrlWYwTeWp5/thqDg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>IRQcPkFQsQLs0pF0qaW7ay3kM90=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j1ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjBAwDbUu89GSHbwMbmtattRZlqvdgt4Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>Jr080oUndtGx7tYDGtGlRbvbdtk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j1ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALghAQAzVbDJQp8CXCtBCIZgsvPMcww/sQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>/5z3GYZUIBHNWEEzQUlIBM9B7A4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j1ap.production/iBoot.j1ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjBAwDUgCKn66EgjmGTskv9AF98i2vzEw==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>xEf43XdxNyLI1q+hXzJvarw1suE=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9B206</string>
	<key>ProductVersion</key>
	<string>5.1.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35141</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35141</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad3,1</string>
	</array>
</dict>
</plist>