<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B176</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>k94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>896</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					3elQs7rnkTjxMLNFrf2BTXMW4fk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3Ks
					lA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.12.01_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					DDgD3jQvuTNaRw21RwYk6p8f/n4=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f7358</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					pkgZiB2bWZyeiNRLRqH59NBnagE=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					z+Fa9FQq11pUnrehpT8o++0QxQ8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABqEPpbgxX85tix6twGHNW991fG
					rw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					corhTKxIpBMziWHrpwXysaydOik=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACed/z65nWhuJLm3FAHjhzIiV30
					GA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					buIQO3ZI66nLknqsdrr1usungEE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACVjnORWptUc0xaL5RjWhPtmpAY
					Gw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					AbYpAei3QcSsZnPCQNPyBhQ2qnw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjGAwAKprziP8XD8cI4dyYRfkIdT/pz
					Tg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					NZVrgaOGwcmYN2uLx0mviQtq5A0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAACyNxIU7tANbEKqC7kWi9nj9kFG
					0Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					NGRAn4CZ1QzYS04GB/1+77uDuCE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALg8AAAdoaGLiV7kxPisemy+vQhYwCgx
					yQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					0ajVWH02woTc7F6YXqLBrL7kun4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAABN04Kt6MKGl52uvzEyTqiyU+4v
					Cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					T/Vn+m73vhmOZi3cGzA4GapnfzQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgFAQAwukX5uxhOjBOQG+r/xXDxIMyP
					ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					I+CBmJ7FxBhkoNYKC7SmFI4fOLg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjQZQAABP3R7gYXSApWbzcfOlCzxfyj
					fw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					EOmyCJCn7eF8BqwpW4AF2Fz1ia0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/LLB.k94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgBAgAgtVXOt8rVuOWgheZKm2ll4IRc
					5A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1770-169.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					AMlV6NjW2wJs+TFepvUz69JmiMw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/recoverymode~ipad.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgAAQDFoKNdSaMJUIU6jWHfcpmtxwpU
					kg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					T/Vn+m73vhmOZi3cGzA4GapnfzQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgFAQAwukX5uxhOjBOQG+r/xXDxIMyP
					ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					I+CBmJ7FxBhkoNYKC7SmFI4fOLg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjQZQAABP3R7gYXSApWbzcfOlCzxfyj
					fw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					3elQs7rnkTjxMLNFrf2BTXMW4fk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3Ks
					lA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					36w0OrDeFCIgCReMli+UpKahIg8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1868-186.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwBwExbb+SeawXGgWXXsqfHxvlKLTt
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					X+zMyhnaY4C/Fc/9HKYa7LyGSVk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjRAwBPHxCzwnmDLCsH6xCT+m3VIFBO
					xw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					OxlTuhbzI6qE5osrhJsFnhuLeS4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgRAQCx6WlP5jdWXq0AtGzD8qGYP2x4
					kQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					hdhL1ehRZ0gNM71GjqV5WArMGl4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/iBoot.k94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjhAwDC4TgGRgRNJTiCUHX5oHHcCvaU
					kQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			xPjU6i9079EPk3sua2wPNkNfJxU=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B176</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>k94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>896</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					3elQs7rnkTjxMLNFrf2BTXMW4fk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3Ks
					lA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.12.01_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					DDgD3jQvuTNaRw21RwYk6p8f/n4=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f7358</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					pkgZiB2bWZyeiNRLRqH59NBnagE=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					z+Fa9FQq11pUnrehpT8o++0QxQ8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphcharging.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABqEPpbgxX85tix6twGHNW991fG
					rw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					corhTKxIpBMziWHrpwXysaydOik=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACed/z65nWhuJLm3FAHjhzIiV30
					GA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					buIQO3ZI66nLknqsdrr1usungEE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterycharging1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACVjnORWptUc0xaL5RjWhPtmpAY
					Gw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					AbYpAei3QcSsZnPCQNPyBhQ2qnw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batteryfull.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjGAwAKprziP8XD8cI4dyYRfkIdT/pz
					Tg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					NZVrgaOGwcmYN2uLx0mviQtq5A0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow0.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAACyNxIU7tANbEKqC7kWi9nj9kFG
					0Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					NGRAn4CZ1QzYS04GB/1+77uDuCE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/batterylow1.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALg8AAAdoaGLiV7kxPisemy+vQhYwCgx
					yQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					0ajVWH02woTc7F6YXqLBrL7kun4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/glyphplugin.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAABN04Kt6MKGl52uvzEyTqiyU+4v
					Cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					T/Vn+m73vhmOZi3cGzA4GapnfzQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgFAQAwukX5uxhOjBOQG+r/xXDxIMyP
					ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					I+CBmJ7FxBhkoNYKC7SmFI4fOLg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjQZQAABP3R7gYXSApWbzcfOlCzxfyj
					fw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					EOmyCJCn7eF8BqwpW4AF2Fz1ia0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/LLB.k94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgBAgAgtVXOt8rVuOWgheZKm2ll4IRc
					5A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1770-169.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					AMlV6NjW2wJs+TFepvUz69JmiMw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/recoverymode~ipad.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgAAQDFoKNdSaMJUIU6jWHfcpmtxwpU
					kg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					T/Vn+m73vhmOZi3cGzA4GapnfzQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/DeviceTree.k94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgFAQAwukX5uxhOjBOQG+r/xXDxIMyP
					ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					I+CBmJ7FxBhkoNYKC7SmFI4fOLg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.k94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjQZQAABP3R7gYXSApWbzcfOlCzxfyj
					fw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					3elQs7rnkTjxMLNFrf2BTXMW4fk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/applelogo.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACol8HBqNPrf/ojpo2uItvmw3Ks
					lA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					1zqF0z+dVW1H/DJecW1rz7cVMME=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1801-168.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPigBwHimdcGFEcmrMkGHxOAQ+tQjk1b
					ew==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					X+zMyhnaY4C/Fc/9HKYa7LyGSVk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjRAwBPHxCzwnmDLCsH6xCT+m3VIFBO
					xw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					OxlTuhbzI6qE5osrhJsFnhuLeS4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.k94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgRAQCx6WlP5jdWXq0AtGzD8qGYP2x4
					kQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					hdhL1ehRZ0gNM71GjqV5WArMGl4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.k94ap.production/iBoot.k94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjhAwDC4TgGRgRNJTiCUHX5oHHcCvaU
					kQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			VrnZgkuiQ9Qtle77uYkSEZU8v90=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9B176</string>
	<key>ProductVersion</key>
	<string>5.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>100698432</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>100698432</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad2,2</string>
	</array>
</dict>
</plist>
