<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x04</string>
			<key>ApChipID</key>
			<string>0x8945</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x004600E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B141</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>j2aap</string>
				<key>MinimumSystemPartition</key>
				<integer>1456</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rtkeVhEY//8W8422UNJ9vA88PQ8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					HU/gKtXbAVzh7uLJwnIwHefDpfk=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					dGLW1ff2AnwsgOAn/feVkcbZYdE=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					eAAAAACeAACo+TbuBauuX6KECWNYXmAl8pRV
					7ADGAACfXhdebuDLF2cTOjUPdgYI7pBfWA==
					</data>
					<key>DBL-Version</key>
					<integer>-1592766641</integer>
					<key>DSP1-DownloadDigest</key>
					<data>
					2Z3c+N4+7LzI42qwwM251ByNHzY=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					5y97i2926FfSUrAMeHfKs4PDcSE=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					l8NyKRbFAEj1Ng3CQC7EjLsfjJQ=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					z3ZU0f2/LSc0Cfm84O9qfEIjNLw=
					</data>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					WAAAAACcAgCkGFDjLjq3OE1XgPOndYW9AGh4
					vg==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1592766641</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav4-2.3.03.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					yYC4YxEZkh5qaeGgwoX82vBo/rs=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					Cx1L4EFTutR5c4in9zwI/G7P4Qo=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					5AXFO6LVwdYJv/PTn8MnH5esPvQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/glyphcharging@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					D7mvFu976Qprsyfcjk4L5QNLhYw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/batterycharging0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					CXiH64KXYkjMHPBFBkvtFCBbRTU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/batterycharging1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					GOOLUuseNsAydDLDPI5195tMVNE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/batteryfull@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					EttK178TOCfMuUEeRapC1ESSjJ4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/batterylow0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					qLqQ328UPxvrLsbVcdQHYTG7244=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/batterylow1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					j9Uhi6wDSQe2z8nmhLBZgR1Lgc0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/glyphplugin@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					3vk4o3+sxukpvULCM3nOFh+JMnc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/DeviceTree.j2aap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					TaGJ15NtcXzIlYlQhTkzRcc5unQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2a</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhreABIC3aN7kr+XkJk2pmtM03j0/9s
					GQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					vdwzQMW9Wnxr7SmW8SQ4YQUn6uc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/LLB.j2aap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgA8B9Mvo9xn6VkK18BTis4WZ/mM
					+g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5730-122.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					kcqeKmizPysQLdeLLscUrHN3X4Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/recoverymode@2x~ipad.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					3vk4o3+sxukpvULCM3nOFh+JMnc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/DeviceTree.j2aap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					TaGJ15NtcXzIlYlQhTkzRcc5unQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2a</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhreABIC3aN7kr+XkJk2pmtM03j0/9s
					GQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rtkeVhEY//8W8422UNJ9vA88PQ8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					+dFNLwZbr0MaRR6GXnZlFiq11+Y=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0152-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhQlwAvnaezBY/iLE0DuLoA/8iVI2OS
					lQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					+2Ov5sTkY2dbY+1yg1S5c2gE2ks=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j2aap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					y7DexUwsyjo8uQn03KGeEPR95n4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j2aap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQDqlNRQX1cNsk4y9WXJfmulPG9i
					Yg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					VRLnOmnk1WftpVRyMFjgP9CQHJk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/iBoot.j2aap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			oGPG2522Nsecw82Lbf+vAa5kBo4=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x04</string>
			<key>ApChipID</key>
			<string>0x8945</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x004600E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B141</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>j2aap</string>
				<key>MinimumSystemPartition</key>
				<integer>1456</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rtkeVhEY//8W8422UNJ9vA88PQ8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					HU/gKtXbAVzh7uLJwnIwHefDpfk=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					dGLW1ff2AnwsgOAn/feVkcbZYdE=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					eAAAAACeAACo+TbuBauuX6KECWNYXmAl8pRV
					7ADGAACfXhdebuDLF2cTOjUPdgYI7pBfWA==
					</data>
					<key>DBL-Version</key>
					<integer>-1592766641</integer>
					<key>DSP1-DownloadDigest</key>
					<data>
					2Z3c+N4+7LzI42qwwM251ByNHzY=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					5y97i2926FfSUrAMeHfKs4PDcSE=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					l8NyKRbFAEj1Ng3CQC7EjLsfjJQ=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					z3ZU0f2/LSc0Cfm84O9qfEIjNLw=
					</data>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					WAAAAACcAgCkGFDjLjq3OE1XgPOndYW9AGh4
					vg==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1592766641</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav4-2.3.03.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					yYC4YxEZkh5qaeGgwoX82vBo/rs=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					Cx1L4EFTutR5c4in9zwI/G7P4Qo=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					5AXFO6LVwdYJv/PTn8MnH5esPvQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/glyphcharging@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					D7mvFu976Qprsyfcjk4L5QNLhYw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/batterycharging0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					CXiH64KXYkjMHPBFBkvtFCBbRTU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/batterycharging1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					GOOLUuseNsAydDLDPI5195tMVNE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/batteryfull@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					EttK178TOCfMuUEeRapC1ESSjJ4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/batterylow0@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					qLqQ328UPxvrLsbVcdQHYTG7244=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/batterylow1@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					j9Uhi6wDSQe2z8nmhLBZgR1Lgc0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/glyphplugin@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					3vk4o3+sxukpvULCM3nOFh+JMnc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/DeviceTree.j2aap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					TaGJ15NtcXzIlYlQhTkzRcc5unQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2a</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhreABIC3aN7kr+XkJk2pmtM03j0/9s
					GQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					vdwzQMW9Wnxr7SmW8SQ4YQUn6uc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/LLB.j2aap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgA8B9Mvo9xn6VkK18BTis4WZ/mM
					+g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5730-122.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					kcqeKmizPysQLdeLLscUrHN3X4Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/recoverymode@2x~ipad.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					3vk4o3+sxukpvULCM3nOFh+JMnc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/DeviceTree.j2aap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					TaGJ15NtcXzIlYlQhTkzRcc5unQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.j2a</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhreABIC3aN7kr+XkJk2pmtM03j0/9s
					GQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rtkeVhEY//8W8422UNJ9vA88PQ8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/applelogo@2x.s5l8945x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					WvGR9s8LcrR3JJjnrlwuPMdpfiw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5287-150.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhAlwAvhp9XJkWod66LJLlJPXxQT5sc
					2w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					+2Ov5sTkY2dbY+1yg1S5c2gE2ks=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.j2aap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					y7DexUwsyjo8uQn03KGeEPR95n4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.j2aap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQDqlNRQX1cNsk4y9WXJfmulPG9i
					Yg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					VRLnOmnk1WftpVRyMFjgP9CQHJk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.j2aap.production/iBoot.j2aap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			vbznLe71Fd+h571SmD91tYf+yVQ=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B141</string>
	<key>ProductVersion</key>
	<string>6.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>67144005</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>67144005</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPad3,3</string>
	</array>
</dict>
</plist>
