<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8920</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8A400</string>
					<key>BuildTrain</key>
					<string>Apex</string>
					<key>DeviceClass</key>
					<string>n88ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>BasebandFirmware</key>
						<string>Release</string>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							FfsmWVXcB/QEjkQ+xhEhy+TM1ik=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAA/QaImfs6HVZvsEAm/HHChbrF8
							Qg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							PfrGRvEsB/yEvE518sStAOmsUtY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAADeyQOnRfrRsmHh5QCRYrGZJBoc
							DA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							mG/Offi+vZTjO6lE/vW26m8Tdmw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAADgRdgPhWx7aS6IRKX5BB9qeuEl
							2g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							yxtUIJndC239+v0lCm0j1dii4IM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAABhT6WHPI4TLcc81CJLk0DFo/Yp
							yg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							OpjlBFETOYhLEQBtuNAORnntp0Y=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQDBzcJPuB8eq1pOZZJbQi3opUSq
							kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							9Qge+Hh8PgYSzRD1rt706sMSri4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAAB/4D6L/fGsjmY0xoHasCWZtQUn
							1Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							b1tFO8K/asNbej4RwB7Q2yHF5BM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AACcrZkJissTZIIdygNHYuuqZbds
							qg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							YFvbKCm+xIpkSWu9lRa9wp//kBM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAAA+8mXi9sbwoY7nqF1/gn+6EiJx
							kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							X7NYt2dWz+dieJ59U83+4iUCH8Q=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPi1AAALQAy0Pl2uG4FkmLuxO9QiDXc1
							OQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							kmpo0CBjeyyxhwOzXNyZfp63Fo8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n88</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjLRwCYlXgAOwRLbPkZR7n5qtKBcoqi
							sg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAABf0y7EkJYizb8VRSJUqro/1fhM
							bA==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8378-002.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							Q9U5GUqfGJtyYBb+e1kZkwFpdd8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPipAAB2DubnanN7Yp42XInSEUcohhuD
							zg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							X7NYt2dWz+dieJ59U83+4iUCH8Q=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPi1AAALQAy0Pl2uG4FkmLuxO9QiDXc1
							OQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							kmpo0CBjeyyxhwOzXNyZfp63Fo8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n88</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjLRwCYlXgAOwRLbPkZR7n5qtKBcoqi
							sg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							FfsmWVXcB/QEjkQ+xhEhy+TM1ik=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAA/QaImfs6HVZvsEAm/HHChbrF8
							Qg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							OxLPin0rUPBTVTT67aP/wuBWyLI=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8391-002.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgQzwCPe+hjqKWcy0P+MWiMkuw7TxEH
							xg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRAQDWHbg+iFHHwOY/CuolawvADNRN
							3Q==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQCXPWR9jca0xxSTv9rOGibKRKu9
							kg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							qjGQGI5KYXgggKkByLOiU2U7UWI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRAgDQtF6gWLz2soHhL5bb+8fAw15I
							Vg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					l2iajIaVTti3mnLGRh5W0RuQYC0=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8920</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8A400</string>
					<key>BuildTrain</key>
					<string>Apex</string>
					<key>DeviceClass</key>
					<string>n88ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>BasebandFirmware</key>
						<string>Release</string>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							FfsmWVXcB/QEjkQ+xhEhy+TM1ik=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAA/QaImfs6HVZvsEAm/HHChbrF8
							Qg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							PfrGRvEsB/yEvE518sStAOmsUtY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAADeyQOnRfrRsmHh5QCRYrGZJBoc
							DA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							mG/Offi+vZTjO6lE/vW26m8Tdmw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAADgRdgPhWx7aS6IRKX5BB9qeuEl
							2g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							yxtUIJndC239+v0lCm0j1dii4IM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAABhT6WHPI4TLcc81CJLk0DFo/Yp
							yg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							OpjlBFETOYhLEQBtuNAORnntp0Y=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQDBzcJPuB8eq1pOZZJbQi3opUSq
							kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							9Qge+Hh8PgYSzRD1rt706sMSri4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAAB/4D6L/fGsjmY0xoHasCWZtQUn
							1Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							b1tFO8K/asNbej4RwB7Q2yHF5BM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AACcrZkJissTZIIdygNHYuuqZbds
							qg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							YFvbKCm+xIpkSWu9lRa9wp//kBM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAAA+8mXi9sbwoY7nqF1/gn+6EiJx
							kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							X7NYt2dWz+dieJ59U83+4iUCH8Q=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPi1AAALQAy0Pl2uG4FkmLuxO9QiDXc1
							OQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							kmpo0CBjeyyxhwOzXNyZfp63Fo8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n88</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjLRwCYlXgAOwRLbPkZR7n5qtKBcoqi
							sg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAABf0y7EkJYizb8VRSJUqro/1fhM
							bA==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8378-002.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							Q9U5GUqfGJtyYBb+e1kZkwFpdd8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPipAAB2DubnanN7Yp42XInSEUcohhuD
							zg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							X7NYt2dWz+dieJ59U83+4iUCH8Q=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPi1AAALQAy0Pl2uG4FkmLuxO9QiDXc1
							OQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							kmpo0CBjeyyxhwOzXNyZfp63Fo8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n88</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjLRwCYlXgAOwRLbPkZR7n5qtKBcoqi
							sg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							FfsmWVXcB/QEjkQ+xhEhy+TM1ik=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAA/QaImfs6HVZvsEAm/HHChbrF8
							Qg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							jB5vurd8XdeJy+K7lJ6QuEjxSmc=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8385-002.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgAzwA9rxSsWKLsb0/bTt90rvZK+dHg
							vw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRAQDWHbg+iFHHwOY/CuolawvADNRN
							3Q==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQCXPWR9jca0xxSTv9rOGibKRKu9
							kg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							qjGQGI5KYXgggKkByLOiU2U7UWI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRAgDQtF6gWLz2soHhL5bb+8fAw15I
							Vg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					zg+ZDqmiKnWXKb/kfgnRbH+T4Zg=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>8A400</string>
		<key>ProductVersion</key>
		<string>4.0.2</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>35104</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>35104</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPhone2,1</string>
		</array>
	</dict>
</plist>
