<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x04</string>
				<key>ApChipID</key>
				<string>0x8900</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n82ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							xMDNRzeuz4BA2Pz20CCJaKydZxY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADl/SjxBnGeJcNsPlB9AmBhMrtO
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							ZbEnMN0FReyOqDCwL9euUS9znpI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/glyphcharging.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAAD2C2BFE1hjHOtRThJFtZnd28G8
							dA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							LkYSxY3Y/Fzi5S+OeK2JWhYHIfo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging0.s5l8900x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAABMtONGPuwOTCrw5o3H5isWdVwQ
							nQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							Fn7sut6WoRmqjq377/CkMEy59U8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging1.s5l8900x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAAC5/k3YKX7qmitLcnSlWR7svaNa
							DQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							sLfnLh9MXdVePzMVe2kf1HsQWRY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batteryfull.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALghAQAvkLLQ299GIwToYA6FRXefUoBp
							7Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							ZPpo/UPpA1Lc8WtSWyJesyR7GGM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterylow0.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjTAAAcDInsfph/lI23WoC6B4S8DaB4
							6Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							fA3Z/sJpAGEk4GtoFnq5qFYBNiw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterylow1.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADj0AADpnEosgYSD5GGCzB8erQVBRg78
							4Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							fJGrpA4zW3uyAspIhat2BVNvo0E=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/glyphplugin.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAADdjp6gEEAJ3QDj1N+++uMLZhAT
							Pg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							VAewSRHhGHKZIW+zoG82Bjhb9Tg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADioAACSwgrdKCO3w7KBY6i9oTIY0CcM
							3g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							7hMIlgUY7CrrBwMOA4XpovoMXvY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n82</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPi2QQChejxrQq3bWOiEv6aZSvFuFPNe
							Yg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgAAQBK22jhn5krX3jpvScncP5h1/DC
							SQ==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7060-114.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							6VHMrewCbHZ3e2D3aj+Fte98tAk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALipAAAurl5x3W8u18thPhBhvtimhfKx
							BQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							VAewSRHhGHKZIW+zoG82Bjhb9Tg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADioAACSwgrdKCO3w7KBY6i9oTIY0CcM
							3g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							7hMIlgUY7CrrBwMOA4XpovoMXvY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n82</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPi2QQChejxrQq3bWOiEv6aZSvFuFPNe
							Yg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							xMDNRzeuz4BA2Pz20CCJaKydZxY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADl/SjxBnGeJcNsPlB9AmBhMrtO
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							Yqz4sVrjLGtqSXmjdYI/wuPm8Mg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7079-079.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgQ2QDve+zaDPhLwD1SS8EquVErmauM
							bg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiQAQDLLLzH1chiOMJ2cUHQuTJPg1nk
							zg==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiQAQBbGExPdQ5zY8esleFF5MMks+/Q
							Hg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							3vZRdmY30Lyji7GuwAlAc2cHREc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiAAgApNKCKY9SV7NvWl0VjrIjWaL/n
							jQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					dEAkqVtMRWLjLrjXabEXMEMyU/E=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x04</string>
				<key>ApChipID</key>
				<string>0x8900</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n82ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							xMDNRzeuz4BA2Pz20CCJaKydZxY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADl/SjxBnGeJcNsPlB9AmBhMrtO
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							ZbEnMN0FReyOqDCwL9euUS9znpI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/glyphcharging.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAAD2C2BFE1hjHOtRThJFtZnd28G8
							dA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							LkYSxY3Y/Fzi5S+OeK2JWhYHIfo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging0.s5l8900x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAABMtONGPuwOTCrw5o3H5isWdVwQ
							nQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							Fn7sut6WoRmqjq377/CkMEy59U8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging1.s5l8900x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAAC5/k3YKX7qmitLcnSlWR7svaNa
							DQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							sLfnLh9MXdVePzMVe2kf1HsQWRY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batteryfull.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALghAQAvkLLQ299GIwToYA6FRXefUoBp
							7Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							ZPpo/UPpA1Lc8WtSWyJesyR7GGM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterylow0.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjTAAAcDInsfph/lI23WoC6B4S8DaB4
							6Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							fA3Z/sJpAGEk4GtoFnq5qFYBNiw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterylow1.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADj0AADpnEosgYSD5GGCzB8erQVBRg78
							4Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							fJGrpA4zW3uyAspIhat2BVNvo0E=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/glyphplugin.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAADdjp6gEEAJ3QDj1N+++uMLZhAT
							Pg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							VAewSRHhGHKZIW+zoG82Bjhb9Tg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADioAACSwgrdKCO3w7KBY6i9oTIY0CcM
							3g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							7hMIlgUY7CrrBwMOA4XpovoMXvY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n82</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPi2QQChejxrQq3bWOiEv6aZSvFuFPNe
							Yg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgAAQBK22jhn5krX3jpvScncP5h1/DC
							SQ==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7060-114.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							6VHMrewCbHZ3e2D3aj+Fte98tAk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALipAAAurl5x3W8u18thPhBhvtimhfKx
							BQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							VAewSRHhGHKZIW+zoG82Bjhb9Tg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADioAACSwgrdKCO3w7KBY6i9oTIY0CcM
							3g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							7hMIlgUY7CrrBwMOA4XpovoMXvY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n82</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPi2QQChejxrQq3bWOiEv6aZSvFuFPNe
							Yg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							xMDNRzeuz4BA2Pz20CCJaKydZxY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADl/SjxBnGeJcNsPlB9AmBhMrtO
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							rPWZIJrNzvn7jeNs7ZpsJOxiqnE=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7072-079.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjw2AAao87LcI5uA0ScN0IXKo/t9t/w
							Aw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiQAQDLLLzH1chiOMJ2cUHQuTJPg1nk
							zg==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiQAQBbGExPdQ5zY8esleFF5MMks+/Q
							Hg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							3vZRdmY30Lyji7GuwAlAc2cHREc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiAAgApNKCKY9SV7NvWl0VjrIjWaL/n
							jQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					TPM2KKx57zK2V5v86WnwVtYW/xo=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>8B117</string>
		<key>ProductVersion</key>
		<string>4.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>304218112</integer>
				<integer>304230656</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>310391040</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPhone1,2</string>
		</array>
	</dict>
</plist>
