<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>BbChipID</key>
				<string>0x50</string>
				<key>BbSkeyId</key>
				<data>
					l6s0rAaT9bA7+3JtTiwlTxTicKE=
				</data>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8A293</string>
					<key>BuildTrain</key>
					<string>Apex</string>
					<key>DeviceClass</key>
					<string>n90ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>BasebandFirmware</key>
						<string>Release</string>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							niM4QabkBy/itSST1ZiAgIGWPw0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAB8bmVixb7Z2qjavrayXy1QLvGe
							VQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BasebandFirmware</key>
					<dict>
						<key>EBL-Digest</key>
						<data>
							fsSrBO2RceqLW1qmSOZpyzxBBRg=
						</data>
						<key>FlashPSI-PartialDigest</key>
						<data>
							QAQAAMB6AABQMG6CziY78WTyKqLprDc/3FxS
							ig==
						</data>
						<key>FlashPSI-SecPackDigest</key>
						<data>
							aV7n5VUpvSbMWA4ImMj4R0vfpmk=
						</data>
						<key>FlashPSI-Version</key>
						<string>0x00020006</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/ICE3_01.59.00_BOOT_02.06.Release.bbfw</string>
						</dict>
						<key>ModemStack-Digest</key>
						<data>
							/mfOpYjvObp487TaJivx7/7gFgk=
						</data>
						<key>ModemStack-Length</key>
						<string>0x006f7e5c</string>
						<key>ModemStack-SecPackDigest</key>
						<data>
							9q5zx7SN1Ichnz4SG0hotZXgx4w=
						</data>
						<key>RamPSI-PartialDigest</key>
						<data>
							QAQAAMD5AADMsZdyM30J9D8OZSoxdhg+Y5gt
							ww==
						</data>
						<key>RamPSI-Version</key>
						<string>0x00020005</string>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							opFFoaMVx8/xZ7DdUohGYyNpzbI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgQAQDShTmzurFgUI8/4im5Ltd+wTi8
							Fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							krOsmtrd4UgrvNZ/+Uf+Ck2G6e8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgJAQDk3gTtI5+qudR8SAY/BdUqq5KZ
							Bw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							BL6TEuw+aKwCkmLAs0ft6r4VJwQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgwAQD/KJUUXWcITg0RnFQTGjf+eutn
							Sw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							n03qBVW2DB/n+ukX4fVWxPebboE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiOAwCCpk6qgolfJYGc62f+KTNo4ug8
							Qg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							cwAgW3KLH9kvADovdm+IkDCKSLg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjeAgDXRgaormAtkmgUrAbfu8MJzjUx
							xg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							7T3Tr2wbw9AnX+77Ut3kzC5hvOk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgrAwAgjWlUFYOMDpfGqE8JhLn9kRhm
							mw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							BXuM0eqWegKFmr/SDHxKrkqw/zQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgGAQAv3hU7+HDn0ftiVDS1cVLF2nS+
							AA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							o8q97kZjnrKJY0lLdzbUgqeuH6I=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjhAADljW+MRSkeiMPbdTwyWN0DSMgA
							+Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							ltK/Mxvkd17GhlV+2ytuQhcjAVw=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n90</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgGTgBUg01SU/RoKqgS9T3lFhhDUx93
							vA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAQCOpqUcBzFMlUIVlwquEC2FQpPi
							Yw==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6303-385.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							nUbXNYVg+ByQmYMAFFxlV85UxVM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhTAgBQ/IjmMWqlebBY9un3a/5K+Tds
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							o8q97kZjnrKJY0lLdzbUgqeuH6I=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjhAADljW+MRSkeiMPbdTwyWN0DSMgA
							+Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							ltK/Mxvkd17GhlV+2ytuQhcjAVw=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n90</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgGTgBUg01SU/RoKqgS9T3lFhhDUx93
							vA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							niM4QabkBy/itSST1ZiAgIGWPw0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAB8bmVixb7Z2qjavrayXy1QLvGe
							VQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							zld0f4ny9oI8Fsi6Mc4ISbEwNkQ=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6306-403.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhQ0QC+hFuP8vnJsC8+5GEAnKZg44DY
							nQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjhAQCT5EXpXI2MIPxnafdPYWmLfuNd
							Ow==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjhAQDZ+37IW3O1LMTRd6z1+gQ5/ccO
							Vg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							xMgj/xhidQN/EFudAMg+QvWxJCs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgCM9Dj9gy4f3bZaasx0Es284UJH
							cA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					vhy+KI27W6LdKd4vLgeTnA98EXg=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>BbChipID</key>
				<string>0x50</string>
				<key>BbSkeyId</key>
				<data>
					l6s0rAaT9bA7+3JtTiwlTxTicKE=
				</data>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8A293</string>
					<key>BuildTrain</key>
					<string>Apex</string>
					<key>DeviceClass</key>
					<string>n90ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>BasebandFirmware</key>
						<string>Release</string>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							niM4QabkBy/itSST1ZiAgIGWPw0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAB8bmVixb7Z2qjavrayXy1QLvGe
							VQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BasebandFirmware</key>
					<dict>
						<key>EBL-Digest</key>
						<data>
							fsSrBO2RceqLW1qmSOZpyzxBBRg=
						</data>
						<key>FlashPSI-PartialDigest</key>
						<data>
							QAQAAMB6AABQMG6CziY78WTyKqLprDc/3FxS
							ig==
						</data>
						<key>FlashPSI-SecPackDigest</key>
						<data>
							aV7n5VUpvSbMWA4ImMj4R0vfpmk=
						</data>
						<key>FlashPSI-Version</key>
						<string>0x00020006</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/ICE3_01.59.00_BOOT_02.06.Release.bbfw</string>
						</dict>
						<key>ModemStack-Digest</key>
						<data>
							/mfOpYjvObp487TaJivx7/7gFgk=
						</data>
						<key>ModemStack-Length</key>
						<string>0x006f7e5c</string>
						<key>ModemStack-SecPackDigest</key>
						<data>
							9q5zx7SN1Ichnz4SG0hotZXgx4w=
						</data>
						<key>RamPSI-PartialDigest</key>
						<data>
							QAQAAMD5AADMsZdyM30J9D8OZSoxdhg+Y5gt
							ww==
						</data>
						<key>RamPSI-Version</key>
						<string>0x00020005</string>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							opFFoaMVx8/xZ7DdUohGYyNpzbI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgQAQDShTmzurFgUI8/4im5Ltd+wTi8
							Fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							krOsmtrd4UgrvNZ/+Uf+Ck2G6e8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgJAQDk3gTtI5+qudR8SAY/BdUqq5KZ
							Bw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							BL6TEuw+aKwCkmLAs0ft6r4VJwQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgwAQD/KJUUXWcITg0RnFQTGjf+eutn
							Sw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							n03qBVW2DB/n+ukX4fVWxPebboE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiOAwCCpk6qgolfJYGc62f+KTNo4ug8
							Qg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							cwAgW3KLH9kvADovdm+IkDCKSLg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjeAgDXRgaormAtkmgUrAbfu8MJzjUx
							xg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							7T3Tr2wbw9AnX+77Ut3kzC5hvOk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgrAwAgjWlUFYOMDpfGqE8JhLn9kRhm
							mw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							BXuM0eqWegKFmr/SDHxKrkqw/zQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgGAQAv3hU7+HDn0ftiVDS1cVLF2nS+
							AA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							o8q97kZjnrKJY0lLdzbUgqeuH6I=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjhAADljW+MRSkeiMPbdTwyWN0DSMgA
							+Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							ltK/Mxvkd17GhlV+2ytuQhcjAVw=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n90</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgGTgBUg01SU/RoKqgS9T3lFhhDUx93
							vA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAQCOpqUcBzFMlUIVlwquEC2FQpPi
							Yw==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6303-385.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							nUbXNYVg+ByQmYMAFFxlV85UxVM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhTAgBQ/IjmMWqlebBY9un3a/5K+Tds
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							o8q97kZjnrKJY0lLdzbUgqeuH6I=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjhAADljW+MRSkeiMPbdTwyWN0DSMgA
							+Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							ltK/Mxvkd17GhlV+2ytuQhcjAVw=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n90</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgGTgBUg01SU/RoKqgS9T3lFhhDUx93
							vA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							niM4QabkBy/itSST1ZiAgIGWPw0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAB8bmVixb7Z2qjavrayXy1QLvGe
							VQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							O1SjsjQox+R9/A8kAlchOdW7F2U=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6305-405.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhA0QBqfZaMPrf7a/92WkYZfRfB3x66
							Gw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjhAQCT5EXpXI2MIPxnafdPYWmLfuNd
							Ow==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjhAQDZ+37IW3O1LMTRd6z1+gQ5/ccO
							Vg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							xMgj/xhidQN/EFudAMg+QvWxJCs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgCM9Dj9gy4f3bZaasx0Es284UJH
							cA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					tl8wUvXjDY/2CBAB55PQsaeX2B8=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>8A293</string>
		<key>ProductVersion</key>
		<string>4.0</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>35120</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>35120</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPhone3,1</string>
		</array>
	</dict>
</plist>
