<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x08</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005A00E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10A523</string>
				<key>BuildTrain</key>
				<string>Sundance</string>
				<key>DeviceClass</key>
				<string>n94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1213</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					5Uk7DyKl5hQyjkgfz6rPe6bCmWk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					xe6VnZslvvUQ46U9iqe5CyH0ngM=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					ONBMnb5Xa4FqYORxUb9IdRIznuk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Trek-3.0.04.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					FAlkNuzggvHKPp7e+8O/tAVBLB8=
					</data>
					<key>RestoreDBL-PartialDigest</key>
					<data>
					WAAAAMDFAQAjH5q0eeAk5Ydw1+dbAhcHZ09l
					qw==
					</data>
					<key>RestoreDBL-Version</key>
					<integer>-1575997436</integer>
					<key>eDBL-PartialDigest</key>
					<data>
					ZAAAAMDGAQB1mLuAuw8naJVC/D7Dn56Xn4Ds
					1w==
					</data>
					<key>eDBL-Version</key>
					<integer>-1577046012</integer>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					EqhSWczkhda8TI/TToPqkfvKvCU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphcharging@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					Q6aUet30NNtrX93VcMKTtFbYHPk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					8ea48+gcUsl3yjd6ljNBfNQS6IQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					VVqtY2bIYISEJ/JrbF59ndSW27Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					kHblqKJPxaqzz1VIcOIvJQjV65E=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					XRTUj18z/f73lc9GP8LB3nMuoc4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					ePqSJo4p2TtPnFsg7cENeul9wxY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					zD6gFqgrDmzgeIYpxd7NZSyKoXk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					7uANpLyIfTVwuTGWBcHqa/2Spb0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiUdgCNRHHHyUQuIJcZprCG7JbX0Lkq
					Vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					7FHmSSgclzF3QxKnAHnxJYAfyyE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgCorh8Pu7onAqvVYwcd5SfTUTgc
					jQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-7960-010.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					jB2/a8V0PHE0PFeAJXSHCQqnfRM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					zD6gFqgrDmzgeIYpxd7NZSyKoXk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					7uANpLyIfTVwuTGWBcHqa/2Spb0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiUdgCNRHHHyUQuIJcZprCG7JbX0Lkq
					Vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					5Uk7DyKl5hQyjkgfz6rPe6bCmWk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					o7326CTL2p6lNrUKf4lZhaO/P9I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-7928-011.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiQlABOr7RfHOgVLo+v5V8Y8VjO+dlb
					oQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					ZOTpbWrOQI+l8k1JWZtIqPzu/2Y=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					3uP/i1sS7G/j/WmiFzssfOuWjJE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQAQ1ufaMjHdOADBgg3d5ZpTKVeu
					hA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					sn+wXW9ObqMirdBI+2ND2tPv9B8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			CTl8RHHJx8kfwRN0oGY7kqLJRjI=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x08</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005A00E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10A523</string>
				<key>BuildTrain</key>
				<string>Sundance</string>
				<key>DeviceClass</key>
				<string>n94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1213</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					5Uk7DyKl5hQyjkgfz6rPe6bCmWk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					xe6VnZslvvUQ46U9iqe5CyH0ngM=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					ONBMnb5Xa4FqYORxUb9IdRIznuk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Trek-3.0.04.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					FAlkNuzggvHKPp7e+8O/tAVBLB8=
					</data>
					<key>RestoreDBL-PartialDigest</key>
					<data>
					WAAAAMDFAQAjH5q0eeAk5Ydw1+dbAhcHZ09l
					qw==
					</data>
					<key>RestoreDBL-Version</key>
					<integer>-1575997436</integer>
					<key>eDBL-PartialDigest</key>
					<data>
					ZAAAAMDGAQB1mLuAuw8naJVC/D7Dn56Xn4Ds
					1w==
					</data>
					<key>eDBL-Version</key>
					<integer>-1577046012</integer>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					EqhSWczkhda8TI/TToPqkfvKvCU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphcharging@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					Q6aUet30NNtrX93VcMKTtFbYHPk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					8ea48+gcUsl3yjd6ljNBfNQS6IQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					VVqtY2bIYISEJ/JrbF59ndSW27Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					kHblqKJPxaqzz1VIcOIvJQjV65E=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					XRTUj18z/f73lc9GP8LB3nMuoc4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					ePqSJo4p2TtPnFsg7cENeul9wxY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					zD6gFqgrDmzgeIYpxd7NZSyKoXk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					7uANpLyIfTVwuTGWBcHqa/2Spb0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiUdgCNRHHHyUQuIJcZprCG7JbX0Lkq
					Vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					7FHmSSgclzF3QxKnAHnxJYAfyyE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgCorh8Pu7onAqvVYwcd5SfTUTgc
					jQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-7960-010.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					jB2/a8V0PHE0PFeAJXSHCQqnfRM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					zD6gFqgrDmzgeIYpxd7NZSyKoXk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					7uANpLyIfTVwuTGWBcHqa/2Spb0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiUdgCNRHHHyUQuIJcZprCG7JbX0Lkq
					Vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					5Uk7DyKl5hQyjkgfz6rPe6bCmWk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					re148Wh0XDeciofU/LdRuMtOLDQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-7931-011.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiAlACvIWDih7tT1PUGGgdtFHrwhU5F
					HA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					ZOTpbWrOQI+l8k1JWZtIqPzu/2Y=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					3uP/i1sS7G/j/WmiFzssfOuWjJE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQAQ1ufaMjHdOADBgg3d5ZpTKVeu
					hA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					sn+wXW9ObqMirdBI+2ND2tPv9B8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			MiSMVODwm9anDJaVR7UFSLhHdkc=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10A523</string>
	<key>ProductVersion</key>
	<string>6.0.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>134252864</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>134252864</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone4,1</string>
	</array>
</dict>
</plist>
