<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>l6s0rAaT9bA7+3JtTiwlTxTicKE=</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B208</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>n90ap</string>
				<key>MinimumSystemPartition</key>
				<integer>975</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>chfsf905sy7sXZJt6vjf5FNySKo=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAABy4vbVoN6BknVAOPxD7LuSDkuvmg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>imrfCpuwU21wdfD1QrdCD6zF+V4=</data>
					<key>FlashPSI-PartialDigest</key>
					<data>QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATFdw==</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>aV7n5VUpvSbMWA4ImMj4R0vfpmk=</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.12.01_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>DDgD3jQvuTNaRw21RwYk6p8f/n4=</data>
					<key>ModemStack-Length</key>
					<string>0x006f7358</string>
					<key>ModemStack-SecPackDigest</key>
					<data>pkgZiB2bWZyeiNRLRqH59NBnagE=</data>
					<key>RamPSI-PartialDigest</key>
					<data>QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrVqA==</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>FTx5IB6LxDLhVRXLZ2uYEIiLr38=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgUAAD+VFldtrjItYhYCEXw2ZobUtsf+Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>JHEGRQ56ZVdwqCTCCAKkkhKjeiE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPglAACVbLe1+7YpLO9KiVgFeJ+7w3yYiQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>v8/QHHtIFEzBsV8TIHNVyJHWqC4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiIAADo4bdRaZkR8bvUyPM16vL0CzfbEg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>3NkXgxZiacUVLOkGGCcBnQQa/jE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjzCQC32RRFQwx6RbBCHF8WLsSwQ8MJzA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>7MhQqSSJ4KOKA/vdWjTSdOZQ1uU=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHiSAgDbguBBnYvf0J83OEFGc5bTkZi35Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>mB0T1El08zgDCA/f8WI4SkWQp9I=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADiTAAB1XGH7pl3LbLW9olgOF+ZfqYuNaQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>onho4pbIOueyeZb+OT+jEEgCI0M=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADgTAACsLws+tnFbxdPTQd3aPjRokW3/Ew==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>EGqqefxcK/uuoSRbVQomwTsmiR8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjqAACdFKd+w63ZP4wVLew/6AAekZyoKA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>UU+XZSQrqudBxFiavTQ25ijcyec=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhpYgDEOwP3A8+Yov+iTIG83QYzW680MA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.16~1</string>
					<key>Digest</key>
					<data>vL/FPkSYmP6CfdP37gsTl9kiNdw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjRAQBTIdrWAS5UvrToKCT4kdvE3LciNQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5508-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>E8j/Ur+uMe/H1nbdUzhRv6dlgKY=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode@2x~iphone.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjyAQCfK6HTGHN7hq+ls93/m+bfYU0G/w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>EGqqefxcK/uuoSRbVQomwTsmiR8=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjqAACdFKd+w63ZP4wVLew/6AAekZyoKA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>UU+XZSQrqudBxFiavTQ25ijcyec=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhpYgDEOwP3A8+Yov+iTIG83QYzW680MA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>chfsf905sy7sXZJt6vjf5FNySKo=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAABy4vbVoN6BknVAOPxD7LuSDkuvmg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>f4pHxo/CIu4q713fLl6tV0hINvc=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5512-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiwBwE2v/RegFKJAUN4x8QtLOUfUhh+fQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.16~1</string>
					<key>Digest</key>
					<data>ymglFY6Zhek9bRO47ORe795xkug=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALixAwDLtztG2Y23Ln90C2GP9G4TIRqXUw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.16~1</string>
					<key>Digest</key>
					<data>icyuJjfr1yrcKEu0jMh3HD30f3I=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgBAQCOrkqUKSQvKCPa49bxj06n9duf7A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>agU8J/1LnCHVK7Ls19sHsOC6qgQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjBAwCUy+Qf9LmhMO3HFmsbXvmHYjyDJw==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>OUbMqq74zQs+ANsTE0NBIV269ag=</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>l6s0rAaT9bA7+3JtTiwlTxTicKE=</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B208</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>n90ap</string>
				<key>MinimumSystemPartition</key>
				<integer>975</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>chfsf905sy7sXZJt6vjf5FNySKo=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAABy4vbVoN6BknVAOPxD7LuSDkuvmg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>imrfCpuwU21wdfD1QrdCD6zF+V4=</data>
					<key>FlashPSI-PartialDigest</key>
					<data>QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATFdw==</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>aV7n5VUpvSbMWA4ImMj4R0vfpmk=</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.12.01_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>DDgD3jQvuTNaRw21RwYk6p8f/n4=</data>
					<key>ModemStack-Length</key>
					<string>0x006f7358</string>
					<key>ModemStack-SecPackDigest</key>
					<data>pkgZiB2bWZyeiNRLRqH59NBnagE=</data>
					<key>RamPSI-PartialDigest</key>
					<data>QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrVqA==</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>FTx5IB6LxDLhVRXLZ2uYEIiLr38=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgUAAD+VFldtrjItYhYCEXw2ZobUtsf+Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>JHEGRQ56ZVdwqCTCCAKkkhKjeiE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPglAACVbLe1+7YpLO9KiVgFeJ+7w3yYiQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>v8/QHHtIFEzBsV8TIHNVyJHWqC4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiIAADo4bdRaZkR8bvUyPM16vL0CzfbEg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>3NkXgxZiacUVLOkGGCcBnQQa/jE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjzCQC32RRFQwx6RbBCHF8WLsSwQ8MJzA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>7MhQqSSJ4KOKA/vdWjTSdOZQ1uU=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHiSAgDbguBBnYvf0J83OEFGc5bTkZi35Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>mB0T1El08zgDCA/f8WI4SkWQp9I=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADiTAAB1XGH7pl3LbLW9olgOF+ZfqYuNaQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>onho4pbIOueyeZb+OT+jEEgCI0M=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADgTAACsLws+tnFbxdPTQd3aPjRokW3/Ew==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>EGqqefxcK/uuoSRbVQomwTsmiR8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjqAACdFKd+w63ZP4wVLew/6AAekZyoKA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>UU+XZSQrqudBxFiavTQ25ijcyec=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhpYgDEOwP3A8+Yov+iTIG83QYzW680MA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.16~1</string>
					<key>Digest</key>
					<data>vL/FPkSYmP6CfdP37gsTl9kiNdw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjRAQBTIdrWAS5UvrToKCT4kdvE3LciNQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5508-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>E8j/Ur+uMe/H1nbdUzhRv6dlgKY=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode@2x~iphone.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjyAQCfK6HTGHN7hq+ls93/m+bfYU0G/w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>EGqqefxcK/uuoSRbVQomwTsmiR8=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjqAACdFKd+w63ZP4wVLew/6AAekZyoKA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>UU+XZSQrqudBxFiavTQ25ijcyec=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHhpYgDEOwP3A8+Yov+iTIG83QYzW680MA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>chfsf905sy7sXZJt6vjf5FNySKo=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAABy4vbVoN6BknVAOPxD7LuSDkuvmg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>gMjst9gZHUNUVRDEMcOkrGKpeRU=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5510-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPigBwHya9nISRMYrSXnsHs0t3XIX48DOQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.16~1</string>
					<key>Digest</key>
					<data>ymglFY6Zhek9bRO47ORe795xkug=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALixAwDLtztG2Y23Ln90C2GP9G4TIRqXUw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.16~1</string>
					<key>Digest</key>
					<data>icyuJjfr1yrcKEu0jMh3HD30f3I=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgBAQCOrkqUKSQvKCPa49bxj06n9duf7A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>agU8J/1LnCHVK7Ls19sHsOC6qgQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjBAwCUy+Qf9LmhMO3HFmsbXvmHYjyDJw==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>ShFJ1cWyc7O7Lk1S17govyaQQIw=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9B208</string>
	<key>ProductVersion</key>
	<string>5.1.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35120</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35120</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone3,1</string>
	</array>
</dict>
</plist>