<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A405</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n90ap</string>
				<key>MinimumSystemPartition</key>
				<integer>996</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					ViIhDEeTTue+QETg7uOYSPAmvno=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAAB/954ZbOGO+qc7uXkzmvuXOCQG
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.11.08_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					UDQlgYNfRV+SIXJst4lFeTe6mC4=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f6e98</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					hZ3cWpY03ZGbKs3gRXNxK2GuJXY=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					d9b6WQsuxPxWJic+z2Fw6QogJNQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAADUkghH/ZJiiGeffPaf5XckgQsR
					2w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					yf5v4M+86faUlYv32PlPL3ZhkHw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAADW/0J/6On+TiIx505ihqlYS3KJ
					jg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					o+wCauPtX6TJH6HQ0hSRtsj2jhk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAADqhUKAxBYr/IdKRyah1wPFVirX
					rQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					2zYEhJ4ZExudYxroGAWMy/5JVYU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjzCQC1rePrYpRw/emkRfPOUwX+8jLF
					FA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					ztbUimQDhbaWoaB+hKmULXDzu2c=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgAMtY4R4BAvSdkuYsxERuAfbOSR
					sA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					tXt5fmerDMUqXnSW/Zpu+tRnVhE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiTAABG36AGbcghUlqqaAmu8CA31urX
					vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					jgJaxk+vtSWCypHh+wWGDHw2SWE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAADJLwlI0BOGEPYbeFo3sVMGDO/d
					IA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					K3M9nbcxaGWU/AMi8E5uB1L7WwU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjpAABFiwZmeET/VlwjemfL35e2hy/B
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					mHAmwAo08zPA1PNyWH6MAehDAOg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhmYwCgK339fnnA1D6AzpFkWBgSOk0j
					jw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					fiqc899m3LqAxbn4ZyGQFoWqD64=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjRAQBr+nyA9VgRPaPcrguttuPx7f7J
					yw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3700-001.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					oiYTtWp3HDaVqnZRTBf/WZglGSo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjyAQC/xxiMXg0K3tOtCFnGYnNOpmAd
					QA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					K3M9nbcxaGWU/AMi8E5uB1L7WwU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjpAABFiwZmeET/VlwjemfL35e2hy/B
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					mHAmwAo08zPA1PNyWH6MAehDAOg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhmYwCgK339fnnA1D6AzpFkWBgSOk0j
					jw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					ViIhDEeTTue+QETg7uOYSPAmvno=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAAB/954ZbOGO+qc7uXkzmvuXOCQG
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					HbvqQy06Y7C7RF69DiXoUjIR9cc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3715-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgQBAEH+wO04OOmhccmATw6OSogqnGz
					Iw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					gJRTd1M/HLouShZ0GH/9nSBmVCY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALixAwA+es0wc0S/7gf1vpiwxWLvDGDO
					jg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					1WVAKlT/hw/F7q/RWEZRjZKA4ek=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgBAQBshzNlrkauBQ6MJdfDazH7Jl8j
					4A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					zHZW2h7ASC+W3/I5vHQH4QnppoE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALixAwAYT/61zgvjWnTeBNQyeH/7LmEi
					tQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			UQVUifl+8Vf7fDoVrr54Ut0szZE=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A405</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n90ap</string>
				<key>MinimumSystemPartition</key>
				<integer>996</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					ViIhDEeTTue+QETg7uOYSPAmvno=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAAB/954ZbOGO+qc7uXkzmvuXOCQG
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.11.08_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					UDQlgYNfRV+SIXJst4lFeTe6mC4=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f6e98</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					hZ3cWpY03ZGbKs3gRXNxK2GuJXY=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					d9b6WQsuxPxWJic+z2Fw6QogJNQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAADUkghH/ZJiiGeffPaf5XckgQsR
					2w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					yf5v4M+86faUlYv32PlPL3ZhkHw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAADW/0J/6On+TiIx505ihqlYS3KJ
					jg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					o+wCauPtX6TJH6HQ0hSRtsj2jhk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAADqhUKAxBYr/IdKRyah1wPFVirX
					rQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					2zYEhJ4ZExudYxroGAWMy/5JVYU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjzCQC1rePrYpRw/emkRfPOUwX+8jLF
					FA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					ztbUimQDhbaWoaB+hKmULXDzu2c=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgAMtY4R4BAvSdkuYsxERuAfbOSR
					sA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					tXt5fmerDMUqXnSW/Zpu+tRnVhE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiTAABG36AGbcghUlqqaAmu8CA31urX
					vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					jgJaxk+vtSWCypHh+wWGDHw2SWE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAADJLwlI0BOGEPYbeFo3sVMGDO/d
					IA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					K3M9nbcxaGWU/AMi8E5uB1L7WwU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjpAABFiwZmeET/VlwjemfL35e2hy/B
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					mHAmwAo08zPA1PNyWH6MAehDAOg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhmYwCgK339fnnA1D6AzpFkWBgSOk0j
					jw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					fiqc899m3LqAxbn4ZyGQFoWqD64=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjRAQBr+nyA9VgRPaPcrguttuPx7f7J
					yw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3700-001.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					oiYTtWp3HDaVqnZRTBf/WZglGSo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjyAQC/xxiMXg0K3tOtCFnGYnNOpmAd
					QA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					K3M9nbcxaGWU/AMi8E5uB1L7WwU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjpAABFiwZmeET/VlwjemfL35e2hy/B
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					mHAmwAo08zPA1PNyWH6MAehDAOg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhmYwCgK339fnnA1D6AzpFkWBgSOk0j
					jw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					ViIhDEeTTue+QETg7uOYSPAmvno=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAAB/954ZbOGO+qc7uXkzmvuXOCQG
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					h36RWMbODxmdJoVIPBhthbXszU4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3711-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgABAFVXsqTf6h7WkVxfv/08uWeiU8O
					Cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					gJRTd1M/HLouShZ0GH/9nSBmVCY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALixAwA+es0wc0S/7gf1vpiwxWLvDGDO
					jg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					1WVAKlT/hw/F7q/RWEZRjZKA4ek=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgBAQBshzNlrkauBQ6MJdfDazH7Jl8j
					4A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					zHZW2h7ASC+W3/I5vHQH4QnppoE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALixAwAYT/61zgvjWnTeBNQyeH/7LmEi
					tQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			HY4W8vaej2PkxqudwNcPFbA1J34=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9A405</string>
	<key>ProductVersion</key>
	<string>5.0.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35120</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35120</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone3,1</string>
	</array>
</dict>
</plist>
