<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005000E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A405</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n92ap</string>
				<key>MinimumSystemPartition</key>
				<integer>987</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					ViIhDEeTTue+QETg7uOYSPAmvno=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAAB/954ZbOGO+qc7uXkzmvuXOCQG
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					sYz95u5241c5HlNaIjrpEO/Fk7Y=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					SvuF4uX7Jtpm4Gx+4K3R5spln6s=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					VAAAAACyAADADEwPWMsNGGbAosqrHPiWV6IF
					rQDSAABW1L2QQ53tpGCBhQI8Zq0rOz+87Q==
					</data>
					<key>DBL-Version</key>
					<integer>-1610612735</integer>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					UAAAAMB4AgCulNdp0+YiofGMjDuF54cn81OU
					Pw==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1610612479</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Phoenix-3.0.03.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					78aQg5v0nEs7VCn/Kv86UqI6R50=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					JVPJlSJZENRmYIDReT3WGJY6qVY=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					d9b6WQsuxPxWJic+z2Fw6QogJNQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAADUkghH/ZJiiGeffPaf5XckgQsR
					2w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					yf5v4M+86faUlYv32PlPL3ZhkHw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAADW/0J/6On+TiIx505ihqlYS3KJ
					jg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					o+wCauPtX6TJH6HQ0hSRtsj2jhk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAADqhUKAxBYr/IdKRyah1wPFVirX
					rQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					2zYEhJ4ZExudYxroGAWMy/5JVYU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjzCQC1rePrYpRw/emkRfPOUwX+8jLF
					FA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					ztbUimQDhbaWoaB+hKmULXDzu2c=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgAMtY4R4BAvSdkuYsxERuAfbOSR
					sA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					tXt5fmerDMUqXnSW/Zpu+tRnVhE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiTAABG36AGbcghUlqqaAmu8CA31urX
					vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					jgJaxk+vtSWCypHh+wWGDHw2SWE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAADJLwlI0BOGEPYbeFo3sVMGDO/d
					IA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					yWUCML0k7BaDU/DrbQgdmhWVCvk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjkAABvDimVdbW4Qkz7ktaA8+f81nbK
					1w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					EmT/FCIEVOOZd2KbbQEUB7cU7xo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALi0YgCNUZLEFoZ4cwVR2Z7LG2JyxG+Z
					CA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					zXwyAJsMNWzEbS04NQioTia/5FI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjRAQDJMYrgzRr27bkepTjEOg1O/5dJ
					aA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3704-001.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					oiYTtWp3HDaVqnZRTBf/WZglGSo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjyAQC/xxiMXg0K3tOtCFnGYnNOpmAd
					QA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					yWUCML0k7BaDU/DrbQgdmhWVCvk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjkAABvDimVdbW4Qkz7ktaA8+f81nbK
					1w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					EmT/FCIEVOOZd2KbbQEUB7cU7xo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALi0YgCNUZLEFoZ4cwVR2Z7LG2JyxG+Z
					CA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					ViIhDEeTTue+QETg7uOYSPAmvno=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAAB/954ZbOGO+qc7uXkzmvuXOCQG
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					fF5bpB0diFmJKfQBuyqVsLcpG1Y=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3715-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgQBAFfgI0DK3+aErmdnmsgQb/rETTI
					Hg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					AOG/CtHaoNZX6ECV3IGLgr/GDmk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAwChAdzUYGlMRRmXjKB9MaBnW2pq
					iQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					3S/n0caaoRcL8WxDXCTA5gyUTLo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgBAQB9075/1QAQJJW/kxOvFy1izUiN
					Ng==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					PZPqZFWjh6EnoIz2UI6wuo7MzBU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAwAg+V7tI8pt7gx//CZz18rpLi9a
					HQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			rjMO15ENCZS2O/ejDfGC7UGp64w=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005000E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A405</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n92ap</string>
				<key>MinimumSystemPartition</key>
				<integer>987</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					ViIhDEeTTue+QETg7uOYSPAmvno=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAAB/954ZbOGO+qc7uXkzmvuXOCQG
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					sYz95u5241c5HlNaIjrpEO/Fk7Y=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					SvuF4uX7Jtpm4Gx+4K3R5spln6s=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					VAAAAACyAADADEwPWMsNGGbAosqrHPiWV6IF
					rQDSAABW1L2QQ53tpGCBhQI8Zq0rOz+87Q==
					</data>
					<key>DBL-Version</key>
					<integer>-1610612735</integer>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					UAAAAMB4AgCulNdp0+YiofGMjDuF54cn81OU
					Pw==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1610612479</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Phoenix-3.0.03.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					78aQg5v0nEs7VCn/Kv86UqI6R50=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					JVPJlSJZENRmYIDReT3WGJY6qVY=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					d9b6WQsuxPxWJic+z2Fw6QogJNQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAADUkghH/ZJiiGeffPaf5XckgQsR
					2w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					yf5v4M+86faUlYv32PlPL3ZhkHw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAADW/0J/6On+TiIx505ihqlYS3KJ
					jg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					o+wCauPtX6TJH6HQ0hSRtsj2jhk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAADqhUKAxBYr/IdKRyah1wPFVirX
					rQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					2zYEhJ4ZExudYxroGAWMy/5JVYU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjzCQC1rePrYpRw/emkRfPOUwX+8jLF
					FA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					ztbUimQDhbaWoaB+hKmULXDzu2c=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgAMtY4R4BAvSdkuYsxERuAfbOSR
					sA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					tXt5fmerDMUqXnSW/Zpu+tRnVhE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiTAABG36AGbcghUlqqaAmu8CA31urX
					vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					jgJaxk+vtSWCypHh+wWGDHw2SWE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAADJLwlI0BOGEPYbeFo3sVMGDO/d
					IA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					yWUCML0k7BaDU/DrbQgdmhWVCvk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjkAABvDimVdbW4Qkz7ktaA8+f81nbK
					1w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					EmT/FCIEVOOZd2KbbQEUB7cU7xo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALi0YgCNUZLEFoZ4cwVR2Z7LG2JyxG+Z
					CA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					zXwyAJsMNWzEbS04NQioTia/5FI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjRAQDJMYrgzRr27bkepTjEOg1O/5dJ
					aA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3704-001.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					oiYTtWp3HDaVqnZRTBf/WZglGSo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjyAQC/xxiMXg0K3tOtCFnGYnNOpmAd
					QA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					yWUCML0k7BaDU/DrbQgdmhWVCvk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjkAABvDimVdbW4Qkz7ktaA8+f81nbK
					1w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					EmT/FCIEVOOZd2KbbQEUB7cU7xo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALi0YgCNUZLEFoZ4cwVR2Z7LG2JyxG+Z
					CA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					ViIhDEeTTue+QETg7uOYSPAmvno=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAAB/954ZbOGO+qc7uXkzmvuXOCQG
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					Y9PDF+SOxxQ7fbf1s25aeM1bLkE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3711-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgABAHWs2flFBWlyag4QnjrwjDR36bU
					Bg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					AOG/CtHaoNZX6ECV3IGLgr/GDmk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAwChAdzUYGlMRRmXjKB9MaBnW2pq
					iQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					3S/n0caaoRcL8WxDXCTA5gyUTLo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgBAQB9075/1QAQJJW/kxOvFy1izUiN
					Ng==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					PZPqZFWjh6EnoIz2UI6wuo7MzBU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAwAg+V7tI8pt7gx//CZz18rpLi9a
					HQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			88Ch3VimX1lEQ28uhZd5MIKrE1c=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9A405</string>
	<key>ProductVersion</key>
	<string>5.0.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>100698416</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>100698416</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone3,3</string>
	</array>
</dict>
</plist>
