<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8920</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n88ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							vws1BOwhnsDz2wWduvYOEXiv6rM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAAmGZjV+oZ2Qc1Ru+1B6E/sI+JC
							iw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							2v9tPRE+jt9WQTgqIYbjKbHmtzs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAAC5rBWRRrPCKaEKSAcJvM6PRPRa
							2Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							TeSQDnkBUkbAZ+u1ssB06R8K4WE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAACTCp8dAorBbmVV6GNS++ZaYI5e
							yQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							51WoLpu5XuJdRbbK+pNwizB1h7o=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAB5+KPaqz4Eqn2bYvspJAE5fZrQ
							xA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							R93kqhXt6iD2jSxv9ZHgpD3AS24=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQCRiNEvUx+E0joDUVmf41Qwn+AL
							QQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							Muui6YyiFLjkXA2Y6VXym/jd09w=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAACG4nqZbMPDMVNYUo4PfEAHd/6/
							qQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							LYluScNCDQ/Dy1ZQXogS66iB5H0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AABRcAvF9CQeSNRRmzzfgEmsLI2j
							Aw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							U5qLdUZWNibsOVehcdU320QeDn4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAADh1IkR4ZBIXdld7C4Iy/mejv6R
							+w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							oZxogZnJ+/tRdFek1z6iRaUtQKs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALizAADlCuUM6qx1gQfyXlLV5V7vC2GC
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							PtSh7OmOTsFmUG9tb2al/9HOwYE=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n88</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPieSAB1A3roOWUa/etcyQLHh2g0nOJ8
							4A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAABwkxZa+RSPmgfxm49k8yqYS4px
							XA==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7061-122.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							z03EKpWqwdek/kX7YI7gimGvo2g=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPipAAB/4e+JIt7C24Q2HaCPU04vQ4DR
							AA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							oZxogZnJ+/tRdFek1z6iRaUtQKs=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALizAADlCuUM6qx1gQfyXlLV5V7vC2GC
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							PtSh7OmOTsFmUG9tb2al/9HOwYE=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n88</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPieSAB1A3roOWUa/etcyQLHh2g0nOJ8
							4A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							vws1BOwhnsDz2wWduvYOEXiv6rM=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAAmGZjV+oZ2Qc1Ru+1B6E/sI+JC
							iw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							yefd75qYI3O/Iyuqso5a07DGx0g=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7080-079.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgg0wBf6zL4JTjytdwqTdl4pj8ISu7k
							3w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRAQB5sQMVmuNEstBpoOuTwhcaqykA
							7w==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQDHQiK4MsGbHCseKvYfL1+1G9lY
							JA==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							c6oOcAx0OOanHbAaPbq7yTfwoz0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHihAgBax0aH0zfEwI2fcUAmdq9TrlLT
							XQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					OAsYO3Tp/GmIBwaAZWYEqfq/oVw=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8920</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n88ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							vws1BOwhnsDz2wWduvYOEXiv6rM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAAmGZjV+oZ2Qc1Ru+1B6E/sI+JC
							iw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							2v9tPRE+jt9WQTgqIYbjKbHmtzs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAAC5rBWRRrPCKaEKSAcJvM6PRPRa
							2Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							TeSQDnkBUkbAZ+u1ssB06R8K4WE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAACTCp8dAorBbmVV6GNS++ZaYI5e
							yQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							51WoLpu5XuJdRbbK+pNwizB1h7o=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAB5+KPaqz4Eqn2bYvspJAE5fZrQ
							xA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							R93kqhXt6iD2jSxv9ZHgpD3AS24=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQCRiNEvUx+E0joDUVmf41Qwn+AL
							QQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							Muui6YyiFLjkXA2Y6VXym/jd09w=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAACG4nqZbMPDMVNYUo4PfEAHd/6/
							qQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							LYluScNCDQ/Dy1ZQXogS66iB5H0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AABRcAvF9CQeSNRRmzzfgEmsLI2j
							Aw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							U5qLdUZWNibsOVehcdU320QeDn4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAADh1IkR4ZBIXdld7C4Iy/mejv6R
							+w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							oZxogZnJ+/tRdFek1z6iRaUtQKs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALizAADlCuUM6qx1gQfyXlLV5V7vC2GC
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							PtSh7OmOTsFmUG9tb2al/9HOwYE=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n88</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPieSAB1A3roOWUa/etcyQLHh2g0nOJ8
							4A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAABwkxZa+RSPmgfxm49k8yqYS4px
							XA==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7061-122.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							z03EKpWqwdek/kX7YI7gimGvo2g=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPipAAB/4e+JIt7C24Q2HaCPU04vQ4DR
							AA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							oZxogZnJ+/tRdFek1z6iRaUtQKs=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALizAADlCuUM6qx1gQfyXlLV5V7vC2GC
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							PtSh7OmOTsFmUG9tb2al/9HOwYE=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n88</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPieSAB1A3roOWUa/etcyQLHh2g0nOJ8
							4A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							vws1BOwhnsDz2wWduvYOEXiv6rM=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAAmGZjV+oZ2Qc1Ru+1B6E/sI+JC
							iw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							KJGCDno2++3NNVeWJuK4wE02MnE=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7073-079.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgQ0wAGFuSKrx/7EEF0AjLoGVxEBM8Q
							tg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRAQB5sQMVmuNEstBpoOuTwhcaqykA
							7w==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAQDHQiK4MsGbHCseKvYfL1+1G9lY
							JA==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							c6oOcAx0OOanHbAaPbq7yTfwoz0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHihAgBax0aH0zfEwI2fcUAmdq9TrlLT
							XQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					xGpP6HSyRYnKp76eaEHMp2a0E1s=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>8B117</string>
		<key>ProductVersion</key>
		<string>4.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>35104</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>35104</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPhone2,1</string>
		</array>
	</dict>
</plist>
