<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8920</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>BbChipID</key>
				<string>0x1C00</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7C144</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n88ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							NQcqtZ14d4aoUe+7PeCCpA1bqSY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAC/vbUBpa/XA9tpWNf3p5IN8vUZ
							aQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							PGQ2KccvOwEyQoVx6FdVc05dxaI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAAC2rY3se83nGMtbWxeI+8Ftha5K
							pg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							FZfLt8BJmu1CR+R3szKaiJFh5as=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAAAHNn0Cs17zz9OhTtOFCGOG6Zhw
							kQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							jnpoJ+YrKbyp7yUZ5MKKGOBSKN8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAAyHac6K7uf67lCR/4wv1LpSvAS
							Nw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							rNMt7dLxkw3Xjg/ygAKyS0SFZwc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAQC7eDBskVGC/8NKvPJEvnk/JVFP
							YA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							OLxJ3T1TxIOZKPqw3K9Ma5DYf2Y=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjVAAB8kyjpu32MfsptqxG1E79lBM7B
							Ig==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							AMUbxKM3gDQnY0X/EhRIl2rLZvg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPj2AACqFh/ZK+zAVRfQp0bZXsQSOZKW
							7g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							rMsugPGadh7B11QClr30KSb5snU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAABSk3SwZKa9SbdQlt6OSkqXPwGQ
							9g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							SLVjAcUrDCROu+MuiUwo9xyS3vk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHioAABW27YUrx93x58CuD+6qN4P730V
							Jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							Rs7zP75r6EGIkDsHnPX6rfREpNA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8920x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjJPgDTHIHCjf4lMTc/V6wdwawMGXB2
							Ww==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.65~2</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgBAQAAb6jEhVEKUkvjEc+PxFrbDsSz
							YQ==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							ywQ3Bv3E8NgGE60pjajXYT87TTk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/needservice.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhHAABRfZMPiNpaN61lSQHM3wRuNmVL
							aw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-5344-086.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							le/xLTuCtISnkGE9jBNxHiI7AUU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiyAABsLAEJYrluU2lhZrskXHFvI7uo
							9w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							SLVjAcUrDCROu+MuiUwo9xyS3vk=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHioAABW27YUrx93x58CuD+6qN4P730V
							Jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							Rs7zP75r6EGIkDsHnPX6rfREpNA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8920x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjJPgDTHIHCjf4lMTc/V6wdwawMGXB2
							Ww==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							NQcqtZ14d4aoUe+7PeCCpA1bqSY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAC/vbUBpa/XA9tpWNf3p5IN8vUZ
							aQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							mU4+iriigzZycTe9yy7ESRASeq0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-5352-086.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjguwD5BJvs47eYptp1bMm9yxDA9Yk1
							ow==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.65~2</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiBAQBLQNtRH1JS8eAHEcAIGeVQA3Zd
							qg==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.65~2</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiBAQBA/9WBGHGeYZeaZuohP+LAiPF8
							YA==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							Ppmgug/l8CRgGfelz0XM5aN5ayU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADixAgBV42B1WyXUbrZe3hKuKTEBCPvc
							9w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					FKyK/u2uo0oP5aFZv2DXrLqNz0k=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8920</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>BbChipID</key>
				<string>0x1C00</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7C144</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n88ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							NQcqtZ14d4aoUe+7PeCCpA1bqSY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAC/vbUBpa/XA9tpWNf3p5IN8vUZ
							aQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							PGQ2KccvOwEyQoVx6FdVc05dxaI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAAC2rY3se83nGMtbWxeI+8Ftha5K
							pg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							FZfLt8BJmu1CR+R3szKaiJFh5as=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAAAHNn0Cs17zz9OhTtOFCGOG6Zhw
							kQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							jnpoJ+YrKbyp7yUZ5MKKGOBSKN8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAAyHac6K7uf67lCR/4wv1LpSvAS
							Nw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							rNMt7dLxkw3Xjg/ygAKyS0SFZwc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAQC7eDBskVGC/8NKvPJEvnk/JVFP
							YA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							OLxJ3T1TxIOZKPqw3K9Ma5DYf2Y=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjVAAB8kyjpu32MfsptqxG1E79lBM7B
							Ig==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							AMUbxKM3gDQnY0X/EhRIl2rLZvg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPj2AACqFh/ZK+zAVRfQp0bZXsQSOZKW
							7g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							rMsugPGadh7B11QClr30KSb5snU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAABSk3SwZKa9SbdQlt6OSkqXPwGQ
							9g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							SLVjAcUrDCROu+MuiUwo9xyS3vk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHioAABW27YUrx93x58CuD+6qN4P730V
							Jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							Rs7zP75r6EGIkDsHnPX6rfREpNA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8920x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjJPgDTHIHCjf4lMTc/V6wdwawMGXB2
							Ww==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.65~2</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgBAQAAb6jEhVEKUkvjEc+PxFrbDsSz
							YQ==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							ywQ3Bv3E8NgGE60pjajXYT87TTk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/needservice.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhHAABRfZMPiNpaN61lSQHM3wRuNmVL
							aw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-5344-086.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							le/xLTuCtISnkGE9jBNxHiI7AUU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiyAABsLAEJYrluU2lhZrskXHFvI7uo
							9w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							SLVjAcUrDCROu+MuiUwo9xyS3vk=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHioAABW27YUrx93x58CuD+6qN4P730V
							Jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							Rs7zP75r6EGIkDsHnPX6rfREpNA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8920x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjJPgDTHIHCjf4lMTc/V6wdwawMGXB2
							Ww==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							NQcqtZ14d4aoUe+7PeCCpA1bqSY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAC/vbUBpa/XA9tpWNf3p5IN8vUZ
							aQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							6z8tCWFdRYU5CLTscJruIriH2Bg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-5349-086.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjQuwDRB1kcxFckAZNG7NvokvQsa09o
							3Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.65~2</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiBAQBLQNtRH1JS8eAHEcAIGeVQA3Zd
							qg==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.65~2</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiBAQBA/9WBGHGeYZeaZuohP+LAiPF8
							YA==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							Ppmgug/l8CRgGfelz0XM5aN5ayU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADixAgBV42B1WyXUbrZe3hKuKTEBCPvc
							9w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					dlyjR2c/UHNyOEdKEPE0FPDFSho=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>7C144</string>
		<key>ProductVersion</key>
		<string>3.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>35104</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>35104</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPhone2,1</string>
		</array>
	</dict>
</plist>
