<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005000E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8E401</string>
				<key>BuildTrain</key>
				<string>Phoenix</string>
				<key>DeviceClass</key>
				<string>n92ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					/cdaxvnvv3oHOeYEp5X0xHCn0vM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAB93IpEVxHMfPssOlIl7Wn2vEPl
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					OIVhjaEGZtHmRsXyrAbZ6KBV3+8=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					Mk12KCwe5+etWSjW6zCd1yaYH/8=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					eAAAAMCxAAB/DnxkImiXeg0DbBqPsXs20vyd
					pMDRAAD1RvPALcHTr3OmNSNnQQDOnW+x1A==
					</data>
					<key>DBL-Version</key>
					<integer>-1610612735</integer>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					bAAAAEB4AgCUvyupJh838W/pxd8vlZJk2sVA
					2A==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1610612479</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Phoenix-1.0.06.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					zMapxQUcBG4GyL6cXSDFYhq7s/I=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					JVPJlSJZENRmYIDReT3WGJY6qVY=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					UP6Yxs9pejpfvJVR50eWNCKOat0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgQAQDGsEqsLFKlb04EgcJXsMsjWbJb
					CA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					AmqGpjCs9F83Y/RA0+/CcA+Z2IM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgJAQAncm9Efk77sv5ijqrkYqBj58hM
					Ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					KmWHpu/hK8cE4WzqStQ/ATv4nAA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgwAQCKKdknb13LVfBZeuBXR95s2C9x
					Lw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					iwT0/1jms76gCTvLt3yjY8TvOK4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiOAwAQHk+KL4RV12heCtNya++NYcqp
					Sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					4r6octtzhM+wIU5r+8eXZ6hKyd8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjeAgD+IVoISCRUf74omkYdCrcdvSMD
					TA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					fNkFqC2Zv64OJUZ4FOehzAYmI7I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgrAwCgyQR57bW9ujacYmdSQyJ/QPYE
					LA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					C6Y094WYATWLgyYTjIHYs5QQNlc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgGAQBK5w0Rbl58WtpLxvt4fdmpT+nH
					8Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					ncFoN5g4ZvOxgIgGvtavPywqubg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjbAACqTQh2rqNsOL5+9oLctqXPCSmY
					OA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ttbr8O/zGevrxwYKuEZgJ2S0nQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgoWABhTNEsE/87WIah/KxGUMCUeaNb
					yw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhxAQASSuaugNSURlv0/y+eoD+5nw0N
					Dg==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1497-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					Rjrx8LLe7FmZWUkMfA1ojh1N+Qs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgpAgD9S+dmFPsN6QDoLCUHMwUeT35E
					aw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					ncFoN5g4ZvOxgIgGvtavPywqubg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjbAACqTQh2rqNsOL5+9oLctqXPCSmY
					OA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ttbr8O/zGevrxwYKuEZgJ2S0nQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgoWABhTNEsE/87WIah/KxGUMCUeaNb
					yw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					/cdaxvnvv3oHOeYEp5X0xHCn0vM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAB93IpEVxHMfPssOlIl7Wn2vEPl
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					n950DBYOc0EzeNjpQ8TgJ4gAIkg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1479-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhQ7QC1pYfYBW3vatxZLX8HCbqV+kLK
					AA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAwBhDlJdWBOR00zGFI2NvtSVB/+7
					vg==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhBAgAiCII6RQSELxxyUvVyqrIKw2is
					iQ==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					efvPcYbZYqEOpfjrZ2z4vcZ4qMU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAwDdxsdvlt6Rx4Be0uB4z7mrWoX3
					xw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			1Yl2XO0d+epHTgANLOlRhMyCW+s=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x06</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005000E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8E401</string>
				<key>BuildTrain</key>
				<string>Phoenix</string>
				<key>DeviceClass</key>
				<string>n92ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					/cdaxvnvv3oHOeYEp5X0xHCn0vM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAB93IpEVxHMfPssOlIl7Wn2vEPl
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					OIVhjaEGZtHmRsXyrAbZ6KBV3+8=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					Mk12KCwe5+etWSjW6zCd1yaYH/8=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					eAAAAMCxAAB/DnxkImiXeg0DbBqPsXs20vyd
					pMDRAAD1RvPALcHTr3OmNSNnQQDOnW+x1A==
					</data>
					<key>DBL-Version</key>
					<integer>-1610612735</integer>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					bAAAAEB4AgCUvyupJh838W/pxd8vlZJk2sVA
					2A==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1610612479</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Phoenix-1.0.06.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					zMapxQUcBG4GyL6cXSDFYhq7s/I=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					JVPJlSJZENRmYIDReT3WGJY6qVY=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					UP6Yxs9pejpfvJVR50eWNCKOat0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgQAQDGsEqsLFKlb04EgcJXsMsjWbJb
					CA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					AmqGpjCs9F83Y/RA0+/CcA+Z2IM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgJAQAncm9Efk77sv5ijqrkYqBj58hM
					Ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					KmWHpu/hK8cE4WzqStQ/ATv4nAA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgwAQCKKdknb13LVfBZeuBXR95s2C9x
					Lw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					iwT0/1jms76gCTvLt3yjY8TvOK4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiOAwAQHk+KL4RV12heCtNya++NYcqp
					Sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					4r6octtzhM+wIU5r+8eXZ6hKyd8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjeAgD+IVoISCRUf74omkYdCrcdvSMD
					TA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					fNkFqC2Zv64OJUZ4FOehzAYmI7I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgrAwCgyQR57bW9ujacYmdSQyJ/QPYE
					LA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					C6Y094WYATWLgyYTjIHYs5QQNlc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgGAQBK5w0Rbl58WtpLxvt4fdmpT+nH
					8Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					ncFoN5g4ZvOxgIgGvtavPywqubg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjbAACqTQh2rqNsOL5+9oLctqXPCSmY
					OA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ttbr8O/zGevrxwYKuEZgJ2S0nQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgoWABhTNEsE/87WIah/KxGUMCUeaNb
					yw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhxAQASSuaugNSURlv0/y+eoD+5nw0N
					Dg==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1497-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					Rjrx8LLe7FmZWUkMfA1ojh1N+Qs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgpAgD9S+dmFPsN6QDoLCUHMwUeT35E
					aw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					ncFoN5g4ZvOxgIgGvtavPywqubg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/DeviceTree.n92ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjbAACqTQh2rqNsOL5+9oLctqXPCSmY
					OA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ttbr8O/zGevrxwYKuEZgJ2S0nQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgoWABhTNEsE/87WIah/KxGUMCUeaNb
					yw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					/cdaxvnvv3oHOeYEp5X0xHCn0vM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAB93IpEVxHMfPssOlIl7Wn2vEPl
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					3d1jbhAVK7hfFhN+ka7qzXC58sI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0971-006.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgw7QA1I85Jj9Y+zTau8SMdqaAN9xnv
					2Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAwBhDlJdWBOR00zGFI2NvtSVB/+7
					vg==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhBAgAiCII6RQSELxxyUvVyqrIKw2is
					iQ==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					efvPcYbZYqEOpfjrZ2z4vcZ4qMU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAwDdxsdvlt6Rx4Be0uB4z7mrWoX3
					xw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			HWm83bX5APkNgwz3owT4PUkHrZY=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x07</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005000E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8E401</string>
				<key>BuildTrain</key>
				<string>Phoenix</string>
				<key>DeviceClass</key>
				<string>n92dev</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					/cdaxvnvv3oHOeYEp5X0xHCn0vM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAB93IpEVxHMfPssOlIl7Wn2vEPl
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					OIVhjaEGZtHmRsXyrAbZ6KBV3+8=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					Mk12KCwe5+etWSjW6zCd1yaYH/8=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					eAAAAMCxAAB/DnxkImiXeg0DbBqPsXs20vyd
					pMDRAAD1RvPALcHTr3OmNSNnQQDOnW+x1A==
					</data>
					<key>DBL-Version</key>
					<integer>-1610612735</integer>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					bAAAAEB4AgCUvyupJh838W/pxd8vlZJk2sVA
					2A==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1610612479</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Phoenix-1.0.06.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					zMapxQUcBG4GyL6cXSDFYhq7s/I=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					JVPJlSJZENRmYIDReT3WGJY6qVY=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					UP6Yxs9pejpfvJVR50eWNCKOat0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgQAQDGsEqsLFKlb04EgcJXsMsjWbJb
					CA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					AmqGpjCs9F83Y/RA0+/CcA+Z2IM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgJAQAncm9Efk77sv5ijqrkYqBj58hM
					Ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					KmWHpu/hK8cE4WzqStQ/ATv4nAA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgwAQCKKdknb13LVfBZeuBXR95s2C9x
					Lw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					iwT0/1jms76gCTvLt3yjY8TvOK4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiOAwAQHk+KL4RV12heCtNya++NYcqp
					Sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					4r6octtzhM+wIU5r+8eXZ6hKyd8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjeAgD+IVoISCRUf74omkYdCrcdvSMD
					TA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					fNkFqC2Zv64OJUZ4FOehzAYmI7I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgrAwCgyQR57bW9ujacYmdSQyJ/QPYE
					LA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					C6Y094WYATWLgyYTjIHYs5QQNlc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgGAQBK5w0Rbl58WtpLxvt4fdmpT+nH
					8Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ikw34pZPQtULHKEINwxktsUSoo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/DeviceTree.n92dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjdAADSpHwrBra+IuouW1ikUwLuZtQ8
					VQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ttbr8O/zGevrxwYKuEZgJ2S0nQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgoWABhTNEsE/87WIah/KxGUMCUeaNb
					yw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/LLB.n92dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhxAQBYuB12skz+nirr0lsFo2J2sUac
					zw==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1497-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					Rjrx8LLe7FmZWUkMfA1ojh1N+Qs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgpAgD9S+dmFPsN6QDoLCUHMwUeT35E
					aw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ikw34pZPQtULHKEINwxktsUSoo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/DeviceTree.n92dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjdAADSpHwrBra+IuouW1ikUwLuZtQ8
					VQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ttbr8O/zGevrxwYKuEZgJ2S0nQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgoWABhTNEsE/87WIah/KxGUMCUeaNb
					yw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					/cdaxvnvv3oHOeYEp5X0xHCn0vM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAB93IpEVxHMfPssOlIl7Wn2vEPl
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					n950DBYOc0EzeNjpQ8TgJ4gAIkg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1479-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhQ7QC1pYfYBW3vatxZLX8HCbqV+kLK
					AA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n92dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAwBVt/JCJLptKHokXyfz8bq+4nOY
					ew==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n92dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhBAgDjgMilqUut/lYLM7/UpG1p3Dp6
					gQ==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					+2m6YKnLm98qA1n/jsx3mc1HeVs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/iBoot.n92dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAwCgwAorrk9N62wbTF7a1UGSdyem
					Sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			dqh41NyZlH4kpDlmjEc/13SsrH0=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x07</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005000E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8E401</string>
				<key>BuildTrain</key>
				<string>Phoenix</string>
				<key>DeviceClass</key>
				<string>n92dev</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					/cdaxvnvv3oHOeYEp5X0xHCn0vM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAB93IpEVxHMfPssOlIl7Wn2vEPl
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					OIVhjaEGZtHmRsXyrAbZ6KBV3+8=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					Mk12KCwe5+etWSjW6zCd1yaYH/8=
					</data>
					<key>DBL-PartialDigest</key>
					<data>
					eAAAAMCxAAB/DnxkImiXeg0DbBqPsXs20vyd
					pMDRAAD1RvPALcHTr3OmNSNnQQDOnW+x1A==
					</data>
					<key>DBL-Version</key>
					<integer>-1610612735</integer>
					<key>ENANDPRG-PartialDigest</key>
					<data>
					bAAAAEB4AgCUvyupJh838W/pxd8vlZJk2sVA
					2A==
					</data>
					<key>ENANDPRG-Version</key>
					<integer>-1610612479</integer>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Phoenix-1.0.06.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					zMapxQUcBG4GyL6cXSDFYhq7s/I=
					</data>
					<key>PartitionTable-Digest</key>
					<data>
					JVPJlSJZENRmYIDReT3WGJY6qVY=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					UP6Yxs9pejpfvJVR50eWNCKOat0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgQAQDGsEqsLFKlb04EgcJXsMsjWbJb
					CA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					AmqGpjCs9F83Y/RA0+/CcA+Z2IM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgJAQAncm9Efk77sv5ijqrkYqBj58hM
					Ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					KmWHpu/hK8cE4WzqStQ/ATv4nAA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgwAQCKKdknb13LVfBZeuBXR95s2C9x
					Lw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					iwT0/1jms76gCTvLt3yjY8TvOK4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiOAwAQHk+KL4RV12heCtNya++NYcqp
					Sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					4r6octtzhM+wIU5r+8eXZ6hKyd8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjeAgD+IVoISCRUf74omkYdCrcdvSMD
					TA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					fNkFqC2Zv64OJUZ4FOehzAYmI7I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgrAwCgyQR57bW9ujacYmdSQyJ/QPYE
					LA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					C6Y094WYATWLgyYTjIHYs5QQNlc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgGAQBK5w0Rbl58WtpLxvt4fdmpT+nH
					8Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ikw34pZPQtULHKEINwxktsUSoo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/DeviceTree.n92dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjdAADSpHwrBra+IuouW1ikUwLuZtQ8
					VQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ttbr8O/zGevrxwYKuEZgJ2S0nQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgoWABhTNEsE/87WIah/KxGUMCUeaNb
					yw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/LLB.n92dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhxAQBYuB12skz+nirr0lsFo2J2sUac
					zw==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1497-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					Rjrx8LLe7FmZWUkMfA1ojh1N+Qs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgpAgD9S+dmFPsN6QDoLCUHMwUeT35E
					aw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ikw34pZPQtULHKEINwxktsUSoo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/DeviceTree.n92dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjdAADSpHwrBra+IuouW1ikUwLuZtQ8
					VQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					8Ttbr8O/zGevrxwYKuEZgJ2S0nQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n92</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgoWABhTNEsE/87WIah/KxGUMCUeaNb
					yw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					/cdaxvnvv3oHOeYEp5X0xHCn0vM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAB93IpEVxHMfPssOlIl7Wn2vEPl
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					3d1jbhAVK7hfFhN+ka7qzXC58sI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0971-006.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgw7QA1I85Jj9Y+zTau8SMdqaAN9xnv
					2Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n92dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAwBVt/JCJLptKHokXyfz8bq+4nOY
					ew==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.72.14~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n92dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhBAgDjgMilqUut/lYLM7/UpG1p3Dp6
					gQ==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					+2m6YKnLm98qA1n/jsx3mc1HeVs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n92dev.production/iBoot.n92dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAwCgwAorrk9N62wbTF7a1UGSdyem
					Sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			ppif05l2AV3KFXQ7vLq8NJNKYUs=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8E401</string>
	<key>ProductVersion</key>
	<string>4.2.8</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>100698416</integer>
			<integer>117475632</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>100698416</integer>
			<integer>117475632</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone3,3</string>
	</array>
</dict>
</plist>
