<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8920</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A334</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n88ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1147</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>fhZmhXoXn8YP8NlbIQcDKmD/mTA=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAADzx93fU+tL5Yu7eqj8FvVJRYzljg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>y5cCHhSrNrXGrvQexyap7LmqouA=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgPAAAeWGRbiYGWJS2kSSq8dtyUnSpLfA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>qyUuDBMP2goq8IxTiocpVt6yFVs=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAAAx+hW/wY6pG2nR5ZdbVhyvNabEHw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>aOvBpemwT3QyWb0xPj++taCqfNk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPg1AAC7wKnSi6+cqjiuoJhertXvZwwtNQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>dh/es3giXn57bu4rOC8bagK1Enc=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjGAwDWikHa2QJ+Pj86rHdSxmZIR1ig8w==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>QqiGH2UUMgjEiZ5BKuZU4lX5heM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADixAABnZ/U0lkelx0FplhyYbx8foI95Cw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>/cCfZYc/qqdy/kgfaMmQTUr/M6c=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALg8AAB0CMyiPhwE9YZpCYf2bcQUjy2owQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>W1/TSdKMu1z30ZpD0NQ3LXVOt5w=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgLAAAh1gY3+XGnts08FDgNvOl7G40EHA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>JyhsR8kB97IQ5ehiXMdfTaZKNNg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALi4AABmWgkToUIGtyct3xSN/KxsARIJKA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>LcA6HjoBlGgnDRqnYO4XfZaLt+E=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHiiVABd2E4Edrjq3xGQOkVEQlMFl+Pcfg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>AVxtx8Y+94tMVclMg9zHDtXUVIs=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgxAQBB7JNFpgjA0gtyO5CPp1sNaURDFA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-7873-736.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>gRkEqC26Ew6D1FqevjPfVTw5+ig=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHiSAACTex4POUcXRxem53dcb98M178ASQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>JyhsR8kB97IQ5ehiXMdfTaZKNNg=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALi4AABmWgkToUIGtyct3xSN/KxsARIJKA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>LcA6HjoBlGgnDRqnYO4XfZaLt+E=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHiiVABd2E4Edrjq3xGQOkVEQlMFl+Pcfg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>fhZmhXoXn8YP8NlbIQcDKmD/mTA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgUAADzx93fU+tL5Yu7eqj8FvVJRYzljg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>5DX5BTWVFmjU7c9wIAlmkrjsnZA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-7919-343.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiQAwHPl0A63VPVCINataIZ3gLZDyyhsw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>xSJdtQyUCKwZeUZVxvf2FLVi+18=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALihAgBgICEUxML1XMWiWZgW07d3SUkttQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>FR7NOf88Z5bsSBVaB08j/mZiMFQ=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjxAAB8N1A/vg9xI9FQyGfSwsrxteuxlw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>L6eODiAuvBIhYd9E+rDpJbpUnK0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALixAgC4BgHbpk0y9uh4+10tftHZyNQyEA==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>pBCUKiTHORuKgsHPzeoQaCHdVnk=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9A334</string>
	<key>ProductVersion</key>
	<string>5.0</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35104</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35104</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone2,1</string>
	</array>
</dict>
</plist>