<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x08</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005A00E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A334</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1006</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					TrUErF3v2fVlDjcpHwlyrv0Czgo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo-640x960.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAABaFvcg4vBZC8sqQrL+9mtSz3QV
					AQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					fZrxnXMBTYX08vTFcgEMVF+aStc=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					Ac66NvvIrtedGUpshkyti/6KLb4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Trek-1.0.11.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					G6/ozvoDBG/Kdqp5PnFNS2wB5AE=
					</data>
					<key>RestoreDBL-PartialDigest</key>
					<data>
					dAAAAMDDAQBNFW+YwL9L/b9h4kz84Q02VxAM
					gQ==
					</data>
					<key>RestoreDBL-Version</key>
					<integer>-1576009727</integer>
					<key>eDBL-PartialDigest</key>
					<data>
					gAAAAMDEAQBMYos9g/xxkW4Vd/XF4sQRuHht
					qg==
					</data>
					<key>eDBL-Version</key>
					<integer>-1577058303</integer>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					+EPkXr0rTy2E4UbmubsbpIXh2OQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphcharging-640x960.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAACwl69g34kqD7R3VGX5QuKCQUy7
					BA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					BG0yPB6lgZtdlT3LAg6j0hp+iAY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0-640x960.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAAATMpZZ0gdDGa2n6Cy4/PLt4hxe
					GA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					472r5lAPFShcTt+lsDwNo8PDsNA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1-640x960.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAAD4YKY5KVNbW47iXdE3bgJ60A/Z
					SA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					18DvY1K8gyaDlSU2OQnmOTdSy+w=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull-640x960.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjzCQCGMHUU+ugEu2/jOJBkRUPLY5sq
					XQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					UEc7PELy56A+OhEBtUO5ZJJm+dc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0-640x960.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgAk+GXtTE4iKD/TZFA/TfEnDMSw
					1Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					19IZjArlEWKl9Wj+MxjJA677jzA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1-640x960.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiTAACjUtQsav+/b7sCTrmSTQQXFYGL
					qw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					TwlZ2Nmd+0tXGb99AOzLi+srATw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin-640x960.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAAClplM88msD+E2ZQkR/kXOLhR7F
					KA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					G+1GUe49bSfP8TFmzmIY27omCO8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj8AAAsCPi6rIIz8eQCfZPa+lQXvdhY
					Dg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					C1gPmQs83ccN6UUyBHXz6Etkrw0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPi/ZAB7dErFVYx6J7DXaCz2S7fa6qJD
					IQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>
					wDyJPMYXcz4KUPXK2MYew/SYSzc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjxAQBKhGxfAz12qam+W+n1iqFA+kOf
					Fw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2711-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					rRAlua8YUSvNs114cC2PJC/Tbzc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode-640x960.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjyAQCVwJ9UvzHtqKezpiFv5e/dcg0q
					Sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					G+1GUe49bSfP8TFmzmIY27omCO8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj8AAAsCPi6rIIz8eQCfZPa+lQXvdhY
					Dg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					C1gPmQs83ccN6UUyBHXz6Etkrw0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPi/ZAB7dErFVYx6J7DXaCz2S7fa6qJD
					IQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					TrUErF3v2fVlDjcpHwlyrv0Czgo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo-640x960.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAABaFvcg4vBZC8sqQrL+9mtSz3QV
					AQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					U9kw2oSfBpsXaua/D9CgPAovaKM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-8012-343.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwBAGXrlrCEgw7gtQCtfc/BUEpn1yl
					qg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>
					vGVefRIH7m6VicyRbKMo3DunZDg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhxAwBveDmmZSe9aK77iz0TZmJeSkvY
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>
					dbly4rlEZkGsoec9K919Dfy+bfg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgRAQAaSu8iY6tDCw5JRr23Ifci1hEy
					8A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					AKsQtFf+W5xRUckPfIjAyqc2STA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhxAwDU9g2yWMz5uzoTnAhL4hpfa8m2
					rw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			VwX9LY2qrL0m6iQjzezVKy7vJuM=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9A334</string>
	<key>ProductVersion</key>
	<string>5.0</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>134252864</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>134252864</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone4,1</string>
	</array>
</dict>
</plist>
