<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8950</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B143</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>n42ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1282</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					WhX8Mmk5zT2k7ac3wnuf53ubxds=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>
					RPhfOtozjgjtEaUUKDb7xYxdh9k=
					</data>
					<key>APPS-HashTableDigest</key>
					<data>
					0CU6c35dtukq0PoaKYZlPXBdLfc=
					</data>
					<key>DSP1-DownloadDigest</key>
					<data>
					BRXb6Nnp+CSjKNhU2d8VpvtccPI=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					lM/+osvSeABIioOklCzE+yxHls4=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					Fk8aSO/3i/iGDnZ5sr2dMaKssW0=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					01wvhn6W5MVL2pPIW5lQyU4byvU=
					</data>
					<key>DSP3-DownloadDigest</key>
					<data>
					KcP+9ArDKqCO6P1oy3hAWWEmpOw=
					</data>
					<key>DSP3-HashTableDigest</key>
					<data>
					RG5KSFNkgSIU6GVVvkS9m249l3o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-3.04.25.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>
					d6DYaX3ORl/Oh7QfZhLkdptwMTk=
					</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>
					bAAAAAAQAgCBJ5pnv2Sl7WO1DHIb+RPPV4Aw
					xw==
					</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559202087</integer>
					<key>SBL1-PartialDigest</key>
					<data>
					VAAAAEC9AQAP5k2YG3GyQfoiESdFJUi9Biqk
					/g==
					</data>
					<key>SBL1-Version</key>
					<integer>-1560250663</integer>
					<key>SBL2-DownloadDigest</key>
					<data>
					SJNC9UO5IXuuOy0U4FxxwKt3q+M=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					hBCH1XxccMRpWv3qLNVs3qkbHM4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/glyphcharging@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					KksyswI4O8vfa91DDVxx38DiR/U=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					cpNuz1EkxANzHhTHHQvkGLxlWXU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					/aX5hswKy4fwyo9oGeyHyryXFDc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batteryfull@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					Ouc8/aTLL5lBskIq1P/NYyCz9UU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterylow0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					6R2jmi410IQIUZih16UX+9y1bOs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterylow1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					PO+ZLcaPiHa4ePLPy06+nW8KNi0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/glyphplugin@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					7HAPIVRwF/ZOqpaHvzRb+Ys7R7Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					92WvU8dOP+dFhxUR1QsaAWfgqys=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n42</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjxdgD3qlbFv61jE2rJaqS1p9M52SYn
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					bhZzwAOPZJWZcKTHXG49FiUfJRA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/LLB.n42ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgBmIONm84oBkSHQ3cvFZuGanri2
					yQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5788-123.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					1NLFwAdsXi4v82U8emOVs3HtSBo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode@1136~iphone.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					7HAPIVRwF/ZOqpaHvzRb+Ys7R7Q=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					92WvU8dOP+dFhxUR1QsaAWfgqys=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n42</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjxdgD3qlbFv61jE2rJaqS1p9M52SYn
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					WhX8Mmk5zT2k7ac3wnuf53ubxds=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					/wMTw3bj3STsAxRI4opuQ+TLLkg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0729-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwlgCyU6ZILBKQAYTY9uc3jLCUoBDD
					Sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					0il8OpPo9vqorotS+vWmRwMkZ0o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					9Uni5hUXedxa4BEVkH4uG3ve5jE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQBQzvgkU0R5bN461x8uNboglt6p
					vA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					IGSGTLa/9IA1IUGubtYXtALmvRg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/iBoot.n42ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			UYff1cUe4cq9plFOMK5r1nM90PM=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8950</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B143</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>n42ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1282</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					WhX8Mmk5zT2k7ac3wnuf53ubxds=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>
					RPhfOtozjgjtEaUUKDb7xYxdh9k=
					</data>
					<key>APPS-HashTableDigest</key>
					<data>
					0CU6c35dtukq0PoaKYZlPXBdLfc=
					</data>
					<key>DSP1-DownloadDigest</key>
					<data>
					BRXb6Nnp+CSjKNhU2d8VpvtccPI=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					lM/+osvSeABIioOklCzE+yxHls4=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					Fk8aSO/3i/iGDnZ5sr2dMaKssW0=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					01wvhn6W5MVL2pPIW5lQyU4byvU=
					</data>
					<key>DSP3-DownloadDigest</key>
					<data>
					KcP+9ArDKqCO6P1oy3hAWWEmpOw=
					</data>
					<key>DSP3-HashTableDigest</key>
					<data>
					RG5KSFNkgSIU6GVVvkS9m249l3o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-3.04.25.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>
					d6DYaX3ORl/Oh7QfZhLkdptwMTk=
					</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>
					bAAAAAAQAgCBJ5pnv2Sl7WO1DHIb+RPPV4Aw
					xw==
					</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559202087</integer>
					<key>SBL1-PartialDigest</key>
					<data>
					VAAAAEC9AQAP5k2YG3GyQfoiESdFJUi9Biqk
					/g==
					</data>
					<key>SBL1-Version</key>
					<integer>-1560250663</integer>
					<key>SBL2-DownloadDigest</key>
					<data>
					SJNC9UO5IXuuOy0U4FxxwKt3q+M=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					hBCH1XxccMRpWv3qLNVs3qkbHM4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/glyphcharging@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					KksyswI4O8vfa91DDVxx38DiR/U=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					cpNuz1EkxANzHhTHHQvkGLxlWXU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					/aX5hswKy4fwyo9oGeyHyryXFDc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batteryfull@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					Ouc8/aTLL5lBskIq1P/NYyCz9UU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterylow0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					6R2jmi410IQIUZih16UX+9y1bOs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterylow1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					PO+ZLcaPiHa4ePLPy06+nW8KNi0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/glyphplugin@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					7HAPIVRwF/ZOqpaHvzRb+Ys7R7Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					92WvU8dOP+dFhxUR1QsaAWfgqys=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n42</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjxdgD3qlbFv61jE2rJaqS1p9M52SYn
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					bhZzwAOPZJWZcKTHXG49FiUfJRA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/LLB.n42ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgBmIONm84oBkSHQ3cvFZuGanri2
					yQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-5788-123.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					1NLFwAdsXi4v82U8emOVs3HtSBo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode@1136~iphone.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					7HAPIVRwF/ZOqpaHvzRb+Ys7R7Q=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					92WvU8dOP+dFhxUR1QsaAWfgqys=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n42</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjxdgD3qlbFv61jE2rJaqS1p9M52SYn
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					WhX8Mmk5zT2k7ac3wnuf53ubxds=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					IiGAButQR2cdrXT8k+yLire7dTI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0733-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwlgBCvk84bLp8JCKs9kIi4Ypdrc7x
					Cg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					0il8OpPo9vqorotS+vWmRwMkZ0o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					9Uni5hUXedxa4BEVkH4uG3ve5jE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQBQzvgkU0R5bN461x8uNboglt6p
					vA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					IGSGTLa/9IA1IUGubtYXtALmvRg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/iBoot.n42ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			X6tnb//L5KvIGNeKyapeTuecYew=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B143</string>
	<key>ProductVersion</key>
	<string>6.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589584</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589584</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone5,2</string>
	</array>
</dict>
</plist>
