<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8920</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>BbChipID</key>
				<string>0x1C00</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7D11</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n88ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							mHDlV/Krx7g1QEoYqOLoJYZFF6g=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAA8XWPXzdNHjyouG9FGtCTKOYM2
							lA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							MuQbxwy2Yv9lAN0ruVp6Q7HJ7HA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAABoS2JQJg6JPuKKb0VydNcVZa32
							ww==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							w1Nptaw8OBZmcY2TLtDlG5Hzjs0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAACkfozE8MzBYMSqcf4Pf8ylooJB
							wA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							5BTH4xS9o4z5z3QG5fO6p0t80qE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAADr1h9iByZsBl3FFEetupItFHf1
							ig==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							qLuD7In6kYVHUXCC/Vgn1m+/gw0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAQB6aoaTcfUxcpBE1ZhhgEaVhW14
							Dw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							u/5dffEWwab0tJpSuqePkpmYUU4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjVAAB4yRJlEBYPSMWiN5x+NAJCAQU+
							HQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							3UFldZzNzNGqOFcCqev7MLnR/hI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPj2AAA15QZO9igsKL6T8pCkkJ+W2C5v
							GA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							Nc5Hj6uS8FNUk8JPPhzjEts9wPQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAACdTT6wfEQjkn6nEfV4Mv/Xd7au
							Pw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							aGDFeHb/LPAu1R4rus3f6j4+/cs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHioAACplPPgVmjS/tsU8QtKWAemCrJK
							KQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							8CyT6f9hr2KW8N2sf6PCwoP4no4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8920x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjKPgDg3XZIKbq9bLn7hE77lWLCCBP7
							jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgBAQC17y62AjYDMwynDrLa9C6mEWZw
							4Q==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							mXcD9CXtxQIuiAPNwr9i2BJTCzI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/needservice.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhHAABpzMjJRh8auXvKww1Ea5DSLLTc
							bQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6029-014.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							x3jLonI8eAKGDXQVOuxlyM53LP8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiyAAAnqd8Pw92DDIzjl0z931aoiPOL
							yw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							aGDFeHb/LPAu1R4rus3f6j4+/cs=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHioAACplPPgVmjS/tsU8QtKWAemCrJK
							KQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							8CyT6f9hr2KW8N2sf6PCwoP4no4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8920x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjKPgDg3XZIKbq9bLn7hE77lWLCCBP7
							jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							mHDlV/Krx7g1QEoYqOLoJYZFF6g=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAA8XWPXzdNHjyouG9FGtCTKOYM2
							lA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							v+3Uk1OeuJ0p6rGrkzaGQilnBtU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6051-014.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjguwBDjThFZUrXzutZsH+OV5kdDhSl
							lQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiBAQAOSV3khU6ggBIwUhCtsUD4vvQV
							ww==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiBAQCKtBp1GT7JEQKRqjP63BZjqMQL
							dg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							/cTdM66bAhmOrQafj6e3MuD9Q3g=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADixAgCF2v+7RVSWexW5N2IOzd3tZxQx
							iA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					c/k920SerVI7eWej+fDG1nteIW4=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8920</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>BbChipID</key>
				<string>0x1C00</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7D11</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n88ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							mHDlV/Krx7g1QEoYqOLoJYZFF6g=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAA8XWPXzdNHjyouG9FGtCTKOYM2
							lA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							MuQbxwy2Yv9lAN0ruVp6Q7HJ7HA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAABoS2JQJg6JPuKKb0VydNcVZa32
							ww==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							w1Nptaw8OBZmcY2TLtDlG5Hzjs0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAACkfozE8MzBYMSqcf4Pf8ylooJB
							wA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							5BTH4xS9o4z5z3QG5fO6p0t80qE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAADr1h9iByZsBl3FFEetupItFHf1
							ig==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							qLuD7In6kYVHUXCC/Vgn1m+/gw0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAQB6aoaTcfUxcpBE1ZhhgEaVhW14
							Dw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							u/5dffEWwab0tJpSuqePkpmYUU4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjVAAB4yRJlEBYPSMWiN5x+NAJCAQU+
							HQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							3UFldZzNzNGqOFcCqev7MLnR/hI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPj2AAA15QZO9igsKL6T8pCkkJ+W2C5v
							GA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							Nc5Hj6uS8FNUk8JPPhzjEts9wPQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAACdTT6wfEQjkn6nEfV4Mv/Xd7au
							Pw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							aGDFeHb/LPAu1R4rus3f6j4+/cs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHioAACplPPgVmjS/tsU8QtKWAemCrJK
							KQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							8CyT6f9hr2KW8N2sf6PCwoP4no4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8920x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjKPgDg3XZIKbq9bLn7hE77lWLCCBP7
							jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgBAQC17y62AjYDMwynDrLa9C6mEWZw
							4Q==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							mXcD9CXtxQIuiAPNwr9i2BJTCzI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/needservice.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhHAABpzMjJRh8auXvKww1Ea5DSLLTc
							bQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6029-014.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							x3jLonI8eAKGDXQVOuxlyM53LP8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiyAAAnqd8Pw92DDIzjl0z931aoiPOL
							yw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							aGDFeHb/LPAu1R4rus3f6j4+/cs=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHioAACplPPgVmjS/tsU8QtKWAemCrJK
							KQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							8CyT6f9hr2KW8N2sf6PCwoP4no4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8920x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjKPgDg3XZIKbq9bLn7hE77lWLCCBP7
							jw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							mHDlV/Krx7g1QEoYqOLoJYZFF6g=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAA8XWPXzdNHjyouG9FGtCTKOYM2
							lA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							1PZJV6HxOeBkvSN3Z4bPagwQGRQ=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6049-015.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjQuwBPLSdSBN+OqjxtdK9okJFU/91z
							YA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiBAQAOSV3khU6ggBIwUhCtsUD4vvQV
							ww==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiBAQCKtBp1GT7JEQKRqjP63BZjqMQL
							dg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							/cTdM66bAhmOrQafj6e3MuD9Q3g=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADixAgCF2v+7RVSWexW5N2IOzd3tZxQx
							iA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					umsFY8N5y1ykOH/XAGvz+TKGrl0=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>7D11</string>
		<key>ProductVersion</key>
		<string>3.1.2</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>35104</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>35104</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPhone2,1</string>
		</array>
	</dict>
</plist>
