<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8920</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A405</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n88ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1147</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					sgJVZFo+TqnB+2qZ5X04d8h5ZHY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABzr/sU8fxMBG+Bo88BKzjvwlgF
					1g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					fBxMP3p2DKZGaPZvHe0dye3Yp6g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAADD0Dq4cWIIawdKmyiwom6U1/UM
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					TG0dx6ND/1KhlMt7ytuJY8ChSz8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAABjCgPJhmdk8nJ7g+pZ/UwJR5fL
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					fyxIeOT5Ya9lFokkl0V9vTrTdt8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AADmBSPD9tleae0ir3WAeQvxoeq8
					CA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					xzuAbKaZsQVfUew9nhpFFiAdji4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjGAwAT2HmXsMhbEw/GfuywvZU4uV9I
					Rw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					rNBOdFUYBRlAJAOjf/A4ddSxT8M=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAACJ7bCYSPxlgNe3LMbT+3GMAq1s
					zQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Zgow/k7hVDR/ksqINeWqyNx4BGg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALg8AADA+rg+qbETd807xVAVy9SH/Wjh
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					XwJsGNkc5aNcUX9FZBGUKhJiwyA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAA5tRvhOPR+rdsfqzMU/xVkf93o
					OA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					H0MN1p0Ct111m1jDG4D2YdTikKo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALi4AADPN0JaYyAEprloOQA9e2vLyRqY
					yQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					mxJ4P9wWvH2bWG11cTnF4B/ZPnk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADilVABgAmMy3czmYa+FxLklHK2cBxou
					cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					sjIpUQdktV3UN9Lw6VA4+MA39CU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgxAQDiGw/Mx5FdEZVk8XT0bXVJSco7
					JQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3697-001.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					tASZ2iDJIjMmHOXfv7b1If414Gc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAAAL1ztIfWjIgW3SO/JgIFIgZ3fz
					aQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					H0MN1p0Ct111m1jDG4D2YdTikKo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALi4AADPN0JaYyAEprloOQA9e2vLyRqY
					yQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					mxJ4P9wWvH2bWG11cTnF4B/ZPnk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADilVABgAmMy3czmYa+FxLklHK2cBxou
					cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					sgJVZFo+TqnB+2qZ5X04d8h5ZHY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABzr/sU8fxMBG+Bo88BKzjvwlgF
					1g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					6KVeVBLCn4gp8dRkCo3HIvj8hm4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3713-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjwAgFpyiG4PflwkIhrxpVdfXMrB65B
					pA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					nw6Wr5TF7Vck3RplEE50h4NSCvI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAgBhJ3fs/Sklp7kHex9QGD3k7vfA
					+g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					hBpaJvvXgVN7FHNzxg0TfCZiGmw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjxAADrjVDmTLZwwyrA0sDWdFDsWJUi
					7Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					6THGOOgNULzpOAZfuzNT7cVeh6g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALixAgD8MBYxM/8GDP6yGtdZPu//DP6G
					jQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			bZ/+6gi44GhO84bgFlIkxw0V+d8=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8920</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A405</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n88ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1147</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					sgJVZFo+TqnB+2qZ5X04d8h5ZHY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABzr/sU8fxMBG+Bo88BKzjvwlgF
					1g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					fBxMP3p2DKZGaPZvHe0dye3Yp6g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAADD0Dq4cWIIawdKmyiwom6U1/UM
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					TG0dx6ND/1KhlMt7ytuJY8ChSz8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAABjCgPJhmdk8nJ7g+pZ/UwJR5fL
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					fyxIeOT5Ya9lFokkl0V9vTrTdt8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AADmBSPD9tleae0ir3WAeQvxoeq8
					CA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					xzuAbKaZsQVfUew9nhpFFiAdji4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjGAwAT2HmXsMhbEw/GfuywvZU4uV9I
					Rw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					rNBOdFUYBRlAJAOjf/A4ddSxT8M=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAACJ7bCYSPxlgNe3LMbT+3GMAq1s
					zQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Zgow/k7hVDR/ksqINeWqyNx4BGg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALg8AADA+rg+qbETd807xVAVy9SH/Wjh
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					XwJsGNkc5aNcUX9FZBGUKhJiwyA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAA5tRvhOPR+rdsfqzMU/xVkf93o
					OA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					H0MN1p0Ct111m1jDG4D2YdTikKo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALi4AADPN0JaYyAEprloOQA9e2vLyRqY
					yQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					mxJ4P9wWvH2bWG11cTnF4B/ZPnk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADilVABgAmMy3czmYa+FxLklHK2cBxou
					cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					sjIpUQdktV3UN9Lw6VA4+MA39CU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgxAQDiGw/Mx5FdEZVk8XT0bXVJSco7
					JQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3697-001.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					tASZ2iDJIjMmHOXfv7b1If414Gc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAAAL1ztIfWjIgW3SO/JgIFIgZ3fz
					aQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					H0MN1p0Ct111m1jDG4D2YdTikKo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALi4AADPN0JaYyAEprloOQA9e2vLyRqY
					yQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					mxJ4P9wWvH2bWG11cTnF4B/ZPnk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADilVABgAmMy3czmYa+FxLklHK2cBxou
					cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					sgJVZFo+TqnB+2qZ5X04d8h5ZHY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABzr/sU8fxMBG+Bo88BKzjvwlgF
					1g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					uR+iesxDx6TXHmffJEb0RO7hCXY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3710-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjgAgEoXoZ2eZiAZTYHJnmL5FEL/h/7
					nQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					nw6Wr5TF7Vck3RplEE50h4NSCvI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAgBhJ3fs/Sklp7kHex9QGD3k7vfA
					+g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					hBpaJvvXgVN7FHNzxg0TfCZiGmw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjxAADrjVDmTLZwwyrA0sDWdFDsWJUi
					7Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					6THGOOgNULzpOAZfuzNT7cVeh6g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALixAgD8MBYxM/8GDP6yGtdZPu//DP6G
					jQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			h5KJOvg4Ckx1HjiBTXLqTcc2vKs=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9A405</string>
	<key>ProductVersion</key>
	<string>5.0.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35104</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35104</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone2,1</string>
	</array>
</dict>
</plist>
