<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x08</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005A00E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B179</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>n94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>986</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					yeZo+ZB37Bgd0766iUmGKrgvEsE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAADoVox0i8s2UK+Ir6UJKh6ztzFv
					Sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					0rRW2s64A524Hm/hb7KRn3nuFyE=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					XpSJzdtaowpk682L9zcwy9GECbo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Trek-2.0.10.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					S2w7/F0d9+7PPbw4kjnIqR9JCCU=
					</data>
					<key>RestoreDBL-PartialDigest</key>
					<data>
					WAAAAEDFAQB5yMExdoLm0kAeIxSZFXWROEj0
					LQ==
					</data>
					<key>RestoreDBL-Version</key>
					<integer>-1576001520</integer>
					<key>eDBL-PartialDigest</key>
					<data>
					ZAAAAEDGAQAaCom64uwvV3Pm9lTlEa7wF7Zl
					tg==
					</data>
					<key>eDBL-Version</key>
					<integer>-1577050096</integer>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					qlgEh6y6pOZDvd/YllWpTeWdULI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphcharging@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAACez08XFigySxtaKPQ4qs1UQX7t
					2A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					3sJiPqiuPPtGXdKhSDjbwn7NEJ0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAACsEzaN+nxfTt2nUKUxYXAIW6Tg
					sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					v5qzciL2LQ7R2ouF2V07jH83nYA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAAAfywj6TvibHLRvsMcJxmPWvMWA
					Bg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					6ohJb2wEEJOkrDeVtXK84vIWrqc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjzCQDlzBEmekDoe5fI+B1rhvq0yLrs
					aQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					0gBijsA+/NOeGUzA4gqRLX+NN0U=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgBCofySM0tGcg+CbopO+T4jRbS0
					Ow==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					hIELflzbHKWkoITAW6QkDPzjWa4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiTAABVRFV1GP6R9BWKG8cNUsbGEDqX
					JA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					t/8WLSGsA7Gmj6JUl1KbeJCJF/g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAACn/6rSqoF0pbdnPDuZZbwgx3C/
					dg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					T6DIcuokn7/4I6C5TLEYB8JYZn0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPj9AAC9z2286yXnXSBYQJZT84BSdoLC
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					h9exY/OTWrdRO5mHu/6Kjo3VuQc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhlZQDXIxX0/7f3b8YQEvSgjgVMWvbH
					iw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					OdpDTJjF6drVU4SmTqYvaTheMd0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgBAgC+zi5x2IicgE/Y+lJOEX1DfH8/
					FA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1775-177.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					JuDLe5W6sY1qSgyCwPoHRD9uTHk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjyAQBHHmDPIEzjebSBxtVqgMEb7Wbs
					bA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					T6DIcuokn7/4I6C5TLEYB8JYZn0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPj9AAC9z2286yXnXSBYQJZT84BSdoLC
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					h9exY/OTWrdRO5mHu/6Kjo3VuQc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhlZQDXIxX0/7f3b8YQEvSgjgVMWvbH
					iw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					yeZo+ZB37Bgd0766iUmGKrgvEsE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAADoVox0i8s2UK+Ir6UJKh6ztzFv
					Sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					tuxsa92cq6r1YAIZsi/ctfWdPJo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4327-007.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwBwEyPKkha6kQ2bWheUMomTH/OJ86
					xA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					udVKR7NPjwCJ2LxSHz4/ZrtthmY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAwBX3kvVX9pv+/FDHR6Uwh4JsRHV
					GQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					RUowAMQ0vrjut0CLXBN8Df13coc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgRAQCbJzgAn27g+8nAvwBUhygglLYd
					Wg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					HMQlg6EJo57DIWeuCl4CORxzvps=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAwDt3JcKwrCm6gXBZoaoL3ay6d4q
					GA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			vx0MLtsoWvidZOt8PkRJyQ4XBA4=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x08</string>
			<key>ApChipID</key>
			<string>0x8940</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x005A00E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9B179</string>
				<key>BuildTrain</key>
				<string>Hoodoo</string>
				<key>DeviceClass</key>
				<string>n94ap</string>
				<key>MinimumSystemPartition</key>
				<integer>986</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					yeZo+ZB37Bgd0766iUmGKrgvEsE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAADoVox0i8s2UK+Ir6UJKh6ztzFv
					Sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>AMSS-DownloadDigest</key>
					<data>
					0rRW2s64A524Hm/hb7KRn3nuFyE=
					</data>
					<key>AMSS-HashTableDigest</key>
					<data>
					XpSJzdtaowpk682L9zcwy9GECbo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Trek-2.0.10.Release.bbfw</string>
					</dict>
					<key>OSBL-DownloadDigest</key>
					<data>
					S2w7/F0d9+7PPbw4kjnIqR9JCCU=
					</data>
					<key>RestoreDBL-PartialDigest</key>
					<data>
					WAAAAEDFAQB5yMExdoLm0kAeIxSZFXWROEj0
					LQ==
					</data>
					<key>RestoreDBL-Version</key>
					<integer>-1576001520</integer>
					<key>eDBL-PartialDigest</key>
					<data>
					ZAAAAEDGAQAaCom64uwvV3Pm9lTlEa7wF7Zl
					tg==
					</data>
					<key>eDBL-Version</key>
					<integer>-1577050096</integer>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					qlgEh6y6pOZDvd/YllWpTeWdULI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphcharging@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAACez08XFigySxtaKPQ4qs1UQX7t
					2A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					3sJiPqiuPPtGXdKhSDjbwn7NEJ0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAACsEzaN+nxfTt2nUKUxYXAIW6Tg
					sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					v5qzciL2LQ7R2ouF2V07jH83nYA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAAAfywj6TvibHLRvsMcJxmPWvMWA
					Bg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					6ohJb2wEEJOkrDeVtXK84vIWrqc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjzCQDlzBEmekDoe5fI+B1rhvq0yLrs
					aQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					0gBijsA+/NOeGUzA4gqRLX+NN0U=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgBCofySM0tGcg+CbopO+T4jRbS0
					Ow==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					hIELflzbHKWkoITAW6QkDPzjWa4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiTAABVRFV1GP6R9BWKG8cNUsbGEDqX
					JA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					t/8WLSGsA7Gmj6JUl1KbeJCJF/g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAACn/6rSqoF0pbdnPDuZZbwgx3C/
					dg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					T6DIcuokn7/4I6C5TLEYB8JYZn0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPj9AAC9z2286yXnXSBYQJZT84BSdoLC
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					h9exY/OTWrdRO5mHu/6Kjo3VuQc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhlZQDXIxX0/7f3b8YQEvSgjgVMWvbH
					iw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					OdpDTJjF6drVU4SmTqYvaTheMd0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgBAgC+zi5x2IicgE/Y+lJOEX1DfH8/
					FA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1775-177.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					JuDLe5W6sY1qSgyCwPoHRD9uTHk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjyAQBHHmDPIEzjebSBxtVqgMEb7Wbs
					bA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					T6DIcuokn7/4I6C5TLEYB8JYZn0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPj9AAC9z2286yXnXSBYQJZT84BSdoLC
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					h9exY/OTWrdRO5mHu/6Kjo3VuQc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n94</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhlZQDXIxX0/7f3b8YQEvSgjgVMWvbH
					iw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					yeZo+ZB37Bgd0766iUmGKrgvEsE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x.s5l8940x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAADoVox0i8s2UK+Ir6UJKh6ztzFv
					Sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					IvC1RqINhtDelokyo0f/nN0BuNk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-4305-007.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPigBwH+ibgjTUuz/8EL8dk0PXvBRstw
					gg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					udVKR7NPjwCJ2LxSHz4/ZrtthmY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAwBX3kvVX9pv+/FDHR6Uwh4JsRHV
					GQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.62.15~2</string>
					<key>Digest</key>
					<data>
					RUowAMQ0vrjut0CLXBN8Df13coc=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n94ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgRAQCbJzgAn27g+8nAvwBUhygglLYd
					Wg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					HMQlg6EJo57DIWeuCl4CORxzvps=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAwDt3JcKwrCm6gXBZoaoL3ay6d4q
					GA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			VwjJ0jamsk06ZIDKoR6fKEa6ymg=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9B179</string>
	<key>ProductVersion</key>
	<string>5.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>134252864</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>134252864</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone4,1</string>
	</array>
</dict>
</plist>
