<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8920</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10A523</string>
				<key>BuildTrain</key>
				<string>Sundance</string>
				<key>DeviceClass</key>
				<string>n88ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1350</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					JHpVlcRTAePEzIhhZ3cbRmOSShE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					MxQA0bCU5ZLb45e/1V1xwC5G8xU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					+w7KiQmVPuTmOF3PprFwjzyZW38=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					PUyzm2bOWW87lBss3oqQT9TcWB8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					bvLmpkUOVyEbv+0/zQy3F7hMOSw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					mWuUsr1uklxo6dXKoXgWMp2+VoQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					apjiqsd1UMPDmQTZn5s8I5SPfXM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					A+HXWeDyqWlHl3y6+cqpAfbevBQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					WQgY/lLIRlORNoMntPze7Fx96z8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					vnkHbe7vudSbptvozJ7SfDy2/a4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhjZQABhWWzlsiFiWz4iZSCQiu4Y1ul
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					U9RNNyWzuozMZO4HNZ6IbFIO640=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAQA8+MU2XSqV2xl2u2prN6rlBjNp
					vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-7952-010.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					5ffT9I1Pv1UglFqtbP/gK3D7RbM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode~iphone.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					WQgY/lLIRlORNoMntPze7Fx96z8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					vnkHbe7vudSbptvozJ7SfDy2/a4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhjZQABhWWzlsiFiWz4iZSCQiu4Y1ul
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					JHpVlcRTAePEzIhhZ3cbRmOSShE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					PR9AhkDhv0Fbyh1t5pbYDi5z9Ec=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-7920-010.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgQygCUypuM5Mntwg7Fi6+lovnayW4H
					oA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					tzdbP/bsf8VdoJc2UM/3ff/VK4g=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjBAgC5jfOu4bt8v6o5+8G1/xTmPrx+
					bA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					TcWMKWDt5xnpyI+qFZmcmBAURgk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjxAACto+cwGaq4F03w9ne/dJqxiLHE
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					jBU5RqDot30os3JhkU7l97efjg0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			73XvSW8cPBI3wEHUSiPsJFEWmOA=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8920</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10A523</string>
				<key>BuildTrain</key>
				<string>Sundance</string>
				<key>DeviceClass</key>
				<string>n88ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1350</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					JHpVlcRTAePEzIhhZ3cbRmOSShE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					MxQA0bCU5ZLb45e/1V1xwC5G8xU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					+w7KiQmVPuTmOF3PprFwjzyZW38=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					PUyzm2bOWW87lBss3oqQT9TcWB8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					bvLmpkUOVyEbv+0/zQy3F7hMOSw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					mWuUsr1uklxo6dXKoXgWMp2+VoQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					apjiqsd1UMPDmQTZn5s8I5SPfXM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					A+HXWeDyqWlHl3y6+cqpAfbevBQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					WQgY/lLIRlORNoMntPze7Fx96z8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					vnkHbe7vudSbptvozJ7SfDy2/a4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhjZQABhWWzlsiFiWz4iZSCQiu4Y1ul
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					U9RNNyWzuozMZO4HNZ6IbFIO640=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAQA8+MU2XSqV2xl2u2prN6rlBjNp
					vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-7952-010.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					5ffT9I1Pv1UglFqtbP/gK3D7RbM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode~iphone.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					WQgY/lLIRlORNoMntPze7Fx96z8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					vnkHbe7vudSbptvozJ7SfDy2/a4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhjZQABhWWzlsiFiWz4iZSCQiu4Y1ul
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					JHpVlcRTAePEzIhhZ3cbRmOSShE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					TjBf2qN7B7pydOgAy62cReIQVGs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-7923-010.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgAygCcU2jRBnDSxcYFmOJK9JrmT2ea
					cA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					tzdbP/bsf8VdoJc2UM/3ff/VK4g=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjBAgC5jfOu4bt8v6o5+8G1/xTmPrx+
					bA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.4.21~3</string>
					<key>Digest</key>
					<data>
					TcWMKWDt5xnpyI+qFZmcmBAURgk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjxAACto+cwGaq4F03w9ne/dJqxiLHE
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					jBU5RqDot30os3JhkU7l97efjg0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			UUzP0J1NJxrAVBaltuVJjE+0zZQ=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10A523</string>
	<key>ProductVersion</key>
	<string>6.0.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35104</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35104</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone2,1</string>
	</array>
</dict>
</plist>
