<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>BbChipID</key>
				<string>0x50</string>
				<key>BbSkeyId</key>
				<data>
					l6s0rAaT9bA7+3JtTiwlTxTicKE=
				</data>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n90ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>BasebandFirmware</key>
						<string>Release</string>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							9a6e7lDBtOMTinb+XTtHSvEgDwY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAChzJ/0IOVmFzc74XrcCvZQtDhh
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BasebandFirmware</key>
					<dict>
						<key>EBL-Digest</key>
						<data>
							B/rJD65edrIfdautbDNZaJuUfOU=
						</data>
						<key>FlashPSI-PartialDigest</key>
						<data>
							QAQAAMB6AACo7NXgZ2muHRNmX3gIXFDTaxOf
							UA==
						</data>
						<key>FlashPSI-SecPackDigest</key>
						<data>
							aV7n5VUpvSbMWA4ImMj4R0vfpmk=
						</data>
						<key>FlashPSI-Version</key>
						<string>0x00020008</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/ICE3_02.10.04_BOOT_02.08.Release.bbfw</string>
						</dict>
						<key>ModemStack-Digest</key>
						<data>
							/+M0zKeIWS0QnFECBwV06pgCQgA=
						</data>
						<key>ModemStack-Length</key>
						<string>0x006f3d50</string>
						<key>ModemStack-SecPackDigest</key>
						<data>
							XFcMpmsSHmgI+dIkLrxukIVZwkE=
						</data>
						<key>RamPSI-PartialDigest</key>
						<data>
							QAQAAMD5AACPnk/ZFyWqznQdTlQX95aC8NXj
							qQ==
						</data>
						<key>RamPSI-Version</key>
						<string>0x00020008</string>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							H+M+6UAXfFVHPiT+G/sT7EQOzA4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgQAQD47cDLI6/i4IFGFUjTxRGWIlUh
							Pw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							ftJQBg8zyWe49GiBH3SSdRxx8HM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgJAQAiNpiTivKw33W/LkTBDqMA7doR
							5A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							HnB8/19XcgtY2ub0LZKevPVQTAw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgwAQBGALhHqf8XKucu8OuKzsg6htZw
							Fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							z71QmtbEL3l9sL3N6Xi1yaXxFw0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiOAwBuCSplWfOo90QurKa8ikKVmyVy
							0w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							IXRpJyOt7q6pFvqP/72EllvrBQg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjeAgBHMguLDqeD1BdNbnvDCsl3WrS0
							/A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							Ub7Az8YEVGitz8gYbHWwN6bg7M0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgrAwBgRaR2KRSDJ7NfYYLmqlBElcyd
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							OFZkHwBZ/fjwd4FL9yE6wjg2brA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgGAQCbZl0hBTtpW/vZeU/4yDuCOMJq
							AA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							x2s5jhkPxHDHSJlA9IqIbYhUe7k=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjfAAC65uwblMTuIRQmPQXe2iPhlvTb
							yQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							HC/ljU0oLA5T0vhBUAxmc2s5aYg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n90</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADj8UACYYaqRyIPRPDEAi1SecetP5R/+
							lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhxAQDETilH76x0v2yzVmC60S3e86p+
							Kg==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7063-114.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							oCgsjFuKJC7hbBInHB2o1dcNfWQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhTAgAlIQeFNR28ArFbJyN5aBbdL7NK
							NA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							x2s5jhkPxHDHSJlA9IqIbYhUe7k=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjfAAC65uwblMTuIRQmPQXe2iPhlvTb
							yQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							HC/ljU0oLA5T0vhBUAxmc2s5aYg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n90</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADj8UACYYaqRyIPRPDEAi1SecetP5R/+
							lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							9a6e7lDBtOMTinb+XTtHSvEgDwY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAChzJ/0IOVmFzc74XrcCvZQtDhh
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							22NeC1uvL456HLL9FwqIEipkARo=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7082-092.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgg0wDLOKhFDE1zKWedYuhrj3QYrayF
							lw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhBAgDx6wUwyNdaFWiUBX6Ms+R66HZA
							tg==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhRAgDSCg75CQG2oLHyQCWZq14dcd2j
							0g==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							DY0mm3z4ccufDv2URd/v3A2VGwc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAwBBjkU4rwEsZVRYkUs/XLuGBRAI
							cQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					UBuPYJqZNcNgtIcuqardsT1L2eg=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>BbChipID</key>
				<string>0x50</string>
				<key>BbSkeyId</key>
				<data>
					l6s0rAaT9bA7+3JtTiwlTxTicKE=
				</data>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n90ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>BasebandFirmware</key>
						<string>Release</string>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							9a6e7lDBtOMTinb+XTtHSvEgDwY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAChzJ/0IOVmFzc74XrcCvZQtDhh
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BasebandFirmware</key>
					<dict>
						<key>EBL-Digest</key>
						<data>
							B/rJD65edrIfdautbDNZaJuUfOU=
						</data>
						<key>FlashPSI-PartialDigest</key>
						<data>
							QAQAAMB6AACo7NXgZ2muHRNmX3gIXFDTaxOf
							UA==
						</data>
						<key>FlashPSI-SecPackDigest</key>
						<data>
							aV7n5VUpvSbMWA4ImMj4R0vfpmk=
						</data>
						<key>FlashPSI-Version</key>
						<string>0x00020008</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/ICE3_02.10.04_BOOT_02.08.Release.bbfw</string>
						</dict>
						<key>ModemStack-Digest</key>
						<data>
							/+M0zKeIWS0QnFECBwV06pgCQgA=
						</data>
						<key>ModemStack-Length</key>
						<string>0x006f3d50</string>
						<key>ModemStack-SecPackDigest</key>
						<data>
							XFcMpmsSHmgI+dIkLrxukIVZwkE=
						</data>
						<key>RamPSI-PartialDigest</key>
						<data>
							QAQAAMD5AACPnk/ZFyWqznQdTlQX95aC8NXj
							qQ==
						</data>
						<key>RamPSI-Version</key>
						<string>0x00020008</string>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							H+M+6UAXfFVHPiT+G/sT7EQOzA4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgQAQD47cDLI6/i4IFGFUjTxRGWIlUh
							Pw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							ftJQBg8zyWe49GiBH3SSdRxx8HM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgJAQAiNpiTivKw33W/LkTBDqMA7doR
							5A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							HnB8/19XcgtY2ub0LZKevPVQTAw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgwAQBGALhHqf8XKucu8OuKzsg6htZw
							Fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							z71QmtbEL3l9sL3N6Xi1yaXxFw0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiOAwBuCSplWfOo90QurKa8ikKVmyVy
							0w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							IXRpJyOt7q6pFvqP/72EllvrBQg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjeAgBHMguLDqeD1BdNbnvDCsl3WrS0
							/A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							Ub7Az8YEVGitz8gYbHWwN6bg7M0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgrAwBgRaR2KRSDJ7NfYYLmqlBElcyd
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							OFZkHwBZ/fjwd4FL9yE6wjg2brA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgGAQCbZl0hBTtpW/vZeU/4yDuCOMJq
							AA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							x2s5jhkPxHDHSJlA9IqIbYhUe7k=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjfAAC65uwblMTuIRQmPQXe2iPhlvTb
							yQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							HC/ljU0oLA5T0vhBUAxmc2s5aYg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n90</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADj8UACYYaqRyIPRPDEAi1SecetP5R/+
							lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhxAQDETilH76x0v2yzVmC60S3e86p+
							Kg==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7063-114.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							oCgsjFuKJC7hbBInHB2o1dcNfWQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhTAgAlIQeFNR28ArFbJyN5aBbdL7NK
							NA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							x2s5jhkPxHDHSJlA9IqIbYhUe7k=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjfAAC65uwblMTuIRQmPQXe2iPhlvTb
							yQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							HC/ljU0oLA5T0vhBUAxmc2s5aYg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n90</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADj8UACYYaqRyIPRPDEAi1SecetP5R/+
							lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							9a6e7lDBtOMTinb+XTtHSvEgDwY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAChzJ/0IOVmFzc74XrcCvZQtDhh
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							e1+uL8LRKm9FMFOMjFhh0QpG2Sw=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7074-092.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgQ0wApay6BhpbVAKr+Krg98EqlJBmg
							2A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhBAgDx6wUwyNdaFWiUBX6Ms+R66HZA
							tg==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhRAgDSCg75CQG2oLHyQCWZq14dcd2j
							0g==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							DY0mm3z4ccufDv2URd/v3A2VGwc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAwBBjkU4rwEsZVRYkUs/XLuGBRAI
							cQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					NNbH7EEQKC4CLcn01ZPk9tGuyio=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>8B117</string>
		<key>ProductVersion</key>
		<string>4.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>35120</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>35120</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPhone3,1</string>
		</array>
	</dict>
</plist>
