<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8F190</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n90ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					j2NqZhwZaTVkZHjArV7R1KNt8FA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAACrfjgtDzq/ejqFAQ64j6Yow6gH
					Ew==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.10.01_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					4bMkhZgintR3sDOEgK18rfYQ6fA=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f64c4</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					RjyXrG+ZUhPCFdtUAAzomptw5TI=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					5hq3+0YMgPPJRdoYnbizLHdnqiA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAAA7MrHNP+0nvDb4RatwYGIEaZxh
					SA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					RVxAJdY+sBCueF3PEwjlcCj0n2k=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAAAw/ScR3uetXfkDdQ4wVDMOJuiQ
					TQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					3dnWaxS1Y+ZYfXoVvKX1uW79+fo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAADP3oyUMZUQIIn8yZxVg7t3KIaX
					HA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					UtQvuqS7f86oIl2dWyep/ydTv1A=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHj3CQArx93w2PA/CSB1crILrFUc3M6S
					TA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					v+PWCftq2zr5GwbIuVweCOp8oRY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgAiSUuPuApHfpoO6Pe9kRZOlcjc
					dQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					9kYzW/0w2QVB2U7kkLdEbIqTGpk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiTAACqXmNM1vZw3mVTeH2DLb9e/qyr
					Kw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					/8uN0wxal5SCJ0V2UIKA1NrFhyM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAADoMnl5Hlzbct0QFYWKnPFzdIfm
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					hqW0hJ1XVuZNrEL7gVcNoTAxew4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjkAABnRU+RmPERGTzu0P9I2XbGML5w
					Mg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Bj9nOfQKn5h/bioqrRPInzH5bUk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiIXgDrD6/aVttwdq0TtH4qlxwtnBm3
					Ig==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.58~4</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAQDOW6001GKr9wFGcMCsAmlX6FFN
					Dw==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0688-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					vkYsC/iywKUb4B6G7fcSkW0WRiQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjxAQArFr1QNl0oXH3EBlmI9Cdez8BP
					5Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					hqW0hJ1XVuZNrEL7gVcNoTAxew4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjkAABnRU+RmPERGTzu0P9I2XbGML5w
					Mg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Bj9nOfQKn5h/bioqrRPInzH5bUk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiIXgDrD6/aVttwdq0TtH4qlxwtnBm3
					Ig==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					j2NqZhwZaTVkZHjArV7R1KNt8FA=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAACrfjgtDzq/ejqFAQ64j6Yow6gH
					Ew==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					7Dt0T/sMVuo3D1Kvgq+g9smHrv8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0715-006.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhAagFMOs2sX6BMTcgdsYXzYUviXW+W
					vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.58~4</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAwDrCgKUYjgWPyUAyMLYsFT2vrWe
					PQ==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.58~4</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAgC6MB9Qc3zNypWkMYRQ3JWY23YS
					TA==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					VP9QgvTv0SZRIw6SiNHmEYSPb1I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAwDV6GG9770+j3LZQDLgpYpjAdhS
					AQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			FuyTC4lohwp1epggzfkWwIdI3rM=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8F190</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n90ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					j2NqZhwZaTVkZHjArV7R1KNt8FA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAACrfjgtDzq/ejqFAQ64j6Yow6gH
					Ew==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.10.01_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					4bMkhZgintR3sDOEgK18rfYQ6fA=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f64c4</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					RjyXrG+ZUhPCFdtUAAzomptw5TI=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					5hq3+0YMgPPJRdoYnbizLHdnqiA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAAA7MrHNP+0nvDb4RatwYGIEaZxh
					SA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					RVxAJdY+sBCueF3PEwjlcCj0n2k=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAAAw/ScR3uetXfkDdQ4wVDMOJuiQ
					TQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					3dnWaxS1Y+ZYfXoVvKX1uW79+fo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAADP3oyUMZUQIIn8yZxVg7t3KIaX
					HA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					UtQvuqS7f86oIl2dWyep/ydTv1A=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHj3CQArx93w2PA/CSB1crILrFUc3M6S
					TA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					v+PWCftq2zr5GwbIuVweCOp8oRY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgAiSUuPuApHfpoO6Pe9kRZOlcjc
					dQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					9kYzW/0w2QVB2U7kkLdEbIqTGpk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiTAACqXmNM1vZw3mVTeH2DLb9e/qyr
					Kw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					/8uN0wxal5SCJ0V2UIKA1NrFhyM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAADoMnl5Hlzbct0QFYWKnPFzdIfm
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					hqW0hJ1XVuZNrEL7gVcNoTAxew4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjkAABnRU+RmPERGTzu0P9I2XbGML5w
					Mg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Bj9nOfQKn5h/bioqrRPInzH5bUk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiIXgDrD6/aVttwdq0TtH4qlxwtnBm3
					Ig==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.58~4</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAQDOW6001GKr9wFGcMCsAmlX6FFN
					Dw==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0688-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					vkYsC/iywKUb4B6G7fcSkW0WRiQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjxAQArFr1QNl0oXH3EBlmI9Cdez8BP
					5Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					hqW0hJ1XVuZNrEL7gVcNoTAxew4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjkAABnRU+RmPERGTzu0P9I2XbGML5w
					Mg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Bj9nOfQKn5h/bioqrRPInzH5bUk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiIXgDrD6/aVttwdq0TtH4qlxwtnBm3
					Ig==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					j2NqZhwZaTVkZHjArV7R1KNt8FA=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAACrfjgtDzq/ejqFAQ64j6Yow6gH
					Ew==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					BLAEaBCKog86P2p9jX2l+YfXT1E=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0707-006.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhgcgHBjS6X4hsNawXMy1WmzspsK/YP
					dA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.58~4</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAwDrCgKUYjgWPyUAyMLYsFT2vrWe
					PQ==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.58~4</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAgC6MB9Qc3zNypWkMYRQ3JWY23YS
					TA==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					VP9QgvTv0SZRIw6SiNHmEYSPb1I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAwDV6GG9770+j3LZQDLgpYpjAdhS
					AQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			Sh8M1Tj1vDrL2MohN3zuc8cs8HU=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8F190</string>
	<key>ProductVersion</key>
	<string>4.3</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35120</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35120</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone3,1</string>
	</array>
</dict>
</plist>
