<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8L1</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n90ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					4+pBkZfWd24Xu7UHGCQ6gGtRFV0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAACvULzGna3AqxTPGpvGwtdTucDc
					oQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.10.01_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					4bMkhZgintR3sDOEgK18rfYQ6fA=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f64c4</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					RjyXrG+ZUhPCFdtUAAzomptw5TI=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					Jii/vJVG+GZjuPVRn8HEiDIVkIQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAADHx+iQpBqojWPxpTS2VH8ue1js
					tw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					VfNdrGQhLTwQNJTD0ZgMD8DVScc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAAAHBE7OCGceq5xMzfdjv8gCrFrb
					1A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					ySPWew4LjvKj9wFtFgXmmfKdV/E=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAAANg3DpjSD4aBiwEIb+rUD8eoRX
					bw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					w0RNVSpYkw7ICe8UQD8uwlj4uC0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHj3CQCJRJYXuwSIrInrDKiha+5r+X/E
					PQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					Ctt7jVfX3Bl0WsY9I3aa0s5nleE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgCAtGeXbIzmC6bxE1+ui/ZKqznQ
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					LDdJG17BFDDmgDF9aSng1MCw+qM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiTAABBpDfMF70d2gMiAP9XNKUdO0sy
					cQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					ab2zRpjnkXe9PXSjK6Ql8iftRGk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAABAclYTW2PWAJJ5uirWPmgw9qLv
					EQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					IJY0O7qpE+NykLnqRTUV8wIB8mQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjkAACZtiYz2Vk8SujTWVNhv7rkhNFQ
					hg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Rd3mdQ3B5yRnMzidgLaA9rsF9Xw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiiXgBCd/EmDT999afVHc2IEdgf5Xdk
					tw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAQBQ9DS6Pm0OpzqHreHwFdpF/MjP
					1Q==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2288-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					ZblOAX3rX/C5OWT0noRHRMRlAj0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjxAQAOp49HAdVzCmILX+TSNPiE7lQX
					Bg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					IJY0O7qpE+NykLnqRTUV8wIB8mQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjkAACZtiYz2Vk8SujTWVNhv7rkhNFQ
					hg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Rd3mdQ3B5yRnMzidgLaA9rsF9Xw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiiXgBCd/EmDT999afVHc2IEdgf5Xdk
					tw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					4+pBkZfWd24Xu7UHGCQ6gGtRFV0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAACvULzGna3AqxTPGpvGwtdTucDc
					oQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					g3mslPnMQccZ1XgI8AZDKOuEKaI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2265-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiwaQHA/JD5zisFxgZh0ckofzv88c+f
					mA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAwABfklsHmNf5SMDeb2IfbTyY2i0
					fg==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAgCPraPsV9WaSr8sUbTvOCqAnm00
					3A==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					Zl/3zyXYEzpbz62lfJghYvBzFK8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAwCS9RXfOml28xGfrth00RXMiwHp
					ow==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			3ZBjX/BjY8w9vdSvzaH5PuFIBnk=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8L1</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n90ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					4+pBkZfWd24Xu7UHGCQ6gGtRFV0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAACvULzGna3AqxTPGpvGwtdTucDc
					oQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					imrfCpuwU21wdfD1QrdCD6zF+V4=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AAAx7SlK1gDCGspZLECtOgotjATF
					dw==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x0002000d</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_04.10.01_BOOT_02.13.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					4bMkhZgintR3sDOEgK18rfYQ6fA=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f64c4</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					RjyXrG+ZUhPCFdtUAAzomptw5TI=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AABaj5grvd5JETnsAKZKAD/cTGrV
					qA==
					</data>
					<key>RamPSI-Version</key>
					<string>0x0002000d</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					Jii/vJVG+GZjuPVRn8HEiDIVkIQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgUAADHx+iQpBqojWPxpTS2VH8ue1js
					tw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					VfNdrGQhLTwQNJTD0ZgMD8DVScc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPglAAAHBE7OCGceq5xMzfdjv8gCrFrb
					1A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					ySPWew4LjvKj9wFtFgXmmfKdV/E=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiIAAANg3DpjSD4aBiwEIb+rUD8eoRX
					bw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					w0RNVSpYkw7ICe8UQD8uwlj4uC0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHj3CQCJRJYXuwSIrInrDKiha+5r+X/E
					PQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					Ctt7jVfX3Bl0WsY9I3aa0s5nleE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAgCAtGeXbIzmC6bxE1+ui/ZKqznQ
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					LDdJG17BFDDmgDF9aSng1MCw+qM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiTAABBpDfMF70d2gMiAP9XNKUdO0sy
					cQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					ab2zRpjnkXe9PXSjK6Ql8iftRGk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgTAABAclYTW2PWAJJ5uirWPmgw9qLv
					EQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					IJY0O7qpE+NykLnqRTUV8wIB8mQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjkAACZtiYz2Vk8SujTWVNhv7rkhNFQ
					hg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Rd3mdQ3B5yRnMzidgLaA9rsF9Xw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiiXgBCd/EmDT999afVHc2IEdgf5Xdk
					tw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiBAQBQ9DS6Pm0OpzqHreHwFdpF/MjP
					1Q==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2288-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					ZblOAX3rX/C5OWT0noRHRMRlAj0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjxAQAOp49HAdVzCmILX+TSNPiE7lQX
					Bg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					IJY0O7qpE+NykLnqRTUV8wIB8mQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjkAACZtiYz2Vk8SujTWVNhv7rkhNFQ
					hg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Rd3mdQ3B5yRnMzidgLaA9rsF9Xw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiiXgBCd/EmDT999afVHc2IEdgf5Xdk
					tw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					4+pBkZfWd24Xu7UHGCQ6gGtRFV0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgyAACvULzGna3AqxTPGpvGwtdTucDc
					oQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					mTKsBcfGX5/7X/1osw7wXulgHN8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2268-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjQfQGZnrtGu+Fc+V75eqIJ38ng14ok
					ew==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAwABfklsHmNf5SMDeb2IfbTyY2i0
					fg==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAgCPraPsV9WaSr8sUbTvOCqAnm00
					3A==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					Zl/3zyXYEzpbz62lfJghYvBzFK8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAwCS9RXfOml28xGfrth00RXMiwHp
					ow==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			ETueYA2TwGO/bsr/ywfpruVByF8=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8L1</string>
	<key>ProductVersion</key>
	<string>4.3.5</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35120</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35120</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone3,1</string>
	</array>
</dict>
</plist>
