<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8950</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B146</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>n41ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1281</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rzHF95hHduSKR1WLBlTxKzzWkgw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>
					RPhfOtozjgjtEaUUKDb7xYxdh9k=
					</data>
					<key>APPS-HashTableDigest</key>
					<data>
					0CU6c35dtukq0PoaKYZlPXBdLfc=
					</data>
					<key>DSP1-DownloadDigest</key>
					<data>
					BRXb6Nnp+CSjKNhU2d8VpvtccPI=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					lM/+osvSeABIioOklCzE+yxHls4=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					Fk8aSO/3i/iGDnZ5sr2dMaKssW0=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					01wvhn6W5MVL2pPIW5lQyU4byvU=
					</data>
					<key>DSP3-DownloadDigest</key>
					<data>
					KcP+9ArDKqCO6P1oy3hAWWEmpOw=
					</data>
					<key>DSP3-HashTableDigest</key>
					<data>
					RG5KSFNkgSIU6GVVvkS9m249l3o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-3.04.25.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>
					d6DYaX3ORl/Oh7QfZhLkdptwMTk=
					</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>
					bAAAAAAQAgCBJ5pnv2Sl7WO1DHIb+RPPV4Aw
					xw==
					</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559202087</integer>
					<key>SBL1-PartialDigest</key>
					<data>
					VAAAAEC9AQAP5k2YG3GyQfoiESdFJUi9Biqk
					/g==
					</data>
					<key>SBL1-Version</key>
					<integer>-1560250663</integer>
					<key>SBL2-DownloadDigest</key>
					<data>
					SJNC9UO5IXuuOy0U4FxxwKt3q+M=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					DlQU8CBM5KQAY0voDhSCdeDtf1E=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/glyphcharging@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					SM7DcAM9fxwGd0450PeQV/naZi4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/batterycharging0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					xdtLcmox6rvWrxDvHf61gzU28i8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/batterycharging1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					t6fmk50nFdyp3py16ddXECbS3eI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/batteryfull@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					3f9h8dUfwlwx+DYtMiFCEgecbNQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/batterylow0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					bvRiJDJVQJO5EDIXvEQVW4V4m64=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/batterylow1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					o/VBJdDoMf8Zr5d2zzWcNJZMaFg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/glyphplugin@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					JANnvLZLlHhzo6TVQcn4XJxPaEU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					ImUUmHvD7LqCKsn9lKXniqQASjQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n41</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj7dgDPx03CP+96f/EuxA2oHV6SKGLi
					Xg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					Y5cVecq+0jNdqE4QrNHRHBeVNfU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/LLB.n41ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgCOGNLXCbAHLXJodCZhPwfqtB4l
					JQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0866-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					sSHjBzeKA9zzLFyf22lZzRwBMUk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/recoverymode@1136~iphone.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					JANnvLZLlHhzo6TVQcn4XJxPaEU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					ImUUmHvD7LqCKsn9lKXniqQASjQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n41</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj7dgDPx03CP+96f/EuxA2oHV6SKGLi
					Xg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rzHF95hHduSKR1WLBlTxKzzWkgw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					vccgyJOkcNknKEbcHLA/aPfKFD4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0856-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwlgAwcZdpW/QYJQd05Qno/FEymXyz
					dA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					pDGMoGxB/PfdmLpNcbxqEe4qzIM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					F3aZy1+MFduryzrsbT36L8OJ9Pk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQD86/OzBLfdfRb+IcDEF0ZJ56pb
					BQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					qGe2iiRocEFOXGfpEp1U4d/GTFU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/iBoot.n41ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			+mbyLHSTtU1fzUrXsR6NqHBPNVM=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8950</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B146</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>n41ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1281</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rzHF95hHduSKR1WLBlTxKzzWkgw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>
					RPhfOtozjgjtEaUUKDb7xYxdh9k=
					</data>
					<key>APPS-HashTableDigest</key>
					<data>
					0CU6c35dtukq0PoaKYZlPXBdLfc=
					</data>
					<key>DSP1-DownloadDigest</key>
					<data>
					BRXb6Nnp+CSjKNhU2d8VpvtccPI=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					lM/+osvSeABIioOklCzE+yxHls4=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					Fk8aSO/3i/iGDnZ5sr2dMaKssW0=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					01wvhn6W5MVL2pPIW5lQyU4byvU=
					</data>
					<key>DSP3-DownloadDigest</key>
					<data>
					KcP+9ArDKqCO6P1oy3hAWWEmpOw=
					</data>
					<key>DSP3-HashTableDigest</key>
					<data>
					RG5KSFNkgSIU6GVVvkS9m249l3o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-3.04.25.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>
					d6DYaX3ORl/Oh7QfZhLkdptwMTk=
					</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>
					bAAAAAAQAgCBJ5pnv2Sl7WO1DHIb+RPPV4Aw
					xw==
					</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559202087</integer>
					<key>SBL1-PartialDigest</key>
					<data>
					VAAAAEC9AQAP5k2YG3GyQfoiESdFJUi9Biqk
					/g==
					</data>
					<key>SBL1-Version</key>
					<integer>-1560250663</integer>
					<key>SBL2-DownloadDigest</key>
					<data>
					SJNC9UO5IXuuOy0U4FxxwKt3q+M=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					DlQU8CBM5KQAY0voDhSCdeDtf1E=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/glyphcharging@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					SM7DcAM9fxwGd0450PeQV/naZi4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/batterycharging0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					xdtLcmox6rvWrxDvHf61gzU28i8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/batterycharging1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					t6fmk50nFdyp3py16ddXECbS3eI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/batteryfull@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					3f9h8dUfwlwx+DYtMiFCEgecbNQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/batterylow0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					bvRiJDJVQJO5EDIXvEQVW4V4m64=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/batterylow1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					o/VBJdDoMf8Zr5d2zzWcNJZMaFg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/glyphplugin@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					JANnvLZLlHhzo6TVQcn4XJxPaEU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					ImUUmHvD7LqCKsn9lKXniqQASjQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n41</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj7dgDPx03CP+96f/EuxA2oHV6SKGLi
					Xg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					Y5cVecq+0jNdqE4QrNHRHBeVNfU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/LLB.n41ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgCOGNLXCbAHLXJodCZhPwfqtB4l
					JQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0866-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					sSHjBzeKA9zzLFyf22lZzRwBMUk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/recoverymode@1136~iphone.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					JANnvLZLlHhzo6TVQcn4XJxPaEU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					ImUUmHvD7LqCKsn9lKXniqQASjQ=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n41</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj7dgDPx03CP+96f/EuxA2oHV6SKGLi
					Xg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rzHF95hHduSKR1WLBlTxKzzWkgw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					hXRJupWk+9ZFcyklCmWXn59XXOk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0859-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwlgAhw65kC3F2e6sxp3uh899i/0yd
					WA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					pDGMoGxB/PfdmLpNcbxqEe4qzIM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					F3aZy1+MFduryzrsbT36L8OJ9Pk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQD86/OzBLfdfRb+IcDEF0ZJ56pb
					BQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					qGe2iiRocEFOXGfpEp1U4d/GTFU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n41ap.production/iBoot.n41ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			Je+g3Li68XuGg1/UD290NVufk2Q=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B146</string>
	<key>ProductVersion</key>
	<string>6.1.2</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35152</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35152</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone5,1</string>
		<string>iFPGA</string>
	</array>
</dict>
</plist>
