<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C5115c</string>
				<key>BuildTrain</key>
				<string>JasperVail</string>
				<key>DeviceClass</key>
				<string>n90ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Developer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>DeveloperOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					CQw3eiuXXwnv9frqqHv1eiVTDS0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAAmUhSfnvSCgX6INBw55QfqH7cI
					Bw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					B/rJD65edrIfdautbDNZaJuUfOU=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AACo7NXgZ2muHRNmX3gIXFDTaxOf
					UA==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x00020008</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_03.10.01_BOOT_02.08.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					Bf9WSgSASGLSpQqRYdAFIt6Nce8=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f0934</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					sjmc0PFoajjg5fJLcLztnN27YVM=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AACPnk/ZFyWqznQdTlQX95aC8NXj
					qQ==
					</data>
					<key>RamPSI-Version</key>
					<string>0x00020008</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					Nh/aKJsH6EjpNXThzsxvLvsr4lA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgQAQBHc5vwK8SIXtF5B2hEQ9jiIkM/
					Nw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					a6tr9diZygA54dIPM+jbfF71LaY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgJAQCw/SXH82M8S+VqeOj81y4LISk0
					cg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					jczdlxHTXP0DhjB4LnxI4XjzpEw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgwAQBH4LUcjbWzGk1K7zSE1VIULnXW
					wQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					5ah9wWuR1awqWNwSJlJ5XHXwEe4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiOAwB4F/gSZHo3hypL/i1vz+3xSD4F
					IQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					pl/qYy1oLSPgPMGe1WMFEsiiJMg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjeAgBk3qPdvwXmvud4oCc1rl0ZssO0
					HQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					9wIB1719LuqwB1gv1nTX0jsSMGQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgrAwD7TmB22gPa7A8FxFMoCHXOunXZ
					xA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					VBUdXW0o8PJwgtTv/LNRYHep2b4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgGAQA+42GvYhh6P0wXi6nlQDkwcGZm
					pQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					8vhzKXH/IwklSbsZl4e4Rc/T5sk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjgAACm+WEE9aSLsP+KA5ENQYkK7fkd
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Llcae9a8smdGbi4pzN7rAOf2iXk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgHVgAoe+2p6Ot7Wwc/ilBRFjfh7pyo
					Gw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhxAQDnEj7SOwb+hvPRoYfeYVKe9S6O
					iw==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9705-005.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					ypJ8ZjD8VlWV0kg/3GiGo2f0YZA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgpAgDuKp0jpJPorH6a30j7gD87pFuo
					9Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					8vhzKXH/IwklSbsZl4e4Rc/T5sk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjgAACm+WEE9aSLsP+KA5ENQYkK7fkd
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Llcae9a8smdGbi4pzN7rAOf2iXk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgHVgAoe+2p6Ot7Wwc/ilBRFjfh7pyo
					Gw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					CQw3eiuXXwnv9frqqHv1eiVTDS0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAAmUhSfnvSCgX6INBw55QfqH7cI
					Bw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					t55rgRSe+ZnR8ALHSbFd/WDTI7E=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9690-004.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgg7gC6T1r73gi6zAiwzichEIe/gvVR
					BA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAwArcBBT760x9dml3J1K258qK0l5
					Bg==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAgCnYuOOZW7bWPuqzM1LnGJLEIWB
					Xw==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					dwXDtvJUu2k8LVZbBwaM7n/W+Lk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAwBZ/b7DxIx21lcej01X3JzYM0SI
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			g5DkDiLZBdy/a1nYKBPt/xR/1Yw=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbChipID</key>
			<string>0x50</string>
			<key>BbSkeyId</key>
			<data>
			l6s0rAaT9bA7+3JtTiwlTxTicKE=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C5115c</string>
				<key>BuildTrain</key>
				<string>JasperVail</string>
				<key>DeviceClass</key>
				<string>n90ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Developer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>DeveloperOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					CQw3eiuXXwnv9frqqHv1eiVTDS0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAAmUhSfnvSCgX6INBw55QfqH7cI
					Bw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>EBL-Digest</key>
					<data>
					B/rJD65edrIfdautbDNZaJuUfOU=
					</data>
					<key>FlashPSI-PartialDigest</key>
					<data>
					QAQAAMB6AACo7NXgZ2muHRNmX3gIXFDTaxOf
					UA==
					</data>
					<key>FlashPSI-SecPackDigest</key>
					<data>
					aV7n5VUpvSbMWA4ImMj4R0vfpmk=
					</data>
					<key>FlashPSI-Version</key>
					<string>0x00020008</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/ICE3_03.10.01_BOOT_02.08.Release.bbfw</string>
					</dict>
					<key>ModemStack-Digest</key>
					<data>
					Bf9WSgSASGLSpQqRYdAFIt6Nce8=
					</data>
					<key>ModemStack-Length</key>
					<string>0x006f0934</string>
					<key>ModemStack-SecPackDigest</key>
					<data>
					sjmc0PFoajjg5fJLcLztnN27YVM=
					</data>
					<key>RamPSI-PartialDigest</key>
					<data>
					QAQAAMD5AACPnk/ZFyWqznQdTlQX95aC8NXj
					qQ==
					</data>
					<key>RamPSI-Version</key>
					<string>0x00020008</string>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					Nh/aKJsH6EjpNXThzsxvLvsr4lA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgQAQBHc5vwK8SIXtF5B2hEQ9jiIkM/
					Nw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					a6tr9diZygA54dIPM+jbfF71LaY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgJAQCw/SXH82M8S+VqeOj81y4LISk0
					cg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					jczdlxHTXP0DhjB4LnxI4XjzpEw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgwAQBH4LUcjbWzGk1K7zSE1VIULnXW
					wQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					5ah9wWuR1awqWNwSJlJ5XHXwEe4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiOAwB4F/gSZHo3hypL/i1vz+3xSD4F
					IQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					pl/qYy1oLSPgPMGe1WMFEsiiJMg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjeAgBk3qPdvwXmvud4oCc1rl0ZssO0
					HQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					9wIB1719LuqwB1gv1nTX0jsSMGQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgrAwD7TmB22gPa7A8FxFMoCHXOunXZ
					xA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					VBUdXW0o8PJwgtTv/LNRYHep2b4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgGAQA+42GvYhh6P0wXi6nlQDkwcGZm
					pQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					8vhzKXH/IwklSbsZl4e4Rc/T5sk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjgAACm+WEE9aSLsP+KA5ENQYkK7fkd
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Llcae9a8smdGbi4pzN7rAOf2iXk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgHVgAoe+2p6Ot7Wwc/ilBRFjfh7pyo
					Gw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/LLB.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhxAQDnEj7SOwb+hvPRoYfeYVKe9S6O
					iw==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9705-005.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					ypJ8ZjD8VlWV0kg/3GiGo2f0YZA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgpAgDuKp0jpJPorH6a30j7gD87pFuo
					9Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					8vhzKXH/IwklSbsZl4e4Rc/T5sk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjgAACm+WEE9aSLsP+KA5ENQYkK7fkd
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					Llcae9a8smdGbi4pzN7rAOf2iXk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n90</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgHVgAoe+2p6Ot7Wwc/ilBRFjfh7pyo
					Gw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					CQw3eiuXXwnv9frqqHv1eiVTDS0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhYAAAmUhSfnvSCgX6INBw55QfqH7cI
					Bw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					Pv/oQrCDdaVxlzyB8LMN65/aVs0=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9686-004.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjQ7QBXwXjf965RANb23QzGcUvf6wCD
					JA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAwArcBBT760x9dml3J1K258qK0l5
					Bg==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAgCnYuOOZW7bWPuqzM1LnGJLEIWB
					Xw==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					dwXDtvJUu2k8LVZbBwaM7n/W+Lk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n90ap.production/iBoot.n90ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAwBZ/b7DxIx21lcej01X3JzYM0SI
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			HyyHPyWvgU5t1bMkrgkudK8Dkls=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8C5115c</string>
	<key>ProductVersion</key>
	<string>4.2</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35120</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35120</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone3,1</string>
	</array>
</dict>
</plist>
