<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8950</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B146</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>n42ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1282</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rzHF95hHduSKR1WLBlTxKzzWkgw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>
					RPhfOtozjgjtEaUUKDb7xYxdh9k=
					</data>
					<key>APPS-HashTableDigest</key>
					<data>
					0CU6c35dtukq0PoaKYZlPXBdLfc=
					</data>
					<key>DSP1-DownloadDigest</key>
					<data>
					BRXb6Nnp+CSjKNhU2d8VpvtccPI=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					lM/+osvSeABIioOklCzE+yxHls4=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					Fk8aSO/3i/iGDnZ5sr2dMaKssW0=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					01wvhn6W5MVL2pPIW5lQyU4byvU=
					</data>
					<key>DSP3-DownloadDigest</key>
					<data>
					KcP+9ArDKqCO6P1oy3hAWWEmpOw=
					</data>
					<key>DSP3-HashTableDigest</key>
					<data>
					RG5KSFNkgSIU6GVVvkS9m249l3o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-3.04.25.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>
					d6DYaX3ORl/Oh7QfZhLkdptwMTk=
					</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>
					bAAAAAAQAgCBJ5pnv2Sl7WO1DHIb+RPPV4Aw
					xw==
					</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559202087</integer>
					<key>SBL1-PartialDigest</key>
					<data>
					VAAAAEC9AQAP5k2YG3GyQfoiESdFJUi9Biqk
					/g==
					</data>
					<key>SBL1-Version</key>
					<integer>-1560250663</integer>
					<key>SBL2-DownloadDigest</key>
					<data>
					SJNC9UO5IXuuOy0U4FxxwKt3q+M=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					DlQU8CBM5KQAY0voDhSCdeDtf1E=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/glyphcharging@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					SM7DcAM9fxwGd0450PeQV/naZi4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					xdtLcmox6rvWrxDvHf61gzU28i8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					t6fmk50nFdyp3py16ddXECbS3eI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batteryfull@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					3f9h8dUfwlwx+DYtMiFCEgecbNQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterylow0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					bvRiJDJVQJO5EDIXvEQVW4V4m64=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterylow1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					o/VBJdDoMf8Zr5d2zzWcNJZMaFg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/glyphplugin@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					dWLM+JcGQ7m9ZpcBIJllXmi3QK8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					CP3+NHIDIZ/Fbj54w/i7Rayvzi4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n42</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj7dgCk7tG9rXLPz6rAk+Jrp6yrUJR6
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					dkkjMZhlS7SEEL68V+9IdlGupoU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/LLB.n42ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgABXtyJz3lixHaaO22FxQseWE+q
					ZA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0877-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					sSHjBzeKA9zzLFyf22lZzRwBMUk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode@1136~iphone.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					dWLM+JcGQ7m9ZpcBIJllXmi3QK8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					CP3+NHIDIZ/Fbj54w/i7Rayvzi4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n42</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj7dgCk7tG9rXLPz6rAk+Jrp6yrUJR6
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rzHF95hHduSKR1WLBlTxKzzWkgw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					XTCimElW7c+6zn+PJm+8MgSbPBI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0856-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwlgAWT7bqwPvKMwiKO4pfCzo0Ljho
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					6VE+t0YWgRYNfWQfSbsQMczsZ4Y=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					F3ymSOEXrCh2S/MvsPTZMTW6tjU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQCk9RWTeGjdDhWtiLAemZNlfuXD
					TQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					R4XaQq1WPs9YtU8BnIW0Nq18kKU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/iBoot.n42ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			uSNi3lSSEU0N1JM/onoc1LAOBpQ=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8950</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>BbActivationManifestKeyHash</key>
			<data>
			rqXM4UNmjQ77TOHyyUyWamSWxqo=
			</data>
			<key>BbCalibrationManifestKeyHash</key>
			<data>
			vTmCipu1KLpRRvXgaHG2TNu85ak=
			</data>
			<key>BbChipID</key>
			<string>0x006F10E1</string>
			<key>BbProvisioningManifestKeyHash</key>
			<data>
			7MQEUyvzG4gjjZc7KsNNAVTS8g4=
			</data>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>10B146</string>
				<key>BuildTrain</key>
				<string>Brighton</string>
				<key>DeviceClass</key>
				<string>n42ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1282</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>128</key>
					<integer>1280</integer>
					<key>16</key>
					<integer>160</integer>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>BasebandFirmware</key>
					<string>Release</string>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserSystemImage</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rzHF95hHduSKR1WLBlTxKzzWkgw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BasebandFirmware</key>
				<dict>
					<key>APPS-DownloadDigest</key>
					<data>
					RPhfOtozjgjtEaUUKDb7xYxdh9k=
					</data>
					<key>APPS-HashTableDigest</key>
					<data>
					0CU6c35dtukq0PoaKYZlPXBdLfc=
					</data>
					<key>DSP1-DownloadDigest</key>
					<data>
					BRXb6Nnp+CSjKNhU2d8VpvtccPI=
					</data>
					<key>DSP1-HashTableDigest</key>
					<data>
					lM/+osvSeABIioOklCzE+yxHls4=
					</data>
					<key>DSP2-DownloadDigest</key>
					<data>
					Fk8aSO/3i/iGDnZ5sr2dMaKssW0=
					</data>
					<key>DSP2-HashTableDigest</key>
					<data>
					01wvhn6W5MVL2pPIW5lQyU4byvU=
					</data>
					<key>DSP3-DownloadDigest</key>
					<data>
					KcP+9ArDKqCO6P1oy3hAWWEmpOw=
					</data>
					<key>DSP3-HashTableDigest</key>
					<data>
					RG5KSFNkgSIU6GVVvkS9m249l3o=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/Mav5-3.04.25.Release.bbfw</string>
					</dict>
					<key>RPM-DownloadDigest</key>
					<data>
					d6DYaX3ORl/Oh7QfZhLkdptwMTk=
					</data>
					<key>RestoreSBL1-PartialDigest</key>
					<data>
					bAAAAAAQAgCBJ5pnv2Sl7WO1DHIb+RPPV4Aw
					xw==
					</data>
					<key>RestoreSBL1-Version</key>
					<integer>-1559202087</integer>
					<key>SBL1-PartialDigest</key>
					<data>
					VAAAAEC9AQAP5k2YG3GyQfoiESdFJUi9Biqk
					/g==
					</data>
					<key>SBL1-Version</key>
					<integer>-1560250663</integer>
					<key>SBL2-DownloadDigest</key>
					<data>
					SJNC9UO5IXuuOy0U4FxxwKt3q+M=
					</data>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					DlQU8CBM5KQAY0voDhSCdeDtf1E=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/glyphcharging@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					SM7DcAM9fxwGd0450PeQV/naZi4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					xdtLcmox6rvWrxDvHf61gzU28i8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					t6fmk50nFdyp3py16ddXECbS3eI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batteryfull@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					3f9h8dUfwlwx+DYtMiFCEgecbNQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterylow0@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					bvRiJDJVQJO5EDIXvEQVW4V4m64=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/batterylow1@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					o/VBJdDoMf8Zr5d2zzWcNJZMaFg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/glyphplugin@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					dWLM+JcGQ7m9ZpcBIJllXmi3QK8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					CP3+NHIDIZ/Fbj54w/i7Rayvzi4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n42</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj7dgCk7tG9rXLPz6rAk+Jrp6yrUJR6
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					dkkjMZhlS7SEEL68V+9IdlGupoU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/LLB.n42ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhBAgABXtyJz3lixHaaO22FxQseWE+q
					ZA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0877-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					sSHjBzeKA9zzLFyf22lZzRwBMUk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode@1136~iphone.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					dWLM+JcGQ7m9ZpcBIJllXmi3QK8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					CP3+NHIDIZ/Fbj54w/i7Rayvzi4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n42</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj7dgCk7tG9rXLPz6rAk+Jrp6yrUJR6
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					rzHF95hHduSKR1WLBlTxKzzWkgw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					bvbdS5bv2I4N32d11zRo2xPT7uk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>048-0859-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiwlgBEov/FTws6qNjd2qCqS1IOiRUo
					lQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					6VE+t0YWgRYNfWQfSbsQMczsZ4Y=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1537.9.55~4</string>
					<key>Digest</key>
					<data>
					F3ymSOEXrCh2S/MvsPTZMTW6tjU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHghAQCk9RWTeGjdDhWtiLAemZNlfuXD
					TQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					R4XaQq1WPs9YtU8BnIW0Nq18kKU=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n42ap.production/iBoot.n42ap.RELEASE.img3</string>
					</dict>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			CTxG/+m5Mc3nSv0ik1ZJdaSqPTA=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>10B146</string>
	<key>ProductVersion</key>
	<string>6.1.2</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589584</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589584</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone5,2</string>
	</array>
</dict>
</plist>
