<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8920</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8L1</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n88ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					5HT1YpCzwQhpwdTNQXu4jcxEi1I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACZah499U9ss9j0XXtp8KvpRFS+
					wQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					61Mi7SRV/zRGuZeZucichoNKJak=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAAA2akV6tNl3nblFGj56wne0L+bk
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					K4jD8Cyb9jtKrqX7lady9sliLzw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADxNdeOSMDh4NwMnW80qVQiP/WU
					kA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					s4vOGakpSv2FrlxnFew2+NPNBwo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACB+GC7z9pzPJqSNTaYQBLV4S0e
					qQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					sY99Pn27WCBwOrZj5RqtZnkZX3g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwAhMPxvtfDc/nF2dSv+MJXJ3KzR
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					8AgqYhgN3od+r0ycUaZpmfW1cKg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAACT6ILYQWeLF6kfQxwqweBJyUK2
					Wg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					CqD6j2lqLr0GNIhR+7Fn4h4hmsE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAAIgzm3rxPNPIMm/pIqRYuzEYnx
					iQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					nYLtzkfoBFDIh9Zrp/lCULdTxrM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAA0c7sqoanQ8vX6onAFL1B1Ptbg
					1w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					7BFcAjNgVX0kHNf/0xP4jJGT4hY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHi2AAAbjzYbcCmRBuy1n2d0oXmwOaKT
					Bg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					w5IiAt+e7eF0+8t6tnvPobBb8aM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhbUgDsziO9uas0DUTIrN+h1+riIUj1
					GA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjxAABEznqsJ7yNDlqOm8ZQo9dQkWJz
					zA==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2287-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					1amgJ3RpGLW0NgyHgFuML0sJZCc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAABAPowpJzYCTfFVBnlZIkEiRn+z
					AA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					7BFcAjNgVX0kHNf/0xP4jJGT4hY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHi2AAAbjzYbcCmRBuy1n2d0oXmwOaKT
					Bg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					w5IiAt+e7eF0+8t6tnvPobBb8aM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhbUgDsziO9uas0DUTIrN+h1+riIUj1
					GA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					5HT1YpCzwQhpwdTNQXu4jcxEi1I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACZah499U9ss9j0XXtp8KvpRFS+
					wQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					e7gA6ANplF7X9e9PYk+CUPr8ldM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2257-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjQbAGkrHlXtLMJ2QLz65TIryLBBx3a
					nw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAgDOCb8lAweWEstCrD8DzoVco2XO
					EA==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAQARuIu7W10ZCEATXnACkwO3LWQQ
					Mw==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					2aXcMDkESpZTV8U1Vi6WoFlpPqw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhxAgDldAJR71uqLniJcDSpcM8XKCMm
					xw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			bQ+2ZBF+SH8U6UHihsb4yt1wctY=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8920</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8L1</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n88ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					5HT1YpCzwQhpwdTNQXu4jcxEi1I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACZah499U9ss9j0XXtp8KvpRFS+
					wQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					61Mi7SRV/zRGuZeZucichoNKJak=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphcharging.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAAA2akV6tNl3nblFGj56wne0L+bk
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					K4jD8Cyb9jtKrqX7lady9sliLzw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging0.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADxNdeOSMDh4NwMnW80qVQiP/WU
					kA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					s4vOGakpSv2FrlxnFew2+NPNBwo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterycharging1.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACB+GC7z9pzPJqSNTaYQBLV4S0e
					qQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					sY99Pn27WCBwOrZj5RqtZnkZX3g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batteryfull.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwAhMPxvtfDc/nF2dSv+MJXJ3KzR
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					8AgqYhgN3od+r0ycUaZpmfW1cKg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow0.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAACT6ILYQWeLF6kfQxwqweBJyUK2
					Wg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					CqD6j2lqLr0GNIhR+7Fn4h4hmsE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/batterylow1.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAAIgzm3rxPNPIMm/pIqRYuzEYnx
					iQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					nYLtzkfoBFDIh9Zrp/lCULdTxrM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/glyphplugin.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAA0c7sqoanQ8vX6onAFL1B1Ptbg
					1w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					7BFcAjNgVX0kHNf/0xP4jJGT4hY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHi2AAAbjzYbcCmRBuy1n2d0oXmwOaKT
					Bg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					w5IiAt+e7eF0+8t6tnvPobBb8aM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhbUgDsziO9uas0DUTIrN+h1+riIUj1
					GA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/LLB.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjxAABEznqsJ7yNDlqOm8ZQo9dQkWJz
					zA==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2287-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					1amgJ3RpGLW0NgyHgFuML0sJZCc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/recoverymode.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAABAPowpJzYCTfFVBnlZIkEiRn+z
					AA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					7BFcAjNgVX0kHNf/0xP4jJGT4hY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/DeviceTree.n88ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHi2AAAbjzYbcCmRBuy1n2d0oXmwOaKT
					Bg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					w5IiAt+e7eF0+8t6tnvPobBb8aM=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n88</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhbUgDsziO9uas0DUTIrN+h1+riIUj1
					GA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					5HT1YpCzwQhpwdTNQXu4jcxEi1I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/applelogo.s5l8920x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACZah499U9ss9j0XXtp8KvpRFS+
					wQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					UvgO79M3bg/ixxTYiojnzUooZbI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2260-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhAaQGvG7wFGU8othHa6kDaK29FUwKd
					Nw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhhAgDOCb8lAweWEstCrD8DzoVco2XO
					EA==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n88ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAQARuIu7W10ZCEATXnACkwO3LWQQ
					Mw==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					2aXcMDkESpZTV8U1Vi6WoFlpPqw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n88ap.production/iBoot.n88ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhxAgDldAJR71uqLniJcDSpcM8XKCMm
					xw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			kBYaF486MuNhOqKhi3FXQjAtJBM=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8L1</string>
	<key>ProductVersion</key>
	<string>4.3.5</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>35104</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>35104</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone2,1</string>
	</array>
</dict>
</plist>
