<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x04</string>
				<key>ApChipID</key>
				<string>0x8900</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8A306</string>
					<key>BuildTrain</key>
					<string>Apex</string>
					<key>DeviceClass</key>
					<string>n82ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>BasebandFirmware</key>
						<string>Release</string>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							jCQYPnoayW019WzI3CdwKF4oAJU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADXXrud6BrAji+Vhh61o3xzLgJ3
							1g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							cQFMg5kp6CHNycTl8g7Gudf0tWo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/glyphcharging.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAADhhW5AZUG0LbkqOeoJyLXl2eRV
							5Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							8b21PQajYdAx6P3pgtvU/+fxOA4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging0.s5l8900x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAADKVmsQkvKPXL4oXDk5hSMjGaR2
							8g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							RkRb/D1Ru0wNbjxtUogXTa8KjGY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging1.s5l8900x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAAB5rmUMQ4OH0/z6Gd8mq05fYJsD
							RQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							uzOs0FyEnU3BkH4ieBhZA3MQroc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batteryfull.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALghAQA4OKcB8L30OUZVP5PJkGSAFOiJ
							cw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							dnMAdyiy+HcUMtSuj2TvTviPW7I=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterylow0.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjTAADlqQkBrYx552I42CnsY91tVT2R
							eQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							1FUxeQfcNavePPELVhVi6Z5d/Z8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterylow1.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADj0AADyXXTuE6W1KAGfhP3GIyBhtB5V
							TQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							WEGg/d3taLrMj1nacQ8th0oKh6k=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/glyphplugin.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAAC9UxvZieiW89DzXrngIQK5xM21
							sQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							BaKJ4Q2tX8Kufe5KeOBATMGIXmU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiiAACi5WZ8Wf0Bb2o8Vfj1bi77OZyZ
							Og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							Ta50M8crBx6SvCz5BQO9WC2VMog=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n82</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgbQQDME/x7awMXqQS3xKGK+nbINXZ4
							MQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgAAQA4M+8cvhh0J26Upuz0LBcUsOv/
							og==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8227-001.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							nwwXKd59UwCOJ+6UULnEc0vEwgg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALipAABgXK4BDFRKeZX2/EpECD3obt8a
							/g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							BaKJ4Q2tX8Kufe5KeOBATMGIXmU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiiAACi5WZ8Wf0Bb2o8Vfj1bi77OZyZ
							Og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							Ta50M8crBx6SvCz5BQO9WC2VMog=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n82</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgbQQDME/x7awMXqQS3xKGK+nbINXZ4
							MQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							jCQYPnoayW019WzI3CdwKF4oAJU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADXXrud6BrAji+Vhh61o3xzLgJ3
							1g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							RKcUcCRBSEc7xcfZGKEMT8jLw6Y=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8233-001.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgg1QCKGtcxRvM/Jllwi1kuMN3HWrio
							CA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiQAQDDcKC5OJHS8O8vU8A1aF4TiqE4
							nA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiQAQD5MQR7PC5LtQ1pInpYkRbZ1nPW
							4Q==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							P91pSVNBoSOWaSyWum07ooHz0n0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAgA6DfgtjxL9xoHCjxs72iGIFHBa
							WQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					MkUwG7+KvUFxY0sq14wy3nX6dMs=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x04</string>
				<key>ApChipID</key>
				<string>0x8900</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8A306</string>
					<key>BuildTrain</key>
					<string>Apex</string>
					<key>DeviceClass</key>
					<string>n82ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>BasebandFirmware</key>
						<string>Release</string>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							jCQYPnoayW019WzI3CdwKF4oAJU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADXXrud6BrAji+Vhh61o3xzLgJ3
							1g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							cQFMg5kp6CHNycTl8g7Gudf0tWo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/glyphcharging.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAADhhW5AZUG0LbkqOeoJyLXl2eRV
							5Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							8b21PQajYdAx6P3pgtvU/+fxOA4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging0.s5l8900x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAADKVmsQkvKPXL4oXDk5hSMjGaR2
							8g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							RkRb/D1Ru0wNbjxtUogXTa8KjGY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging1.s5l8900x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAAB5rmUMQ4OH0/z6Gd8mq05fYJsD
							RQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							uzOs0FyEnU3BkH4ieBhZA3MQroc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batteryfull.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALghAQA4OKcB8L30OUZVP5PJkGSAFOiJ
							cw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							dnMAdyiy+HcUMtSuj2TvTviPW7I=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterylow0.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjTAADlqQkBrYx552I42CnsY91tVT2R
							eQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							1FUxeQfcNavePPELVhVi6Z5d/Z8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/batterylow1.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADj0AADyXXTuE6W1KAGfhP3GIyBhtB5V
							TQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							WEGg/d3taLrMj1nacQ8th0oKh6k=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/glyphplugin.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAAC9UxvZieiW89DzXrngIQK5xM21
							sQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							BaKJ4Q2tX8Kufe5KeOBATMGIXmU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiiAACi5WZ8Wf0Bb2o8Vfj1bi77OZyZ
							Og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							Ta50M8crBx6SvCz5BQO9WC2VMog=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n82</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgbQQDME/x7awMXqQS3xKGK+nbINXZ4
							MQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgAAQA4M+8cvhh0J26Upuz0LBcUsOv/
							og==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8227-001.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							nwwXKd59UwCOJ+6UULnEc0vEwgg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALipAABgXK4BDFRKeZX2/EpECD3obt8a
							/g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							BaKJ4Q2tX8Kufe5KeOBATMGIXmU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiiAACi5WZ8Wf0Bb2o8Vfj1bi77OZyZ
							Og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							Ta50M8crBx6SvCz5BQO9WC2VMog=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n82</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgbQQDME/x7awMXqQS3xKGK+nbINXZ4
							MQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							jCQYPnoayW019WzI3CdwKF4oAJU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADXXrud6BrAji+Vhh61o3xzLgJ3
							1g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							5RXCXGNpZ8Z6/gtBfKki2sHLKyQ=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-8230-001.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgQ1QA3oGUHfhM/aYiIShvgwS5ew5Q8
							Ig==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiQAQDDcKC5OJHS8O8vU8A1aF4TiqE4
							nA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-889.24~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiQAQD5MQR7PC5LtQ1pInpYkRbZ1nPW
							4Q==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							P91pSVNBoSOWaSyWum07ooHz0n0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAgA6DfgtjxL9xoHCjxs72iGIFHBa
							WQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					zgyavci5ED/ZofABTM5dJnc6wTI=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>8A306</string>
		<key>ProductVersion</key>
		<string>4.0.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>304218112</integer>
				<integer>304230656</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>310391040</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPhone1,2</string>
		</array>
	</dict>
</plist>
