<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x04</string>
			<key>ApChipID</key>
			<string>0x8900</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C148</string>
				<key>BuildTrain</key>
				<string>Jasper</string>
				<key>DeviceClass</key>
				<string>n82ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>nrpLEVLvBJMWHDHVyt5K4m7E0Bs=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgdAABXbTMArZJ73qD5S4awZc4eCfOcow==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>iuPkjWLNioMofIEzoZVjfJCEWLI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/glyphcharging.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhGAADQObsrXep36PJ30sjh4LIybmMpqg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>ZMfrdb/fHA/1D/F4UcN5GDFu7tg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging0.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALhEAACts3aGgnVyE2X8PV7w4T+TdLVHHA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>piLM0svIQG2hdX0ZISysxvhW600=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging1.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhYAABCUxHQNUin3wbh2yjdmTb7TCn4Dg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>UN0xFPS5o7ucGFib/FowDjUzX18=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/batteryfull.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALghAQAKuvkPKLAm9IoPePS2j6Tyq2Lhlg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>fCeXKwU5+9rP7Rn2y/O7qS6qTxM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/batterylow0.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjTAADH7Xbl87Ze9Vc6cei4NwRUSx3nLA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>i+MKiymONoZuBe7ldThDDcYK8BI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/batterylow1.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADj0AAA+vvx7mAUegrqPyGimov//obg8BQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>6lgF21REB9SUdaRYTmw687yXzQ8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/glyphplugin.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADhDAACr57mbdmI+eB0yX3NIpb1zOuIJww==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>4cHWSuSmbERv5aLqkajeNGKpy/M=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADioAAC6U5VGDZcoP00yqQz0SqFcEDiwHw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>/+T9Uzgy7BIb81bKEUPjYJctQZA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n82</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADipQwBGCX8HHbCnS/xvuSXVONfEYXnUyQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgAAQBbqEZcJnX6BK9j5sEFbgHrrs5uHA==</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0015-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>ohr14ZjY3M0AvqS/pHsmx3GgcWs=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALifAAD6hugb34GnYMskM14+2x8WLvTlYw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>4cHWSuSmbERv5aLqkajeNGKpy/M=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADioAAC6U5VGDZcoP00yqQz0SqFcEDiwHw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>/+T9Uzgy7BIb81bKEUPjYJctQZA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n82</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADipQwBGCX8HHbCnS/xvuSXVONfEYXnUyQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>nrpLEVLvBJMWHDHVyt5K4m7E0Bs=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgdAABXbTMArZJ73qD5S4awZc4eCfOcow==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>e3ZFuJOJIZz7TeUlf+xZtnI32Ko=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0029-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALig8ABPi9XrFAeqtOs2nJtS3LtoS7sfMw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiAAgB7AzWnqXpyh0zVj80ipsrXC4Bfgg==</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiQAQDc+zEO/glvOq6cTEGtKMjNh7JUiA==</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>Z4FMlkGjqMKPqAC2w/dTWQrtYNs=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiQAgDg+GRo14kDD089tpwdJry9y9BpWQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>SlFezEhDIkSNJhsTSZv7QAL2a5Y=</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x04</string>
			<key>ApChipID</key>
			<string>0x8900</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C148</string>
				<key>BuildTrain</key>
				<string>Jasper</string>
				<key>DeviceClass</key>
				<string>n82ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>nrpLEVLvBJMWHDHVyt5K4m7E0Bs=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgdAABXbTMArZJ73qD5S4awZc4eCfOcow==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>iuPkjWLNioMofIEzoZVjfJCEWLI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/glyphcharging.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhGAADQObsrXep36PJ30sjh4LIybmMpqg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>ZMfrdb/fHA/1D/F4UcN5GDFu7tg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging0.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALhEAACts3aGgnVyE2X8PV7w4T+TdLVHHA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>piLM0svIQG2hdX0ZISysxvhW600=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/batterycharging1.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhYAABCUxHQNUin3wbh2yjdmTb7TCn4Dg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>UN0xFPS5o7ucGFib/FowDjUzX18=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/batteryfull.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALghAQAKuvkPKLAm9IoPePS2j6Tyq2Lhlg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>fCeXKwU5+9rP7Rn2y/O7qS6qTxM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/batterylow0.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjTAADH7Xbl87Ze9Vc6cei4NwRUSx3nLA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>i+MKiymONoZuBe7ldThDDcYK8BI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/batterylow1.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADj0AAA+vvx7mAUegrqPyGimov//obg8BQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>6lgF21REB9SUdaRYTmw687yXzQ8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/glyphplugin.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADhDAACr57mbdmI+eB0yX3NIpb1zOuIJww==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>4cHWSuSmbERv5aLqkajeNGKpy/M=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADioAAC6U5VGDZcoP00yqQz0SqFcEDiwHw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>/+T9Uzgy7BIb81bKEUPjYJctQZA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n82</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADipQwBGCX8HHbCnS/xvuSXVONfEYXnUyQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALgAAQBbqEZcJnX6BK9j5sEFbgHrrs5uHA==</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0015-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>ohr14ZjY3M0AvqS/pHsmx3GgcWs=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALifAAD6hugb34GnYMskM14+2x8WLvTlYw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>4cHWSuSmbERv5aLqkajeNGKpy/M=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/DeviceTree.n82ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADioAAC6U5VGDZcoP00yqQz0SqFcEDiwHw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>/+T9Uzgy7BIb81bKEUPjYJctQZA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n82</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADipQwBGCX8HHbCnS/xvuSXVONfEYXnUyQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>nrpLEVLvBJMWHDHVyt5K4m7E0Bs=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgdAABXbTMArZJ73qD5S4awZc4eCfOcow==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>/vwMYTwx+R+/Pufcp2Pf8eQaxbc=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0022-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALhw8AAUmRACtSxwN04tPtIkRHGWot742g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiAAgB7AzWnqXpyh0zVj80ipsrXC4Bfgg==</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiQAQDc+zEO/glvOq6cTEGtKMjNh7JUiA==</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>Z4FMlkGjqMKPqAC2w/dTWQrtYNs=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiQAgDg+GRo14kDD089tpwdJry9y9BpWQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>t0xFgyTekxkG1dTT5fpBJ/TWbbI=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8C148</string>
	<key>ProductVersion</key>
	<string>4.2.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>304218112</integer>
			<integer>304230656</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>310391040</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone1,2</string>
	</array>
</dict>
</plist>