<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8720</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C5115c</string>
				<key>BuildTrain</key>
				<string>JasperVail</string>
				<key>DeviceClass</key>
				<string>n72ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Developer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>DeveloperOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					BIMi5E0c6zz6609jPWo1GrDkzPw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgdAABJMIMdzKZQ7tokJvBN8xJkkxpf
					7w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					3XF1xXHXTolk2RxRnoD1k/1ENDs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhGAAByapy/ciF5nQNflH26rr73XaQs
					DQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					Rhn3D/DCOSsTugBvc7TUXHKEtvk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhEAACVzQ+3BWbn2iybnNTgvVOohRQg
					yQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					55z26hBU8Fid0OYB3BDmqVOc9ts=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhYAADd8zZEkynNouW+Q5I4cFyzEfU9
					wA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					jlkU56N6qnF7a9jF3jrLcL2f0Ps=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALghAQBX971fnE3zpXXeJWC2M7bA6S8u
					hg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					q9otS8k3x9cIjJl4rejRj5yFx1s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjTAADXIZlvjt24BcvcQ/Q34JThBXLG
					BA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Z4pRKfzGz19zZzKWOGo8BaJFhrM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADj0AABMbTSjbx5RobomFYyTpXN5t03T
					rg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					8EVST5EpcmxD8CHoRqJM1sJlmKs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhDAAD2lWG4PL+3kcB11um9MzVco+E4
					Ag==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					qpaA5htx7jr9vEm6L3UQPFkEnhk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiYAAB92z3aq+Sf112xYaHl7RyKKAwd
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					JCBLl7CDONi7Spv02/kGE0/OU0I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n72</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiuQgAxlUXpd/RxLvk5LYNxjhbAJtwB
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjwAAAAFiUHFpg42LptpPYxmgji0uV5
					pQ==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9700-005.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					3naRg/oMMb371KHnW2hA5uk2GUc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALifAABwD3dsAFl8KYXO8eGMpAJif6m5
					SQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					qpaA5htx7jr9vEm6L3UQPFkEnhk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiYAAB92z3aq+Sf112xYaHl7RyKKAwd
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					JCBLl7CDONi7Spv02/kGE0/OU0I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n72</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiuQgAxlUXpd/RxLvk5LYNxjhbAJtwB
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					BIMi5E0c6zz6609jPWo1GrDkzPw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgdAABJMIMdzKZQ7tokJvBN8xJkkxpf
					7w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					8MsoIyP25gUQnxvth8arhR09YTY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9695-004.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjg8gDGtrDS8AViG0k/vUsco4itLzIE
					ww==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhgAgA/dH4LZcg9obmJWtuPY3x2EF1W
					qA==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiAAQAqNi75qjZkp/XB82ZlfIL1N6U6
					FA==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					JsR3iv5zjxeSyOdC14grZNijHiA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhwAgB/4NT/8zyo0Ok2I3LuJ1KS6/4R
					EQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			rA3R9rM2fCZbc6KDkCCNczgIDtY=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8720</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C5115c</string>
				<key>BuildTrain</key>
				<string>JasperVail</string>
				<key>DeviceClass</key>
				<string>n72ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Developer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>DeveloperOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					BIMi5E0c6zz6609jPWo1GrDkzPw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgdAABJMIMdzKZQ7tokJvBN8xJkkxpf
					7w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					3XF1xXHXTolk2RxRnoD1k/1ENDs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhGAAByapy/ciF5nQNflH26rr73XaQs
					DQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					Rhn3D/DCOSsTugBvc7TUXHKEtvk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhEAACVzQ+3BWbn2iybnNTgvVOohRQg
					yQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					55z26hBU8Fid0OYB3BDmqVOc9ts=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhYAADd8zZEkynNouW+Q5I4cFyzEfU9
					wA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					jlkU56N6qnF7a9jF3jrLcL2f0Ps=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALghAQBX971fnE3zpXXeJWC2M7bA6S8u
					hg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					q9otS8k3x9cIjJl4rejRj5yFx1s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjTAADXIZlvjt24BcvcQ/Q34JThBXLG
					BA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Z4pRKfzGz19zZzKWOGo8BaJFhrM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADj0AABMbTSjbx5RobomFYyTpXN5t03T
					rg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					8EVST5EpcmxD8CHoRqJM1sJlmKs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhDAAD2lWG4PL+3kcB11um9MzVco+E4
					Ag==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					qpaA5htx7jr9vEm6L3UQPFkEnhk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiYAAB92z3aq+Sf112xYaHl7RyKKAwd
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					JCBLl7CDONi7Spv02/kGE0/OU0I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n72</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiuQgAxlUXpd/RxLvk5LYNxjhbAJtwB
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjwAAAAFiUHFpg42LptpPYxmgji0uV5
					pQ==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9700-005.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					3naRg/oMMb371KHnW2hA5uk2GUc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALifAABwD3dsAFl8KYXO8eGMpAJif6m5
					SQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					qpaA5htx7jr9vEm6L3UQPFkEnhk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiYAAB92z3aq+Sf112xYaHl7RyKKAwd
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					JCBLl7CDONi7Spv02/kGE0/OU0I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n72</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiuQgAxlUXpd/RxLvk5LYNxjhbAJtwB
					sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					BIMi5E0c6zz6609jPWo1GrDkzPw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgdAABJMIMdzKZQ7tokJvBN8xJkkxpf
					7w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					kBiDvEGvduFSg0iY+QTsn5VBRxU=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9696-004.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiw8gCe3juajXplBl7L72mheMBwi8K0
					1A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhgAgA/dH4LZcg9obmJWtuPY3x2EF1W
					qA==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiAAQAqNi75qjZkp/XB82ZlfIL1N6U6
					FA==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					JsR3iv5zjxeSyOdC14grZNijHiA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhwAgB/4NT/8zyo0Ok2I3LuJ1KS6/4R
					EQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			PlBnDXQ/Wi+pEFkrTRNnvQuVAUI=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8C5115c</string>
	<key>ProductVersion</key>
	<string>4.2</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>34592</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>34592</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPod2,1</string>
	</array>
</dict>
</plist>
