<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8720</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7D11</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n72ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							MrtnVbaqwtI8IC0LnOWS52s53NU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAADdr2Aq4UtZh0DzFuJhxV7lVtx3
							ZA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							JudLZyva2v/1it8uEraPWrfJmEE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAAAhurjI+3G60nzdpl/1bDQ3us9g
							Dg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							gZNRQ82R+Ich7SA6PdGTUZhGRRY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAABEvWp3OTFVr9CJVD5/CZ84rAdy
							Uw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							q/gEBsXPd48lcoTi5gzPSByPxEE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAAA+2+iUC8e1urbF1wrqPQ+Sr2OZ
							Xg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							BjwEwFutjOL6vteJvSp7upsl/XY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPggAQD2l0nluEmxVWWVOf/v3rOZKdnI
							qw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							q5Tv2zvQ1qJYhd2d6SO/vRW6vvY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjVAADFCMCKl4mjURlYqu5d3d9r072m
							Ew==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							14zAotCguHWcqHq/O6aka02e7xA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj2AADlOXwg03/yLCu4/851QCphM8oq
							PQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							JAsDG4eHDNrusMOxpnHxLX7pyAM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAAC1UkxTKXLLmPtVtuyTMJbEPaK1
							pw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							efNdw4UtggRt9C2kuiOhu6vb5Ro=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAAB1Ns9Xcj7LrxuSoooRNZslSD5u
							3A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							7nHPm0irxUMIgHU1i7yatSPhhgQ=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhAPADHxW2jwEvCnZm3gkjwA2lgdgn/
							Wg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgAAQCegJb3ekuHB3hx2Dfic8K0ChuU
							VQ==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							Mvo23UEQnNUBo52huGRp6EQdjNg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/needservice.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAAC6yN+JEfZwH3prD4bmmyUok4Bp
							JA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6133-014.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							/ftDwhjNjaDLhT6a/q5b7iQRR80=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiyAAA/XVdIaVC2a013OyWIryHRXTKo
							zw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							efNdw4UtggRt9C2kuiOhu6vb5Ro=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAAB1Ns9Xcj7LrxuSoooRNZslSD5u
							3A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							7nHPm0irxUMIgHU1i7yatSPhhgQ=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhAPADHxW2jwEvCnZm3gkjwA2lgdgn/
							Wg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							MrtnVbaqwtI8IC0LnOWS52s53NU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAADdr2Aq4UtZh0DzFuJhxV7lVtx3
							ZA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							q35FOx4XxZzWmFAIwsfzy2LgBLg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6141-014.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiAwAAM5U9gag+Wb7z6vftVaVMTuVQn
							GQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhgAQDnUhduIUPmvRFUDxhgXfJDeC7S
							CA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAQCeVY1mW21JcOjdGYLAGtrKkBpg
							MQ==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							4F4Foh+cv8fB5j6KsoFaV1pK0+c=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAgBfCHdA9EXXhK6Z7M8FU4Stp3gw
							Sw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					yc4MuXPFtJe0U5Xob/v8TcAhgWU=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8720</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7D11</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n72ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							MrtnVbaqwtI8IC0LnOWS52s53NU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAADdr2Aq4UtZh0DzFuJhxV7lVtx3
							ZA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							JudLZyva2v/1it8uEraPWrfJmEE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAAAhurjI+3G60nzdpl/1bDQ3us9g
							Dg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							gZNRQ82R+Ich7SA6PdGTUZhGRRY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAABEvWp3OTFVr9CJVD5/CZ84rAdy
							Uw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							q/gEBsXPd48lcoTi5gzPSByPxEE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAAA+2+iUC8e1urbF1wrqPQ+Sr2OZ
							Xg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							BjwEwFutjOL6vteJvSp7upsl/XY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPggAQD2l0nluEmxVWWVOf/v3rOZKdnI
							qw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							q5Tv2zvQ1qJYhd2d6SO/vRW6vvY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjVAADFCMCKl4mjURlYqu5d3d9r072m
							Ew==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							14zAotCguHWcqHq/O6aka02e7xA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj2AADlOXwg03/yLCu4/851QCphM8oq
							PQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							JAsDG4eHDNrusMOxpnHxLX7pyAM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAAC1UkxTKXLLmPtVtuyTMJbEPaK1
							pw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							efNdw4UtggRt9C2kuiOhu6vb5Ro=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAAB1Ns9Xcj7LrxuSoooRNZslSD5u
							3A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							7nHPm0irxUMIgHU1i7yatSPhhgQ=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhAPADHxW2jwEvCnZm3gkjwA2lgdgn/
							Wg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgAAQCegJb3ekuHB3hx2Dfic8K0ChuU
							VQ==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							Mvo23UEQnNUBo52huGRp6EQdjNg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/needservice.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAAC6yN+JEfZwH3prD4bmmyUok4Bp
							JA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6133-014.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							/ftDwhjNjaDLhT6a/q5b7iQRR80=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiyAAA/XVdIaVC2a013OyWIryHRXTKo
							zw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							efNdw4UtggRt9C2kuiOhu6vb5Ro=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAAB1Ns9Xcj7LrxuSoooRNZslSD5u
							3A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							7nHPm0irxUMIgHU1i7yatSPhhgQ=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhAPADHxW2jwEvCnZm3gkjwA2lgdgn/
							Wg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							MrtnVbaqwtI8IC0LnOWS52s53NU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAADdr2Aq4UtZh0DzFuJhxV7lVtx3
							ZA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							b4Ou844V1CsH5rbD6xu+GINlwc0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6142-014.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhwwAAPUC46V7qN1dKIeh1xcXii0CCs
							sA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhgAQDnUhduIUPmvRFUDxhgXfJDeC7S
							CA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAQCeVY1mW21JcOjdGYLAGtrKkBpg
							MQ==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							4F4Foh+cv8fB5j6KsoFaV1pK0+c=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAgBfCHdA9EXXhK6Z7M8FU4Stp3gw
							Sw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					wLbnPptZgrT8wKYsWrJ62pDrbfE=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>7D11</string>
		<key>ProductVersion</key>
		<string>3.1.2</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>34592</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>34592</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPod2,1</string>
		</array>
	</dict>
</plist>
