<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8922</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7D11</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n18ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kK7SLPJWvaq+GAn9Dm/sG6aJjXg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADDPQY07wMJ1z2qVSjKuM4iqjhF
							Kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							lvxtYniO/PKy46ZZV0YIe9ZeNt0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAADPFoOCbp1jZBqTtFlCT3XE/qYk
							Kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							+o+lH7zqvh90+/cRCjNeSmTsNvU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAADGKdYO2peJTZrXjeitEdUEMiC8
							hw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							u7NDP6MdWuEGT5Q4Qsm/OrsGTuE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAAWwQq0Y75xTjOyQ9gxMVNrczF0
							1g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							fTK7DLd3XJTHX9ywLJy97+VeUN0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAQDNQ9aqlsb/szaE/5Xh9OJF1WIh
							xw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							rdMyyO2tICLCLzvxY05lirfWrzQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjVAAB7wuaDZva7tC1CGWUl4ATOZ7aU
							bA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							ecfArQo2Cxly0h6D7iYT9TLKSSE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPj2AAABqpmcEB9sOeTSulytXfC8KWZU
							9g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							MtXc08RsYs+6BMhD4kY0quNr/AU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAABQJN3XJEBkNhnJqv6Ra2zBYJeu
							oQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							ngiLrFM16Bg/BkPkmqf59h3H90c=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAABl290rfckYS+L3TjGRA7j8avdg
							Dg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							F978uz3zV6USmE34FMmm6xeQDwU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhxPQDOpPhRPAe/mVP5J89iIhtaQEmJ
							gg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAQDkevEFsIGKqarjmv9T7avG8oGX
							hg==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							klkKn9XNikUb9bdtVU7b2yv9OYc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/needservice.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhHAACO1eYCz8W9YsCQ5OT1T0CFHk+a
							HQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6152-014.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							DjD6JMIq4Qnnsay14L3jL+AdxPs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiyAABju7ZnxiRutww2vcmjIIlXG4KS
							AA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							ngiLrFM16Bg/BkPkmqf59h3H90c=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAABl290rfckYS+L3TjGRA7j8avdg
							Dg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							F978uz3zV6USmE34FMmm6xeQDwU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhxPQDOpPhRPAe/mVP5J89iIhtaQEmJ
							gg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kK7SLPJWvaq+GAn9Dm/sG6aJjXg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADDPQY07wMJ1z2qVSjKuM4iqjhF
							Kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							Q6GXxyvzPTSN9IFGeZIQkcuIahI=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6155-014.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjguwCxX8qR+Na/3u8Q3YBE29wbVfZ8
							Qg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQDQA4xYDDo21pS9j57YWeGp6l/T
							vA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQA2J3DDdRv+TmjaGodpeT634g/H
							aw==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							soCT6YL1cig/OKRvbam3igRcvaQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgB46rf/axQHtuftGLR8SDpdOuOy
							wA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					5NkG80yZYmkBDmCGgvq+A8eZlbE=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8922</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7D11</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n18ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kK7SLPJWvaq+GAn9Dm/sG6aJjXg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADDPQY07wMJ1z2qVSjKuM4iqjhF
							Kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							lvxtYniO/PKy46ZZV0YIe9ZeNt0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAADPFoOCbp1jZBqTtFlCT3XE/qYk
							Kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							+o+lH7zqvh90+/cRCjNeSmTsNvU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAADGKdYO2peJTZrXjeitEdUEMiC8
							hw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							u7NDP6MdWuEGT5Q4Qsm/OrsGTuE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAAWwQq0Y75xTjOyQ9gxMVNrczF0
							1g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							fTK7DLd3XJTHX9ywLJy97+VeUN0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAQDNQ9aqlsb/szaE/5Xh9OJF1WIh
							xw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							rdMyyO2tICLCLzvxY05lirfWrzQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjVAAB7wuaDZva7tC1CGWUl4ATOZ7aU
							bA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							ecfArQo2Cxly0h6D7iYT9TLKSSE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPj2AAABqpmcEB9sOeTSulytXfC8KWZU
							9g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							MtXc08RsYs+6BMhD4kY0quNr/AU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAABQJN3XJEBkNhnJqv6Ra2zBYJeu
							oQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							ngiLrFM16Bg/BkPkmqf59h3H90c=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAABl290rfckYS+L3TjGRA7j8avdg
							Dg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							F978uz3zV6USmE34FMmm6xeQDwU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhxPQDOpPhRPAe/mVP5J89iIhtaQEmJ
							gg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAQDkevEFsIGKqarjmv9T7avG8oGX
							hg==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							klkKn9XNikUb9bdtVU7b2yv9OYc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/needservice.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhHAACO1eYCz8W9YsCQ5OT1T0CFHk+a
							HQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6152-014.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							DjD6JMIq4Qnnsay14L3jL+AdxPs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiyAABju7ZnxiRutww2vcmjIIlXG4KS
							AA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							ngiLrFM16Bg/BkPkmqf59h3H90c=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAABl290rfckYS+L3TjGRA7j8avdg
							Dg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							F978uz3zV6USmE34FMmm6xeQDwU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhxPQDOpPhRPAe/mVP5J89iIhtaQEmJ
							gg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kK7SLPJWvaq+GAn9Dm/sG6aJjXg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADDPQY07wMJ1z2qVSjKuM4iqjhF
							Kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							20tqZkEp1wApx1tz+ZCP38axvHE=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6145-014.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjQuwAyMjwJWKpL0b8bUzYKajbbPEVu
							PA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQDQA4xYDDo21pS9j57YWeGp6l/T
							vA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~5</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQA2J3DDdRv+TmjaGodpeT634g/H
							aw==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							soCT6YL1cig/OKRvbam3igRcvaQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgB46rf/axQHtuftGLR8SDpdOuOy
							wA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					uvWKIop3L16LfQymS8IyiDZXXw0=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>7D11</string>
		<key>ProductVersion</key>
		<string>3.1.2</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>33589538</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>33589538</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPod3,1</string>
		</array>
	</dict>
</plist>
