<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x08</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B118</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n81ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							9a6e7lDBtOMTinb+XTtHSvEgDwY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAChzJ/0IOVmFzc74XrcCvZQtDhh
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							H+M+6UAXfFVHPiT+G/sT7EQOzA4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/glyphcharging-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgQAQD47cDLI6/i4IFGFUjTxRGWIlUh
							Pw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							ftJQBg8zyWe49GiBH3SSdRxx8HM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgJAQAiNpiTivKw33W/LkTBDqMA7doR
							5A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							HnB8/19XcgtY2ub0LZKevPVQTAw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgwAQBGALhHqf8XKucu8OuKzsg6htZw
							Fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							z71QmtbEL3l9sL3N6Xi1yaXxFw0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/batteryfull-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiOAwBuCSplWfOo90QurKa8ikKVmyVy
							0w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							IXRpJyOt7q6pFvqP/72EllvrBQg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/batterylow0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjeAgBHMguLDqeD1BdNbnvDCsl3WrS0
							/A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							Ub7Az8YEVGitz8gYbHWwN6bg7M0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/batterylow1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgrAwBgRaR2KRSDJ7NfYYLmqlBElcyd
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							OFZkHwBZ/fjwd4FL9yE6wjg2brA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/glyphplugin-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgGAQCbZl0hBTtpW/vZeU/4yDuCOMJq
							AA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							6APEVc0ZP0dSOB29B+f7Lx8XPys=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHi8AABv5Mtzo+ff/XK/thopCqhFNED9
							Hw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							3TXlq9TmThy2kjerFbjCgPcZ7V0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n81</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADi5UQCCXuT6v4WnNO+AObJgsbsccmgN
							HQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/LLB.n81ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhxAQC5ObSMOSnZ0CoW7O2E9MtMS43x
							Yw==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-9391-001.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							oCgsjFuKJC7hbBInHB2o1dcNfWQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/recoverymode-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhTAgAlIQeFNR28ArFbJyN5aBbdL7NK
							NA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							6APEVc0ZP0dSOB29B+f7Lx8XPys=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHi8AABv5Mtzo+ff/XK/thopCqhFNED9
							Hw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							3TXlq9TmThy2kjerFbjCgPcZ7V0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n81</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADi5UQCCXuT6v4WnNO+AObJgsbsccmgN
							HQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							9a6e7lDBtOMTinb+XTtHSvEgDwY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAChzJ/0IOVmFzc74XrcCvZQtDhh
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							yJiDRDXxakmCXh/DCy5+cBG2ru8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-9394-001.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgg0wD452iFeRTDlhe4ZM/39aoP8Fj4
							1w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAgDA6JkcnoYmpk4tUgN/pHEiQF4N
							Lw==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAgA8C5hYqdwBMwydky/ZbIazJ6JK
							pg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							xJyee8LCaDTJEYQEiyA1AlvEHEI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/iBoot.n81ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiBAwBec1rm0aZV5jty31D1UjagGQkp
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					eoB2FMwzAlA0dHZT7RXP4OXCvH4=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x08</string>
				<key>ApChipID</key>
				<string>0x8930</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B118</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n81ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							9a6e7lDBtOMTinb+XTtHSvEgDwY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAChzJ/0IOVmFzc74XrcCvZQtDhh
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							H+M+6UAXfFVHPiT+G/sT7EQOzA4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/glyphcharging-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgQAQD47cDLI6/i4IFGFUjTxRGWIlUh
							Pw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							ftJQBg8zyWe49GiBH3SSdRxx8HM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgJAQAiNpiTivKw33W/LkTBDqMA7doR
							5A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							HnB8/19XcgtY2ub0LZKevPVQTAw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgwAQBGALhHqf8XKucu8OuKzsg6htZw
							Fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							z71QmtbEL3l9sL3N6Xi1yaXxFw0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/batteryfull-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiOAwBuCSplWfOo90QurKa8ikKVmyVy
							0w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							IXRpJyOt7q6pFvqP/72EllvrBQg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/batterylow0-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjeAgBHMguLDqeD1BdNbnvDCsl3WrS0
							/A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							Ub7Az8YEVGitz8gYbHWwN6bg7M0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/batterylow1-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgrAwBgRaR2KRSDJ7NfYYLmqlBElcyd
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							OFZkHwBZ/fjwd4FL9yE6wjg2brA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/glyphplugin-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgGAQCbZl0hBTtpW/vZeU/4yDuCOMJq
							AA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							6APEVc0ZP0dSOB29B+f7Lx8XPys=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHi8AABv5Mtzo+ff/XK/thopCqhFNED9
							Hw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							3TXlq9TmThy2kjerFbjCgPcZ7V0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n81</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADi5UQCCXuT6v4WnNO+AObJgsbsccmgN
							HQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/LLB.n81ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhxAQC5ObSMOSnZ0CoW7O2E9MtMS43x
							Yw==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-9391-001.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							oCgsjFuKJC7hbBInHB2o1dcNfWQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/recoverymode-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhTAgAlIQeFNR28ArFbJyN5aBbdL7NK
							NA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							6APEVc0ZP0dSOB29B+f7Lx8XPys=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHi8AABv5Mtzo+ff/XK/thopCqhFNED9
							Hw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							3TXlq9TmThy2kjerFbjCgPcZ7V0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n81</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADi5UQCCXuT6v4WnNO+AObJgsbsccmgN
							HQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							9a6e7lDBtOMTinb+XTtHSvEgDwY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhYAAChzJ/0IOVmFzc74XrcCvZQtDhh
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							RYJ3i74N6ellsQTz3ihBrhKM1NY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-9392-001.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgQ0wABw4D1G3VTjUFBi6TDU5At4jGU
							sA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAgDA6JkcnoYmpk4tUgN/pHEiQF4N
							Lw==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAgA8C5hYqdwBMwydky/ZbIazJ6JK
							pg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							xJyee8LCaDTJEYQEiyA1AlvEHEI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n81ap.production/iBoot.n81ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiBAwBec1rm0aZV5jty31D1UjagGQkp
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					SmQEvzRS9EKWdjzJNRH9r8MndnQ=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>8B118</string>
		<key>ProductVersion</key>
		<string>4.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>134252848</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>134252848</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPod4,1</string>
		</array>
	</dict>
</plist>
