<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x08</string>
			<key>ApChipID</key>
			<string>0x8930</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A334</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n81ap</string>
				<key>MinimumSystemPartition</key>
				<integer>979</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
					<key>8</key>
					<integer>80</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>4OHZJSYiwPTuWB+xo2nBwZjrN3M=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAACHwxmem7aggKt86sF6GxiVclHkww==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>rleUf1xRsf3BewTz/MFmmLxz9KQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/glyphcharging-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgUAACkAZCirP8Go65DsApwMc31/8YlNQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>EE6Cm1br28Rtej+W2AZtm2x+LFg=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPglAACAcQ6VBEZfIciMMpzusFdXZwIVpA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>KNZxGDOBrfdZy6w454ueWvsygQ0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/batterycharging1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiIAAD39HXSiiyu1VXtq+UMwJGsHMofaA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>iV4Xp013ko82klC56SByEC2E3+I=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/batteryfull-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjzCQBWMReBQ3cE8OzpqK3WAlgB1ULqXw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>kFeDvgmqNsXvIr8z2LTjGlkb9oM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/batterylow0-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHiSAgCiDeZA8dJsHtLk3deK5fAnzS7Jew==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>C9BYxYgXkib4W8FhY56YHUFgjCc=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/batterylow1-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADiTAAA7SeDIky+myog6r0BbhEsYTmIIXw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>GtuIxYhRZZNTyiYuYinT3SttrKI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/glyphplugin-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADgTAAAI1VnXK7MYLnrYTVXqQ17SGz+NBw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>F125jjSXN1oL4g2mXyJme2rSeWo=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjGAAAVPjxZihRegA7dz8t+iu9mF2nmOQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>0g78cYUM+AUdswWEqHe9sJFG6No=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n81</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjbXQANj0vVSZfbKx08FzTqlWzSCkdL6g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>kDPAdBhWRU3ovXm3/pHheHxJrfw=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/LLB.n81ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjRAQBbYY8bjljeW4ZvY4CNxR/77yy8zA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2707-006.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>YRYeFl4e6XEWKCLVtvcxzeriIqQ=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/recoverymode-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjyAQCjTM4inY/Jysb/47BxiXauA03jvw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>F125jjSXN1oL4g2mXyJme2rSeWo=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/DeviceTree.n81ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjGAAAVPjxZihRegA7dz8t+iu9mF2nmOQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>0g78cYUM+AUdswWEqHe9sJFG6No=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n81</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHjbXQANj0vVSZfbKx08FzTqlWzSCkdL6g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>4OHZJSYiwPTuWB+xo2nBwZjrN3M=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/applelogo-640x960.s5l8930x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPgyAACHwxmem7aggKt86sF6GxiVclHkww==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>5ItmIPgcXPsdFgx7OhMgIAG/rYs=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-7923-347.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiwBAEStpOwCeXsGTi25kNIzxo5TfRDPw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>AKt4lULyo9tmC8A7SULmnrlHafA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n81ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALiRAwDQv8j3ExqxR3VQhd80KKc2j01K6Q==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~15</string>
					<key>Digest</key>
					<data>owHS4AkkbqevA/EcUj0ZAKX0ExA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n81ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALjxAAC8og4lFqGNLHiMKs0DZLjd10+C2g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>PYo3ayIc/EdSxshFppx5ZrbZZy4=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n81ap.production/iBoot.n81ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALihAwD7hQmrO6ZqTOn6v01nq4bMRhgexQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>z6wZq8AkChjb/EhDg51cLJRlUjk=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9A334</string>
	<key>ProductVersion</key>
	<string>5.0</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>134252848</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>134252848</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPod4,1</string>
	</array>
</dict>
</plist>