<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8720</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7E18</string>
					<key>BuildTrain</key>
					<string>SUNorthstarTwo</string>
					<key>DeviceClass</key>
					<string>n72ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							fP4Y0Xl2ViJXi/pJjaxhKWlDyRI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAADUe5vPpg5TqBUpOGouZl8mOEbz
							Dw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							VWSKviGhCjLShQYjEXfODPD8lz4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAABPZBOS2IDFjCimpjYWhaQyJIL0
							Fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							zN96Hkhf95FK0teMOl3IHbXX3Ik=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAAD0L4uWmADaMTNqexM7XDlkoMrV
							2g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							DV8t4B4vC6s9BBvHlBHyt7/HKO8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAABMuzm/cCYFL6plIAOfIycQWWeu
							Sw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							lwaPFi97/dM5uanHdeM3oKdmY2E=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPggAQD2uLO0o7osbr0xW3qPrfVYsW12
							jA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							AU67Brhn7cm5oQGif9XMhGBQBGs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjVAADItrtF9z9tEXPHe8078lTwY6l6
							tw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							6y9qafJ6N8KvyjW4dp4b0mNNpmY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj2AABOmvogwdOIPhb2qc49UJk9s3bT
							NQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							niGoz8oiWHR8aXnAjGgZ4YeMAwU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAACA/tlLjcNExluDqeTlQwjA9sOJ
							qw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							8mSEIGL1SSj1jS5dcwfE+Yw6+u0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAADyt5k/k8/nKiMbWgYfwRLS7t+N
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							8jMs1SfVnJzATG/BmGZ/haJs5jk=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhFPACtgKtNBgl8T23wrvZ5wuye0msL
							8w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgAAQDQtOpPNznVQ8cbTCRk0m3+jDcG
							Dg==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							8pu0tg640hZHPEJ5SW4Wesinn2I=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/needservice.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAACnRSO7xY/G4ld3u+g4Hm7/DqWU
							fg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6481-015.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							KhcJRmPtK06fGogs/ZeDAuVOWmk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiyAACWD5G44nVoaKEbiPsMP18HyyXC
							SA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							8mSEIGL1SSj1jS5dcwfE+Yw6+u0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAADyt5k/k8/nKiMbWgYfwRLS7t+N
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							8jMs1SfVnJzATG/BmGZ/haJs5jk=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhFPACtgKtNBgl8T23wrvZ5wuye0msL
							8w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							fP4Y0Xl2ViJXi/pJjaxhKWlDyRI=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAADUe5vPpg5TqBUpOGouZl8mOEbz
							Dw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							tEPNXr3ZezPrU3JqhzMyDprUTk8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6508-014.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiQwABbErxKH4uePEpWotl3TrsO+XJ/
							Cg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhgAQDW6rtndtYNo9Ker//8ds6Zl4OI
							rg==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhgAQCfbRHPFmA0ZcUcsD71P7UFMUbi
							tg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							QchHpulLEwYcM5EScq5Qas0L6JE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAgBrVMNqPXKcwPwPOh8zdAYuTe0a
							Nw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					JtzAnOcY+BBqvnZBr0xPJ7Aifwc=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8720</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7E18</string>
					<key>BuildTrain</key>
					<string>SUNorthstarTwo</string>
					<key>DeviceClass</key>
					<string>n72ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							fP4Y0Xl2ViJXi/pJjaxhKWlDyRI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAADUe5vPpg5TqBUpOGouZl8mOEbz
							Dw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							VWSKviGhCjLShQYjEXfODPD8lz4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAABPZBOS2IDFjCimpjYWhaQyJIL0
							Fw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							zN96Hkhf95FK0teMOl3IHbXX3Ik=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAAD0L4uWmADaMTNqexM7XDlkoMrV
							2g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							DV8t4B4vC6s9BBvHlBHyt7/HKO8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAABMuzm/cCYFL6plIAOfIycQWWeu
							Sw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							lwaPFi97/dM5uanHdeM3oKdmY2E=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPggAQD2uLO0o7osbr0xW3qPrfVYsW12
							jA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							AU67Brhn7cm5oQGif9XMhGBQBGs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjVAADItrtF9z9tEXPHe8078lTwY6l6
							tw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							6y9qafJ6N8KvyjW4dp4b0mNNpmY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj2AABOmvogwdOIPhb2qc49UJk9s3bT
							NQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							niGoz8oiWHR8aXnAjGgZ4YeMAwU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAACA/tlLjcNExluDqeTlQwjA9sOJ
							qw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							8mSEIGL1SSj1jS5dcwfE+Yw6+u0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAADyt5k/k8/nKiMbWgYfwRLS7t+N
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							8jMs1SfVnJzATG/BmGZ/haJs5jk=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhFPACtgKtNBgl8T23wrvZ5wuye0msL
							8w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgAAQDQtOpPNznVQ8cbTCRk0m3+jDcG
							Dg==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							8pu0tg640hZHPEJ5SW4Wesinn2I=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/needservice.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAACnRSO7xY/G4ld3u+g4Hm7/DqWU
							fg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6481-015.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							KhcJRmPtK06fGogs/ZeDAuVOWmk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiyAACWD5G44nVoaKEbiPsMP18HyyXC
							SA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							8mSEIGL1SSj1jS5dcwfE+Yw6+u0=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAADyt5k/k8/nKiMbWgYfwRLS7t+N
							UQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							8jMs1SfVnJzATG/BmGZ/haJs5jk=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhFPACtgKtNBgl8T23wrvZ5wuye0msL
							8w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							fP4Y0Xl2ViJXi/pJjaxhKWlDyRI=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAADUe5vPpg5TqBUpOGouZl8mOEbz
							Dw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							F7JXVtBU1vJhf3F86NOvfSGv+EI=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6509-015.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiAwADblCgTAUmPxBVwyOWMu7TCx2WI
							2Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhgAQDW6rtndtYNo9Ker//8ds6Zl4OI
							rg==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhgAQCfbRHPFmA0ZcUcsD71P7UFMUbi
							tg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							QchHpulLEwYcM5EScq5Qas0L6JE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAgBrVMNqPXKcwPwPOh8zdAYuTe0a
							Nw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					s/wyTP/E29ACT7IMEX0NjDl6OVk=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>7E18</string>
		<key>ProductVersion</key>
		<string>3.1.3</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>34592</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>34592</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPod2,1</string>
		</array>
	</dict>
</plist>
