<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C5115c</string>
				<key>BuildTrain</key>
				<string>JasperVail</string>
				<key>DeviceClass</key>
				<string>n18ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Developer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>DeveloperOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					+RTHw8jHHvJj7fTCEAY7aU6vYbA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgdAABfaPKym8HSTlW3/NIGX1wnkLsJ
					4w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					ycuFkRkhbBEDz98vMU0Q2YrLVvs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhHAABh7tEsgS7LForwQGY6DYcR9Dam
					Kg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					jOSeY0BZjxCxNiqL79qpeXPVwoI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhEAADHDq4lo9oGR/FASaiOr8PQFduk
					4A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					rs7QiJW7bo+N/YxCEZi6AWsbFKA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhZAABD1kqPs6OMFll3dZ8E2PsoFxUb
					Tw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					H+zRmytTL8iZHvQxucLDR0Bpno4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPghAQBSYfI/CZlD4JTIDC10FS4TGnXk
					Ug==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					Ya3JMYlJ+ERY1QwjMET/CzB/0fc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjTAABHmNi/zS6ezOQwPYYh5bkcT7xm
					zQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					ZACJ1SlPMMLa/RYj7YazCc1J26Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj0AABRnNKrZlK3XBdpOtulP1W6CBkx
					7A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					76b7Elq4TUeN2lKcTbZOmDoaqjw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhDAABAd8vbranpRZV6FsEWlJ9pQZpl
					PA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					IoLtlq0ON8tNxGnzGvV0f/3yIU8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiNAACprhUhvnNvYkkFhcVUh/7svpXK
					PA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					SfOvrfSAfLfmhWvzJCIwd2CZY14=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhvSgCzJYt3SJMxVjoIerg3JQQQxKvT
					zA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQD8xTptfSx421u5LCLYCO2J4Ghc
					fw==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9702-005.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					cfC2qZ8LphC3C3Ig18D4bZtta5s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADigAACqQLDOZ4AFNLF387vtjzIpkdoo
					+g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					IoLtlq0ON8tNxGnzGvV0f/3yIU8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiNAACprhUhvnNvYkkFhcVUh/7svpXK
					PA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					SfOvrfSAfLfmhWvzJCIwd2CZY14=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhvSgCzJYt3SJMxVjoIerg3JQQQxKvT
					zA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					+RTHw8jHHvJj7fTCEAY7aU6vYbA=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgdAABfaPKym8HSTlW3/NIGX1wnkLsJ
					4w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					su8VS/Fs0NL1d8IXQZmvoPwVHz4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9689-004.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjg7ACfo3CfH7r3P9EEZIWVHiLq/VzD
					qw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjRAgA0MWZrT9cU750RsIEiZb/upApI
					VQ==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjxAQCF6o6448GIXpfpWVTWd75B5iqM
					qQ==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					TRBqBKc5naR5sMJfSQI8Y2XgK8s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjRAgCzfJiAJYN58tDn5MjjT7GZ9LKz
					5Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			cweDisH7P169jf6c+XCbJRNG7IQ=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C5115c</string>
				<key>BuildTrain</key>
				<string>JasperVail</string>
				<key>DeviceClass</key>
				<string>n18ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Developer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>DeveloperOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					+RTHw8jHHvJj7fTCEAY7aU6vYbA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgdAABfaPKym8HSTlW3/NIGX1wnkLsJ
					4w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					ycuFkRkhbBEDz98vMU0Q2YrLVvs=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhHAABh7tEsgS7LForwQGY6DYcR9Dam
					Kg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					jOSeY0BZjxCxNiqL79qpeXPVwoI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPhEAADHDq4lo9oGR/FASaiOr8PQFduk
					4A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					rs7QiJW7bo+N/YxCEZi6AWsbFKA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhZAABD1kqPs6OMFll3dZ8E2PsoFxUb
					Tw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					H+zRmytTL8iZHvQxucLDR0Bpno4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPghAQBSYfI/CZlD4JTIDC10FS4TGnXk
					Ug==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					Ya3JMYlJ+ERY1QwjMET/CzB/0fc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjTAABHmNi/zS6ezOQwPYYh5bkcT7xm
					zQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					ZACJ1SlPMMLa/RYj7YazCc1J26Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALj0AABRnNKrZlK3XBdpOtulP1W6CBkx
					7A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					76b7Elq4TUeN2lKcTbZOmDoaqjw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhDAABAd8vbranpRZV6FsEWlJ9pQZpl
					PA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					IoLtlq0ON8tNxGnzGvV0f/3yIU8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiNAACprhUhvnNvYkkFhcVUh/7svpXK
					PA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					SfOvrfSAfLfmhWvzJCIwd2CZY14=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhvSgCzJYt3SJMxVjoIerg3JQQQxKvT
					zA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQD8xTptfSx421u5LCLYCO2J4Ghc
					fw==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9702-005.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					cfC2qZ8LphC3C3Ig18D4bZtta5s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADigAACqQLDOZ4AFNLF387vtjzIpkdoo
					+g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					IoLtlq0ON8tNxGnzGvV0f/3yIU8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiNAACprhUhvnNvYkkFhcVUh/7svpXK
					PA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					SfOvrfSAfLfmhWvzJCIwd2CZY14=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhvSgCzJYt3SJMxVjoIerg3JQQQxKvT
					zA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					+RTHw8jHHvJj7fTCEAY7aU6vYbA=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgdAABfaPKym8HSTlW3/NIGX1wnkLsJ
					4w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					DuWFObKtZ35Os/AjYZdA9oODZEo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>018-9698-004.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiw7ACiosw32hhplAYb3euPH5R3+WZr
					Sw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjRAgA0MWZrT9cU750RsIEiZb/upApI
					VQ==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.13~3</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjxAQCF6o6448GIXpfpWVTWd75B5iqM
					qQ==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					TRBqBKc5naR5sMJfSQI8Y2XgK8s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADjRAgCzfJiAJYN58tDn5MjjT7GZ9LKz
					5Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			sqUsnORQ/05KWxQI4yYdKlnaHQw=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8C5115c</string>
	<key>ProductVersion</key>
	<string>4.2</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589538</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589538</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPod3,1</string>
	</array>
</dict>
</plist>
