<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8922</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7E18</string>
					<key>BuildTrain</key>
					<string>SUNorthstarTwo</string>
					<key>DeviceClass</key>
					<string>n18ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							V5ZNHOIqzHSDuIG1/ysRG+T3Nbc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADhkqDFrzd0TadW8un3aj8P9UQ8
							Cg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							QLRJP/aEGxC27drwS0rpmiw07Ao=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAACNMDpIIl36rlNk/RKvKOE96ZDd
							1Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							FB4ysaFgBr2KeaaY/pWF2NX9r+A=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAABOutCaoTq78V2Pgtj31C50SKq/
							EQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							0axRkDK6lhAmZXKGLLMXaWa3mK8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAADs13x7GUL3dW1p58GznDV1OChl
							0w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							R7/OZECw60HpeYWturEDy/iOVjo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAQC83z1EV2RsCJLhvXIhZUEjr/0J
							nA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							FcvJj6DepQNikSI/IdpM1yGxRvo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjVAACwHi5r5jDr3ziaCMrePrBKZdWW
							yg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							p8MM+0DBLK4nCyiTie93uCXZ9Oo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPj2AACAevUcVF6QWsLaFK2lqDZqhSIE
							YQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							NuNIltAb3a/eAMjdObJeWzl0xUk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAABy+We4aUCwRDKw0zI2GfO3LACt
							Vw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							NWsvqF9WZ+p39+DC71zggt7/jO4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAAAxmHSlfTUVIhwlumYulO16yNdG
							DA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							2+LzsNkX1epVFEcVenSdBmGEua8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhvPQCnYHUKnS+DwCey4mmFj2FaEMhX
							TQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAQCgBPDJPePNl+NdZBtyn7R/7x+u
							sg==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							aVcT4NfnTN1B7VhEIeZ8MOSrqqo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/needservice.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhHAACEP2aIJVAAWUx59TLtm6uJ95Tc
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6522-015.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							16kMJkOBgzHnv5HimJ3qDKIalwE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiyAACIBCCebWIeEhlj7JG39MEQnqQM
							jA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							NWsvqF9WZ+p39+DC71zggt7/jO4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAAAxmHSlfTUVIhwlumYulO16yNdG
							DA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							2+LzsNkX1epVFEcVenSdBmGEua8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhvPQCnYHUKnS+DwCey4mmFj2FaEMhX
							TQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							V5ZNHOIqzHSDuIG1/ysRG+T3Nbc=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADhkqDFrzd0TadW8un3aj8P9UQ8
							Cg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							ViPjqHZRZNWIJbBa5mj8frRh4tQ=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6496-015.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgAvACsI06Xv0gZr+k5adQy0+LyhyBh
							LQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQDA5Lg4hPcEph14v7xqlT5QveZi
							MQ==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQBChmuOGoZ0r5QhIEO9UKqYJJri
							RQ==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							N+3uQiIcvVo/7PvbM6RFFd0hbiY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgCblCC2zR/RdY4PRdleBgqZDjQU
							hA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					uBf/cnX/QKcHowJo6bahUF9kOTQ=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8922</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7E18</string>
					<key>BuildTrain</key>
					<string>SUNorthstarTwo</string>
					<key>DeviceClass</key>
					<string>n18ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							V5ZNHOIqzHSDuIG1/ysRG+T3Nbc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADhkqDFrzd0TadW8un3aj8P9UQ8
							Cg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							QLRJP/aEGxC27drwS0rpmiw07Ao=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAACNMDpIIl36rlNk/RKvKOE96ZDd
							1Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							FB4ysaFgBr2KeaaY/pWF2NX9r+A=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAABOutCaoTq78V2Pgtj31C50SKq/
							EQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							0axRkDK6lhAmZXKGLLMXaWa3mK8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAADs13x7GUL3dW1p58GznDV1OChl
							0w==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							R7/OZECw60HpeYWturEDy/iOVjo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAQC83z1EV2RsCJLhvXIhZUEjr/0J
							nA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							FcvJj6DepQNikSI/IdpM1yGxRvo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjVAACwHi5r5jDr3ziaCMrePrBKZdWW
							yg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							p8MM+0DBLK4nCyiTie93uCXZ9Oo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPj2AACAevUcVF6QWsLaFK2lqDZqhSIE
							YQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							NuNIltAb3a/eAMjdObJeWzl0xUk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAABy+We4aUCwRDKw0zI2GfO3LACt
							Vw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							NWsvqF9WZ+p39+DC71zggt7/jO4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAAAxmHSlfTUVIhwlumYulO16yNdG
							DA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							2+LzsNkX1epVFEcVenSdBmGEua8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhvPQCnYHUKnS+DwCey4mmFj2FaEMhX
							TQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAQCgBPDJPePNl+NdZBtyn7R/7x+u
							sg==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							aVcT4NfnTN1B7VhEIeZ8MOSrqqo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/needservice.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhHAACEP2aIJVAAWUx59TLtm6uJ95Tc
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6522-015.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							16kMJkOBgzHnv5HimJ3qDKIalwE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiyAACIBCCebWIeEhlj7JG39MEQnqQM
							jA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							NWsvqF9WZ+p39+DC71zggt7/jO4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAAAxmHSlfTUVIhwlumYulO16yNdG
							DA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							2+LzsNkX1epVFEcVenSdBmGEua8=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhvPQCnYHUKnS+DwCey4mmFj2FaEMhX
							TQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							V5ZNHOIqzHSDuIG1/ysRG+T3Nbc=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAADhkqDFrzd0TadW8un3aj8P9UQ8
							Cg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							Q8Iq27I0oiXc3TkiVbhFEKQRlp4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6513-015.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjwuwCGrX0DvXj1OmzsJQYO+Owo/+VN
							DQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQDA5Lg4hPcEph14v7xqlT5QveZi
							MQ==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66.33~4</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQBChmuOGoZ0r5QhIEO9UKqYJJri
							RQ==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							N+3uQiIcvVo/7PvbM6RFFd0hbiY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgCblCC2zR/RdY4PRdleBgqZDjQU
							hA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					27E8xt1X0fjH8EakGHoyBHIuJdw=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>7E18</string>
		<key>ProductVersion</key>
		<string>3.1.3</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>33589538</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>33589538</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPod3,1</string>
		</array>
	</dict>
</plist>
