<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8L1</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NpJvQzRJ04HvRtygepoPNX2mw+Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABOCuX7we5k9O87TIK+baz/drrc
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					X2hzXCqr+RmdxMNQS3QPo87TJUM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABQzjfVWNV6IO3fDKGnj99IB1s/
					EA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					CCsxVX9sx4hOEqVb2dfLKDpgquw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADn7wxkUjJwSkzdsLa+J5bzngjm
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					rCXR7VGEot7oEk0+1DjD8WeA7bc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACiH/WbuvKCdMWkmx/goj5BPmMi
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					Eh5ngzSoJ0Xc42pOzgdMgcWV9qw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwDKYcfTFzKSv1oVwI4gCczcyIFk
					MA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					A3mmn6SNpj32iMl1cVunl39Pfsc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAADIt/gtl0ubCfsUF1zYGyZwU/+l
					NA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Q3DWzXY99xOqI3lkt/Ot9oGS3z8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AADslA+57Kd1j1DS+cGYPdhTYX23
					HQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					Wa9tPSboyt7LSKP8w9cQgtBDrmo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACEMHS64f0anh5Iux6s4Bu0HtM/
					sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					2hecdckFbd5ahoxadaDf4qsGZ4Y=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAACP+xBd43+TZmQixoEzBjMGvbjT
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					RuAk6fKcVgVhw/VTeKTWHuGl6U4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQAW4U3NaxosEnidOpDzmorrkjf4
					Tg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQCeyHLDMx7jVJgAPZXMMTMcocJL
					Hw==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2286-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					APfaVVFey4Wy3Y5HaOXboDGX/UQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAAB9YusiOhh7OPg9pBNoGOuhFe15
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					2hecdckFbd5ahoxadaDf4qsGZ4Y=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAACP+xBd43+TZmQixoEzBjMGvbjT
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					RuAk6fKcVgVhw/VTeKTWHuGl6U4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQAW4U3NaxosEnidOpDzmorrkjf4
					Tg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NpJvQzRJ04HvRtygepoPNX2mw+Q=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABOCuX7we5k9O87TIK+baz/drrc
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					noGpyax4HT8Sxo/iQNmICmTNRsY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2261-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjAZgFmFOd0tY7FQjtGMXiIdYjvqL5H
					AA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgCqFVNP45qmPCRu3rSnzAk5J8Hz
					Tw==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgB2qUp+5GqubGJSXAe35o5LoKPl
					gw==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					fCi7NWl1ksE4YnwunOKFfG9yH2s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgBQQDFec1O/WwCW+yNJCGSk3y87
					ug==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			RLbCiqxFs/0CzJc6ibzJQPVesEw=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8L1</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NpJvQzRJ04HvRtygepoPNX2mw+Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABOCuX7we5k9O87TIK+baz/drrc
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					X2hzXCqr+RmdxMNQS3QPo87TJUM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABQzjfVWNV6IO3fDKGnj99IB1s/
					EA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					CCsxVX9sx4hOEqVb2dfLKDpgquw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADn7wxkUjJwSkzdsLa+J5bzngjm
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					rCXR7VGEot7oEk0+1DjD8WeA7bc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACiH/WbuvKCdMWkmx/goj5BPmMi
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					Eh5ngzSoJ0Xc42pOzgdMgcWV9qw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwDKYcfTFzKSv1oVwI4gCczcyIFk
					MA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					A3mmn6SNpj32iMl1cVunl39Pfsc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAADIt/gtl0ubCfsUF1zYGyZwU/+l
					NA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Q3DWzXY99xOqI3lkt/Ot9oGS3z8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AADslA+57Kd1j1DS+cGYPdhTYX23
					HQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					Wa9tPSboyt7LSKP8w9cQgtBDrmo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACEMHS64f0anh5Iux6s4Bu0HtM/
					sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					2hecdckFbd5ahoxadaDf4qsGZ4Y=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAACP+xBd43+TZmQixoEzBjMGvbjT
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					RuAk6fKcVgVhw/VTeKTWHuGl6U4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQAW4U3NaxosEnidOpDzmorrkjf4
					Tg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQCeyHLDMx7jVJgAPZXMMTMcocJL
					Hw==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2286-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					APfaVVFey4Wy3Y5HaOXboDGX/UQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAAB9YusiOhh7OPg9pBNoGOuhFe15
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					2hecdckFbd5ahoxadaDf4qsGZ4Y=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAACP+xBd43+TZmQixoEzBjMGvbjT
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					RuAk6fKcVgVhw/VTeKTWHuGl6U4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQAW4U3NaxosEnidOpDzmorrkjf4
					Tg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NpJvQzRJ04HvRtygepoPNX2mw+Q=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABOCuX7we5k9O87TIK+baz/drrc
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					W6xF/DeaiTR45j9oycfLFK1lRWk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2263-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiwZQHEP7RNqQ+zDr7GErtztfsK5nqC
					FQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgCqFVNP45qmPCRu3rSnzAk5J8Hz
					Tw==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgB2qUp+5GqubGJSXAe35o5LoKPl
					gw==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					fCi7NWl1ksE4YnwunOKFfG9yH2s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgBQQDFec1O/WwCW+yNJCGSk3y87
					ug==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			GO8moqNmwo0yCR8sq2Z35n+k8LE=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x03</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8L1</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18dev</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NpJvQzRJ04HvRtygepoPNX2mw+Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABOCuX7we5k9O87TIK+baz/drrc
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					X2hzXCqr+RmdxMNQS3QPo87TJUM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABQzjfVWNV6IO3fDKGnj99IB1s/
					EA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					CCsxVX9sx4hOEqVb2dfLKDpgquw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADn7wxkUjJwSkzdsLa+J5bzngjm
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					rCXR7VGEot7oEk0+1DjD8WeA7bc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACiH/WbuvKCdMWkmx/goj5BPmMi
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					Eh5ngzSoJ0Xc42pOzgdMgcWV9qw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwDKYcfTFzKSv1oVwI4gCczcyIFk
					MA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					A3mmn6SNpj32iMl1cVunl39Pfsc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAADIt/gtl0ubCfsUF1zYGyZwU/+l
					NA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Q3DWzXY99xOqI3lkt/Ot9oGS3z8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AADslA+57Kd1j1DS+cGYPdhTYX23
					HQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					Wa9tPSboyt7LSKP8w9cQgtBDrmo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACEMHS64f0anh5Iux6s4Bu0HtM/
					sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					HtYQ1xcqrVXE8mghSoS8N1IURoY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAABiTDXtg/hO1rncmjxSzXDHD5CU
					Kg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					RuAk6fKcVgVhw/VTeKTWHuGl6U4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQAW4U3NaxosEnidOpDzmorrkjf4
					Tg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/LLB.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQAoJjPd2w7oPrf9B0vi40QiM9Jw
					7A==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2286-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					APfaVVFey4Wy3Y5HaOXboDGX/UQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAAB9YusiOhh7OPg9pBNoGOuhFe15
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					HtYQ1xcqrVXE8mghSoS8N1IURoY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAABiTDXtg/hO1rncmjxSzXDHD5CU
					Kg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					RuAk6fKcVgVhw/VTeKTWHuGl6U4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQAW4U3NaxosEnidOpDzmorrkjf4
					Tg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NpJvQzRJ04HvRtygepoPNX2mw+Q=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABOCuX7we5k9O87TIK+baz/drrc
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					noGpyax4HT8Sxo/iQNmICmTNRsY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2261-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHjAZgFmFOd0tY7FQjtGMXiIdYjvqL5H
					AA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgD59S2YbBOa+Nq7Nvfgvo+tiroV
					3Q==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgBWvZGFFNcvyvgYT4pYe/aGZpB9
					yg==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					sYe4yzaGD8bFVylJ0iTZIm2Nc2s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/iBoot.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgBtwS2ghCZ1oiBp5YdWRjErfTd4
					kw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			aWxH9vyPCy8O57IxXvLVdUgqGWc=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x03</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8L1</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18dev</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NpJvQzRJ04HvRtygepoPNX2mw+Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABOCuX7we5k9O87TIK+baz/drrc
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					X2hzXCqr+RmdxMNQS3QPo87TJUM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABQzjfVWNV6IO3fDKGnj99IB1s/
					EA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					CCsxVX9sx4hOEqVb2dfLKDpgquw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADn7wxkUjJwSkzdsLa+J5bzngjm
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					rCXR7VGEot7oEk0+1DjD8WeA7bc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACiH/WbuvKCdMWkmx/goj5BPmMi
					0A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					Eh5ngzSoJ0Xc42pOzgdMgcWV9qw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwDKYcfTFzKSv1oVwI4gCczcyIFk
					MA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					A3mmn6SNpj32iMl1cVunl39Pfsc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAADIt/gtl0ubCfsUF1zYGyZwU/+l
					NA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					Q3DWzXY99xOqI3lkt/Ot9oGS3z8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AADslA+57Kd1j1DS+cGYPdhTYX23
					HQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					Wa9tPSboyt7LSKP8w9cQgtBDrmo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACEMHS64f0anh5Iux6s4Bu0HtM/
					sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					HtYQ1xcqrVXE8mghSoS8N1IURoY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAABiTDXtg/hO1rncmjxSzXDHD5CU
					Kg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					RuAk6fKcVgVhw/VTeKTWHuGl6U4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQAW4U3NaxosEnidOpDzmorrkjf4
					Tg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/LLB.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQAoJjPd2w7oPrf9B0vi40QiM9Jw
					7A==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2286-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					APfaVVFey4Wy3Y5HaOXboDGX/UQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAAB9YusiOhh7OPg9pBNoGOuhFe15
					LQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					HtYQ1xcqrVXE8mghSoS8N1IURoY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAABiTDXtg/hO1rncmjxSzXDHD5CU
					Kg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					RuAk6fKcVgVhw/VTeKTWHuGl6U4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQAW4U3NaxosEnidOpDzmorrkjf4
					Tg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NpJvQzRJ04HvRtygepoPNX2mw+Q=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAABOCuX7we5k9O87TIK+baz/drrc
					Mw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					W6xF/DeaiTR45j9oycfLFK1lRWk=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-2263-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiwZQHEP7RNqQ+zDr7GErtztfsK5nqC
					FQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgD59S2YbBOa+Nq7Nvfgvo+tiroV
					3Q==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~6</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgBWvZGFFNcvyvgYT4pYe/aGZpB9
					yg==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					sYe4yzaGD8bFVylJ0iTZIm2Nc2s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/iBoot.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgBtwS2ghCZ1oiBp5YdWRjErfTd4
					kw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			7ERqWpN+qDRBI94lzPcNZwQTQow=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8L1</string>
	<key>ProductVersion</key>
	<string>4.3.5</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589538</integer>
			<integer>50366754</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589538</integer>
			<integer>50366754</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPod3,1</string>
	</array>
</dict>
</plist>
