<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8J2</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					lzgqGJD8uBV5V84T5yTObeTwet4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAvjydGxIUzrmIFIbbYFIQZN3hY
					Eg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					CgyGyVY0xIB5GX+8PnMVS4tYBbk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAAChlhObFk2znjjW9hK9SMM5Rk6e
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					IWqFn0GT5b7MiEN48Ni2p/MIvHM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAD2y4+jQfVenAUTDkhDH9enWOvx
					pw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					Q4dSs+I2Uz/KUdi+kAyVYMWyiY0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACWv76qRlIp/G8ytZfb7M6r+Yg4
					yg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					V/N/9Tl+FwUH4nRUDMDydu0GMH0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwCAAIVvg1huaL836f+K6O+HRp3W
					Nw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					WLYT8CAVTJh4TmKy74hTDUIZ9QQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAABVYp6PWG0zmR12DjhoNyjAzidQ
					0g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					pmZf6Wv1ceB7g5XU0PxiuyM/5Ns=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAChRgCZGVk4CIX9StZaDgl3Fshi
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					LmvCuQZX5VMkT9XYg2eXWv4KoEo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADU7Yj2vwqdcTzJ1qCSsQ+WDUrO
					XA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Z+toa7paan45K6mXEqGjsSel1bg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAAAl3VpjwIoj0gToYxUxekWwX0IZ
					WQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					3naqgcMEjvD0xCQNszbmmwFitxs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQBfHz1ws7i/KSJO/0UY6vTq6YB5
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQBBH4uW6Iw6A0f+8ZAZCtWaFs3s
					jQ==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1491-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					pyqygUW4k4Rxd7kjtiMjIG+l+rk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAAD7k4weWgB3oVvUfvs5LDxbB6bL
					ew==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Z+toa7paan45K6mXEqGjsSel1bg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAAAl3VpjwIoj0gToYxUxekWwX0IZ
					WQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					3naqgcMEjvD0xCQNszbmmwFitxs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQBfHz1ws7i/KSJO/0UY6vTq6YB5
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					lzgqGJD8uBV5V84T5yTObeTwet4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAvjydGxIUzrmIFIbbYFIQZN3hY
					Eg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					9RpJoOHcChG7Zv9a7SR3s2VJXv8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1448-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhgagGtpTYstHpYZ9VBNbdgsJy38i9B
					AQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgAiBXeYXXK6N7KKP+Mv54nqFi9p
					uQ==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgAsnN+AAu5G36DA73TNoueLnPj2
					NQ==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					dy5DXLtuf7xIdlIkMQL7lZ24Lcg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgDvLtgr1rPk/JK/C3un51DZyaV5
					MQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			x53uZjc+SOHJbbFbR+9hWIJkQ2Y=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8J2</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					lzgqGJD8uBV5V84T5yTObeTwet4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAvjydGxIUzrmIFIbbYFIQZN3hY
					Eg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					CgyGyVY0xIB5GX+8PnMVS4tYBbk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAAChlhObFk2znjjW9hK9SMM5Rk6e
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					IWqFn0GT5b7MiEN48Ni2p/MIvHM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAD2y4+jQfVenAUTDkhDH9enWOvx
					pw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					Q4dSs+I2Uz/KUdi+kAyVYMWyiY0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACWv76qRlIp/G8ytZfb7M6r+Yg4
					yg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					V/N/9Tl+FwUH4nRUDMDydu0GMH0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwCAAIVvg1huaL836f+K6O+HRp3W
					Nw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					WLYT8CAVTJh4TmKy74hTDUIZ9QQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAABVYp6PWG0zmR12DjhoNyjAzidQ
					0g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					pmZf6Wv1ceB7g5XU0PxiuyM/5Ns=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAChRgCZGVk4CIX9StZaDgl3Fshi
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					LmvCuQZX5VMkT9XYg2eXWv4KoEo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADU7Yj2vwqdcTzJ1qCSsQ+WDUrO
					XA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Z+toa7paan45K6mXEqGjsSel1bg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAAAl3VpjwIoj0gToYxUxekWwX0IZ
					WQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					3naqgcMEjvD0xCQNszbmmwFitxs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQBfHz1ws7i/KSJO/0UY6vTq6YB5
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQBBH4uW6Iw6A0f+8ZAZCtWaFs3s
					jQ==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1491-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					pyqygUW4k4Rxd7kjtiMjIG+l+rk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAAD7k4weWgB3oVvUfvs5LDxbB6bL
					ew==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Z+toa7paan45K6mXEqGjsSel1bg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAAAl3VpjwIoj0gToYxUxekWwX0IZ
					WQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					3naqgcMEjvD0xCQNszbmmwFitxs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQBfHz1ws7i/KSJO/0UY6vTq6YB5
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					lzgqGJD8uBV5V84T5yTObeTwet4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAvjydGxIUzrmIFIbbYFIQZN3hY
					Eg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					a0UDEPrV0ng7iGjL16D3cTXG10Q=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1482-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiAZwHzq5swJTt14owG7eez/0oDKALQ
					jA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgAiBXeYXXK6N7KKP+Mv54nqFi9p
					uQ==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgAsnN+AAu5G36DA73TNoueLnPj2
					NQ==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					dy5DXLtuf7xIdlIkMQL7lZ24Lcg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgDvLtgr1rPk/JK/C3un51DZyaV5
					MQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			t739IlkBO9zYV1vGuzvWQl7Nay8=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x03</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8J2</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18dev</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					lzgqGJD8uBV5V84T5yTObeTwet4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAvjydGxIUzrmIFIbbYFIQZN3hY
					Eg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					CgyGyVY0xIB5GX+8PnMVS4tYBbk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAAChlhObFk2znjjW9hK9SMM5Rk6e
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					IWqFn0GT5b7MiEN48Ni2p/MIvHM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAD2y4+jQfVenAUTDkhDH9enWOvx
					pw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					Q4dSs+I2Uz/KUdi+kAyVYMWyiY0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACWv76qRlIp/G8ytZfb7M6r+Yg4
					yg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					V/N/9Tl+FwUH4nRUDMDydu0GMH0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwCAAIVvg1huaL836f+K6O+HRp3W
					Nw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					WLYT8CAVTJh4TmKy74hTDUIZ9QQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAABVYp6PWG0zmR12DjhoNyjAzidQ
					0g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					pmZf6Wv1ceB7g5XU0PxiuyM/5Ns=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAChRgCZGVk4CIX9StZaDgl3Fshi
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					LmvCuQZX5VMkT9XYg2eXWv4KoEo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADU7Yj2vwqdcTzJ1qCSsQ+WDUrO
					XA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					cDSBQcSy5SqKhHEm5IJTmg9ZlM4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAAACKyLmnkiz1Q25Et8DntPKVQ4g
					3g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					3naqgcMEjvD0xCQNszbmmwFitxs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQBfHz1ws7i/KSJO/0UY6vTq6YB5
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/LLB.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQCQZQUQHdjZ7hOkzs93M8lhajp8
					TA==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1491-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					pyqygUW4k4Rxd7kjtiMjIG+l+rk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAAD7k4weWgB3oVvUfvs5LDxbB6bL
					ew==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					cDSBQcSy5SqKhHEm5IJTmg9ZlM4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAAACKyLmnkiz1Q25Et8DntPKVQ4g
					3g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					3naqgcMEjvD0xCQNszbmmwFitxs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQBfHz1ws7i/KSJO/0UY6vTq6YB5
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					lzgqGJD8uBV5V84T5yTObeTwet4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAvjydGxIUzrmIFIbbYFIQZN3hY
					Eg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					9RpJoOHcChG7Zv9a7SR3s2VJXv8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1448-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHhgagGtpTYstHpYZ9VBNbdgsJy38i9B
					AQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgAf4SdyIZtf1GUp3vN+Gi4W7Lum
					nw==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgChr65ZGqTNWNQfmRGYbe0hLT36
					Hg==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					g8YId4Iq/0b+fPmlEg1c8j7HOLM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/iBoot.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgClj55UU7X8yD7PR4J0s5lydnwB
					OA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			7Shxav6jmLL8KADhqeXBkvI/RAE=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x03</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8J2</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18dev</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					lzgqGJD8uBV5V84T5yTObeTwet4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAvjydGxIUzrmIFIbbYFIQZN3hY
					Eg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					CgyGyVY0xIB5GX+8PnMVS4tYBbk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAAChlhObFk2znjjW9hK9SMM5Rk6e
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					IWqFn0GT5b7MiEN48Ni2p/MIvHM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAD2y4+jQfVenAUTDkhDH9enWOvx
					pw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					Q4dSs+I2Uz/KUdi+kAyVYMWyiY0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACWv76qRlIp/G8ytZfb7M6r+Yg4
					yg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					V/N/9Tl+FwUH4nRUDMDydu0GMH0=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwCAAIVvg1huaL836f+K6O+HRp3W
					Nw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					WLYT8CAVTJh4TmKy74hTDUIZ9QQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAABVYp6PWG0zmR12DjhoNyjAzidQ
					0g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					pmZf6Wv1ceB7g5XU0PxiuyM/5Ns=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAChRgCZGVk4CIX9StZaDgl3Fshi
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					LmvCuQZX5VMkT9XYg2eXWv4KoEo=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAADU7Yj2vwqdcTzJ1qCSsQ+WDUrO
					XA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					cDSBQcSy5SqKhHEm5IJTmg9ZlM4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAAACKyLmnkiz1Q25Et8DntPKVQ4g
					3g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					3naqgcMEjvD0xCQNszbmmwFitxs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQBfHz1ws7i/KSJO/0UY6vTq6YB5
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/LLB.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQCQZQUQHdjZ7hOkzs93M8lhajp8
					TA==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1491-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					pyqygUW4k4Rxd7kjtiMjIG+l+rk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAAD7k4weWgB3oVvUfvs5LDxbB6bL
					ew==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					cDSBQcSy5SqKhHEm5IJTmg9ZlM4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAAACKyLmnkiz1Q25Et8DntPKVQ4g
					3g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					3naqgcMEjvD0xCQNszbmmwFitxs=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg+UQBfHz1ws7i/KSJO/0UY6vTq6YB5
					5w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					lzgqGJD8uBV5V84T5yTObeTwet4=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAAAvjydGxIUzrmIFIbbYFIQZN3hY
					Eg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					a0UDEPrV0ng7iGjL16D3cTXG10Q=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-1482-003.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiAZwHzq5swJTt14owG7eez/0oDKALQ
					jA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgAf4SdyIZtf1GUp3vN+Gi4W7Lum
					nw==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.61~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgChr65ZGqTNWNQfmRGYbe0hLT36
					Hg==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					g8YId4Iq/0b+fPmlEg1c8j7HOLM=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/iBoot.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgClj55UU7X8yD7PR4J0s5lydnwB
					OA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			CC7m0uw06japYaGQNXzWxg17y4I=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8J2</string>
	<key>ProductVersion</key>
	<string>4.3.3</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589538</integer>
			<integer>50366754</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589538</integer>
			<integer>50366754</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPod3,1</string>
	</array>
</dict>
</plist>
