<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8720</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C148</string>
				<key>BuildTrain</key>
				<string>Jasper</string>
				<key>DeviceClass</key>
				<string>n72ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>q9A5XdtS5gVIT93UgybvllwsuO0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgdAAB/dDvOUyHuVdcIkaj9XaIYOuCrWw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>1aeNpa4ADH2MS4yijZz0JvlwAGI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhGAAC+LSZwrKaLWywgmZ/ov0Hyss2N1A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>XZrd9esTfSRWO/jtUKUZlAuifvI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALhEAAD9Rsn1bXMqZDcX5gd4vl19SjvEPQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>rjFRDobJYEgHmPdQY2KOqBvjmOk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhYAAB1SGFhosSCOpUr+Rj+L2G/I6m0wg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>/NYNGE7/f7ssrp7kG2dRxEWzq2g=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALghAQBEHR4BJxw0zJ/tTctAff6JOIDTJA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>lrsVcDx22M/ob/jflgEy4+b2nro=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjTAADPzsnOFACA+e4vTOFIuS1ZeSIhgA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>Lwv8KfHz9DdmR9OKytnkIjG+cb8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADj0AABPuUO2D8Enuke68fhjQ1/+skHEJQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>US1ifmsleVv/+mlYrPW82AT79hE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADhDAACQHL86eOqzh8p4X13euVe0GPrtFQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>uNcEi0REdlyCaRhQfK8i3X/+vmk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiYAADG/l0PKI4ZIfYMRE6VXNMPdGzEzA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>FKOTdfzLl1ghoN9mFdLP4XdQEvA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n72</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADi1QgA+U7T8FsOvcPA6hPYBPkTdI4RrWQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjwAABiDVhOPi84mcSGGtZBmMxLt66snQ==</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0014-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>mkYAsVULg3Eu0SYNnEwig0/S6nc=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALifAADlFb6yL+CP/PIiqZiEhSdw1RIH5g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>uNcEi0REdlyCaRhQfK8i3X/+vmk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiYAADG/l0PKI4ZIfYMRE6VXNMPdGzEzA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>FKOTdfzLl1ghoN9mFdLP4XdQEvA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n72</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADi1QgA+U7T8FsOvcPA6hPYBPkTdI4RrWQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>q9A5XdtS5gVIT93UgybvllwsuO0=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgdAAB/dDvOUyHuVdcIkaj9XaIYOuCrWw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>88yRDsJyjV7LV7YHdiwXAYAdKuQ=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0049-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALig8ABNX1tBANc6nQ4xuRG1s4DGNMoWow==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhgAgCH0WBXmHuj8JyT7vDtDyfcV+Movg==</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiAAQBfMgqdkC+x0/vxWHOeDavxFJgqEg==</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>Up8N38iKWUFR8qhNgaf7VX6FAXM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhwAgA7FHLiA9TKFx0JBUrS74+oWQiHCw==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>71pQqo6IYkYQCC1oj8Bi/r87+jU=</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x00</string>
			<key>ApChipID</key>
			<string>0x8720</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8C148</string>
				<key>BuildTrain</key>
				<string>Jasper</string>
				<key>DeviceClass</key>
				<string>n72ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>q9A5XdtS5gVIT93UgybvllwsuO0=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgdAAB/dDvOUyHuVdcIkaj9XaIYOuCrWw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>1aeNpa4ADH2MS4yijZz0JvlwAGI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhGAAC+LSZwrKaLWywgmZ/ov0Hyss2N1A==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>XZrd9esTfSRWO/jtUKUZlAuifvI=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALhEAAD9Rsn1bXMqZDcX5gd4vl19SjvEPQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>rjFRDobJYEgHmPdQY2KOqBvjmOk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhYAAB1SGFhosSCOpUr+Rj+L2G/I6m0wg==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>/NYNGE7/f7ssrp7kG2dRxEWzq2g=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALghAQBEHR4BJxw0zJ/tTctAff6JOIDTJA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>lrsVcDx22M/ob/jflgEy4+b2nro=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADjTAADPzsnOFACA+e4vTOFIuS1ZeSIhgA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>Lwv8KfHz9DdmR9OKytnkIjG+cb8=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADj0AABPuUO2D8Enuke68fhjQ1/+skHEJQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>US1ifmsleVv/+mlYrPW82AT79hE=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADhDAACQHL86eOqzh8p4X13euVe0GPrtFQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>uNcEi0REdlyCaRhQfK8i3X/+vmk=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiYAADG/l0PKI4ZIfYMRE6VXNMPdGzEzA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>FKOTdfzLl1ghoN9mFdLP4XdQEvA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n72</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADi1QgA+U7T8FsOvcPA6hPYBPkTdI4RrWQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPjwAABiDVhOPi84mcSGGtZBmMxLt66snQ==</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0014-002.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>mkYAsVULg3Eu0SYNnEwig0/S6nc=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALifAADlFb6yL+CP/PIiqZiEhSdw1RIH5g==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>uNcEi0REdlyCaRhQfK8i3X/+vmk=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiYAADG/l0PKI4ZIfYMRE6VXNMPdGzEzA==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>FKOTdfzLl1ghoN9mFdLP4XdQEvA=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n72</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAADi1QgA+U7T8FsOvcPA6hPYBPkTdI4RrWQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>q9A5XdtS5gVIT93UgybvllwsuO0=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAHgdAAB/dDvOUyHuVdcIkaj9XaIYOuCrWw==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>BnhoSvHSO5TM2imx+WC6LscowKU=</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0050-002.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAALhw8ABawHOYfveeNphhxNfi9aYd2VEevQ==</data>
					<key>Trusted</key>
					<true />
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhgAgCH0WBXmHuj8JyT7vDtDyfcV+Movg==</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-931.71.16~9</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPiAAQBfMgqdkC+x0/vxWHOeDavxFJgqEg==</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>Up8N38iKWUFR8qhNgaf7VX6FAXM=</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true />
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>QAAAAPhwAgA7FHLiA9TKFx0JBUrS74+oWQiHCw==</data>
					<key>Trusted</key>
					<true />
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>v2mSdCTutq4jzNtkd6u0B0IrxbQ=</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8C148</string>
	<key>ProductVersion</key>
	<string>4.2.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>34592</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>34592</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPod2,1</string>
	</array>
</dict>
</plist>