<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8922</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7C146</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n18ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							qFKP4CTSObPJnc79Yzy7NfMdxSw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAD2RtnkR8UIT15+BIjV4kpDlHys
							Nw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							cofcVKZz7gwayFdNkyJG6mzXulA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAAAJqVblKO6n6wMaEgtTHoCqXcqr
							GA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							ccxZ40rIKPHZJBOxZUbP5XvR7SY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAAB51CCaVUQIo6ucHLNQs7TWR4XK
							zA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							jqg8mdfJc81m57E+Ep9bYWvnlPE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAACvqv1tvwjG7zk1i8DdxEsLGqvr
							ag==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							bkdmO9CVXvuyGay695XPxMPHDLo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAQA6uPA3G7i2OrI4VV2s2G5VTnFB
							Ew==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							AypesMztAo6OGWnvrBLcemmBmQo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjVAADpu4sQqF5bkOssekwidtOQlg43
							tQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							/IW9tHaSwvdoOEbn4lRjur+ywEQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPj2AABrd1FHEDIpyE6gh1sPzOszzudb
							YQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							p5B8c/2/ZSIIqNeZuxRfqOwvqnU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAAB7klhB+LZ4ij4BwyyrHD4fwiM/
							TQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							zpVcXcgztHeKUVZ4z+YzKMkKUZY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAAAFQAhVWaczBMDGK8YnwaFQeFVb
							Kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							ZSo9Y1SKYaQX+GGWaIHl+j41+to=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhxPQDxZzCKJULJXAKu4osLoGK9k3zA
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAQD83RN1hBrIDmQ/W4Tf74exGG+N
							CQ==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							FoxhquIoljOvmzKjsrgf5iapPuM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/needservice.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhHAAAKeb7VqG6pese6LJCpoiYFfhEz
							sw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6113-001.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							VloVRT60/Hm7CxmwhakpxaNfxvs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiyAACGTVHcjMPb/odS3uU9564DEynU
							kA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							zpVcXcgztHeKUVZ4z+YzKMkKUZY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAAAFQAhVWaczBMDGK8YnwaFQeFVb
							Kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							ZSo9Y1SKYaQX+GGWaIHl+j41+to=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhxPQDxZzCKJULJXAKu4osLoGK9k3zA
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							qFKP4CTSObPJnc79Yzy7NfMdxSw=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAD2RtnkR8UIT15+BIjV4kpDlHys
							Nw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							9cKdJRkGffCMBwjzIZlP+E3Knaw=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6115-001.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjguwBigtMgZnGfuSYLFN2Y2Z49GyqC
							Mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQDbPXOWRpqKjHGcvN3rnnjYThsy
							zA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQBkmalqfs2D+ueWPlWNxwgA1JSp
							hQ==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							4xAPWS4LdgMTrUnAXZMxHg85wYI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgAX1olNVs5WswmcNn+HEY2oKahd
							/Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					TuqcWNMy7uOt78H6Lm96V9e5SVc=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8922</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7C146</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n18ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							qFKP4CTSObPJnc79Yzy7NfMdxSw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAD2RtnkR8UIT15+BIjV4kpDlHys
							Nw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							cofcVKZz7gwayFdNkyJG6mzXulA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAAAJqVblKO6n6wMaEgtTHoCqXcqr
							GA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							ccxZ40rIKPHZJBOxZUbP5XvR7SY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAAB51CCaVUQIo6ucHLNQs7TWR4XK
							zA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							jqg8mdfJc81m57E+Ep9bYWvnlPE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAACvqv1tvwjG7zk1i8DdxEsLGqvr
							ag==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							bkdmO9CVXvuyGay695XPxMPHDLo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADghAQA6uPA3G7i2OrI4VV2s2G5VTnFB
							Ew==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							AypesMztAo6OGWnvrBLcemmBmQo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjVAADpu4sQqF5bkOssekwidtOQlg43
							tQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							/IW9tHaSwvdoOEbn4lRjur+ywEQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPj2AABrd1FHEDIpyE6gh1sPzOszzudb
							YQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							p5B8c/2/ZSIIqNeZuxRfqOwvqnU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAAB7klhB+LZ4ij4BwyyrHD4fwiM/
							TQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							zpVcXcgztHeKUVZ4z+YzKMkKUZY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAAAFQAhVWaczBMDGK8YnwaFQeFVb
							Kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							ZSo9Y1SKYaQX+GGWaIHl+j41+to=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhxPQDxZzCKJULJXAKu4osLoGK9k3zA
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgxAQD83RN1hBrIDmQ/W4Tf74exGG+N
							CQ==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							FoxhquIoljOvmzKjsrgf5iapPuM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/needservice.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhHAAAKeb7VqG6pese6LJCpoiYFfhEz
							sw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6113-001.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							VloVRT60/Hm7CxmwhakpxaNfxvs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiyAACGTVHcjMPb/odS3uU9564DEynU
							kA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							zpVcXcgztHeKUVZ4z+YzKMkKUZY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiDAAAFQAhVWaczBMDGK8YnwaFQeFVb
							Kw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							ZSo9Y1SKYaQX+GGWaIHl+j41+to=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8922x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhxPQDxZzCKJULJXAKu4osLoGK9k3zA
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							qFKP4CTSObPJnc79Yzy7NfMdxSw=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAD2RtnkR8UIT15+BIjV4kpDlHys
							Nw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							QyJqa2ixNep66CPMiEam6Gsg8qI=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6110-001.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjQuwDUa2tbu0igZK23m6LqCufbGU1v
							xQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQDbPXOWRpqKjHGcvN3rnnjYThsy
							zA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAQBkmalqfs2D+ueWPlWNxwgA1JSp
							hQ==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							4xAPWS4LdgMTrUnAXZMxHg85wYI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADihAgAX1olNVs5WswmcNn+HEY2oKahd
							/Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					NLDhszhQaFvUuvLwdi9eOBO3KNs=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>7C146</string>
		<key>ProductVersion</key>
		<string>3.1.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>33589538</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>33589538</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPod3,1</string>
		</array>
	</dict>
</plist>
