<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8G4</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18ap</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NR6WZwbR05vSkpXhiI8d2JFFXLI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACGPrXFYlPFh8G/koDRpDkEK22R
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					TcLxonLMu901OkyrZ4pKeCGnSjQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABrrfEJX4XXltRl8LmN1oi2xs70
					cQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					jdtAHbszYvQ6bo9MBH5uMay86Bc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAAxeYdr17sPCt4fb5RgEFoWm/l5
					Pw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					WQbRQb0wpDzkwouIEO5k9WyLe9Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AABj6inpHAEm5WOMZ7PjM3u3ij+Z
					pQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					RhwUX0dI4mfZZajN6CWy6W6hzx4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwBdRUyJ5ctgRfBJQIbE4CAz1xyd
					IQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					WbW+/GDDszFeCGMi3f2MIbYZ+tg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAAA99m2n3txwPmqw4PG28Tes3Xwl
					Vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					HXe9WCzHyXx/PTD4PMgH9dPX3U4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAB6aFqxAsJnCLrtXXdipjpqExuh
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					6HVfstRZuqSN9YN60F8LlQvE9EA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAAe5ORtG1y1LvcRofZqbT9pbV5/
					bQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Yybcguu4+DI8su/DBhl7Ese+B7g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAADsm8La9IBzxNsaHKfQ4XaEuJv6
					5g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					MKn1fUIt1vbqV3qOlu4aSSu0l6k=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgjUQBfNkyYmCvRAvzwquLtlSW6GgtM
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQB2BnlSIFA23mHv50xLTvHLIiZ6
					TA==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0939-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					A74qjy4xkZvyQ+0YpGkVAxD/h+s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAADCKJojppLzs1pls3A6+W5egdyC
					QQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Yybcguu4+DI8su/DBhl7Ese+B7g=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAADsm8La9IBzxNsaHKfQ4XaEuJv6
					5g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					MKn1fUIt1vbqV3qOlu4aSSu0l6k=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgjUQBfNkyYmCvRAvzwquLtlSW6GgtM
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NR6WZwbR05vSkpXhiI8d2JFFXLI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACGPrXFYlPFh8G/koDRpDkEK22R
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					VDXqb7OfgmY/5Bz6Ta6BQmpBPdE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0901-005.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHggcAGNoZbRrVPQsMktnbpGOlQH/8kX
					6g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgAEAu1huwVbaM8aO29tyrUx6zUS
					Ug==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgD2HevxRIlwrzJ52hb/6N7MFF1N
					Ig==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					l8ZvR37ZKYNrcym2DA5PRR1TJ3Y=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgC0y6d9Otv5LCZLi4wVfPFkv5dl
					zQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			YuYKQMiGgol2G9tRYupyg/7YPsw=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8G4</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18ap</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NR6WZwbR05vSkpXhiI8d2JFFXLI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACGPrXFYlPFh8G/koDRpDkEK22R
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					TcLxonLMu901OkyrZ4pKeCGnSjQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABrrfEJX4XXltRl8LmN1oi2xs70
					cQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					jdtAHbszYvQ6bo9MBH5uMay86Bc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAAxeYdr17sPCt4fb5RgEFoWm/l5
					Pw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					WQbRQb0wpDzkwouIEO5k9WyLe9Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AABj6inpHAEm5WOMZ7PjM3u3ij+Z
					pQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					RhwUX0dI4mfZZajN6CWy6W6hzx4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwBdRUyJ5ctgRfBJQIbE4CAz1xyd
					IQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					WbW+/GDDszFeCGMi3f2MIbYZ+tg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAAA99m2n3txwPmqw4PG28Tes3Xwl
					Vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					HXe9WCzHyXx/PTD4PMgH9dPX3U4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAB6aFqxAsJnCLrtXXdipjpqExuh
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					6HVfstRZuqSN9YN60F8LlQvE9EA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAAe5ORtG1y1LvcRofZqbT9pbV5/
					bQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Yybcguu4+DI8su/DBhl7Ese+B7g=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAADsm8La9IBzxNsaHKfQ4XaEuJv6
					5g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					MKn1fUIt1vbqV3qOlu4aSSu0l6k=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgjUQBfNkyYmCvRAvzwquLtlSW6GgtM
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQB2BnlSIFA23mHv50xLTvHLIiZ6
					TA==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0939-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					A74qjy4xkZvyQ+0YpGkVAxD/h+s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAADCKJojppLzs1pls3A6+W5egdyC
					QQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					Yybcguu4+DI8su/DBhl7Ese+B7g=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALiPAADsm8La9IBzxNsaHKfQ4XaEuJv6
					5g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					MKn1fUIt1vbqV3qOlu4aSSu0l6k=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgjUQBfNkyYmCvRAvzwquLtlSW6GgtM
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NR6WZwbR05vSkpXhiI8d2JFFXLI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACGPrXFYlPFh8G/koDRpDkEK22R
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					ABVLAbNAy8GZERZgG0CGENSmSyg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0915-005.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHggaAE2eTuIGaNOcMYGhVXTne6E0Se+
					DQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgAEAu1huwVbaM8aO29tyrUx6zUS
					Ug==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgD2HevxRIlwrzJ52hb/6N7MFF1N
					Ig==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					l8ZvR37ZKYNrcym2DA5PRR1TJ3Y=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgC0y6d9Otv5LCZLi4wVfPFkv5dl
					zQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			MaFVO3mqAeXlV6A7fk9c/iO/MOI=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x03</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8G4</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18dev</string>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NR6WZwbR05vSkpXhiI8d2JFFXLI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACGPrXFYlPFh8G/koDRpDkEK22R
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					TcLxonLMu901OkyrZ4pKeCGnSjQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABrrfEJX4XXltRl8LmN1oi2xs70
					cQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					jdtAHbszYvQ6bo9MBH5uMay86Bc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAAxeYdr17sPCt4fb5RgEFoWm/l5
					Pw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					WQbRQb0wpDzkwouIEO5k9WyLe9Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AABj6inpHAEm5WOMZ7PjM3u3ij+Z
					pQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					RhwUX0dI4mfZZajN6CWy6W6hzx4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwBdRUyJ5ctgRfBJQIbE4CAz1xyd
					IQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					WbW+/GDDszFeCGMi3f2MIbYZ+tg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAAA99m2n3txwPmqw4PG28Tes3Xwl
					Vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					HXe9WCzHyXx/PTD4PMgH9dPX3U4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAB6aFqxAsJnCLrtXXdipjpqExuh
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					6HVfstRZuqSN9YN60F8LlQvE9EA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAAe5ORtG1y1LvcRofZqbT9pbV5/
					bQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					K2T0s87DYEgsdMUGrv/gxKou+Pw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAACQYA1jiaOqfPs7RZDdmLru5E9a
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					MKn1fUIt1vbqV3qOlu4aSSu0l6k=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgjUQBfNkyYmCvRAvzwquLtlSW6GgtM
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/LLB.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQCh55QWpOCDYsZ76MUyOlqZ7i8o
					zg==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0939-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					A74qjy4xkZvyQ+0YpGkVAxD/h+s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAADCKJojppLzs1pls3A6+W5egdyC
					QQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					K2T0s87DYEgsdMUGrv/gxKou+Pw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAACQYA1jiaOqfPs7RZDdmLru5E9a
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					MKn1fUIt1vbqV3qOlu4aSSu0l6k=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgjUQBfNkyYmCvRAvzwquLtlSW6GgtM
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NR6WZwbR05vSkpXhiI8d2JFFXLI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACGPrXFYlPFh8G/koDRpDkEK22R
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					VDXqb7OfgmY/5Bz6Ta6BQmpBPdE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0901-005.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHggcAGNoZbRrVPQsMktnbpGOlQH/8kX
					6g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgAwjq8bSdlW497HwCE+UD90k2S5
					zw==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgC6IcCSdp16fagre/crIDiFGSDD
					yA==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					iAsSsxWuFhTg37S4reyBDa0r1Tw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/iBoot.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHihAgALhea1a0Wo0ZMfeeGRfj1SZ79T
					aw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			V9SPIsvmJrQc9+YQbg1sCV/MePs=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x03</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>8G4</string>
				<key>BuildTrain</key>
				<string>Durango</string>
				<key>DeviceClass</key>
				<string>n18dev</string>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NR6WZwbR05vSkpXhiI8d2JFFXLI=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACGPrXFYlPFh8G/koDRpDkEK22R
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					TcLxonLMu901OkyrZ4pKeCGnSjQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABrrfEJX4XXltRl8LmN1oi2xs70
					cQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					jdtAHbszYvQ6bo9MBH5uMay86Bc=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAAxeYdr17sPCt4fb5RgEFoWm/l5
					Pw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					WQbRQb0wpDzkwouIEO5k9WyLe9Q=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AABj6inpHAEm5WOMZ7PjM3u3ij+Z
					pQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					RhwUX0dI4mfZZajN6CWy6W6hzx4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjHAwBdRUyJ5ctgRfBJQIbE4CAz1xyd
					IQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					WbW+/GDDszFeCGMi3f2MIbYZ+tg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAAA99m2n3txwPmqw4PG28Tes3Xwl
					Vw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					HXe9WCzHyXx/PTD4PMgH9dPX3U4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHg8AAB6aFqxAsJnCLrtXXdipjpqExuh
					gA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					6HVfstRZuqSN9YN60F8LlQvE9EA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAAAe5ORtG1y1LvcRofZqbT9pbV5/
					bQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					K2T0s87DYEgsdMUGrv/gxKou+Pw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAACQYA1jiaOqfPs7RZDdmLru5E9a
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					MKn1fUIt1vbqV3qOlu4aSSu0l6k=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgjUQBfNkyYmCvRAvzwquLtlSW6GgtM
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/LLB.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADhRAQCh55QWpOCDYsZ76MUyOlqZ7i8o
					zg==
					</data>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0939-003.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					A74qjy4xkZvyQ+0YpGkVAxD/h+s=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADiSAADCKJojppLzs1pls3A6+W5egdyC
					QQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					K2T0s87DYEgsdMUGrv/gxKou+Pw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPiSAACQYA1jiaOqfPs7RZDdmLru5E9a
					Vg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					MKn1fUIt1vbqV3qOlu4aSSu0l6k=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgjUQBfNkyYmCvRAvzwquLtlSW6GgtM
					Zw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					NR6WZwbR05vSkpXhiI8d2JFFXLI=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACGPrXFYlPFh8G/koDRpDkEK22R
					3Q==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					ABVLAbNAy8GZERZgG0CGENSmSyg=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-0915-005.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHggaAE2eTuIGaNOcMYGhVXTne6E0Se+
					DQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADihAgAwjq8bSdlW497HwCE+UD90k2S5
					zw==
					</data>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1072.59~2</string>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18dev.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADgBAgC6IcCSdp16fagre/crIDiFGSDD
					yA==
					</data>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					iAsSsxWuFhTg37S4reyBDa0r1Tw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18dev.production/iBoot.n18dev.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHihAgALhea1a0Wo0ZMfeeGRfj1SZ79T
					aw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			KU3Jinu4eHnoVk+lIBe5RH2DH60=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>8G4</string>
	<key>ProductVersion</key>
	<string>4.3.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589538</integer>
			<integer>50366754</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589538</integer>
			<integer>50366754</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPod3,1</string>
	</array>
</dict>
</plist>
