<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8720</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n72ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							d0wJoqcRpKfxIfhKhqe26pQC+ig=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAAbkuaU/N3oTlEoV3qseX6tzerz
							lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							SOK3FUFYQakwceDBKPH+BwMgpKA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAADgm5h/6NjQmDOjeSLN/5I+10Lq
							kQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							mi2wF2p5OmCJnxIdY79+0B6vyqM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAAANyDT3vV8A3HAEAXxPNjlm9o0p
							9A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							uCbzMWqYqC5cz7V7ECbQI6AagDs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAABnA0mxRw/fzPjlI0nLSXcaeqFN
							jg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							Xk13RI08yuLhDMJF9IMpGJsFVbQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALghAQB9NVXg9YcxPwre6WWrxvHHKywS
							Ig==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							mtz0J0RE8drRQILwoxM/sbUSjpU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjTAAAmNfIYeqqxtYGDoOyP7/SBtAZJ
							AQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							/BKvXqDO8U7XAcglq5acy7f2CT0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADj0AAAzGs8kh+okQxtlzE8d9ED131C4
							KA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							EAVL7/pidLKzYS8dr8xSD9W892g=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAAC2iKbRBNtbSxYyMbuHj2puX8Ph
							EQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							9/v9/gKluAkVELs59CELkdYgA14=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiYAAAPJMoX6kQ45DUFmgUhDCL557W/
							Mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							wqvyKrtH2Gp6EC8t2mDS2Kr3jdA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n72</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPinQACUsDP1+y5KFUKyxZ1jQr5hewih
							Eg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjwAADLbDLcTsQtVnHiL9z3NEF2M4z1
							wg==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7058-113.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							OyNiyP4SqRNh6xZkYfGNdyDPSmc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALipAAAbUHvG3qq2sN/u24790JU6FWZA
							Sw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							9/v9/gKluAkVELs59CELkdYgA14=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiYAAAPJMoX6kQ45DUFmgUhDCL557W/
							Mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							wqvyKrtH2Gp6EC8t2mDS2Kr3jdA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n72</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPinQACUsDP1+y5KFUKyxZ1jQr5hewih
							Eg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							d0wJoqcRpKfxIfhKhqe26pQC+ig=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAAbkuaU/N3oTlEoV3qseX6tzerz
							lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							Jo8Mpsu4n8bNXGIXp5WlTk0qlqA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7103-078.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgQ2QAorp/kGIa3RgCb29lGO4xS+6GP
							Ww==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAQBKUneobI0w9E3ms5B/dv/pxzGH
							Iw==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiAAQClg+OQnFzsM6vIMkY8oPLdyBzi
							cA==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							pQyLUNE85XwTbYwSMM6qld8GB2s=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAgDaFlCy+hmbsumhkvpkyPkJBiEH
							Mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					6Lwb4AuILIW9vQCFnPEQIIdWtbs=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8720</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n72ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							d0wJoqcRpKfxIfhKhqe26pQC+ig=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAAbkuaU/N3oTlEoV3qseX6tzerz
							lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							SOK3FUFYQakwceDBKPH+BwMgpKA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAADgm5h/6NjQmDOjeSLN/5I+10Lq
							kQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							mi2wF2p5OmCJnxIdY79+0B6vyqM=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAAANyDT3vV8A3HAEAXxPNjlm9o0p
							9A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							uCbzMWqYqC5cz7V7ECbQI6AagDs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAABnA0mxRw/fzPjlI0nLSXcaeqFN
							jg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							Xk13RI08yuLhDMJF9IMpGJsFVbQ=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALghAQB9NVXg9YcxPwre6WWrxvHHKywS
							Ig==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							mtz0J0RE8drRQILwoxM/sbUSjpU=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjTAAAmNfIYeqqxtYGDoOyP7/SBtAZJ
							AQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							/BKvXqDO8U7XAcglq5acy7f2CT0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADj0AAAzGs8kh+okQxtlzE8d9ED131C4
							KA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							EAVL7/pidLKzYS8dr8xSD9W892g=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAAC2iKbRBNtbSxYyMbuHj2puX8Ph
							EQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							9/v9/gKluAkVELs59CELkdYgA14=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiYAAAPJMoX6kQ45DUFmgUhDCL557W/
							Mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							wqvyKrtH2Gp6EC8t2mDS2Kr3jdA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n72</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPinQACUsDP1+y5KFUKyxZ1jQr5hewih
							Eg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPjwAADLbDLcTsQtVnHiL9z3NEF2M4z1
							wg==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7058-113.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							OyNiyP4SqRNh6xZkYfGNdyDPSmc=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALipAAAbUHvG3qq2sN/u24790JU6FWZA
							Sw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							9/v9/gKluAkVELs59CELkdYgA14=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiYAAAPJMoX6kQ45DUFmgUhDCL557W/
							Mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							wqvyKrtH2Gp6EC8t2mDS2Kr3jdA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n72</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPinQACUsDP1+y5KFUKyxZ1jQr5hewih
							Eg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							d0wJoqcRpKfxIfhKhqe26pQC+ig=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHgdAAAbkuaU/N3oTlEoV3qseX6tzerz
							lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							0iKkdINgg0o16+h5gBVkT3q66yc=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7104-078.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALjw2ADsNakykLmO1b6iEo/HU5qHd4J8
							WQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAQBKUneobI0w9E3ms5B/dv/pxzGH
							Iw==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPiAAQClg+OQnFzsM6vIMkY8oPLdyBzi
							cA==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							pQyLUNE85XwTbYwSMM6qld8GB2s=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAgDaFlCy+hmbsumhkvpkyPkJBiEH
							Mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					BexSK6RQz2gNfP1e6g3ka2VCBgY=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>8B117</string>
		<key>ProductVersion</key>
		<string>4.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>34592</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>34592</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPod2,1</string>
		</array>
	</dict>
</plist>
