<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A405</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n18ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1101</integer>
				<key>RestoreBehavior</key>
				<string>Erase</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Erase Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>CustomerRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					qkwQw7kyr6SzUvOoCZ0dl41Ubrw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACCrmRt1hIY8KMBcBGquCOFBXti
					3w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					k/p88pFT7OxxWOK75DDApMSAVvg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABsygDOijX5wP1oFhWq5v4Bpjxe
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					75iMbtAzqLduD20NlPFWNsQG6G4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACg3yGiM6dQoeTTLWLYhla3P2kh
					0w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					LTUG+N6t7NeVhXFw/CqFrSnCAE8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACdutKafgdNOkgwP0xI9KMfP+kH
					Sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					y6AIbFtmaVM+BsSt6hS1+2O69DY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjGAwCv0key9MfSqL1qVkICQnTJZoXv
					PA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					11iqbreb6VOdTZHHqOwt2b/obDA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAADvRvrXdo+8VwR4x1XQN/BP5ZwE
					4A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					MSSgNWEUH/lNCx8/kDLPh31Cgvk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALg8AAD5aD/ARakErerb5gFAtlJDfePK
					Xw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					Plcx2rS/+t6925Yf+eXLiRlnKYw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAABJr0COAnoYWicUc7GeXVX0UDBm
					IQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					v4ofZWlXEQKZWTcFsH9uz2a/6jE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAACncfFDMwWzfhE3zamIG/+zAWq0
					rg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					H5OpGlwyCo1L+6Gn4Sn6iMF0k/I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhPUwBUkLp9T4j0DDPZEcCpaI1kfbpn
					Cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					fQVtybI1QPDU9uWBGrTjDLYMDsA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAQCX9iHWuOoHPDJE1Bh/sgTDSNDI
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3717-001.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					jKPP5kiULAbmdDwHHRB09PiKtwQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAABGVTpRow1SY9CZFhExDqTISmAy
					eQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					v4ofZWlXEQKZWTcFsH9uz2a/6jE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAACncfFDMwWzfhE3zamIG/+zAWq0
					rg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					H5OpGlwyCo1L+6Gn4Sn6iMF0k/I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhPUwBUkLp9T4j0DDPZEcCpaI1kfbpn
					Cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					qkwQw7kyr6SzUvOoCZ0dl41Ubrw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACCrmRt1hIY8KMBcBGquCOFBXti
					3w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					UCwq0Gno6m5/jWWymMkfgENfvDo=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3714-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjwAgFxt/izIPrd8u2aQE31YbtDQPWI
					Jw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					PxtiiSV+WaodX50V7xyvPgG+3eY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjhAgAj8MqlGDGDL+cBP0mv6C3UV2Yx
					iA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					98yDQlLfMOrTlgu4JsY74oQ4Du8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjhAADjkCo+/pLuzCqAkK1BO+utnVTI
					Qw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					F/BHcgdD9PZnoAU1oIWtBTg707I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjhAgD2Q347Cqfv3ELRkbqHV19VsWsI
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			PS3h01I8CH8wry8HALOlhMSdsio=
			</data>
		</dict>
		<dict>
			<key>ApBoardID</key>
			<string>0x02</string>
			<key>ApChipID</key>
			<string>0x8922</string>
			<key>ApSecurityDomain</key>
			<string>0x01</string>
			<key>Info</key>
			<dict>
				<key>BuildNumber</key>
				<string>9A405</string>
				<key>BuildTrain</key>
				<string>Telluride</string>
				<key>DeviceClass</key>
				<string>n18ap</string>
				<key>MinimumSystemPartition</key>
				<integer>1101</integer>
				<key>RestoreBehavior</key>
				<string>Update</string>
				<key>SystemPartitionPadding</key>
				<dict>
					<key>32</key>
					<integer>320</integer>
					<key>64</key>
					<integer>640</integer>
				</dict>
				<key>Variant</key>
				<string>Customer Upgrade Install (IPSW)</string>
				<key>VariantContents</key>
				<dict>
					<key>DFU</key>
					<string>Production</string>
					<key>Firmware</key>
					<string>Production</string>
					<key>InstalledKernelCache</key>
					<string>Release</string>
					<key>RestoreKernelCache</key>
					<string>Release</string>
					<key>RestoreRamDisk</key>
					<string>UpdateRamDisk</string>
					<key>SystemImage</key>
					<string>UserOS</string>
				</dict>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>AppleLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					qkwQw7kyr6SzUvOoCZ0dl41Ubrw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACCrmRt1hIY8KMBcBGquCOFBXti
					3w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging</key>
				<dict>
					<key>Digest</key>
					<data>
					k/p88pFT7OxxWOK75DDApMSAVvg=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALgPAABsygDOijX5wP1oFhWq5v4Bpjxe
					tA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging0</key>
				<dict>
					<key>Digest</key>
					<data>
					75iMbtAzqLduD20NlPFWNsQG6G4=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAACg3yGiM6dQoeTTLWLYhla3P2kh
					0w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryCharging1</key>
				<dict>
					<key>Digest</key>
					<data>
					LTUG+N6t7NeVhXFw/CqFrSnCAE8=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPg1AACdutKafgdNOkgwP0xI9KMfP+kH
					Sg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryFull</key>
				<dict>
					<key>Digest</key>
					<data>
					y6AIbFtmaVM+BsSt6hS1+2O69DY=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjGAwCv0key9MfSqL1qVkICQnTJZoXv
					PA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow0</key>
				<dict>
					<key>Digest</key>
					<data>
					11iqbreb6VOdTZHHqOwt2b/obDA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAADixAADvRvrXdo+8VwR4x1XQN/BP5ZwE
					4A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryLow1</key>
				<dict>
					<key>Digest</key>
					<data>
					MSSgNWEUH/lNCx8/kDLPh31Cgvk=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALg8AAD5aD/ARakErerb5gFAtlJDfePK
					Xw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>BatteryPlugin</key>
				<dict>
					<key>Digest</key>
					<data>
					Plcx2rS/+t6925Yf+eXLiRlnKYw=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHgLAABJr0COAnoYWicUc7GeXVX0UDBm
					IQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>DeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					v4ofZWlXEQKZWTcFsH9uz2a/6jE=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAACncfFDMwWzfhE3zamIG/+zAWq0
					rg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>KernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					H5OpGlwyCo1L+6Gn4Sn6iMF0k/I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhPUwBUkLp9T4j0DDPZEcCpaI1kfbpn
					Cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>LLB</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					fQVtybI1QPDU9uWBGrTjDLYMDsA=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALihAQCX9iHWuOoHPDJE1Bh/sgTDSNDI
					YQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>OS</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3717-001.dmg</string>
					</dict>
				</dict>
				<key>RecoveryMode</key>
				<dict>
					<key>Digest</key>
					<data>
					jKPP5kiULAbmdDwHHRB09PiKtwQ=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAABGVTpRow1SY9CZFhExDqTISmAy
					eQ==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreDeviceTree</key>
				<dict>
					<key>Digest</key>
					<data>
					v4ofZWlXEQKZWTcFsH9uz2a/6jE=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAHiSAACncfFDMwWzfhE3zamIG/+zAWq0
					rg==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreKernelCache</key>
				<dict>
					<key>Digest</key>
					<data>
					H5OpGlwyCo1L+6Gn4Sn6iMF0k/I=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>kernelcache.release.n18</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALhPUwBUkLp9T4j0DDPZEcCpaI1kfbpn
					Cw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreLogo</key>
				<dict>
					<key>Digest</key>
					<data>
					qkwQw7kyr6SzUvOoCZ0dl41Ubrw=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPgUAACCrmRt1hIY8KMBcBGquCOFBXti
					3w==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>RestoreRamDisk</key>
				<dict>
					<key>Digest</key>
					<data>
					C+3jij6UjwNN1Vr4qScXsqKYEik=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>038-3716-001.dmg</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAAPjgAgF2n1egg7MmOeiHitDSSGt6Xai+
					+A==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBEC</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					PxtiiSV+WaodX50V7xyvPgG+3eY=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjhAgAj8MqlGDGDL+cBP0mv6C3UV2Yx
					iA==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBSS</key>
				<dict>
					<key>BuildString</key>
					<string>iBoot-1219.43.32~29</string>
					<key>Digest</key>
					<data>
					98yDQlLfMOrTlgu4JsY74oQ4Du8=
					</data>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjhAADjkCo+/pLuzCqAkK1BO+utnVTI
					Qw==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
				<key>iBoot</key>
				<dict>
					<key>Digest</key>
					<data>
					F/BHcgdD9PZnoAU1oIWtBTg707I=
					</data>
					<key>Info</key>
					<dict>
						<key>IsFirmwarePayload</key>
						<true/>
						<key>Path</key>
						<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
					</dict>
					<key>PartialDigest</key>
					<data>
					QAAAALjhAgD2Q347Cqfv3ELRkbqHV19VsWsI
					7g==
					</data>
					<key>Trusted</key>
					<true/>
				</dict>
			</dict>
			<key>UniqueBuildID</key>
			<data>
			oM1k45xXFeN34uh7GEJjA5SJXuI=
			</data>
		</dict>
	</array>
	<key>ManifestVersion</key>
	<integer>0</integer>
	<key>ProductBuildVersion</key>
	<string>9A405</string>
	<key>ProductVersion</key>
	<string>5.0.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33589538</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33589538</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPod3,1</string>
	</array>
</dict>
</plist>
