<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8720</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7C145</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n72ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							FihV3h8KYX3nZXCNByroEzN0gz4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAABU6/DcqbABjLG94HzZJsIDqO+O
							1A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							Uhdgiwfb2b6Iy5rRyQhnNyTwjSI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAACJv1y+n7AWd/u/YyS0PdNRkst/
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							zPBwm57rGYbRGz+bro0KFSYOrvo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAABYvH45BnIs66u801J/sotXKY72
							vw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							Ahz7KFyTkD/Ty2A63lqbw9ZVQks=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAADVJB3n+n7ew3PAZcMp33fPAYgM
							Mw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							U/rN2/elGo/JEaQXZLPw4k132g0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPggAQADcyW6e/nFjQRjcRL+CE44s0va
							Pw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							d+4jBmMR3DJ5jHj+zIYc7Qymvak=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjVAAD0lOQ974yX3emMGDhpN94tpWpS
							NA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							lRiE4lX3v9aGxFhHZ1CJY7jueLw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj2AABuEobU+liGcV2Oh4/tXUUa1PpH
							WA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							O9KRmqOS9di9ErcESyBNwqGsgjg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAACO4SkG5R9ivYdMMa01XzcV7awX
							Fg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							s2KOgqRI78kiBYoZLcBG0bUBfeg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAAC6ukW28dQRfA00M216ebAt8Q89
							sA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							38JmrzOgPVK4q8ZjT66eJfXbTDY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhBPABPAO9tQ/Wmf5Yeyl7kYzkLYrYX
							Tg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgAAQCmeiCM6GwDejq4lrzhcyIyCLhz
							qQ==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							HCJLr5u47zlRhCQqUcaw9yHdsUE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/needservice.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAADE6XHBnlsWrL69iuDdnivMcVjE
							Vw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6027-001.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							EoP7In1mCD2zPUZtLIOdTGkgPg8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiyAACb9+UWgzeNyGz1NsTdxOM3SGz+
							3Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							s2KOgqRI78kiBYoZLcBG0bUBfeg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAAC6ukW28dQRfA00M216ebAt8Q89
							sA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							38JmrzOgPVK4q8ZjT66eJfXbTDY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhBPABPAO9tQ/Wmf5Yeyl7kYzkLYrYX
							Tg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							FihV3h8KYX3nZXCNByroEzN0gz4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAABU6/DcqbABjLG94HzZJsIDqO+O
							1A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							El8gNqLLeU8qSZjb2l+MhmoVkXY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6041-001.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiAwADboNAGHOBjdlaAHsoHSr90Ekj1
							XA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhgAQDhEo2eh+2xD2bS6pvmz0ZKtDIi
							bw==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAQCEBmEHp9iET+MnFddBw4usiwEt
							Eg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							ZEX/WEGkYgwYBhEN1pGsAOPBv1s=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAgAlL2/P7F/rqtqvEJBP+f9YU/f/
							Mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					58sfJdpInpITiNF6gy6kNPG/nl4=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x00</string>
				<key>ApChipID</key>
				<string>0x8720</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>7C145</string>
					<key>BuildTrain</key>
					<string>Northstar</string>
					<key>DeviceClass</key>
					<string>n72ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							FihV3h8KYX3nZXCNByroEzN0gz4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAABU6/DcqbABjLG94HzZJsIDqO+O
							1A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							Uhdgiwfb2b6Iy5rRyQhnNyTwjSI=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphcharging.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhGAACJv1y+n7AWd/u/YyS0PdNRkst/
							vQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							zPBwm57rGYbRGz+bro0KFSYOrvo=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging0.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhEAABYvH45BnIs66u801J/sotXKY72
							vw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							Ahz7KFyTkD/Ty2A63lqbw9ZVQks=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterycharging1.s5l8720x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhYAADVJB3n+n7ew3PAZcMp33fPAYgM
							Mw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							U/rN2/elGo/JEaQXZLPw4k132g0=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batteryfull.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPggAQADcyW6e/nFjQRjcRL+CE44s0va
							Pw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							d+4jBmMR3DJ5jHj+zIYc7Qymvak=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow0.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjVAAD0lOQ974yX3emMGDhpN94tpWpS
							NA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							lRiE4lX3v9aGxFhHZ1CJY7jueLw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/batterylow1.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj2AABuEobU+liGcV2Oh4/tXUUa1PpH
							WA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							O9KRmqOS9di9ErcESyBNwqGsgjg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/glyphplugin.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhDAACO4SkG5R9ivYdMMa01XzcV7awX
							Fg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							s2KOgqRI78kiBYoZLcBG0bUBfeg=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAAC6ukW28dQRfA00M216ebAt8Q89
							sA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							38JmrzOgPVK4q8ZjT66eJfXbTDY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhBPABPAO9tQ/Wmf5Yeyl7kYzkLYrYX
							Tg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/LLB.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgAAQCmeiCM6GwDejq4lrzhcyIyCLhz
							qQ==
						</data>
					</dict>
					<key>NeedService</key>
					<dict>
						<key>Digest</key>
						<data>
							HCJLr5u47zlRhCQqUcaw9yHdsUE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/needservice.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAADE6XHBnlsWrL69iuDdnivMcVjE
							Vw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6027-001.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							EoP7In1mCD2zPUZtLIOdTGkgPg8=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/recoverymode.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALiyAACb9+UWgzeNyGz1NsTdxOM3SGz+
							3Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							s2KOgqRI78kiBYoZLcBG0bUBfeg=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/DeviceTree.n72ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiKAAC6ukW28dQRfA00M216ebAt8Q89
							sA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							38JmrzOgPVK4q8ZjT66eJfXbTDY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.s5l8720x</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhBPABPAO9tQ/Wmf5Yeyl7kYzkLYrYX
							Tg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							FihV3h8KYX3nZXCNByroEzN0gz4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/applelogo.s5l8720x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADgdAABU6/DcqbABjLG94HzZJsIDqO+O
							1A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							u5KvPPRbIZ57oH7MpU3m8c9BqlI=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-6048-001.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALhwwADcjyp1Q530PLsRV5MDtXr2CFG/
							Kg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhgAQDhEo2eh+2xD2bS6pvmz0ZKtDIi
							bw==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-636.66~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n72ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAQCEBmEHp9iET+MnFddBw4usiwEt
							Eg==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							ZEX/WEGkYgwYBhEN1pGsAOPBv1s=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n72ap.production/iBoot.n72ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhwAgAlL2/P7F/rqtqvEJBP+f9YU/f/
							Mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					4DKaQGI74H1/REUM0RZeFTm/HEw=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>7C145</string>
		<key>ProductVersion</key>
		<string>3.1.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>34592</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>34592</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPod2,1</string>
		</array>
	</dict>
</plist>
