<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildIdentities</key>
		<array>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8922</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n18ap</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kfkSeDY/JcH7M9hsqA4/PYPSOsA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAD9S2yuQKsXzxu6NWX16nDbBupd
							Lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							i9Lmz8qYvLzLUtGThoYb4z+0wQY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAACiKtO/t5u2n+GX32qpIToyCFKa
							tQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							e6ocE5PrJz8P7jFd/7vsMo9dmaw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAAA8Wy1u+PYogL5QO1xj/XZ3iSyd
							SA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							YmKXiuM+gCyixFXnKP7SOY0hvEw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAAa49nRpgxOY1oR3mW3+Psn0Hkt
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							224HOLI/K1tRs+iGgI0XOV7WhIY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQBiI9WVgAQNxmSKIcIAc+Fljrac
							5g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							bYokWDs0bMneZA6EwVpeDy9LGhE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAAChvmimw2EVZj0DKeuecMcA5vQ2
							Yw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							BJmnoxzn3BTTGeSGf/5mxMUPQbs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AADTVu+YTK1dgJeZcAPy2pZ+Afl7
							og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							AqJ9rRxtwhyFUAzy5V86XjrF6hw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAAASphuOegLpJYZHEl/xzaj/93I5
							Ew==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							FuvJh3f4mTgD5q6jD2IL+nfsDO4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHiNAAD96Ig2qjXVf+admjxVgCY/mI9K
							Gg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							by6uCw8mk8AHDEMjCmlrLAltPpY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n18</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRRwCNw+g6mhnzVOWWErGQlKN7ZFR2
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhRAQDt73YQNIlPr4Sm2bHdaYsiSaxs
							mw==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7116-114.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							NXFn/YEJAhUxvpHxy0oEh2PQ60I=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPipAACgkjstLrmNAhrmO0CtNkzrFBUP
							ag==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							FuvJh3f4mTgD5q6jD2IL+nfsDO4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHiNAAD96Ig2qjXVf+admjxVgCY/mI9K
							Gg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							by6uCw8mk8AHDEMjCmlrLAltPpY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n18</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRRwCNw+g6mhnzVOWWErGQlKN7ZFR2
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kfkSeDY/JcH7M9hsqA4/PYPSOsA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAD9S2yuQKsXzxu6NWX16nDbBupd
							Lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							9eR8QYhc4uCfb6Q5XXJxbtv5AE4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7081-078.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgg0wDjA7JsmExvvN37alk51N8DqQLb
							2Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAQAT1BLyC6wPhR8x7E1rUTkB9cv1
							mA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAQALGPClyuISXN8YJHm/H+RZS+mn
							Ww==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							IimG+/YjVI/J/wLpcrpnvOXytyA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAgDUAQW4gqplqDmFLgCfHL/pgSts
							wQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					O9kox1pkS4azR5wHDPNpHxuWYRA=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x02</string>
				<key>ApChipID</key>
				<string>0x8922</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n18ap</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kfkSeDY/JcH7M9hsqA4/PYPSOsA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAD9S2yuQKsXzxu6NWX16nDbBupd
							Lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							i9Lmz8qYvLzLUtGThoYb4z+0wQY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphcharging.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAACiKtO/t5u2n+GX32qpIToyCFKa
							tQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							e6ocE5PrJz8P7jFd/7vsMo9dmaw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging0.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAAA8Wy1u+PYogL5QO1xj/XZ3iSyd
							SA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							YmKXiuM+gCyixFXnKP7SOY0hvEw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterycharging1.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAAa49nRpgxOY1oR3mW3+Psn0Hkt
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							224HOLI/K1tRs+iGgI0XOV7WhIY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batteryfull.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQBiI9WVgAQNxmSKIcIAc+Fljrac
							5g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							bYokWDs0bMneZA6EwVpeDy9LGhE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow0.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAAChvmimw2EVZj0DKeuecMcA5vQ2
							Yw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							BJmnoxzn3BTTGeSGf/5mxMUPQbs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/batterylow1.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AADTVu+YTK1dgJeZcAPy2pZ+Afl7
							og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							AqJ9rRxtwhyFUAzy5V86XjrF6hw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/glyphplugin.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAAASphuOegLpJYZHEl/xzaj/93I5
							Ew==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							FuvJh3f4mTgD5q6jD2IL+nfsDO4=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHiNAAD96Ig2qjXVf+admjxVgCY/mI9K
							Gg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							by6uCw8mk8AHDEMjCmlrLAltPpY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n18</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRRwCNw+g6mhnzVOWWErGQlKN7ZFR2
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/LLB.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhRAQDt73YQNIlPr4Sm2bHdaYsiSaxs
							mw==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7116-114.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							NXFn/YEJAhUxvpHxy0oEh2PQ60I=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/recoverymode.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPipAACgkjstLrmNAhrmO0CtNkzrFBUP
							ag==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							FuvJh3f4mTgD5q6jD2IL+nfsDO4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/DeviceTree.n18ap.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHiNAAD96Ig2qjXVf+admjxVgCY/mI9K
							Gg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							by6uCw8mk8AHDEMjCmlrLAltPpY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n18</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRRwCNw+g6mhnzVOWWErGQlKN7ZFR2
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kfkSeDY/JcH7M9hsqA4/PYPSOsA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAD9S2yuQKsXzxu6NWX16nDbBupd
							Lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							CCQAEEae61b4fLt7N+EvmMVqHOU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7108-078.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgQ0wBLqvumVS56U1kpStaU76Eh2a2y
							5A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAQAT1BLyC6wPhR8x7E1rUTkB9cv1
							mA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n18ap.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAQALGPClyuISXN8YJHm/H+RZS+mn
							Ww==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							IimG+/YjVI/J/wLpcrpnvOXytyA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18ap.production/iBoot.n18ap.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAgDUAQW4gqplqDmFLgCfHL/pgSts
							wQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					pSGcoZC4ttqmVtvjiJU7xRoosM4=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x03</string>
				<key>ApChipID</key>
				<string>0x8922</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n18dev</string>
					<key>RestoreBehavior</key>
					<string>Erase</string>
					<key>Variant</key>
					<string>Customer Erase Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>CustomerRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kfkSeDY/JcH7M9hsqA4/PYPSOsA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAD9S2yuQKsXzxu6NWX16nDbBupd
							Lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							i9Lmz8qYvLzLUtGThoYb4z+0wQY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/glyphcharging.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAACiKtO/t5u2n+GX32qpIToyCFKa
							tQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							e6ocE5PrJz8P7jFd/7vsMo9dmaw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging0.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAAA8Wy1u+PYogL5QO1xj/XZ3iSyd
							SA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							YmKXiuM+gCyixFXnKP7SOY0hvEw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging1.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAAa49nRpgxOY1oR3mW3+Psn0Hkt
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							224HOLI/K1tRs+iGgI0XOV7WhIY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/batteryfull.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQBiI9WVgAQNxmSKIcIAc+Fljrac
							5g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							bYokWDs0bMneZA6EwVpeDy9LGhE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/batterylow0.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAAChvmimw2EVZj0DKeuecMcA5vQ2
							Yw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							BJmnoxzn3BTTGeSGf/5mxMUPQbs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/batterylow1.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AADTVu+YTK1dgJeZcAPy2pZ+Afl7
							og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							AqJ9rRxtwhyFUAzy5V86XjrF6hw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/glyphplugin.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAAASphuOegLpJYZHEl/xzaj/93I5
							Ew==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							69+b/yhyS+uaTde0r5oKbBn5d3w=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHiQAACmOfUWXlCE+OtE/tGZzAt6AlW4
							XA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							by6uCw8mk8AHDEMjCmlrLAltPpY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n18</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRRwCNw+g6mhnzVOWWErGQlKN7ZFR2
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/LLB.n18dev.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhRAQCRh2bNOY1t/j0lB7wutQBWCHCN
							qw==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7116-114.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							NXFn/YEJAhUxvpHxy0oEh2PQ60I=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/recoverymode.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPipAACgkjstLrmNAhrmO0CtNkzrFBUP
							ag==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							69+b/yhyS+uaTde0r5oKbBn5d3w=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHiQAACmOfUWXlCE+OtE/tGZzAt6AlW4
							XA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							by6uCw8mk8AHDEMjCmlrLAltPpY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n18</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRRwCNw+g6mhnzVOWWErGQlKN7ZFR2
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kfkSeDY/JcH7M9hsqA4/PYPSOsA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAD9S2yuQKsXzxu6NWX16nDbBupd
							Lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							9eR8QYhc4uCfb6Q5XXJxbtv5AE4=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7081-078.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgg0wDjA7JsmExvvN37alk51N8DqQLb
							2Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n18dev.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAQB789kUtcInNpUrmFwlOoDcVQLl
							PA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n18dev.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAQB1J4hm8IflDDq30rnlEjO3IxqW
							lA==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							hCtVRPp5n76GnhNBLg+oHRsDHWk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/iBoot.n18dev.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAgBYf1t7cVupbkdWlgZHtWmykILo
							0Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					q11FWm6wfc++IWk4MX+AE+YtVwk=
				</data>
			</dict>
			<dict>
				<key>ApBoardID</key>
				<string>0x03</string>
				<key>ApChipID</key>
				<string>0x8922</string>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Info</key>
				<dict>
					<key>BuildNumber</key>
					<string>8B117</string>
					<key>BuildTrain</key>
					<string>Baker</string>
					<key>DeviceClass</key>
					<string>n18dev</string>
					<key>RestoreBehavior</key>
					<string>Update</string>
					<key>Variant</key>
					<string>Customer Upgrade Install (IPSW)</string>
					<key>VariantContents</key>
					<dict>
						<key>DFU</key>
						<string>Production</string>
						<key>Firmware</key>
						<string>Production</string>
						<key>InstalledKernelCache</key>
						<string>Release</string>
						<key>RestoreKernelCache</key>
						<string>Release</string>
						<key>RestoreRamDisk</key>
						<string>UpdateRamDisk</string>
						<key>SystemImage</key>
						<string>UserOS</string>
					</dict>
				</dict>
				<key>Manifest</key>
				<dict>
					<key>AppleLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kfkSeDY/JcH7M9hsqA4/PYPSOsA=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAD9S2yuQKsXzxu6NWX16nDbBupd
							Lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging</key>
					<dict>
						<key>Digest</key>
						<data>
							i9Lmz8qYvLzLUtGThoYb4z+0wQY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/glyphcharging.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhHAACiKtO/t5u2n+GX32qpIToyCFKa
							tQ==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging0</key>
					<dict>
						<key>Digest</key>
						<data>
							e6ocE5PrJz8P7jFd/7vsMo9dmaw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging0.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPhEAAA8Wy1u+PYogL5QO1xj/XZ3iSyd
							SA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryCharging1</key>
					<dict>
						<key>Digest</key>
						<data>
							YmKXiuM+gCyixFXnKP7SOY0hvEw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/batterycharging1.s5l8922x.img3
							</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhZAAAa49nRpgxOY1oR3mW3+Psn0Hkt
							mg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryFull</key>
					<dict>
						<key>Digest</key>
						<data>
							224HOLI/K1tRs+iGgI0XOV7WhIY=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/batteryfull.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPghAQBiI9WVgAQNxmSKIcIAc+Fljrac
							5g==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow0</key>
					<dict>
						<key>Digest</key>
						<data>
							bYokWDs0bMneZA6EwVpeDy9LGhE=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/batterylow0.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHjTAAChvmimw2EVZj0DKeuecMcA5vQ2
							Yw==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryLow1</key>
					<dict>
						<key>Digest</key>
						<data>
							BJmnoxzn3BTTGeSGf/5mxMUPQbs=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/batterylow1.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALj0AADTVu+YTK1dgJeZcAPy2pZ+Afl7
							og==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>BatteryPlugin</key>
					<dict>
						<key>Digest</key>
						<data>
							AqJ9rRxtwhyFUAzy5V86XjrF6hw=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/glyphplugin.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHhDAAASphuOegLpJYZHEl/xzaj/93I5
							Ew==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>DeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							69+b/yhyS+uaTde0r5oKbBn5d3w=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHiQAACmOfUWXlCE+OtE/tGZzAt6AlW4
							XA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>KernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							by6uCw8mk8AHDEMjCmlrLAltPpY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n18</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRRwCNw+g6mhnzVOWWErGQlKN7ZFR2
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>LLB</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/LLB.n18dev.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADhRAQCRh2bNOY1t/j0lB7wutQBWCHCN
							qw==
						</data>
					</dict>
					<key>OS</key>
					<dict>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7116-114.dmg</string>
						</dict>
					</dict>
					<key>RecoveryMode</key>
					<dict>
						<key>Digest</key>
						<data>
							NXFn/YEJAhUxvpHxy0oEh2PQ60I=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/recoverymode.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPipAACgkjstLrmNAhrmO0CtNkzrFBUP
							ag==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreDeviceTree</key>
					<dict>
						<key>Digest</key>
						<data>
							69+b/yhyS+uaTde0r5oKbBn5d3w=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/DeviceTree.n18dev.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAHiQAACmOfUWXlCE+OtE/tGZzAt6AlW4
							XA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreKernelCache</key>
					<dict>
						<key>Digest</key>
						<data>
							by6uCw8mk8AHDEMjCmlrLAltPpY=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>kernelcache.release.n18</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADiRRwCNw+g6mhnzVOWWErGQlKN7ZFR2
							fA==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreLogo</key>
					<dict>
						<key>Digest</key>
						<data>
							kfkSeDY/JcH7M9hsqA4/PYPSOsA=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/applelogo.s5l8922x.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAALgdAAD9S2yuQKsXzxu6NWX16nDbBupd
							Lg==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>RestoreRamDisk</key>
					<dict>
						<key>Digest</key>
						<data>
							CCQAEEae61b4fLt7N+EvmMVqHOU=
						</data>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>018-7108-078.dmg</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAAPgQ0wBLqvumVS56U1kpStaU76Eh2a2y
							5A==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
					<key>iBEC</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBEC.n18dev.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAQB789kUtcInNpUrmFwlOoDcVQLl
							PA==
						</data>
					</dict>
					<key>iBSS</key>
					<dict>
						<key>BuildString</key>
						<string>iBoot-931.18.27~1</string>
						<key>Info</key>
						<dict>
							<key>Path</key>
							<string>Firmware/dfu/iBSS.n18dev.RELEASE.dfu</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjxAQB1J4hm8IflDDq30rnlEjO3IxqW
							lA==
						</data>
					</dict>
					<key>iBoot</key>
					<dict>
						<key>Digest</key>
						<data>
							hCtVRPp5n76GnhNBLg+oHRsDHWk=
						</data>
						<key>Info</key>
						<dict>
							<key>IsFirmwarePayload</key>
							<true/>
							<key>Path</key>
							<string>Firmware/all_flash/all_flash.n18dev.production/iBoot.n18dev.RELEASE.img3</string>
						</dict>
						<key>PartialDigest</key>
						<data>
							QAAAADjRAgBYf1t7cVupbkdWlgZHtWmykILo
							0Q==
						</data>
						<key>Trusted</key>
						<true/>
					</dict>
				</dict>
				<key>UniqueBuildID</key>
				<data>
					oEJnPn+W04gbeI6V4v+cSajN6ko=
				</data>
			</dict>
		</array>
		<key>ManifestVersion</key>
		<integer>0</integer>
		<key>ProductBuildVersion</key>
		<string>8B117</string>
		<key>ProductVersion</key>
		<string>4.1</string>
		<key>SupportedProductTypeIDs</key>
		<dict>
			<key>DFU</key>
			<array>
				<integer>33589538</integer>
				<integer>50366754</integer>
			</array>
			<key>Recovery</key>
			<array>
				<integer>33589538</integer>
				<integer>50366754</integer>
			</array>
		</dict>
		<key>SupportedProductTypes</key>
		<array>
			<string>iPod3,1</string>
		</array>
	</dict>
</plist>
