Package: com.iosusr.xcon
Name: xCon
Depends: mobilesubstrate
Version: 43
Architecture: iphoneos-arm
Description: bypass anti-jailbreak protection
Maintainer: iosusr
Author: iosusr
Section: Tweaks
Depiction: http://xcon.crazy.net/depictions/index.html?p=com.n00neimp0rtant.xcon
Conflicts: co.xcon, co.xcon.xcon, com.yourcompany.dtvrunner
Replaces: co.xcon, co.xcon.xcon, com.yourcompany.dtvrunner
Installed-Size: 515
