Package: com.n00neimp0rtant.xcon
Name: xCon
Depends: mobilesubstrate
Version: 42~beta2
Architecture: iphoneos-arm
Description: bypass anti-jailbreak protection
Maintainer: Lunatik
Author: Lunatik
Section: Tweaks
Depiction: http://xcon.crazy.net/depictions/index.html?p=com.n00neimp0rtant.xcon
Conflicts: co.xcon, co.xcon.xcon, com.yourcompany.dtvrunner
Replaces: co.xcon, co.xcon.xcon, com.yourcompany.dtvrunner
Installed-Size: 515
